<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libstdc++-13-doc">libstdc++-13-doc_13.4.0-1ubuntu1_all</a> <br><br><pre>
<b>__</b><u>gnu_cxx::bitmap_allocator&lt;</u> <b>_</b><u>Tp</u> <u>&gt;</u>(3cxx)                                <b>__</b><u>gnu_cxx::bitmap_allocator&lt;</u> <b>_</b><u>Tp</u> <u>&gt;</u>(3cxx)

</pre><h4><b>NAME</b></h4><pre>
       __gnu_cxx::bitmap_allocator&lt; _Tp &gt; - Bitmap Allocator, primary template.

</pre><h4><b>SYNOPSIS</b></h4><pre>
       #include &lt;bitmap_allocator.h&gt;

       Inherits <b>__gnu_cxx::free_list</b>.

   <b>Public</b> <b>Types</b>
       typedef free_list::__mutex_type <b>__mutex_type</b>
       typedef const _Tp * <b>const_pointer</b>
       typedef const _Tp &amp; <b>const_reference</b>
       typedef std::ptrdiff_t <b>difference_type</b>
       typedef _Tp * <b>pointer</b>
       typedef <b>std::true_type</b> <b>propagate_on_container_move_assignment</b>
       typedef _Tp &amp; <b>reference</b>
       typedef std::size_t <b>size_type</b>
       typedef _Tp <b>value_type</b>

   <b>Public</b> <b>Member</b> <b>Functions</b>
       <b>bitmap_allocator</b> (const <b>bitmap_allocator</b> &amp;) noexcept
       template&lt;typename _Tp1 &gt; <b>bitmap_allocator</b> (const <b>bitmap_allocator</b>&lt; _Tp1 &gt; &amp;) noexcept
       pointer <b>_M_allocate_single_object</b> ()
           Allocates memory for a single object of size sizeof(_Tp).
       void <b>_M_deallocate_single_object</b> (pointer __p)  throw ()
           Deallocates memory that belongs to a single object of size sizeof(_Tp).
       const_pointer <b>address</b> (const_reference __r) const noexcept
       pointer <b>address</b> (reference __r) const noexcept
       pointer <b>allocate</b> (size_type __n)
       pointer <b>allocate</b> (size_type __n, typename <b>bitmap_allocator</b>&lt; void &gt;::const_pointer)
       template&lt;typename _Up , typename... _Args&gt; void <b>construct</b> (_Up *__p, _Args &amp;&amp;... __args)
       void <b>deallocate</b> (pointer __p, size_type __n)  throw ()
       template&lt;typename _Up &gt; void <b>destroy</b> (_Up *__p)
       size_type <b>max_size</b> () const noexcept

</pre><h4><b>Detailed</b> <b>Description</b></h4><pre>
   <b>template&lt;typename</b> <b>_Tp&gt;</b>
       class __gnu_cxx::bitmap_allocator&lt; _Tp &gt;"Bitmap Allocator, primary template.

</pre><h4><b>Member</b> <b>Function</b> <b>Documentation</b></h4><pre>
   <b>template&lt;typename</b> <b>_Tp</b> <b>&gt;</b> <b>pointer</b> <b>__gnu_cxx::bitmap_allocator&lt;</b> <b>_Tp</b> <b>&gt;::_M_allocate_single_object</b> <b>()</b> <b>[inline]</b>
       Allocates memory for a single object of size sizeof(_Tp).

       <b>Exceptions</b>
           <u>std::bad_alloc.</u> If memory cannot be allocated.

       Complexity: Worst case complexity is O(N), but that is hardly ever hit. If and when this particular case
       is encountered, the next few cases are guaranteed to have a worst case complexity of <a href="../man1/O.1.html">O</a>(1)! That's why
       this function performs very well on average. You can consider this function to have a complexity referred
       to commonly as: Amortized Constant time.

       References <b>__gnu_cxx::__detail::__bit_allocate()</b>, <b>__gnu_cxx::__detail::__num_bitmaps()</b>, and
       <b>__gnu_cxx::_Bit_scan_forward()</b>.

   <b>template&lt;typename</b> <b>_Tp</b> <b>&gt;</b> <b>void</b> <b>__gnu_cxx::bitmap_allocator&lt;</b> <b>_Tp</b> <b>&gt;::_M_deallocate_single_object</b> <b>(pointer</b> <b>__p)</b>
       <b>[inline]</b>
       Deallocates memory that belongs to a single object of size sizeof(_Tp). Complexity: O(lg(N)), but the
       worst case is not hit often! This is because containers usually deallocate memory close to each other and
       this case is handled in <a href="../man1/O.1.html">O</a>(1) time by the deallocate function.

       References <b>__gnu_cxx::__detail::__bit_free()</b>, <b>__gnu_cxx::__detail::__num_bitmaps()</b>, and
       <b>__gnu_cxx::free_list::_M_insert()</b>.

</pre><h4><b>Author</b></h4><pre>
       Generated automatically by Doxygen for libstdc++ from the source code.

                                                    libstdc++           <b>__</b><u>gnu_cxx::bitmap_allocator&lt;</u> <b>_</b><u>Tp</u> <u>&gt;</u>(3cxx)
</pre>
 </div>
</div></section>
</div>
</body>
</html>