<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnyEvent::Fork::Template - generate a template process from the main program</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libanyevent-fork-perl">libanyevent-fork-perl_1.32-1_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       AnyEvent::Fork::Template - generate a template process from the main program

</pre><h4><b>SYNOPSIS</b></h4><pre>
          # only usable in the main program

          # preload some harmless modules (just examples)
          use Other::Module;
          use Some::Harmless::Module;
          use My::Worker::Module;

          # now fork and keep the template
          use AnyEvent::Fork::Template;

          # now do less harmless stuff (just examples)
          use Gtk2 -init;
          my $w = AE::io ...;

          # and finally, use the template to run some workers
          $AnyEvent::Fork::Template-&gt;fork-&gt;run ("My::Worker::Module::run_worker", sub { ... });

</pre><h4><b>DESCRIPTION</b></h4><pre>
       By default, this module forks when it is used the first time and stores the resulting AnyEvent::Fork
       object in the $AnyEvent::Fork::Template variable (mnemonic: same name as the module itself).

       It must only be used in the main program, and only once. Other than that, the only requirement is that
       you can handle the results of a fork at that time, i.e., when you use this module after AnyEvent has been
       initialised, or use it after you opened some window with Gtk2 or Tk for example then then you can't
       easily use these modules in the forked process. Choosing the place to use this module wisely is key.

       There is never a need for this module - you can always create a new empty process and loading the modules
       you need into it.

</pre><h4><b>AUTHOR</b></h4><pre>
        Marc Lehmann &lt;<a href="mailto:schmorp@schmorp.de">schmorp@schmorp.de</a>&gt;
        <a href="http://home.schmorp.de/">http://home.schmorp.de/</a>

perl v5.32.1                                       2022-01-29                                <u>Fork::<a href="../man3pm/Template.3pm.html">Template</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>