<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CGI::FormBuilder::Template::CGI_SSI - FormBuilder interface to CGI::SSI</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libcgi-formbuilder-perl">libcgi-formbuilder-perl_3.10-6_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       CGI::FormBuilder::Template::CGI_SSI - FormBuilder interface to CGI::SSI

</pre><h4><b>SYNOPSIS</b></h4><pre>
           my $form = CGI::FormBuilder-&gt;new(
                           fields   =&gt; \@fields,
                           template =&gt; {
                             type =&gt; 'CGI_SSI',
                             file =&gt; "template.html",
                           },
                      );

</pre><h4><b>DESCRIPTION</b></h4><pre>
       This engine adapts <b>FormBuilder</b> to use "CGI::SSI".

       You can specify any options which "CGI::SSI-&gt;new" accepts by using a hashref:

           my $form = CGI::FormBuilder-&gt;new(
                           fields =&gt; \@fields,
                           template =&gt; {
                               type =&gt; 'CGI::SSI',
                               file =&gt; 'form.shtml',
                               sizefmt =&gt; 'abbrev'
                           }
                       );

       In addition to CGI::SSI <b>new</b> arguments, you can also specify "file", "virtual", or "string" argument.

       The following methods are provided (usually only used internally):

   <b>engine</b>
       Returns a reference to the "CGI::SSI" object

   <b>prepare</b>
       Returns a hash of all the fields ready to be rendered.

   <b>render</b>
       Uses the prepared hash and expands the template, returning a string of HTML.

</pre><h4><b>TEMPLATES</b></h4><pre>
       In your template, each of the form fields will correspond directly to a "&lt;!--#echo --&gt;" of the same name
       prefixed with "field-" in the template. So, if you defined a field called "email", then you would setup a
       variable called "&lt;!--#echo var="field-email" --&gt;" in your template.

       In addition, there are a couple special fields:

           &lt;!--#echo var="js-head" --&gt;     -  JavaScript to stick in &lt;head&gt;
           &lt;!--#echo var="form-title" --&gt;  -  The &lt;title&gt; of the HTML form
           &lt;!--#echo var="form-start" --&gt;  -  Opening &lt;form&gt; tag and internal fields
           &lt;!--#echo var="form-submit" --&gt; -  The submit button(s)
           &lt;!--#echo var="form-reset" --&gt;  -  The reset button
           &lt;!--#echo var="form-end" --&gt;    -  Just the closing &lt;/form&gt; tag

       Let's look at an example "form.html" template we could use:

           &lt;html&gt;
           &lt;head&gt;
           &lt;title&gt;User Information&lt;/title&gt;
           &lt;!--#echo var="js-head" --&gt;&lt;!-- this holds the JavaScript code --&gt;
           &lt;/head&gt;
           &lt;!--#echo var="form-start" --&gt;&lt;!-- this holds the initial form tag --&gt;
           &lt;h3&gt;User Information&lt;/h3&gt;
           Please fill out the following information:
           &lt;!-- each of these &lt;!--#echo --&gt;'s corresponds to a field --&gt;
           &lt;p&gt;Your full name: &lt;!--#echo var="field-name" --&gt;
           &lt;p&gt;Your email address: &lt;!--#echo var="field-email" --&gt;
           &lt;p&gt;Choose a password: &lt;!--#echo var="field-password" --&gt;
           &lt;p&gt;Please confirm it: &lt;!--#echo var="field-confirm_password--&gt;
           &lt;p&gt;Your home zipcode: &lt;!--#echo var="field-zipcode --&gt;
           &lt;p&gt;
           &lt;!--#echo var="form-submit" --&gt;&lt;!-- this holds the form submit button --&gt;
           &lt;/form&gt;&lt;!-- can also use "tmpl_var form-end", same thing --&gt;

       As you see, you get a "&lt;!--#echo --&gt;" for each for field you define.

       However, you may want even more control. That is, maybe you want to specify every nitty-gritty detail of
       your input fields, and just want this module to take care of the statefulness of the values. This is no
       problem, since this module also provides several other "&lt;tmpl_var&gt;" tags as well:

           &lt;!--#echo var="value-[field] --&gt;   - The value of a given field
           &lt;!--#echo var="label-[field] --&gt;   - The human-readable label
           &lt;!--#echo var="comment-[field] --&gt; - Any optional comment
           &lt;!--#echo var="error-[field] --&gt;   - Error text if validation fails
           &lt;!--#echo var="required-[field] --&gt; - See if the field is required

       This means you could say something like this in your template:

           &lt;!--#echo var="label-email" --&gt;:
           &lt;input type="text" name="email" value="&lt;!--#echo var="value-email" --&gt;"&gt;
           &lt;font size="-1"&gt;&lt;i&gt;&lt;!--#echo var="error-email" --&gt;&lt;/i&gt;&lt;/font&gt;

       And <b>FormBuilder</b> would take care of the value stickiness for you, while you have control over the
       specifics of the "&lt;input&gt;" tag.  A sample expansion may create HTML like the following:

           Email:
           &lt;input type="text" name="email" value="<a href="mailto:nate@wiger.org">nate@wiger.org</a>"&gt;
           &lt;font size="-1"&gt;&lt;i&gt;You must enter a valid value&lt;/i&gt;&lt;/font&gt;

       Note, though, that this will only get the <u>first</u> value in the case of a multi-value parameter (for
       example, a multi-select list).  Multiple values (loops) in "CGI_SSI" are not yet implemented.

       For more information on templates, see HTML::Template.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       CGI::FormBuilder, CGI::FormBuilder::Template, HTML::Template

</pre><h4><b>REVISION</b></h4><pre>
       $Id: HTML.pm 97 2007-02-06 17:10:39Z nwiger $

</pre><h4><b>AUTHOR</b></h4><pre>
       Copyright (c) Nate Wiger &lt;<a href="http://nateware.com">http://nateware.com</a>&gt;. All Rights Reserved.

       This module is free software; you may copy this under the terms of the GNU General Public License, or the
       Artistic License, copies of which should have accompanied your Perl kit.

perl v5.36.0                                       2022-10-15              <u>CGI::FormBuild...mplate::<a href="../man3pm/CGI_SSI.3pm.html">CGI_SSI</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>