<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CGI::FormBuilder::Template::HTML - FormBuilder interface to HTML::Template</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libcgi-formbuilder-perl">libcgi-formbuilder-perl_3.10-6_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       CGI::FormBuilder::Template::HTML - FormBuilder interface to HTML::Template

</pre><h4><b>SYNOPSIS</b></h4><pre>
           my $form = CGI::FormBuilder-&gt;new(
                           fields   =&gt; \@fields,
                           template =&gt; 'form.tmpl',
                      );

</pre><h4><b>DESCRIPTION</b></h4><pre>
       This engine adapts <b>FormBuilder</b> to use "HTML::Template".  "HTML::Template" is the default template option
       and is activated one of two ways. Either:

           my $form = CGI::FormBuilder-&gt;new(
                           fields =&gt; \@fields,
                           template =&gt; 'form.tmpl',
                      );

       Or, you can specify any options which "HTML::Template-&gt;new" accepts by using a hashref:

           my $form = CGI::FormBuilder-&gt;new(
                           fields =&gt; \@fields,
                           template =&gt; {
                               type =&gt; 'HTML',
                               filename =&gt; 'form.tmpl',
                               shared_cache =&gt; 1,
                               loop_context_vars =&gt; 1
                           }
                       );

       The following methods are provided (usually only used internally):

   <b>engine</b>
       Returns a reference to the "HTML::Template" object

   <b>prepare</b>
       Returns a hash of all the fields ready to be rendered.

   <b>render</b>
       Uses the prepared hash and expands the template, returning a string of HTML.

</pre><h4><b>TEMPLATES</b></h4><pre>
       In your template, each of the form fields will correspond directly to a "&lt;tmpl_var&gt;" of the same name
       prefixed with "field-" in the template. So, if you defined a field called "email", then you would setup a
       variable called "&lt;tmpl_var field-email&gt;" in your template.

       In addition, there are a couple special fields:

           &lt;tmpl_var js-head&gt;     -  JavaScript to stick in &lt;head&gt;
           &lt;tmpl_var form-title&gt;  -  The &lt;title&gt; of the HTML form
           &lt;tmpl_var form-start&gt;  -  Opening &lt;form&gt; tag and internal fields
           &lt;tmpl_var form-submit&gt; -  The submit button(s)
           &lt;tmpl_var form-reset&gt;  -  The reset button
           &lt;tmpl_var form-end&gt;    -  Just the closing &lt;/form&gt; tag

       Let's look at an example "form.tmpl" template we could use:

           &lt;html&gt;
           &lt;head&gt;
           &lt;title&gt;User Information&lt;/title&gt;
           &lt;tmpl_var js-head&gt;&lt;!-- this holds the JavaScript code --&gt;
           &lt;/head&gt;
           &lt;tmpl_var form-start&gt;&lt;!-- this holds the initial form tag --&gt;
           &lt;h3&gt;User Information&lt;/h3&gt;
           Please fill out the following information:
           &lt;!-- each of these tmpl_var's corresponds to a field --&gt;
           &lt;p&gt;Your full name: &lt;tmpl_var field-name&gt;
           &lt;p&gt;Your email address: &lt;tmpl_var field-email&gt;
           &lt;p&gt;Choose a password: &lt;tmpl_var field-password&gt;
           &lt;p&gt;Please confirm it: &lt;tmpl_var field-confirm_password&gt;
           &lt;p&gt;Your home zipcode: &lt;tmpl_var field-zipcode&gt;
           &lt;p&gt;
           &lt;tmpl_var form-submit&gt;&lt;!-- this holds the form submit button --&gt;
           &lt;/form&gt;&lt;!-- can also use "tmpl_var form-end", same thing --&gt;

       As you see, you get a "&lt;tmpl_var&gt;" for each for field you define.

       However, you may want even more control. That is, maybe you want to specify every nitty-gritty detail of
       your input fields, and just want this module to take care of the statefulness of the values. This is no
       problem, since this module also provides several other "&lt;tmpl_var&gt;" tags as well:

           &lt;tmpl_var value-[field]&gt;   - The value of a given field
           &lt;tmpl_var label-[field]&gt;   - The human-readable label
           &lt;tmpl_var comment-[field]&gt; - Any optional comment
           &lt;tmpl_var error-[field]&gt;   - Error text if validation fails
           &lt;tmpl_var required-[field]&gt; - See if the field is required

       This means you could say something like this in your template:

           &lt;tmpl_var label-email&gt;:
           &lt;input type="text" name="email" value="&lt;tmpl_var value-email&gt;"&gt;
           &lt;font size="-1"&gt;&lt;i&gt;&lt;tmpl_var error-email&gt;&lt;/i&gt;&lt;/font&gt;

       And <b>FormBuilder</b> would take care of the value stickiness for you, while you have control over the
       specifics of the "&lt;input&gt;" tag.  A sample expansion may create HTML like the following:

           Email:
           &lt;input type="text" name="email" value="<a href="mailto:nate@wiger.org">nate@wiger.org</a>"&gt;
           &lt;font size="-1"&gt;&lt;i&gt;You must enter a valid value&lt;/i&gt;&lt;/font&gt;

       Note, though, that this will only get the <u>first</u> value in the case of a multi-value parameter (for
       example, a multi-select list). To remedy this, if there are multiple values you will also get a
       "&lt;tmpl_var&gt;" prefixed with "loop-". So, if you had:

           myapp.cgi?color=gray&amp;color=red&amp;color=blue

       This would give the "color" field three values. To create a select list, you would do this in your
       template:

           &lt;select name="color" multiple&gt;
           &lt;tmpl_loop loop-color&gt;
               &lt;option value="&lt;tmpl_var value&gt;"&gt;&lt;tmpl_var label&gt;&lt;/option&gt;
           &lt;/tmpl_loop&gt;
           &lt;/select&gt;

       With "&lt;tmpl_loop&gt;" tags, each iteration gives you several variables:

           Inside &lt;tmpl_loop&gt;, this...  Gives you this
           ---------------------------  -------------------------------
           &lt;tmpl_var value&gt;             value of that option
           &lt;tmpl_var label&gt;             label for that option
           &lt;tmpl_var checked&gt;           if selected, the word "checked"
           &lt;tmpl_var selected&gt;          if selected, the word "selected"

       Please note that "&lt;tmpl_var value&gt;" gives you one of the <u>options</u>, not the values. Why? Well, if you think
       about it you'll realize that select lists and radio groups are fundamentally different from input boxes
       in a number of ways. Whereas in input tags you can just have an empty value, with lists you need to
       iterate through each option and then decide if it's selected or not.

       When you need precise control in a template this is all exposed to you; normally <b>FormBuilder</b> does all
       this magic for you. If you don't need exact control over your lists, simply use the "&lt;tmpl_var
       field-[name]&gt;" tag and this will all be done automatically, which I strongly recommend.

       But, let's assume you need exact control over your lists. Here's an example select list template:

           &lt;select name="color" multiple&gt;
           &lt;tmpl_loop loop-color&gt;
           &lt;option value="&lt;tmpl_var value&gt;" &lt;tmpl_var selected&gt;&gt;&lt;tmpl_var label&gt;
           &lt;/tmpl_loop&gt;
           &lt;/select&gt;

       Then, your Perl code would fiddle the field as follows:

           $form-&gt;field(
                     name =&gt; 'color', nameopts =&gt; 1,
                     options =&gt; [qw(red green blue yellow black white gray)]
                  );

       Assuming query string as shown above, the template would then be expanded to something like this:

           &lt;select name="color" multiple&gt;
           &lt;option value="red" selected&gt;Red
           &lt;option value="green" &gt;Green
           &lt;option value="blue" selected&gt;Blue
           &lt;option value="yellow" &gt;Yellow
           &lt;option value="black" &gt;Black
           &lt;option value="white" &gt;White
           &lt;option value="gray" selected&gt;Gray
           &lt;/select&gt;

       Notice that the "&lt;tmpl_var selected&gt;" tag is expanded to the word "selected" when a given option is
       present as a value as well (i.e., via the CGI query). The "&lt;tmpl_var value&gt;" tag expands to each option
       in turn, and "&lt;tmpl_var label&gt;" is expanded to the label for that value. In this case, since "nameopts"
       was specified to "field()", the labels are automatically generated from the options.

       Let's look at one last example. Here we want a radio group that allows a person to remove themself from a
       mailing list. Here's our template:

           Do you want to be on our mailing list?
           &lt;p&gt;&lt;table&gt;
           &lt;tmpl_loop loop-mailopt&gt;
           &lt;td bgcolor="silver"&gt;
             &lt;input type="radio" name="mailopt" value="&lt;tmpl_var value&gt;"&gt;
           &lt;/td&gt;
           &lt;td bgcolor="white"&gt;&lt;tmpl_var label&gt;&lt;/td&gt;
           &lt;/tmpl_loop&gt;
           &lt;/table&gt;

       Then, we would twiddle our "mailopt" field via "field()":

           $form-&gt;field(
                     name =&gt; 'mailopt',
                     options =&gt; [
                        [ 1 =&gt; 'Yes, please keep me on it!' ],
                        [ 0 =&gt; 'No, remove me immediately.' ]
                     ]
                  );

       When the template is rendered, the result would be something like this:

           Do you want to be on our mailing list?
           &lt;p&gt;&lt;table&gt;

           &lt;td bgcolor="silver"&gt;
             &lt;input type="radio" name="mailopt" value="1"&gt;
           &lt;/td&gt;
           &lt;td bgcolor="white"&gt;Yes, please keep me on it!&lt;/td&gt;

           &lt;td bgcolor="silver"&gt;
             &lt;input type="radio" name="mailopt" value="0"&gt;
           &lt;/td&gt;
           &lt;td bgcolor="white"&gt;No, remove me immediately&lt;/td&gt;

           &lt;/table&gt;

       When the form was then sumbmitted, you would access the values just like any other field:

           if ($form-&gt;field('mailopt')) {
               # is 1, so add them
           } else {
               # is 0, remove them
           }

       Finally, you can also loop through each of the fields using the top-level "fields" loop in your template.
       This allows you to reuse the same template even if your parameters change. The following template code
       would loop through each field, creating a table row for each:

           &lt;table&gt;
           &lt;tmpl_loop fields&gt;
           &lt;tr&gt;
           &lt;td class="small"&gt;&lt;tmpl_if required&gt;&lt;b&gt;&lt;tmpl_var label&gt;&lt;/b&gt;&lt;tmpl_else&gt;&lt;tmpl_var label&gt;&lt;/tmpl_if&gt;&lt;/td&gt;
           &lt;td&gt;&lt;tmpl_var field&gt;&lt;/td&gt;
           &lt;/tr&gt;
           &lt;/tmpl_loop&gt;
           &lt;/table&gt;

       Each loop will have a "label", "field", "value", etc, just like above.

       For more information on templates, see HTML::Template.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       CGI::FormBuilder, CGI::FormBuilder::Template, HTML::Template

</pre><h4><b>REVISION</b></h4><pre>
       $Id: HTML.pm 100 2007-03-02 18:13:13Z nwiger $

</pre><h4><b>AUTHOR</b></h4><pre>
       Copyright (c) Nate Wiger &lt;<a href="http://nateware.com">http://nateware.com</a>&gt;. All Rights Reserved.

       This module is free software; you may copy this under the terms of the GNU General Public License, or the
       Artistic License, copies of which should have accompanied your Perl kit.

perl v5.36.0                                       2022-10-15              <u>CGI::FormBuilder::Template::<a href="../man3pm/HTML.3pm.html">HTML</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>