<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CGI::FormBuilder::Template::TT2 - FormBuilder interface to Template Toolkit</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libcgi-formbuilder-perl">libcgi-formbuilder-perl_3.10-6_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       CGI::FormBuilder::Template::TT2 - FormBuilder interface to Template Toolkit

</pre><h4><b>SYNOPSIS</b></h4><pre>
           my $form = CGI::FormBuilder-&gt;new(
                           fields   =&gt; \@fields,
                           template =&gt; {
                               type =&gt; 'TT2',
                               template =&gt; 'form.tmpl',
                               variable =&gt; 'form',
                           }
                      );

</pre><h4><b>DESCRIPTION</b></h4><pre>
       This engine adapts <b>FormBuilder</b> to use "Template Toolkit".  To do so, specify the "template" option as a
       hashref which includes the "type" option set to "TT2" and the "template" option set to the name of the
       template you want processed. You can also add "variable" as an option (among others) to denote the
       variable name that you want the form data to be referenced by:

           my $form = CGI::FormBuilder-&gt;new(
                           fields =&gt; \@fields,
                           template =&gt; {
                               type =&gt; 'TT2',
                               template =&gt; 'userinfo.tmpl',
                               variable =&gt; 'form',
                           }
                      );

       The following methods are provided (usually only used internally):

   <b>engine</b>
       Returns a reference to the "Template" object

   <b>prepare</b>
       Returns a hash of all the fields ready to be rendered.

   <b>render</b>
       Uses the prepared hash and expands the template, returning a string of HTML.

</pre><h4><b>TEMPLATES</b></h4><pre>
       The template might look something like this:

           &lt;html&gt;
           &lt;head&gt;
             &lt;title&gt;[% form.title %]&lt;/title&gt;
             [% form.jshead %]
           &lt;/head&gt;
           &lt;body&gt;
             [% form.start %]
             &lt;table&gt;
               [% FOREACH field = form.fields %]
               &lt;tr valign="top"&gt;
                 &lt;td&gt;
                   [% field.required
                         ? "&lt;b&gt;$field.label&lt;/b&gt;"
                         : field.label
                   %]
                 &lt;/td&gt;
                 &lt;td&gt;
                   [% IF field.invalid %]
                   Missing or invalid entry, please try again.
               &lt;br/&gt;
               [% END %]

               [% field.field %]
             &lt;/td&gt;
           &lt;/tr&gt;
               [% END %]
               &lt;tr&gt;
                 &lt;td colspan="2" align="center"&gt;
                   [% form.submit %] [% form.reset %]
                 &lt;/td&gt;
               &lt;/tr&gt;
             &lt;/table&gt;
             [% form.end %]
           &lt;/body&gt;
           &lt;/html&gt;

       By default, the Template Toolkit makes all the form and field information accessible through simple
       variables.

           [% jshead %]  -  JavaScript to stick in &lt;head&gt;
           [% title  %]  -  The &lt;title&gt; of the HTML form
           [% start  %]  -  Opening &lt;form&gt; tag and internal fields
           [% submit %]  -  The submit button(s)
           [% reset  %]  -  The reset button
           [% end    %]  -  Closing &lt;/form&gt; tag
           [% fields %]  -  List of fields
           [% field  %]  -  Hash of fields (for lookup by name)

       You can specify the "variable" option to have all these variables accessible under a certain namespace.
       For example:

           my $form = CGI::FormBuilder-&gt;new(
               fields =&gt; \@fields,
               template =&gt; {
                    type =&gt; 'TT2',
                    template =&gt; 'form.tmpl',
                    variable =&gt; 'form'
               },
           );

       With "variable" set to "form" the variables are accessible as:

           [% form.jshead %]
           [% form.start  %]
           etc.

       You can access individual fields via the "field" variable.

           For a field named...  The field data is in...
           --------------------  -----------------------
           job                   [% form.field.job   %]
           size                  [% form.field.size  %]
           email                 [% form.field.email %]

       Each field contains various elements.  For example:

           [% myfield = form.field.email %]

           [% myfield.label    %]  # text label
           [% myfield.field    %]  # field input tag
           [% myfield.value    %]  # first value
           [% myfield.values   %]  # list of all values
           [% myfield.option   %]  # first value
           [% myfield.options  %]  # list of all values
           [% myfield.required %]  # required flag
           [% myfield.invalid  %]  # invalid flag

       The "fields" variable contains a list of all the fields in the form.  To iterate through all the fields
       in order, you could do something like this:

           [% FOREACH field = form.fields %]
           &lt;tr&gt;
            &lt;td&gt;[% field.label %]&lt;/td&gt; &lt;td&gt;[% field.field %]&lt;/td&gt;
           &lt;/tr&gt;
           [% END %]

       If you want to customise any of the Template Toolkit options, you can set the "engine" option to contain
       a reference to an existing "Template" object or hash reference of options which are passed to the
       "Template" constructor.  You can also set the "data" item to define any additional variables you want
       accesible when the template is processed.

           my $form = CGI::FormBuilder-&gt;new(
               fields =&gt; \@fields,
               template =&gt; {
                    type =&gt; 'TT2',
                    template =&gt; 'form.tmpl',
                    variable =&gt; 'form',
                    engine   =&gt; {
                         INCLUDE_PATH =&gt; '/usr/local/tt2/templates',
                    },
                    data =&gt; {
                         version =&gt; 1.23,
                         author  =&gt; 'Fred Smith',
                    },
               },
           );

       For further details on using the Template Toolkit, see "Template" or &lt;<a href="http://www.template-toolkit.org">http://www.template-toolkit.org</a>&gt;

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       CGI::FormBuilder, CGI::FormBuilder::Template, Template

</pre><h4><b>REVISION</b></h4><pre>
       $Id: TT2.pm 100 2007-03-02 18:13:13Z nwiger $

</pre><h4><b>AUTHOR</b></h4><pre>
       Copyright (c) Nate Wiger &lt;<a href="http://nateware.com">http://nateware.com</a>&gt;. All Rights Reserved.

       Template Tookit support is largely due to a huge patch from Andy Wardley.

       This module is free software; you may copy this under the terms of the GNU General Public License, or the
       Artistic License, copies of which should have accompanied your Perl kit.

perl v5.36.0                                       2022-10-15               <u>CGI::FormBuilder::Template::<a href="../man3pm/TT2.3pm.html">TT2</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>