<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class::MakeMethods::Template::Generic - Templates for common meta-method types</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libclass-makemethods-perl">libclass-makemethods-perl_1.01-7_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Class::MakeMethods::Template::Generic - Templates for common meta-method types

</pre><h4><b>SYNOPSIS</b></h4><pre>
         package MyObject;
         use Class::MakeMethods (
           'Template::Hash:new'       =&gt; [ 'new' ],
           'Template::Hash:scalar'    =&gt; [ 'foo' ]
           'Template::Static:scalar'  =&gt; [ 'bar' ]
         );

         package main;

         my $obj = MyObject-&gt;new( foo =&gt; "Foozle", bar =&gt; "Bozzle" );
         print $obj-&gt;foo();
         $obj-&gt;bar("Bamboozle");

</pre><h4><b>DESCRIPTION</b></h4><pre>
       This package provides a variety of abstract interfaces for constructors and accessor methods, which form
       a common foundation for meta-methods provided by the Hash, Scalar, Flyweight, Static, PackageVar, and
       ClassVar implementations.

       Generally speaking, the Generic meta-methods define calling interfaces and behaviors which are bound to
       differently scoped data by each of those subclasses.

   <b>new</b> <b>Constructor</b>
       There are several types of hash-based object constructors to choose from.

       Each of these methods creates and returns a reference to a new blessed instance. They differ in how their
       (optional) arguments are interpreted to set initial values, and in how they operate when called as class
       or instance methods.

       <b>Interfaces</b>: The following interfaces are supported.

       -with_values,
           Provides the with_values behavior.

       -with_init
           Provides the with_init behavior.

       -with_methods
           Provides the with_methods behavior.

       -new_and_init
           Provides  the  with_init  behavior  for  <u>*</u>,  and  the general purpose method_init behavior as an init
           method.

       -copy_with_values
           Provides the copy behavior.

       <b>Behaviors</b>: The following types of constructor methods are available.

       with_values
           Creates and blesses a new instance.

           If arguments are passed they are included in the instance, otherwise it will be empty.

           Returns the new instance.

           May be called as a class or instance method.

       with_methods
           Creates, blesses, and returns a new instance.

           The arguments are treated as a hash of method-name/argument-value pairs, with each such pair  causing
           a call "$self-&gt;name($value)".

       with_init
           Creates  and  blesses  a  new instance, then calls a method named "init", passing along any arguments
           that were initially given.

           Returns the new instance.

           The <u>init</u>() method should be defined in the class declaring these methods.

           May be called as a class or instance method.

       and_then_init
           Creates a new instance using method-name/argument-value pairs, like "with_methods", but then calls  a
           method  named  "init"  before  returning  the  new  object.  The  "init"  method does not receive any
           arguments.

           The <u>init</u>() method should be defined in the class declaring these methods.

       instance_with_methods
           If called as a class method, creates, blesses, and returns a new instance. If  called  as  an  object
           method, operates on and returns the existing instance.

           Accepts  name-value  pair arguments, or a reference to hash of such pairs, and calls the named method
           for each with the supplied value as a single argument. (See the Universal  method_init  behavior  for
           more discussion of this pattern.)

       copy_with values
           Produce a copy of an instance. Can not be called as a class method.

           The  copy is a *shallow* copy; any references will be shared by the instance upon which the method is
           called and the returned newborn.

           If a list of key-value pairs is passed as arguments to the  method,  they  are  added  to  the  copy,
           overwriting any values with the same key that may have been copied from the original.

       copy_with_methods
           Produce a copy of an instance. Can not be called as a class method.

           The  copy is a *shallow* copy; any references will be shared by the instance upon which the method is
           called and the returned newborn.

           Accepts name-value pair arguments, or a reference to hash of such pairs, and calls the  named  method
           on the copy for each with the supplied value as a single argument before the copy is returned.

       copy_instance_with_values
           If  called  as  a  class method, creates, blesses, and returns a new instance. If called as an object
           method, produces and returns a copy of an instance.

           The copy is a *shallow* copy; any references will be shared by the instance upon which the method  is
           called and the returned newborn.

           If  a  list  of  key-value  pairs  is  passed as arguments to the method, they are added to the copy,
           overwriting any values with the same key that may have been copied from the original.

       copy_instance_with_methods
           If called as a class method, creates, blesses, and returns a new instance. If  called  as  an  object
           method, produces and returns a copy of an instance.

           The  copy is a *shallow* copy; any references will be shared by the instance upon which the method is
           called and the returned newborn.

           Accepts name-value pair arguments, or a reference to hash of such pairs, and calls the  named  method
           on the copy for each with the supplied value as a single argument before the copy is returned.

       <b>Parameters</b>: The following parameters are supported:

       init_method
           The name of the method to call after creating a new instance. Defaults to 'init'.

   <b>scalar</b> <b>Accessor</b>
       A  generic  scalar-value  accessor meta-method which serves as an abstraction for basic "get_set" methods
       and numerous related interfaces

         use Class::MakeMethods -MakerClass =&gt; "...",
               scalar =&gt; [ 'foo', 'bar' ];
         ...
         $self-&gt;foo( 'my new foo value' );
         print $self-&gt;foo();

       (Note that while you can use the scalar methods to store references to various data structures, there are
       other meta-methods defined below that may be more useful for managing references to arrays,  hashes,  and
       objects.)

       <b>Interfaces</b>: The following calling interfaces are available.

       get_set (default)
           Provides get_set method for <u>*</u>.

           Example:  Create method foo, which sets the value of 'foo' for this instance if an argument is passed
           in, and then returns the value whether or not it's been changed:

             use Class::MakeMethods -MakerClass =&gt; "...",
               scalar =&gt; [ 'foo' ];

       get_protected_set
           Provides an get_set accessor for <u>*</u> that croaks if a new value is passed in from a package that is not
           a subclass of the declaring one.

       get_private_set
           Provides an get_set accessor for <u>*</u> that croaks if a new value is passed in from a package other  than
           the declaring one.

       read_only
           Provides an accessor for <u>*</u> that does not modify its value. (Its initial value would have to be set by
           some other means.)

       eiffel
           Provides get behavior as <u>*</u>, and set behavior as set_<u>*</u>.

           Example:  Create methods bar which returns the value of 'bar' for this instance (takes no arguments),
           and set_bar, which sets the value of 'bar' (no return):

             use Class::MakeMethods -MakerClass =&gt; "...",
               scalar =&gt; [ --eiffel =&gt; 'bar' ];

       java
           Provides get behavior as get<u>*</u>, and set behavior as set<u>*</u>.

           Example: Create methods getBaz which  returns  the  value  of  'Baz'  for  this  instance  (takes  no
           arguments), and setBaz, which sets the value for this instance (no return):

             use Class::MakeMethods -MakerClass =&gt; "...",
               scalar =&gt; [ --java =&gt; 'Baz' ];

       init_and_get
           Creates methods which cache their results in a hash key.

           Provides  the  get_init  behavior for <u>*</u>, and an delete behavior for clear_<u>*</u>.  Specifies default value
           for init_method parameter of init_<u>*</u>.

       with_clear
           Provides get_set behavior for <u>*</u>, and a clear_<u>*</u> method.

       <b>Behaviors</b>: The following types of accessor methods are available.

       get_set
           If no argument is provided, returns the value of the current instance. The value defaults to undef.

           If an argument is provided, it is stored as the value of the current instance (even if  the  argument
           is undef), and that value is returned.

           Also  available  as  get_protected_set  and get_private_set, which are available for public read-only
           access, but have access control limitations.

       get Returns the value from the current instance.

       set Sets the value for the current instance. If called with no arguments, the value is set to undef. Does
           not return a value.

       clear
           Sets value to undef.

       get_set_chain
           Like get_set, but if called with an argument, returns the object it was  called  on.  This  allows  a
           series of mutators to be called as follows:

             package MyObject;
             use Class::MakeMethods (
               'Template::Hash:scalar --get_set_chain' =&gt; 'foo bar baz'
             );
             ...

             my $obj = MyObject-&gt;new-&gt;foo('Foozle');
             $obj-&gt;bar("none")-&gt;baz("Brazil");
             print $obj-&gt;foo, $obj-&gt;bar, $obj-&gt;baz;

       get_set_prev
           Like get_set, but if called with an argument, returns the previous value before it was changed to the
           new one.

       get_init
           If the value is currently undefined, calls the init_method. Returns the value.

       <b>Parameters</b>: The following parameters are supported:

       init_method
           The name of a method to be called to initialize this meta-method.

           Only used by the get_init behavior.

   <b>string</b> <b>Accessor</b>
       A  generic  scalar-value  accessor meta-method which serves as an abstraction for basic "get_set" methods
       and numerous related interfaces

         use Class::MakeMethods -MakerClass =&gt; "...",
               string =&gt; [ 'foo', 'bar' ];
         ...
         $self-&gt;foo( 'my new foo value' );
         print $self-&gt;foo();

       This meta-method extends the scalar meta-method, and supports the same interfaces and parameters.

       However, it generally treats values as strings, and can not be used to store references.

       <b>Interfaces</b>: In addition to those provided by "scalar", the following calling interfaces are available.

       -get_concat
           Provides the get_concat behavior for <u>*</u>, and a clear_<u>*</u> method.

           Example:

             use Class::MakeMethods
               get_concat =&gt; { name =&gt; 'words', join =&gt; ", " };

             $obj-&gt;words('foo');
             $obj-&gt;words('bar');
             $obj-&gt;words() eq 'foo, bar';

       <b>Behaviors</b>: In addition to those provided by  "scalar",  the  following  types  of  accessor  methods  are
       available.

       concat
           Concatenates the argument value with the existing value.

       get_concat
           Like  get_set  except sets do not clear out the original value, but instead concatenate the new value
           to the existing one.

       <b>Parameters</b>: In addition to those provided by "scalar", the following parameters are supported.

       join
           If the join parameter is defined, each time the get_concat behavior is  invoked,  it  will  glue  its
           argument  onto  any  existing  value with the join string as the separator. The join field is applied
           <u>between</u> values, not prior to the first or after the last. Defaults to undefined

   <b>string_index</b>
         string_index =&gt; [ qw / foo bar baz / ]

       Creates string accessor methods, like string above, but also maintains a static hash index in which  each
       object is stored under the value of the field when the slot is set.

       This  is a unique index, so only one object can have a given key.  If an object has a slot set to a value
       which another object is already set to the object currently set to that value has that slot set to  undef
       and the new object will be put into the hash under that value.

       Objects with undefined values are not stored in the index.

       Note that to free items from memory, you must clear these values!

       <b>Methods</b>:

       •   The  method find_x is defined which if called with any arguments returns a list of the objects stored
           under those values in the hash. Called with no arguments, it returns a reference to the hash.

       <b>Profiles</b>:

       •   find_or_new

             'string_index -find_or_new' =&gt; [ qw / foo bar baz / ]

           Just like string_index except the find_x method is defined to call the new method to create an object
           if there is no object already stored under any of the keys you give as arguments.

   <b>number</b> <b>Accessor</b>
       A generic scalar-value accessor meta-method which serves as an abstraction for  basic  "get_set"  methods
       and numerous related interfaces

         use Class::MakeMethods -MakerClass =&gt; "...",
               string =&gt; [ 'foo', 'bar' ];
         ...
         $self-&gt;foo( 23 );
         print $self-&gt;foo();

       This meta-method extends the scalar meta-method, and supports the same interfaces and parameters.

       However, it generally treats values as numbers, and can not be used to store strings or references.

       <b>Interfaces</b>: In addition to those provided by "scalar", the following calling interfaces are available.

       -counter
           Provides the numeric get_set behavior for <u>*</u>, and numeric <u>*</u>_incr and <u>*</u>_reset methods.

       <b>Behaviors</b>:  In  addition  to  those  provided  by  "scalar",  the following types of accessor methods are
       available.

       get_set
           The get_set behavior is similar to the default scalar behavior except that empty values  are  treated
           as zero.

       increment
           If  no  argument  is  provided,  increments the <u>hash_key</u> value by 1.  If an argument is provided, the
           value is incremented by that amount.  Returns the increased value.

       clear
           Sets the value to zero.

   <b>boolean</b> <b>Accessor</b>
       A generic scalar-value accessor meta-method which serves as an abstraction for  basic  "get_set"  methods
       and numerous related interfaces

         use Class::MakeMethods -MakerClass =&gt; "...",
               string =&gt; [ 'foo', 'bar' ];
         ...
         $self-&gt;foo( 1 );
         print $self-&gt;foo();
         $self-&gt;clear_foo;

       This  meta-method  extends  the  scalar  meta-method,  and  supports  the same interfaces and parameters.
       However, it generally treats values as true-or-false flags,  and  can  not  be  used  to  store  strings,
       numbers, or references.

       <b>Interfaces</b>:

       flag_set_clear (default)
           Provides the get_set behavior for <u>*</u>, and set_<u>*</u> and clear_<u>*</u> methods to set the value to true or false.

       <b>Behaviors</b>:  In  addition  to  those  provided  by  "scalar",  the following types of accessor methods are
       available.

       get_set
           The get_set behavior is similar to the get_set scalar behavior except that empty or false values  are
           treated as zero, and true values are treated as zero.

       set_true
           Sets the value to one.

       set_false
           Sets the value to zero.

   <b>bits</b> <b>Accessor</b>
       A generic accessor for bit-field values.

       The difference between 'Template::Generic:bits' and 'Template::Generic:boolean' is that all flags created
       with this meta-method are stored in a single vector for space efficiency.

       <b>Interfaces</b>: The following calling interfaces are available.

       default
           Provides  get_set  behavior  for  <u>*</u>, a set_<u>*</u> method which sets the value to true and a clear_<u>*</u> method
           which sets the value to false.

           Also defines methods named bits, bit_fields, and bit_dump with the behaviors below. These methods are
           shared across all of the boolean meta-methods defined by a single class.

       class_methods
           .

       <b>Basic</b> <b>Behaviors</b>: The following types of bit-level accessor methods are available.

       get_set
           Returns the value of the named flag.  If called with an argument, it first sets the named flag to the
           truth-value of the argument.

       set_true
           Sets the value to true.

       set_false
           Sets the value to false.

       <b>Group</b> <b>Methods</b>: The following types of methods manipulate the overall vector value.

       bits
           Returns the vector containing all of the bit fields (remember however that a vector containing all  0
           bits is still true).

       bit_dump
           Returns a hash of the flag-name/flag-value pairs.

       bits_size
           Returns the number of bits that can fit into the current vector.

       bits_complement
           Returns the twos-complement of the vector.

       bit_pos_get
           Takes a single argument and returns the value of the bit stored in that position.

       bit_pos_set
           Takes two arguments and sets the bit stored in the position of the first argument to the value of the
           second argument.

       <b>Class</b> <b>Methods</b>: The following types of class methods are available.

       bit_names
           Returns a list of all the flags by name.

   <b>array</b> <b>Accessor</b>
       Creates accessor methods for manipulating arrays of values.

       <b>Interfaces</b>: The following calling interfaces are available.

       default
           Provides get_set behavior for <u>*</u>, and <u>verb</u>_<u>*</u> methods for the non-get behaviors below.

       minimal
           Provides get_set behavior for <u>*</u>, and <u>*</u>_<u>verb</u> methods for clear behavior.

       get_set_items
           Provides the get_set_items for <u>*</u>.

       x_verb
           Provides get_push behavior for <u>*</u>, and <u>*</u>_<u>verb</u> methods for the non-get behaviors below.

       get_set_ref
           Provides the get_set_ref for <u>*</u>.

       get_set_ref_help
           Provides the get_set_ref for <u>*</u>, and <u>verb</u>_<u>*</u> methods for the non-get behaviors below.

       <b>Behaviors</b>: The following types of accessor methods are available.

       get_set_items
           Called with no arguments returns a reference to the array stored in the slot.

           Called  with  one  simple  scalar  argument  it treats the argument as an index and returns the value
           stored under that index.

           Called with more than one argument, treats them as a series of index/value pairs and adds them to the
           array.

       get_push
           If arguments are passed, these values are pushed on to the list; if a single array ref is passed, its
           values are used as the arguments.

           This method returns the list of values stored in the slot. In an array context it returns them as  an
           array and in a scalar context as a reference to the array.

       get_set_ref
           If  arguments  are  passed, these values are placed on the list, replacing the current contents; if a
           single array ref is passed, its values are used as the arguments.

           This method returns the list of values stored in the slot. In an array context it returns them as  an
           array and in a scalar context as a reference to the array.

       get_set
           If arguments are passed, these values are placed on the list, replacing the current contents.

           This  method returns the list of values stored in the slot. In an array context it returns them as an
           array and in a scalar context as a reference to the array.

       push
           Append items to tail.

       pop Remove an item from the tail.

       shift
           Remove an item from the front.

       unshift
           Prepend items to front.

       splice
           Remove or replace items.

       clear
           Remove all items.

       count
           Returns the number of item in the list.

   <b>hash</b> <b>Accessor</b>
       Creates accessor methods for manipulating hashes of key-value pairs.

       <b>Interfaces</b>: The following calling interfaces are available.

       default
           Provides get_set behavior for <u>*</u>, and <u>*</u>_<u>verb</u> methods for most of the other behaviors below.

       get_set_items
           Provides the get_set_items for <u>*</u>.

       <b>Behaviors</b>: The following types of accessor methods are available.

       get_set_items
           Called with no arguments returns a reference to the hash stored.

           Called with one simple scalar argument it treats the argument as a key and returns the  value  stored
           under that key.

           Called  with  more than one argument, treats them as a series of key/value pairs and adds them to the
           hash.

       get_push
           Called with no arguments returns the hash stored, as a hash in a list context or as a reference in  a
           scalar context.

           Called  with  one simple scalar argument it treats the argument as a key and returns the value stored
           under that key.

           Called with one array reference argument, the array elements are considered to  be  be  keys  of  the
           hash. x returns the list of values stored under those keys (also known as a <u>hash</u> <u>slice</u>.)

           Called with one hash reference argument, the keys and values of the hash are added to the hash.

           Called  with  more than one argument, treats them as a series of key/value pairs and adds them to the
           hash.

       get_set
           Like get_push, except if called with more then one argument, empties the current  hash  items  before
           adding those arguments to the hash.

       push
           Called with one hash reference argument, the keys and values of the hash are added to the hash.

           Called  with  more than one argument, treats them as a series of key/value pairs and adds them to the
           hash.

       keys
           Returns a list of the keys of the hash.

       values
           Returns a list of the values in the hash.

       tally
           Takes a list of arguments and for each scalar in the list increments the value stored in the hash and
           returns a list of the current (after the increment) values.

       exists
           Takes a single key, returns whether that key exists in the hash.

       delete
           Takes a list, deletes each key from the hash, and returns the corresponding values.

       clear
           Resets hash to empty.

   <b>tiedhash</b> <b>Accessor</b>
       A variant of Generic:hash which initializes the hash by tieing it to a caller-specified package.

       See the documentation on "Generic:hash" for interfaces and behaviors.

       <b>Parameters</b>: The following parameters <u>must</u> be provided:

       tie <u>Required</u>. The name of the class to tie to.  <u>Make</u> <u>sure</u> <u>you</u> <u>have</u> <u>"use"d</u> <u>the</u> <u>required</u> <u>class</u>.

       args
           <u>Required</u>. Additional arguments for the tie, as an array ref.

       Example:

         use Class::MakeMethods
           tie_hash =&gt; [ hits =&gt; { tie =&gt; q/Tie::RefHash/, args =&gt; [] } ];

         use Class::MakeMethods
           tie_hash =&gt; [ [qw(hits errors)] =&gt; { tie =&gt; q/Tie::RefHash/, args =&gt; [] } ];

         use Class::MakeMethods
           tie_hash =&gt; [ { name =&gt; hits, tie =&gt; q/Tie::RefHash/, args =&gt; [] } ];

   <b>hash_of_arrays</b> <b>Accessor</b>
       Creates accessor methods for manipulating hashes of array-refs.

       <b>Interfaces</b>: The following calling interfaces are available.

       default
           Provides get behavior for <u>*</u>, and <u>*</u>_<u>verb</u> methods for the other behaviors below.

       <b>Behaviors</b>: The following types of accessor methods are available.

       get Returns all the values for all the given keys, in order.  If no  keys  are  given,  returns  all  the
           values (in an unspecified key order).

           The  result  is  returned  as  an  arrayref in scalar context.  This arrayref is <u>not</u> part of the data
           structure; messing with it will not affect the contents directly (even if a single key  was  provided
           as argument.)

           If  any  argument  is provided which is an arrayref, then the members of that array are used as keys.
           Thus, the trivial empty-key case may be utilized with an argument of [].

       keys
           Returns the keys of the hash.  As an arrayref in scalar context.

       exists
           Takes a list of keys, and returns whether all of the key exists in  the  hash  (i.e.,  the  "and"  of
           whether the individual keys exist).

       delete
           Takes a list, deletes each key from the hash.

       push
           Takes  a  key,  and  some  values.  Pushes the values onto the list denoted by the key.  If the first
           argument is an arrayref, then each element of that arrayref is treated as  a  key  and  the  elements
           pushed onto each appropriate list.

       pop Takes  a list of keys, and pops each one.  Returns the list of popped elements.  undef is returned in
           the list for each key that is has an empty list.

       unshift
           Like push, only the from the other end of the lists.

       shift
           Like pop, only the from the other end of the lists.

       splice
           Takes a key, offset, length, and a values list.  Splices the list named by the  key.   Anything  from
           the offset argument (inclusive) may be omitted.  See "splice" in perlfunc.

       clear
           Takes a list of keys.  Resets each named list to empty (but does not delete the keys.)

       count
           Takes a list of keys.  Returns the sum of the number of elements for each named list.

       index
           Takes  a  key,  and a list of indices.  Returns a list of each item at the corresponding index in the
           list of the given key.  Uses undef for indices beyond range.

       remove
           Takes a key, and a list of indices.  Removes each  corresponding  item  from  the  named  list.   The
           indices are effectively looked up at the point of call -- thus removing indices 3, 1 from list (a, b,
           c, d) will remove (d) and (b).

       sift
           Takes  a  key, and a set of named arguments, which may be a list or a hash ref.  Removes list members
           based on a grep-like approach.

           filter
               The filter function used (as a coderef).  Is passed two arguments, the  value  compared  against,
               and  the  value  in  the  list that is potential for grepping out.  If returns true, the value is
               removed.  Default is "sub { $_[0] == $_[1] }".

           keys
               The list keys to sift through (as an arrayref).  Unknown keys  are  ignored.   Default:  all  the
               known keys.

           values
               The values to sift out (as an arrayref).  Default: "[undef]"

   <b>object</b> <b>Accessor</b>
       Creates accessor methods for manipulating references to objects.

       In  addition  to  creating  a method to get and set the object reference, the meta-method can also define
       forwarded methods that automatically pass calls onto the object stored in that slot; see the  description
       of the  'delegate' parameter below.

       <b>Interfaces</b>: The following calling interfaces are available.

       default
           Provides get_set behavior for <u>*</u>, clear behavior for 'delete_*', and forwarding methods for any values
           in the method's 'delegate' or 'soft_delegate' parameters.

       get_and_set
           Provides named get method, set_<u>x</u> and clear_<u>x</u> methods.

       get_init_and_set
           Provides named get_init method, set_<u>x</u> and clear_<u>x</u> methods.

       <b>Behaviors</b>: The following types of accessor methods are available.

       get_set
           The get_set method, if called with a reference to an object of the given class as the first argument,
           stores it.

           If  called  with  any  other arguments, creates and stores a new object, passing the arguemnts to the
           <b>new()</b> method for the object.

           If called without arguments, returns the current value, which may be undefined if one  has  not  been
           stored yet.

       get_set_init
           The  get_set_init  method,  if  called  with a reference to an object of the given class as the first
           argument, stores it.

           If the slot is not filled yet it creates an object by calling the  given  new  method  of  the  given
           class. Any arguments passed to the get_set_init method are passed on to new.

           In all cases the object now stored is returned.

       get_init
           If the instance is empty, creates and stores a new one. Returns the instance.

       get Returns the current value, which may be undefined if one has not been stored yet.

       set If called with a reference to an object of the given class as the first argument, stores it.

           If  called  with  any  other arguments, creates and stores a new object, passing the arguments to the
           <b>new()</b> method.

           If called without arguments, creates and stores a new object, without  any  arguments  to  the  <b>new()</b>
           method.

       clear
           Removes the reference value.

       <u>forwarding</u>
           If  a  'delegate' or 'soft_delegate' parameter is provided, methods with those names are created that
           are forwarded directly to the object in the slot, as described below.

       <b>Parameters</b>: The following parameters are supported:

       class
           <u>Required</u>. The type of object that will be stored.

       new_method
           The name of the method to call on the above class to create a new instance. Defaults to 'new'.

       delegate
           The methods to forward to the object. Can contain a method name, a string of  space-spearated  method
           names,  or  an  array of method names. This type of method will croak if it is called when the target
           object is not defined.

       soft_delegate
           The methods to forward to the object, if it is present. Can contain a method name, a string of space-
           spearated method names, or an array of method names. This type of method will return nothing if it is
           called when the target object is not defined.

   <b>instance</b> <b>Accessor</b>
       Creates methods to handle an instance of the calling class.

       PROFILES

       default
           Provides named get method, and <u>verb</u>_<u>x</u> set, new, and clear methods.

       -implicit_new
           Provides named get_init method, and <u>verb</u>_<u>x</u> set, and clear methods.

       -x_verb
           Provides named get method, and <u>x</u>_<u>verb</u> set, new, and clear methods.

       <b>Behaviors</b>: The following types of accessor methods are available.

       get Returns the value of the instance parameter, which may be undefined if one has not been stored yet.

       get_init
           If the instance is empty, creates and stores a new one. Returns the instance.

       set Takes a single argument and sets the instance to that value.

       new Creates and stores a new instance.

       clear
           Sets the instance parameter to undef.

       <b>Parameters</b>: The following parameters are supported:

       instance
           Holds the instance reference. Defaults to undef

       new_method
           The name of the method to call when creating a new instance. Defaults to 'new'.

   <b>array_of_objects</b> <b>Accessor</b>
       Creates accessor methods for manipulating references to arrays of object references.

       Operates like "Generic:array", but prior to adding any item to the array, it first checks to see if it is
       an instance of the designated class, and if not passes it as an argument to that class's new  method  and
       stores the result instead.

       Forwarded  methods  return  a list of the results returned by "map"ing the method over each object in the
       array.

       See the documentation on "Generic:array" for interfaces and behaviors.

       <b>Parameters</b>: The following parameters are supported:

       class
           <u>Required</u>. The type of object that will be stored.

       delegate
           The methods to forward to the object. Can contain a method name, a string of  space-spearated  method
           names, or an array of method names.

       new_method
           The name of the method to call on the above class to create a new instance. Defaults to 'new'.

   <b>code</b> <b>Accessor</b>
       Creates accessor methods for manipulating references to subroutines.

       <b>Interfaces</b>: The following calling interfaces are available.

       default
           Provides the call_set functionality.

       method
           Provides the call_method functionality.

       <b>Behaviors</b>: The following types of accessor methods are available.

       call_set
           If  called  with one argument which is a CODE reference, it installs that code in the slot. Otherwise
           it runs the code stored in the slot with whatever arguments (including none) were passed in.

       call_method
           Just like <b>call_set</b>, except the code is called like a  method,  with  $self  as  its  first  argument.
           Basically, you are creating a method which can be different for each object.

   <b>code_or_scalar</b> <b>Accessor</b>
       Creates accessor methods for manipulating either strings or references to subroutines.

       You  can  store any scalar value; code refs are executed when you retrieve the value, while other scalars
       are returned as-is.

       <b>Interfaces</b>: The following calling interfaces are available.

       default
           Provides the call_set functionality.

       method
           Provides the call_method functionality.

       eiffel
           Provides the named get_method, and a helper set_* method.

       <b>Behaviors</b>: The following types of accessor methods are available.

       get_set_call
           If called with an argument, either a CODE reference or some other scalar, it installs  that  code  in
           the  slot.  Otherwise, if the current value  runs the code stored in the slot with whatever arguments
           (including none) were passed in.

       get_set_method
           Just like <b>call_set</b>, except the code is called like a  method,  with  $self  as  its  first  argument.
           Basically, you are creating a method which can be different for each object.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       See Class::MakeMethods for general information about this distribution.

       See Class::MakeMethods::Template for information about this family of subclasses.

perl v5.36.0                                       2022-10-13                <u>MakeMethods::Template::<a href="../man3pm/Generic.3pm.html">Generic</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>