<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dancer2::Template::Tiny - Template::Tiny engine for Dancer2</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libdancer2-perl">libdancer2-perl_1.1.2+dfsg-1_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Dancer2::Template::Tiny - Template::Tiny engine for Dancer2

</pre><h4><b>VERSION</b></h4><pre>
       version 1.1.2

</pre><h4><b>SYNOPSIS</b></h4><pre>
       This template engine allows you to use Template::Tiny in Dancer2.

       Template::Tiny is an implementation of a subset of Template::Toolkit (the major parts) which takes much
       less memory and is faster. If you're only using the main functions of Template::Toolkit, you could use
       Template::Tiny. You can also seamlessly move back to Template::Toolkit whenever you want.

       However, Dancer2 uses a modified version of Template::Tiny, which is
       Dancer2::Template::Implementation::ForkedTiny. It adds 2 features :

       •   opening and closing tag are now configurable

       •   CodeRefs are evaluated and their results is inserted in the result.

       You can read more on Dancer2::Template::Implementation::ForkedTiny.

       To use this engine, all you need to configure in your Dancer2's "config.yaml":

           template: "tiny"

       Of course, you can also set this <b>while</b> working using "set":

           # code code code
           set template =&gt; 'tiny';

       Since  Dancer2 has internal support for a wrapper-like option with the "layout" configuration option, you
       can have a Template::Toolkit-like WRAPPER even though Template::Tiny doesn't really support it.

</pre><h4><b>METHODS</b></h4><pre>
   <b>render($template,</b> <b>\%tokens)</b>
       Renders the template.  The first arg is a filename for the template file or a reference to a string  that
       contains  the  template.   The  second  arg  is  a  hashref  for  the  tokens  that  you  wish to pass to
       Template::Toolkit for rendering.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       Dancer2, Dancer2::Core::Role::Template, Template::Tiny, Dancer2::Template::Implementation::ForkedTiny.

</pre><h4><b>AUTHOR</b></h4><pre>
       Dancer Core Developers

</pre><h4><b>COPYRIGHT</b> <b>AND</b> <b>LICENSE</b></h4><pre>
       This software is copyright (c) 2024 by Alexis Sukrieh.

       This is free software; you can redistribute it and/or modify it under  the  same  terms  as  the  Perl  5
       programming language system itself.

perl v5.40.0                                       2024-12-08                       <u>Dancer2::Template::<a href="../man3pm/Tiny.3pm.html">Tiny</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>