<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dancer2::Template::Simple - Pure Perl 5 template engine for Dancer2</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libdancer2-perl">libdancer2-perl_1.1.2+dfsg-1_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Dancer2::Template::Simple - Pure Perl 5 template engine for Dancer2

</pre><h4><b>VERSION</b></h4><pre>
       version 1.1.2

</pre><h4><b>SYNOPSIS</b></h4><pre>
       To use this engine, you may configure Dancer2 via "config.yaml":

           template: simple

</pre><h4><b>DESCRIPTION</b></h4><pre>
       This template engine is primarily to serve as a migration path for users of Dancer. It should be fine for
       development purposes, but you would be better served by using Dancer2::Template::TemplateToolkit or one
       of the many alternatives available on CPAN to power an application with Dancer2 in production
       environment.

       "Dancer2::Template::Simple" is written in pure Perl and has no C bindings to accelerate the template
       processing.

</pre><h4><b>METHODS</b></h4><pre>
   <b>render($template,</b> <b>\%tokens)</b>
       Renders the template.  The first arg is a filename for the template file or a reference to a string that
       contains the template.  The second arg is a hashref for the tokens that you wish to pass to
       Template::Toolkit for rendering.

</pre><h4><b>SYNTAX</b></h4><pre>
       A template written for "Dancer2::Template::Simple" should be working just fine with
       Dancer2::Template::TemplateToolkit. The opposite is not true though.

       <b>variables</b>
           To interpolate a variable in the template, use the following syntax:

               &lt;% var1 %&gt;

           If <b>var1</b> exists in the tokens hash given, its value will be written there.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       Dancer2, Dancer2::Core::Role::Template, Dancer2::Template::TemplateToolkit.

</pre><h4><b>AUTHOR</b></h4><pre>
       Dancer Core Developers

</pre><h4><b>COPYRIGHT</b> <b>AND</b> <b>LICENSE</b></h4><pre>
       This software is copyright (c) 2024 by Alexis Sukrieh.

       This  is  free  software;  you  can  redistribute  it and/or modify it under the same terms as the Perl 5
       programming language system itself.

perl v5.40.0                                       2024-12-08                     <u>Dancer2::Template::<a href="../man3pm/Simple.3pm.html">Simple</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>