<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dancer::Template::Abstract - abstract class for Dancer's template engines</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libdancer-perl">libdancer-perl_1.3521+dfsg-1_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Dancer::Template::Abstract - abstract class for Dancer's template engines

</pre><h4><b>VERSION</b></h4><pre>
       version 1.3521

</pre><h4><b>DESCRIPTION</b></h4><pre>
       This class is provided as a base class for each template engine. Any template engine must inherit from it
       and provide a set of methods described below.

</pre><h4><b>TEMPLATE</b> <b>TOKENS</b></h4><pre>
       By default Dancer injects some tokens (or variables) to templates. The available tokens are:

       "perl_version"
           The current running Perl version.

       "dancer_version"
           The current running Dancer version.

       "settings"
           Hash to access current application settings.

       "request"
           Hash to access your current request.

       "params"
           Hash to access your request parameters.

       "vars"
           Hash to access your defined variables (using "vars").

       "session"
           Hash to access your session (if you have session enabled)

</pre><h4><b>INTERFACE</b></h4><pre>
       <b>init()</b>
           The  template  engine can overload this method if some initialization stuff has to be done before the
           template engine is used.

           The base class provides a plain <b>init()</b> method that only returns true.

       <b>default_tmpl_ext()</b>
           Template class that inherits this class should override this method  to  return  a  default  template
           extension, example: for Template::Toolkit it returns "tt" and for HTML::Mason it returns "mason".  So
           when  you  call  "template 'index';" in your dispatch code, Dancer will look for a file 'index.tt' or
           'index.mason' based on the template you use.

           Note 1: when returning the extension string, please do not add a dot in front  of  the  extension  as
           Dancer will do that.

           Note  2:  for  backwards  compatibility  abstract class returns "tt" instead of throwing an exception
           'method not implemented'.

           User would be able to change the default extension using the "&lt;extension"&gt; configuration variable  on
           the template configuration. For example, for the default ("Simple") engine:

                template: "simple"
                engines:
                  simple:
                    extension: 'tmpl'

       <b>view($view)</b>
           The  default  behavior  of this method is to return the path of the given view, appending the default
           template extension (either the value of the "extension" setting in the configuration,  or  the  value
           returned  by  "default_tmpl_ext")  if it is not present in the view name given and no layout template
           with that exact name existed.  (In other words, given a layout name "main", if "main" exists  in  the
           layouts  dir,  it  will  be  used;  if not, "main.tmpl" (where "tmpl" is the value of the "extension"
           setting, or the value returned by "default_tmpl_ext") will be looked for.)

       <b>view_exists($view_path)</b>
           By default,  Dancer::Template::Abstract  checks  to  see  if  it  can  find  the  view  file  calling
           "view_exists($path_to_file)". If not, it will generate a nice error message for the user.

           If you are using extending Dancer::Template::Abstract to use a template system with multiple document
           roots  (like  Text::XSlate  or  Template),  you  can  override this method to always return true, and
           therefore skip this check.

       <b>layout($layout,</b> <b>$tokens,</b> <b>$content)</b>
           The default behavior of this method is to merge a content with a layout.  The layout file  is  looked
           for  with  similar  logic as per "view" - an exact match first, then attempting to append the default
           template extension, if the view name given did not already end with it.

       <b>render($self,</b> <b>$template,</b> <b>$tokens)</b>
           This method must be implemented by the template engine. Given a template and  a  set  of  tokens,  it
           returns a processed string.

           If  $template  is  a reference, it's assumed to be a reference to a string that contains the template
           itself. If it's not a reference, it's assumed to be the path to  template  file,  as  a  string.  The
           render  method  will  then have to open it and read its content (Dancer::FileUtils::read_file_content
           does that job).

           This method's return value must be a string which is the result of the interpolation  of  $tokens  in
           $template.

           If an error occurs, the method should trigger an exception with "die()".

           Examples :

               # with a template as a file
               $content = $engine-&gt;render('/my/template.txt', { var =&gt; 42 };

               # with a template as a scalar
               my $template = "here is &lt;% var %&gt;";
               $content = $engine-&gt;render(\$template, { var =&gt; 42 });

</pre><h4><b>AUTHOR</b></h4><pre>
       This module has been written by Alexis Sukrieh, see Dancer for details.

</pre><h4><b>AUTHOR</b></h4><pre>
       Dancer Core Developers

</pre><h4><b>COPYRIGHT</b> <b>AND</b> <b>LICENSE</b></h4><pre>
       This software is copyright (c) 2010 by Alexis Sukrieh.

       This  is  free  software;  you  can  redistribute  it and/or modify it under the same terms as the Perl 5
       programming language system itself.

perl v5.36.0                                       2023-02-10                    <u>Dancer::Template::<a href="../man3pm/Abstract.3pm.html">Abstract</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>