<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dancer2::Core::Role::Template - Role for template engines</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libdancer2-perl">libdancer2-perl_1.1.2+dfsg-1_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Dancer2::Core::Role::Template - Role for template engines

</pre><h4><b>VERSION</b></h4><pre>
       version 1.1.2

</pre><h4><b>DESCRIPTION</b></h4><pre>
       Any class that consumes this role will be able to be used as a template engine under Dancer2.

       In order to implement this role, the consumer <b>must</b> implement the method "render". This method will
       receive three arguments:

       $self
       $template
       $tokens

       Any template receives the following tokens, by default:

       •   "perl_version"

           Current version of perl, effectively $^V.

       •   "dancer_version"

           Current version of Dancer2, effectively "Dancer2-&gt;VERSION".

       •   "settings"

           A hash of the application configuration.

       •   "request"

           The current request object.

       •   "params"

           A hash reference of all the parameters.

           Currently the equivalent of "$request-&gt;params".

       •   "vars"

           The list of request variables, which is what you would get if you called the "vars" keyword.

       •   "session"

           The current session data, if a session exists.

</pre><h4><b>ATTRIBUTES</b></h4><pre>
   <b>name</b>
       The name of the template engine (e.g.: Simple).

   <b>charset</b>
       The charset.  The default value is <b>UTF-8</b>.

   <b>default_tmpl_ext</b>
       The default file extension.  If not provided, <b>tt</b> is used.

   <b>views</b>
       Path to the directory containing the views.

   <b>layout</b>
       Path to the directory containing the layouts.

   <b>layout_dir</b>
       Relative path to the layout directory.

       Default: <b>layouts</b>.

   <b>engine</b>
       Contains the engine.

</pre><h4><b>METHODS</b></h4><pre>
   <b>view_pathname($view)</b>
       Returns the full path to the requested view.

   <b>layout_pathname($layout)</b>
       Returns the full path to the requested layout.

   <b>pathname_exists($pathname)</b>
       Returns true if the requested pathname exists. Can be used for either views or layouts:

           $self-&gt;pathname_exists( $self-&gt;view_pathname( 'some_view' ) );
           $self-&gt;pathname_exists( $self-&gt;layout_pathname( 'some_layout' ) );

   <b>render_layout($layout,</b> <b>\%tokens,</b> <b>\$content)</b>
       Render the layout with the applied tokens

   <b>apply_renderer($view,</b> <b>\%tokens)</b>
   <b>apply_layout($content,</b> <b>\%tokens,</b> <b>\%options)</b>
   <b>process($view,</b> <b>\%tokens,</b> <b>\%options)</b>
   <b>template($view,</b> <b>\%tokens,</b> <b>\%options)</b>
</pre><h4><b>AUTHOR</b></h4><pre>
       Dancer Core Developers

</pre><h4><b>COPYRIGHT</b> <b>AND</b> <b>LICENSE</b></h4><pre>
       This software is copyright (c) 2024 by Alexis Sukrieh.

       This  is  free  software;  you  can  redistribute  it and/or modify it under the same terms as the Perl 5
       programming language system itself.

perl v5.40.0                                       2024-12-08                 <u>Dancer2::Core::Role::<a href="../man3pm/Template.3pm.html">Template</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>