<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dancer::Template - template wrapper for Dancer</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libdancer-perl">libdancer-perl_1.3521+dfsg-1_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Dancer::Template - template wrapper for Dancer

</pre><h4><b>VERSION</b></h4><pre>
       version 1.3521

</pre><h4><b>DESCRIPTION</b></h4><pre>
       This module is the wrapper that provides support for different template engines.

</pre><h4><b>USAGE</b></h4><pre>
   <b>Default</b> <b>engine</b>
       The default engine used by Dancer::Template is Dancer::Template::Simple.  If you want to change the
       engine used, you have to edit the <b>template</b> configuration variable.

   <b>Configuration</b>
       The <b>template</b> configuration variable tells Dancer which engine to use for rendering views.

       You change it either in your config.yml file:

           # setting TT as the template engine
           template: "template_toolkit"

       Or in the application code:

           # setting TT as the template engine
           set template =&gt; 'template_toolkit';

</pre><h4><b>AUTHORS</b></h4><pre>
       This module has been written by Alexis Sukrieh. See the AUTHORS file that comes with this distribution
       for details.

</pre><h4><b>LICENSE</b></h4><pre>
       This module is free software and is released under the same terms as Perl itself.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       See Dancer for details about the complete framework.

       You can also search the CPAN for existing engines in the Dancer::Template namespace.

</pre><h4><b>AUTHOR</b></h4><pre>
       Dancer Core Developers

</pre><h4><b>COPYRIGHT</b> <b>AND</b> <b>LICENSE</b></h4><pre>
       This software is copyright (c) 2010 by Alexis Sukrieh.

       This is free software; you can redistribute it and/or modify it under the same terms as the Perl 5
       programming language system itself.

perl v5.36.0                                       2023-02-10                              <u>Dancer::<a href="../man3pm/Template.3pm.html">Template</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>