<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dancer2::Template::Implementation::ForkedTiny - Dancer2 own implementation of Template::Tiny</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libdancer2-perl">libdancer2-perl_1.1.2+dfsg-1_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Dancer2::Template::Implementation::ForkedTiny - Dancer2 own implementation of Template::Tiny

</pre><h4><b>VERSION</b></h4><pre>
       version 1.1.2

</pre><h4><b>SYNOPSIS</b></h4><pre>
         my $template = Dancer2::Template::Implementation::ForkedTiny-&gt;new(
             TRIM =&gt; 1,
         );

         # Print the template results to STDOUT
         $template-&gt;process( &lt;&lt;'END_TEMPLATE', { foo =&gt; 'World' } );
         Hello [% foo %]!
         END_TEMPLATE

</pre><h4><b>DESCRIPTION</b></h4><pre>
       <b>Dancer2::Template::Implementation::ForkedTiny</b> is a reimplementation of a subset of the functionality from
       Template Toolkit in as few lines of code as possible.

       It is intended for use in light-usage, low-memory, or low-cpu templating situations, where you may need
       to upgrade to the full feature set in the future, or if you want the retain the familiarity of TT-style
       templates.

       For the subset of functionality it implements, it has fully-compatible template and stash API. All
       templates used with <b>Dancer2::Template::Implementation::ForkedTiny</b> should be able to be transparently
       upgraded to full Template Toolkit.

       Unlike Template Toolkit, <b>Dancer2::Template::Implementation::ForkedTiny</b> will process templates without a
       compile phase (but despite this is still quicker, owing to heavy use of the Perl regular expression
       engine.

   <b>SUPPORTED</b> <b>USAGE</b>
       By default, the "[% %]" tag style is used. You can change the start tag and end tag by specifying them at
       object creation :

         my $template = Dancer2::Template::Implementation::ForkedTiny-&gt;new(
             start_tag =&gt; '&lt;%',
             end_tag =&gt; '%&gt;,
         );

       In the rest of the documentation, "[% %]" will be used, but it can be of course your specified start /
       end tags.

       Both the "[%+ +%]" style explicit whitespace and the "[%- -%]" style explicit chomp <b>are</b> support, although
       the "[%+ +%]" version is unneeded in practice as <b>Dancer2::Template::Implementation::ForkedTiny</b> does not
       support default-enabled "PRE_CHOMP" or "POST_CHOMP".

       Variable expressions in the form "[% foo.bar.baz %]" <b>are</b> supported.

       Appropriate simple behaviours for "ARRAY" references, "HASH" references and objects are supported.
       "VMethods" such as [% array.length %] are <b>not</b> supported at this time.

       If the resulting expression is a CodeRef, it'll be evaluated.

       "IF", "ELSE" and "UNLESS" conditional blocks <b>are</b> supported, but only with simple "[% foo.bar.baz %]"
       conditions.

       Support for looping (or rather iteration) is available in simple "[% FOREACH item IN list %]" form <b>is</b>
       supported. Other loop structures are <b>not</b> supported. Because support for arbitrary or infinite looping is
       not available, <b>Dancer2::Template::Implementation::ForkedTiny</b> templates are not turing complete. This is
       intentional.

       All of the four supported control structures "IF"/"ELSE"/"UNLESS"/"FOREACH" can be nested to arbitrary
       depth.

       The treatment of "_private" hash and method keys is compatible with Template Toolkit, returning null or
       false rather than the actual content of the hash key or method.

       Anything beyond the above is currently out of scope.

</pre><h4><b>NAME</b></h4><pre>
       Dancer2::Template::Implementation::ForkedTiny - Template Toolkit reimplemented in as little code as
       possible, forked from Template::Tiny

</pre><h4><b>METHODS</b></h4><pre>
   <b>new</b>
         my $template = Dancer2::Template::Implementation::ForkedTiny-&gt;new(
             TRIM =&gt; 1,
         );

       The "new" constructor is provided for compatibility with Template Toolkit.

       The only parameter it currently supports is "TRIM" (which removes leading and trailing whitespace from
       processed templates).

       Additional parameters can be provided without error, but will be ignored.

   <b>process</b>
         # DEPRECATED: Return template results (emits a warning)
         my $text = $template-&gt;process( \$input, $vars );

         # Print template results to STDOUT
         $template-&gt;process( \$input, $vars );

         # Generate template results into a variable
         my $output = '';
         $template-&gt;process( \$input, $vars, \$output );

       The "process" method is called to process a template.

       The first parameter is a reference to a text string containing the template text. A reference to a hash
       may be passed as the second parameter containing definitions of template variables.

       If a third parameter is provided, it must be a scalar reference to be populated with the output of the
       template.

       For a limited amount of time, the old deprecated interface will continue to be supported. If "process" is
       called without a third parameter, and in scalar or list contest, the template results will be returned to
       the caller.

       If "process" is called without a third parameter, and in void context, the template results will be
       print()ed to the currently selected file handle (probably "STDOUT") for compatibility with Template.

</pre><h4><b>SUPPORT</b></h4><pre>
       Bugs should be reported via the CPAN bug tracker at

       &lt;<a href="http://rt.cpan.org/NoAuth/ReportBug.html">http://rt.cpan.org/NoAuth/ReportBug.html</a>?Queue=Template-Tiny&gt;

       For other issues, or commercial enhancement or support, contact the author.

</pre><h4><b>AUTHOR</b></h4><pre>
       Adam Kennedy &lt;<a href="mailto:adamk@cpan.org">adamk@cpan.org</a>&gt;

       Forked and improved by Damien Krotkine &lt;<a href="mailto:dams@cpan.org">dams@cpan.org</a>&gt;

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       Config::Tiny, CSS::Tiny, YAML::Tiny

</pre><h4><b>COPYRIGHT</b></h4><pre>
       Copyright 2009 - 2011 Adam Kennedy.  Copyright 2012 Damien Krotkine.

       This program is free software; you can redistribute it and/or modify it under the same terms as Perl
       itself.

       The full text of the license can be found in the LICENSE file included with this module.

</pre><h4><b>AUTHOR</b></h4><pre>
       Dancer Core Developers

</pre><h4><b>COPYRIGHT</b> <b>AND</b> <b>LICENSE</b></h4><pre>
       This software is copyright (c) 2024 by Alexis Sukrieh.

       This is free software; you can redistribute it and/or modify it under the same terms as the Perl 5
       programming language system itself.

perl v5.40.0                                       2024-12-08              <u>Dancer2::Templ...ion::<a href="../man3pm/ForkedTiny.3pm.html">ForkedTiny</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>