<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dancer::Template::TemplateToolkit - Template Toolkit wrapper for Dancer</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libdancer-perl">libdancer-perl_1.3521+dfsg-1_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Dancer::Template::TemplateToolkit - Template Toolkit wrapper for Dancer

</pre><h4><b>VERSION</b></h4><pre>
       version 1.3521

</pre><h4><b>DESCRIPTION</b></h4><pre>
       This class is an interface between Dancer's template engine abstraction layer and the Template module.

       This template engine is recommended for production purposes, but depends on the Template module.

       In order to use this engine, use the template setting:

           template: template_toolkit

       This can be done in your config.yml file or directly in your app code with the <b>set</b> keyword.

       Note that by default,  Dancer configures the Template::Toolkit engine to use &lt;% %&gt; brackets instead of
       its default [% %] brackets.  This can be changed within your config file - for example:

           template: template_toolkit
           engines:
               template_toolkit:
                   start_tag: '[%'
                   stop_tag: '%]'

       You can also add any options you would normally add to the Template module's initialization. You could,
       for instance, enable saving the compiled templates:

           engines:
               template_toolkit:
                   COMPILE_DIR: 'caches/templates'
                   COMPILE_EXT: '.ttc'

       Note though that unless you change them, Dancer sets both of the Template options "ANYCASE" and
       "ABSOLUTE" on, as well as pointing "INCLUDE_PATH" to your <b>views</b> directory and setting "ENCODING" to your
       <b>charset</b> setting.

</pre><h4><b>SUBCLASSING</b></h4><pre>
       By default, Template is used, but you can configure Dancer to use a subclass of Template with the
       "subclass" option.

           engines:
               template_toolkit:
                   subclass: My::Template

       When used like this, Dancer skips the defaults mentioned above.  Only those included in your config file
       are sent to the subclass.

</pre><h4><b>WRAPPER,</b> <b>META</b> <b>variables,</b> <b>SETs</b></h4><pre>
       Dancer already provides a WRAPPER-like ability, which we call a "layout". The reason we do not use TT's
       WRAPPER (which also makes it incompatible with it) is because not all template systems support it.
       Actually, most don't.

       However, you might want to use it, and be able to define META variables and regular Template::Toolkit
       variables.

       These few steps will get you there:

       •   Disable the layout in Dancer

           You can do this by simply commenting (or removing) the "layout" configuration in the <u>config.yml</u> file.

       •   Use Template Toolkit template engine

           Change the configuration of the template to Template Toolkit:

               # in config.yml
               template: "template_toolkit"

       •   Tell the Template Toolkit engine who's your wrapper

               # in config.yml
               # ...
               engines:
                   template_toolkit:
                       WRAPPER: layouts/main.tt

       Done! Everything will work fine out of the box, including variables and META variables.

</pre><h4><b>EMBEDDED</b> <b>TEMPLATES</b></h4><pre>
       You  can embed your templates in your script file, to get a self-contained dancer application in one file
       (inspired by &lt;<a href="http://advent.perldancer.org/2011/3">http://advent.perldancer.org/2011/3</a>&gt;).

       To enable this:

           # in app.pl
           # ...
           set engines =&gt; {
               template_toolkit =&gt; {
                   embedded_templates =&gt; 1,
               },
           };
           set template =&gt; 'template_toolkit';

       This feature requires Template::Provider::FromDATA. Put your templates in the __DATA__ section, and start
       every template with __${templatename}__.

</pre><h4><b>USING</b> <b>TT'S</b> <b>WRAPPER</b> <b>STACK</b></h4><pre>
       This engine provides three additional methods to access the WRAPPER stack of TemplateToolkit.

   <b>set_wrapper</b>
       Synopsis:

           engine('template')-&gt;set_wrapper( inner =&gt; 'inner_layout.tt' );
           engine('template')-&gt;set_wrapper( outer =&gt; 'outer_layout.tt' );
           engine('template')-&gt;set_wrapper( 'only_layout.tt' );

       The first two lines pushes/unshifts layout files to the wrapper array.  The  third  line  overwrites  the
       wrapper array with a single element.

   <b>unset_wrapper</b>
       Synopsis:

           engine('template')-&gt;unset_wrapper('inner') # returns 'inner_layout.tt';
           engine('template')-&gt;unset_wrapper('outer') # returns 'outer_layout.tt';

       These lines pops/shifts layout files from the wrapper array and returns the removed elements.

   <b>reset_wrapper</b>
       Synopsis:

           engine('template')-&gt;reset_wrapper;

       This method restores the wrapper array after a set_wrapper call.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       Dancer, Template

</pre><h4><b>AUTHOR</b></h4><pre>
       Dancer Core Developers

</pre><h4><b>COPYRIGHT</b> <b>AND</b> <b>LICENSE</b></h4><pre>
       This software is copyright (c) 2010 by Alexis Sukrieh.

       This  is  free  software;  you  can  redistribute  it and/or modify it under the same terms as the Perl 5
       programming language system itself.

perl v5.36.0                                       2023-02-10             <u>Dancer::Template::<a href="../man3pm/TemplateToolkit.3pm.html">TemplateToolkit</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>