<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>drmaa_allocate_job_template,    drmaa_delete_job_template,    drmaa_set_attribute,   drmaa_get_attribute,</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/gridengine-drmaa-dev">gridengine-drmaa-dev_8.1.9+dfsg-13.1_amd64</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       drmaa_allocate_job_template,    drmaa_delete_job_template,    drmaa_set_attribute,   drmaa_get_attribute,
       drmaa_set_vector_attribute,            drmaa_get_vector_attribute,             drmaa_get_next_attr_value,
       drmaa_get_num_attr_values, drmaa_release_attr_values - Grid Engine DRMAA job template handling

</pre><h4><b>SYNOPSIS</b></h4><pre>
       <b>#include</b> <b>"drmaa.h"</b>

       <b>int</b> <b>drmaa_allocate_job_template(</b>
              <b>drmaa_job_template_t</b> <b>**jt,</b>
              <b>char</b> <b>*error_diagnosis,</b>
              <b>size_t</b> <b>error_diag_len</b>
       <b>);</b>

       <b>int</b> <b>drmaa_delete_job_template(</b>
              <b>drmaa_job_template_t</b> <b>*jt,</b>
              <b>char</b> <b>*error_diagnosis,</b>
              <b>size_t</b> <b>error_diag_len</b>
       <b>);</b>

       <b>int</b> <b>drmaa_set_attribute(</b>
              <b>drmaa_job_template_t</b> <b>*jt,</b>
              <b>const</b> <b>char</b> <b>*name,</b>
              <b>const</b> <b>char</b> <b>*value,</b>
              <b>char</b> <b>*error_diagnosis,</b>
              <b>size_t</b> <b>error_diag_len</b>
       <b>);</b>

       <b>int</b> <b>drmaa_get_attribute(</b>
              <b>drmaa_job_template_t</b> <b>*jt,</b>
              <b>const</b> <b>char</b> <b>*name,</b>
              <b>char</b> <b>*value,</b>
              <b>size_t</b> <b>value_len,</b>
              <b>char</b> <b>*error_diagnosis,</b>
              <b>size_t</b> <b>error_diag_len</b>
       <b>);</b>

       <b>int</b> <b>drmaa_set_vector_attribute(</b>
              <b>drmaa_job_template_t</b> <b>*jt,</b>
              <b>const</b> <b>char</b> <b>*name,</b>
              <b>const</b> <b>char</b> <b>*value[],</b>
              <b>char</b> <b>*error_diagnosis,</b>
              <b>size_t</b> <b>error_diag_len</b>
       <b>);</b>

       <b>int</b> <b>drmaa_get_vector_attribute(</b>
              <b>drmaa_job_template_t</b> <b>*jt,</b>
              <b>const</b> <b>char</b> <b>*name,</b>
              <b>drmaa_attr_values_t</b> <b>**values,</b>
              <b>char</b> <b>*error_diagnosis,</b>
              <b>size_t</b> <b>error_diag_len</b>
       <b>);</b>

       <b>int</b> <b>drmaa_get_next_attr_value(</b>
              <b>drmaa_attr_values_t*</b> <b>values,</b>
              <b>char</b> <b>*value,</b>
              <b>int</b> <b>value_len</b>
       <b>);</b>

       <b>int</b> <b>drmaa_get_num_attr_values(</b>
              <b>drmaa_attr_values_t*</b> <b>values,</b>
              <b>int</b> <b>*size</b>
       <b>);</b>

       <b>void</b> <b>drmaa_release_attr_values(</b>
              <b>drmaa_attr_values_t*</b> <b>values</b>
       <b>);</b>

</pre><h4><b>DESCRIPTION</b></h4><pre>
       The  drmaa_allocate_job_template()  function  allocates  a  new  DRMAA  job  template  into <u>jt</u>. DRMAA job
       templates   describe   specifics   of   jobs   that   are   submitted    using    <u><a href="../man3/drmaa_run_job.3.html">drmaa_run_job</a></u>(3)    and
       <u><a href="../man3/drmaa_run_bulk_jobs.3.html">drmaa_run_bulk_jobs</a></u>(3).

   <b>drmaa_delete_job_template()</b>
       The  drmaa_delete_job_template()  function  releases all resources associated with the DRMAA job template
       <u>jt</u>. Jobs that were submitted using the job template are not affected.

   <b>drmaa_set_attribute()</b>
       The drmaa_set_attribute() function stores the <u>value</u> under <u>name</u> for the  given  DRMAA  job  template,  <u>jt</u>.
       Only non-vector attributes may be passed.

   <b>drmaa_get_attribute()</b>
       The  drmaa_get_attribute()  function  returns into <u>value</u> up to <u>value_len</u> bytes from the string stored for
       the non-vector attribute, <u>name</u>, in the DRMAA job template, <u>jt</u>.

   <b>drmaa_set_vector_attribute()</b>
       The drmaa_set_vector_attribute() function stores the strings in <u>value</u> under <u>name</u> in the  list  of  vector
       attributes for the given DRMAA job template, <u>jt</u>.  Only vector attributes may be passed. The <u>value</u> pointer
       array must be <u>NULL</u> terminated.

   <b>drmaa_get_vector_attribute()</b>
       The  drmaa_get_vector_attribute() function returns into <u>values</u> a DRMAA attribute string vector containing
       all string values stored in the vector attribute, <u>name</u>.  The values in the DRMAA values string vector can
       be extracted using <u><a href="../man3/drmaa_get_next_attr_value.3.html">drmaa_get_next_attr_value</a></u>(3).  The caller  is  responsible  for  releasing  the  DRMAA
       values string vector returned into <u>values</u> using <u><a href="../man3/drmaa_release_attr_values.3.html">drmaa_release_attr_values</a></u>(3).

   <b>drmaa_get_next_attr_value()</b>
       Each  time  drmaa_get_next_attr_value() is called it returns into <u>value</u> up to <u>value_len</u> bytes of the next
       entry stored in the DRMAA values string vector,  <u>values</u>.   Once  the  values  list  has  been  exhausted,
       DRMAA_ERRNO_NO_MORE_ELEMENTS is returned.

   <b>drmaa_get_num_attr_values()</b>
       The  drmaa_get_num_attr_values()  returns  into  <u>size</u>  the  number  of entries in the DRMAA values string
       vector.  This function is only available in the 1.0 implementation.

   <b>drmaa_release_attr_values()</b>
       The drmaa_release_attr_values() function releases all resources associated with the DRMAA  values  string
       vector, <u>values</u>.

</pre><h4><b>ENVIRONMENTAL</b> <b>VARIABLES</b></h4><pre>
       <b>SGE_ROOT</b>       Specifies the location of the Grid Engine standard configuration files.

       <b>SGE_CELL</b>       If  set,  specifies the default Grid Engine cell to be used. To address a Grid Engine cell
                      Grid Engine uses (in the order of precedence):

                             The name of the cell specified in the environment variable SGE_CELL, if it is set.

                             The name of the default cell, i.e. <b>default</b>.

       <b>SGE_DEBUG_LEVEL</b>
                      If set, specifies that debug information should be written  to  stderr.  In  addition  the
                      level of detail in which debug information is generated is defined.

       <b>SGE_QMASTER_PORT</b>
                      If  set,  specifies  the  tcp  port  on  which  <u><a href="../man8/sge_qmaster.8.html">sge_qmaster</a></u>(8)  is  expected to listen for
                      communication requests.  Most installations will use  a  services  map  entry  instead  to
                      define that port.

</pre><h4><b>RETURN</b> <b>VALUES</b></h4><pre>
       Upon      successful      completion,     drmaa_allocate_job_template(),     drmaa_delete_job_template(),
       drmaa_set_attribute(), drmaa_get_attribute(), drmaa_set_vector_attribute(), drmaa_get_vector_attribute(),
       and drmaa_get_next_attr_value() return DRMAA_ERRNO_SUCCESS.  Other  values  indicate  an  error.   Up  to
       <u>error_diag_len</u>  characters  of  error  related  diagnosis  information  is  then  provided  in the buffer
       <u>error_diagnosis</u>.

</pre><h4><b>ERRORS</b></h4><pre>
       The       drmaa_allocate_job_template(),       drmaa_delete_job_template(),        drmaa_set_attribute(),
       drmaa_get_attribute(),        drmaa_set_vector_attribute(),       drmaa_get_vector_attribute(),       and
       drmaa_get_next_attr_value() functions will fail if:

   <b>DRMAA_ERRNO_INTERNAL_ERROR</b>
       Unexpected or internal DRMAA error, like system call failure, etc.

   <b>DRMAA_ERRNO_DRM_COMMUNICATION_FAILURE</b>
       Could not contact DRM system for this request.

   <b>DRMAA_ERRNO_AUTH_FAILURE</b>
       The specified request is not processed successfully due to authorization failure.

   <b>DRMAA_ERRNO_INVALID_ARGUMENT</b>
       The input value for an argument is invalid.

   <b>DRMAA_ERRNO_NO_ACTIVE_SESSION</b>
       Failed because there is no active session.

   <b>DRMAA_ERRNO_NO_MEMORY</b>
       Failed allocating memory.

       The drmaa_set_attribute() and drmaa_set_vector_attribute() will fail if:

   <b>DRMAA_ERRNO_INVALID_ATTRIBUTE_FORMAT</b>
       The format for the attribute value is invalid.

   <b>DRMAA_ERRNO_INVALID_ATTRIBUTE_VALUE</b>
       The value for the attribute is invalid.

   <b>DRMAA_ERRNO_CONFLICTING_ATTRIBUTE_VALUES</b>
       The value of this attribute is conflicting with a previously set attributes.

       The drmaa_get_attribute() and drmaa_get_vector_attribute() will fail if:

   <b>DRMAA_ERRNO_INVALID_ATTRIBUTE_VALUE</b>
       The specified attribute is not set in the DRMAA job template.

       The drmaa_get_next_attr_value() will fail if:

   <b>DRMAA_ERRNO_INVALID_ATTRIBUTE_VALUE</b>
       When there are no more entries in the vector.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       <u><a href="../man3/drmaa_submit.3.html">drmaa_submit</a></u>(3)and <u><a href="../man3/drmaa_attributes.3.html">drmaa_attributes</a></u>(3).

SGE 8.1.3pre                              $Date: 2008-07-08 09:10:04 $                      <u><a href="../man3/drmaa_jobtemplate.3.html">drmaa_jobtemplate</a></u>(3)
</pre>
 </div>
</div></section>
</div>
</body>
</html>