<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excel::Template::Base - Excel::Template::Base</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libexcel-template-perl">libexcel-template-perl_0.34-3_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Excel::Template::Base - Excel::Template::Base

</pre><h4><b>PURPOSE</b></h4><pre>
       Base class for all Excel::Template classes

</pre><h4><b>NODE</b> <b>NAME</b></h4><pre>
       None

</pre><h4><b>INHERITANCE</b></h4><pre>
       None

</pre><h4><b>ATTRIBUTES</b></h4><pre>
       None

</pre><h4><b>CHILDREN</b></h4><pre>
       None

</pre><h4><b>EFFECTS</b></h4><pre>
       None

</pre><h4><b>DEPENDENCIES</b></h4><pre>
       None

</pre><h4><b>METHODS</b></h4><pre>
   <b>calculate</b>
       This is a wrapper around Excel::Template::Context-&gt;<b>get()</b>

   <b>isa</b>
       This is a wrapper around Excel::Template::Factory-&gt;<b>isa()</b>

   <b>is_embedded</b>
       This is a wrapper around Excel::Template::Factory-&gt;<b>is_embedded()</b>

</pre><h4><b>AUTHOR</b></h4><pre>
       Rob Kinyon (<a href="mailto:rob.kinyon@gmail.com">rob.kinyon@gmail.com</a>)

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
perl v5.34.0                                       2022-06-13                         <u>Excel::Template::<a href="../man3pm/Base.3pm.html">Base</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>