<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excel::Template::Element::Cell - Excel::Template::Element::Cell</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libexcel-template-perl">libexcel-template-perl_0.34-3_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Excel::Template::Element::Cell - Excel::Template::Element::Cell

</pre><h4><b>PURPOSE</b></h4><pre>
       To actually write stuff to the worksheet

</pre><h4><b>NODE</b> <b>NAME</b></h4><pre>
       CELL

</pre><h4><b>INHERITANCE</b></h4><pre>
       ELEMENT

</pre><h4><b>ATTRIBUTES</b></h4><pre>
       •   TEXT

           This  is  the text to write to the cell. This can either be text or a parameter with a dollar-sign in
           front of the parameter name.

       •   COL

           Optionally, you can specify which column you want this cell to be in.  It  can  be  either  a  number
           (zero-based) or an offset. See Excel::Template for more info on offset-based numbering.

       •   REF

           Adds  the  current  cell  to the a list of cells that can be backreferenced.  This is useful when the
           current cell needs to be referenced by a formula. See BACKREF and RANGE.

       •   WIDTH

           Sets the width of the column the cell is in. The last setting for a given column will win out.

       •   TYPE

           This allows you to specify what write_*() method will be used. The default is to call <b>write()</b> and let
           Spreadsheet::WriteExcel make the right call. However, you may wish to  override  it.  Excel::Template
           will not do any form of validation on what you provide. You are assumed to know what you're doing.

           The legal types (taken from Spreadsheet::WriteExcel) are:

       •   COMMENT

           Add a comment to the cell

           •   blank

           •   formula

           •   number

           •   string

           •   url

           •   date_time

           other write_* methods as defined defined Spreadsheet::WriteExcel would be integrated by request

</pre><h4><b>CHILDREN</b></h4><pre>
       FORMULA

</pre><h4><b>EFFECTS</b></h4><pre>
       This will consume one column in the current row.

</pre><h4><b>DEPENDENCIES</b></h4><pre>
       None

</pre><h4><b>USAGE</b></h4><pre>
         &lt;cell text="Some Text Here"/&gt;
         &lt;cell&gt;Some other text here&lt;/cell&gt;

         &lt;cell text="$Param2"/&gt;
         &lt;cell&gt;Some &lt;var name="Param"&gt; text here&lt;/cell&gt;

       In the above example, four cells are written out. The first two have text hard-coded. The second two have
       variables. The third and fourth items have another thing that should be noted. If you have text where you
       want  a  variable  in  the  middle,  you have to use the latter form. Variables within parameters are the
       entire parameter's value.

       Please see Spreadsheet::WriteExcel for what constitutes a legal formula.

</pre><h4><b>AUTHOR</b></h4><pre>
       Rob Kinyon (<a href="mailto:rob.kinyon@gmail.com">rob.kinyon@gmail.com</a>)

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       ROW, VAR, FORMULA

perl v5.34.0                                       2022-06-13                <u>Excel::Template::Element::<a href="../man3pm/Cell.3pm.html">Cell</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>