<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excel::Template::Element::Image - Excel::Template::Element::Image</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libexcel-template-perl">libexcel-template-perl_0.34-3_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Excel::Template::Element::Image - Excel::Template::Element::Image

</pre><h4><b>PURPOSE</b></h4><pre>
       To insert an image into the worksheet

</pre><h4><b>NODE</b> <b>NAME</b></h4><pre>
       IMAGE

</pre><h4><b>INHERITANCE</b></h4><pre>
       ELEMENT

</pre><h4><b>EFFECTS</b></h4><pre>
       This will consume one column in the current row.

</pre><h4><b>DEPENDENCIES</b></h4><pre>
       None

</pre><h4><b>USAGE</b></h4><pre>
         &lt;image path="/Some/Full/Path" /&gt;
         &lt;image path="/Some/Full/Path" offset="2,5" /&gt;
         &lt;image path="/Some/Full/Path" scale="2,0.4" /&gt;
         &lt;image path="/Some/Full/Path" offset="4,0" scale="0,2" /&gt;

       Please see "" in Spreadsheet::WriteExcel for more information about the offset and scaling options as
       well as any other restrictions that might be in place. This node does <b>NOT</b> perform any sort of validation
       upon your parameters. You are assumed to know what you are doing.

       Note that the offset and scaling values are "X,Y". You <u>must</u> provide both values, even if the Y value is
       0. If you provide a 0 value for either scaling option, "" in Spreadsheet::WriteExcel will default that to
       1.

</pre><h4><b>AUTHOR</b></h4><pre>
       Rob Kinyon (<a href="mailto:rob.kinyon@gmail.com">rob.kinyon@gmail.com</a>)

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       Nothing

perl v5.34.0                                       2022-06-13               <u>Excel::Template::Element::<a href="../man3pm/Image.3pm.html">Image</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>