<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excel::Template::Element::Formula - Excel::Template::Element::Formula</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libexcel-template-perl">libexcel-template-perl_0.34-3_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Excel::Template::Element::Formula - Excel::Template::Element::Formula

</pre><h4><b>PURPOSE</b></h4><pre>
       To write formulas to the worksheet

</pre><h4><b>NODE</b> <b>NAME</b></h4><pre>
       FORMULA

</pre><h4><b>INHERITANCE</b></h4><pre>
       Excel::Template::Element::Cell

</pre><h4><b>ATTRIBUTES</b></h4><pre>
       All attributes a CELL can have, a FORMULA can have, including the ability to be referenced using the
       'ref' attribute.

</pre><h4><b>CHILDREN</b></h4><pre>
       None

</pre><h4><b>EFFECTS</b></h4><pre>
       This will consume one column on the current row.

</pre><h4><b>DEPENDENCIES</b></h4><pre>
       None

</pre><h4><b>USAGE</b></h4><pre>
         &lt;formula text="=(1 + 2)"/&gt;
         &lt;formula&gt;=SUM(A1:A5)&lt;/formula&gt;

         &lt;formula text="$Param2"/&gt;
         &lt;formula&gt;=(A1 + &lt;var name="Param"&gt;)&lt;/formula&gt;

       In the above example, four formulas are written out. The first two have the formula hard-coded. The
       second two have variables. The third and fourth items have another thing that should be noted. If you
       have a formula where you want a variable in the middle, you have to use the latter form. Variables within
       parameters are the entire parameter's value.

</pre><h4><b>AUTHOR</b></h4><pre>
       Rob Kinyon (<a href="mailto:rob.kinyon@gmail.com">rob.kinyon@gmail.com</a>)

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       CELL

perl v5.34.0                                       2022-06-13             <u>Excel::Template::Element::<a href="../man3pm/Formula.3pm.html">Formula</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>