<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excel::Template::Plus::TT - Extension of Excel::Template to use TT</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libexcel-template-plus-perl">libexcel-template-plus-perl_0.06-2_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Excel::Template::Plus::TT - Extension of Excel::Template to use TT

</pre><h4><b>SYNOPSIS</b></h4><pre>
         use Excel::Template::Plus::TT;

         # this is most commonly used through
         # the Excel::Template::Plus factory

         my $template = Excel::Template::Plus::TT-&gt;new(
             template =&gt; 'greeting.tmpl',
             config   =&gt; { INCLUDE  =&gt; [ '/templates' ] },
             params   =&gt; { greeting =&gt; 'Hello' }
         );

         $template-&gt;param(location =&gt; 'World');

         $template-&gt;write_file('greeting.xls');

</pre><h4><b>DESCRIPTION</b></h4><pre>
       This is an engine for Excel::Template::Plus which replaces the standard Excel::Template template features
       with TT. See the Excel::Template::Plus docs for more information.

</pre><h4><b>METHODS</b></h4><pre>
   <b>Accessors</b>
       <b>config</b>
       <b>template</b>
       <b>template_class</b>
       <b>params</b>

   <b>Excel::Template</b> <b>compat</b> <b>methods</b>
       <b>params</b> <b>($name</b> <b>|</b> <b>$name</b> <b>=</b> $value)&gt;
           This  provides  access  to  getting  and setting the parameters, it behaves exactly like the standard
           CGI.pm-style param method.

       <b>output</b>
           Returns the generated excel file.

       <b>write_file</b> <b>($filename)</b>
           Writes the generated excel file to $filename.

   <b>Housekeeping</b>
       <b>DEMOLISH</b>
           This will cleanup any temp files generated in the process.

       <b>meta</b>
           Returns the metaclass.

</pre><h4><b>BUGS</b></h4><pre>
       All complex software has bugs lurking in it, and this module is no exception. If you find  a  bug  please
       either email me, or add the bug to cpan-RT.

</pre><h4><b>ACKNOWLEDGEMENTS</b></h4><pre>
       This module was inspired by Excel::Template::TT.

</pre><h4><b>AUTHOR</b></h4><pre>
       Stevan Little &lt;<a href="mailto:stevan@cpan.org">stevan@cpan.org</a>&gt;

</pre><h4><b>COPYRIGHT</b> <b>AND</b> <b>LICENSE</b></h4><pre>
       Copyright 2007-2014 by Infinity Interactive, Inc.

       &lt;<a href="http://www.iinteractive.com">http://www.iinteractive.com</a>&gt;

       This  library  is  free  software;  you can redistribute it and/or modify it under the same terms as Perl
       itself.

perl v5.34.0                                       2022-06-13                     <u>Excel::Template::Plus::<a href="../man3pm/TT.3pm.html">TT</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>