<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excel::Template::Iterator - Excel::Template::Iterator</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libexcel-template-perl">libexcel-template-perl_0.34-3_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Excel::Template::Iterator - Excel::Template::Iterator

</pre><h4><b>PURPOSE</b></h4><pre>
       This is meant for internal use only. Documentation is provided for subclassing.

</pre><h4><b>NODE</b> <b>NAME</b></h4><pre>
       None

</pre><h4><b>INHERITANCE</b></h4><pre>
       None

</pre><h4><b>ATTRIBUTES</b></h4><pre>
       None

</pre><h4><b>CHILDREN</b></h4><pre>
       None

</pre><h4><b>AFFECTS</b></h4><pre>
       This is a helper class for LOOP

</pre><h4><b>DEPENDENCIES</b></h4><pre>
       None

</pre><h4><b>METHODS</b></h4><pre>
   <b>can_continue</b>
       Determines if the iterator can continue.

       Currently, this wraps <b>more_params()</b>, but there other possible situations, such as the page ending.

   <b>more_params</b>
       Determines if the iterator for the loop has more parameters that it can consume

   <b>next</b>
       Go to the next iteration of the loop

</pre><h4><b>AUTHOR</b></h4><pre>
       Rob Kinyon (<a href="mailto:rob.kinyon@gmail.com">rob.kinyon@gmail.com</a>)

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       LOOP

perl v5.34.0                                       2022-06-13                     <u>Excel::Template::<a href="../man3pm/Iterator.3pm.html">Iterator</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>