<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excel::Template::Plus - An extension to the Excel::Template module</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libexcel-template-plus-perl">libexcel-template-plus-perl_0.06-2_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Excel::Template::Plus - An extension to the Excel::Template module

</pre><h4><b>SYNOPSIS</b></h4><pre>
         use Excel::Template::Plus;

         my $template = Excel::Template::Plus-&gt;new(
             engine   =&gt; 'TT',
             template =&gt; 'greeting.tmpl',
             config   =&gt; { INCLUDE  =&gt; [ '/templates' ] },
             params   =&gt; { greeting =&gt; 'Hello' }
         );

         $template-&gt;param(location =&gt; 'World');

         $template-&gt;write_file('greeting.xls');

</pre><h4><b>DISCLAIMER</b></h4><pre>
       This is the very first release of this module, it is an idea that I and Rob Kinyon (the author of
       Excel::Template) had discussed many times, but never got around to doing. This is the first attempt at
       bring this to reality, it may change <b>radically</b> as it evolves, so be warned.

</pre><h4><b>DESCRIPTION</b></h4><pre>
       This module is an extension of the Excel::Template module, which allows the user to use various "engines"
       from which you can create Excel files through Excel::Template.

       The idea is to use the existing (and very solid) excel file generation code in Excel::Template, but to
       extend its more templatey bits with more powerful options.

       The only engine currently provided is the Template Toolkit engine, which replaces Excel::Template's built
       in template features (the LOOP, and IF constructs) with the full power of TT. This is similar to the
       module Excel::Template::TT, but expands on that even further to try and create a more extensive system.

       You can use this module to create Excel::Template-compatible XML files using one of the supported
       engines. For example, with the TT engine you could create a Excel::Template XML file like:

         &lt;workbook&gt;
           &lt;worksheet name="[% worksheet_name %]"&gt;
            [% my_cols = get_list_of_columns %]
             &lt;row&gt;
            [% FOR col = my_cols %]
              &lt;bold&gt;&lt;cell&gt;[% col %]&lt;/cell&gt;&lt;/bold&gt;
            [% END %]
             &lt;/row&gt;
            [% FOR my_row = get_list_of_objects %]
             &lt;row&gt;
                [% FOR col = my_cols %]
                 &lt;cell&gt;[% my_row.$col %]&lt;/cell&gt;
                [% END %]
             &lt;/row&gt;
            [% END %]
           &lt;/worksheet&gt;
         &lt;/workbook&gt;

       Your TT template thus creates a XML file suitable to handing over to Excel::Template for processing.
       Excel::Template::Plus simplifies the template-creation and handing-over process.

       Future engine/plans include:

       Pure Perl
           This would allow you to write you Excel::Template files using Perl itself which would then output the
           XML   for   Excel::Template   to   consume.  This  would  be  modeled  after  the  recently  released
           Template::Declare module perhaps.

       TT Plugins/Macros/Wrappers
           This is basically anything which will make the TT engine  easier  to  write  templates  for.  I  have
           experimented  with  some of these things, but I was not happy with any of them enough to release them
           yet.

       HTML::Template
           Excel::Template's templating features are based on HTML::Template, but the HTML::Template plugins and
           other goodies are not compatible. This engine would bring those things to Excel::Template.

</pre><h4><b>METHODS</b></h4><pre>
       <b>new</b> <b>(%options)</b>
           This  method  basically  serves  as  a  factory  for  creating  new  engine  instances   (for   which
           Excel::Template::Plus::TT  is the only one currently). The only parameter that it requires is <u>engine</u>,
           all other parameters are passed onto the engine's constructor  (see  the  individual  docs  for  more
           details on what is required).

       <b>meta</b>
           Access to the metaclass.

</pre><h4><b>BUGS</b></h4><pre>
       All  complex  software  has bugs lurking in it, and this module is no exception. If you find a bug please
       either email me, or add the bug to cpan-RT.

</pre><h4><b>ACKNOWLEDGEMENTS</b></h4><pre>
       This module came out of several discussions I had with Rob Kinyon.

</pre><h4><b>AUTHOR</b></h4><pre>
       Stevan Little &lt;<a href="mailto:stevan@cpan.org">stevan@cpan.org</a>&gt;

</pre><h4><b>COPYRIGHT</b> <b>AND</b> <b>LICENSE</b></h4><pre>
       Copyright 2007-2014 by Infinity Interactive, Inc.

       &lt;<a href="http://www.iinteractive.com">http://www.iinteractive.com</a>&gt;

       This library is free software; you can redistribute it and/or modify it under  the  same  terms  as  Perl
       itself.

perl v5.34.0                                       2022-06-13                         <u>Excel::Template::<a href="../man3pm/Plus.3pm.html">Plus</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>