<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filter::Template::UseBytes - conditionally use bytes.pm depending on availability</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libfilter-template-perl">libfilter-template-perl_1.043-3_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Filter::Template::UseBytes - conditionally use bytes.pm depending on availability

</pre><h4><b>VERSION</b></h4><pre>
       version 1.043

</pre><h4><b>SYNOPSIS</b></h4><pre>
               use Filter::Template ( isa =&gt; "Filter::Template::UseBytes" );

               print "Phi length in characters: ", length(<a href="../man0x618/chr.0x618.html">chr</a>(0x618)), "\n";
               {% use_bytes %}
               print "Phi length in bytes: ", length(<a href="../man0x618/chr.0x618.html">chr</a>(0x618)), "\n";

</pre><h4><b>DESCRIPTION</b></h4><pre>
       The UseBytes template evaluates to "use bytes;" if Perl 5.005_55 or later is running.  Otherwise it
       evaluates to an empty string, which does nothing but doesn't throw an exception either.

</pre><h4><b>BUGS</b></h4><pre>
       All the caveats of Filter::Template apply here.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       Filter::Template.

</pre><h4><b>AUTHOR</b> <b>&amp;</b> <b>COPYRIGHT</b></h4><pre>
       Filter::Template::UseBytes is Copyright 2000-2013 Rocco Caputo.  All rights reserved.
       Filter::Template::UseBytes is free software; you may redistribute it and/or modify it under the same
       terms as Perl itself.

       Filter::Template::UseBytes was previously known as POE::Macro::UseBytes.

perl v5.36.0                                       2022-10-22                    <u>Filter::Template::<a href="../man3pm/UseBytes.3pm.html">UseBytes</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>