<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML::Template::Compiled::Lazy - Lazy Loading for HTML::Template::Compiled</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libhtml-template-compiled-perl">libhtml-template-compiled-perl_1.003-3_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       HTML::Template::Compiled::Lazy - Lazy Loading for HTML::Template::Compiled

</pre><h4><b>SYNOPSIS</b></h4><pre>
           use HTML::Template::Compiled::Lazy;
           my $htcl = HTML::Template::Compiled::Lazy-&gt;new(
               # usual parameters for HTML::Template::Compiled
           );
           $htcl-&gt;param(...);
           # file wasn't compiled yet
           print $htcl-&gt;output; # now compile and output!

</pre><h4><b>DESCRIPTION</b></h4><pre>
       This class does not compile templates before calling "output()".  This includes "TMPL_INCLUDE"s. This can
       be useful in CGI environments.  If your template has got a lot of includes HTML::Template::Compiled will
       compile all of them, even if they aren't needed because they are never reached (in a "TMPL_IF", for
       example).

       HTML::Template::Compiled::Lazy also won't complain if the file does not exist - it will complain when you
       call "output()", though.

perl v5.36.0                                       2022-11-19                <u>HTML::Template::Compiled::<a href="../man3pm/Lazy.3pm.html">Lazy</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>