<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML::Template::Plugin::Dot::Helpers - Add useful objects to your templates</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libhtml-template-pluggable-perl">libhtml-template-pluggable-perl_0.22+~cs0.7-1_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       HTML::Template::Plugin::Dot::Helpers - Add useful objects to your templates

</pre><h4><b>SYNOPSIS</b></h4><pre>
         use HTML::Template::Plugin::Dot::Helpers;

       Then in your template, you can do:

         &lt;tmpl_var Number.format_currency(orderitem.price)&gt;

</pre><h4><b>DESCRIPTION</b></h4><pre>
       This helper class adds some useful objects to your Dot-enabled templates (see
       HTML::Template::Plugin::Dot).

   <b>Added</b> <b>objects</b>
       Number
           An  extended  Number::Format object. See Number::Format for documentation.  Note that only the object
           oriented methods are supported here.

           I've added several generic numerical methods. Most (well, all in this release) are  boolean  methods,
           useful in "&lt;tmpl_if&gt;s". They are:

           equals - test whether two numbers are equal (==)
           le, lt, ge, gt - test how two numbers compare
                   (implemented with &lt;=, &lt;, &gt;=, &gt; respectively)

           The following is not yet implemented.

       String
           Adds generic string testing functions similar to the above:

           equals - test whether two strings are equal (eq)
           le, lt, ge, gt - test how two strings compare lexically

</pre><h4><b>AUTHOR</b></h4><pre>
       Rhesa Rozendaal, "&lt;<a href="mailto:rhesa@cpan.org">rhesa@cpan.org</a>&gt;"

</pre><h4><b>BUGS</b></h4><pre>
       Please  report  any  bugs  or  feature requests to "<a href="mailto:bug-html-template-plugin-dot-helpers@rt.cpan.org">bug-html-template-plugin-dot-helpers@rt.cpan.org</a>", or
       through                    the                    web                    interface                     at
       &lt;<a href="http://rt.cpan.org/NoAuth/ReportBug.html">http://rt.cpan.org/NoAuth/ReportBug.html</a>?Queue=HTML-Template-Plugin-Dot-Helpers&gt;.   I  will be notified,
       and then you'll automatically be notified of progress on your bug as I make changes.

</pre><h4><b>ACKNOWLEDGEMENTS</b></h4><pre>
</pre><h4><b>COPYRIGHT</b> <b>&amp;</b> <b>LICENSE</b></h4><pre>
       Copyright 2005 Rhesa Rozendaal, all rights reserved.

       This program is free software; you can redistribute it and/or modify it under  the  same  terms  as  Perl
       itself.

perl v5.38.2                                       2024-03-30             <u>HTML::Template:...n::Dot::<a href="../man3pm/Helpers.3pm.html">Helpers</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>