<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML::Template::Compiled::Classic - Provide the classic functionality like HTML::Template</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libhtml-template-compiled-perl">libhtml-template-compiled-perl_1.003-3_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       HTML::Template::Compiled::Classic - Provide the classic functionality like HTML::Template

</pre><h4><b>SYNOPSIS</b></h4><pre>
           use HTML::Template::Compiled::Classic compatible =&gt; 1;
           my $htcc = HTML::Template::Compiled::Classic-&gt;new(
               # usual parameters for HTML::Template::Compiled
           );

</pre><h4><b>DESCRIPTION</b></h4><pre>
       This class provides features which can not be used together with features from HTML::Template::Compiled.
       These are:

       dots in TMPL_VARs
           If you want to use

             &lt;TMPL_VAR NAME="some.var.with.dots"&gt;

           you cannot use the dot-feature

             &lt;TMPL_VAR NAME="some.hash.keys"&gt;

           at the same time.

       Subref variables
           In HTML::Template, the following works:

               my $ht = HTML::Template-&gt;new(
                   scalarref =&gt; \"&lt;TMPL_VAR foo&gt;",
               );
               $ht-&gt;param(foo =&gt; sub { return "bar" });
               print $ht-&gt;output; # prints 'bar'

           This  doesn't  work  in  HTML::Template::Compiled  (in the past it did, but as of HTC version 0.70 it
           won't any more, sorry).

</pre><h4><b>METHODS</b></h4><pre>
       compiler_class
           returns HTML::Template::Compiled::Compiler::Classic

       validate_var
           gets the var name (parsed out of "NAME="foo.bar"" and returns if the string is a valid var name

perl v5.36.0                                       2022-11-19             <u>HTML::Template::Compiled::<a href="../man3pm/Classic.3pm.html">Classic</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>