<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML::FormHandler::Manual::Templates - using templates</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libhtml-formhandler-perl">libhtml-formhandler-perl_0.40068-2_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       HTML::FormHandler::Manual::Templates - using templates

</pre><h4><b>VERSION</b></h4><pre>
       version 0.40068

</pre><h4><b>SYNOPSIS</b></h4><pre>
       Manual Index

       Documentation on templates to use with HTML::FormHandler

</pre><h4><b>Using</b> <b>templates</b></h4><pre>
       There is a FormHandler Template Toolkit rendering role at HTML::FormHandler::Render::WithTT, with a
       testcase in t/render_withtt.t.  Normally, however, it probably won't make much sense to use both a TT
       parser in FormHandler, and a separate one for the "complete" templates, so the TT renderer is mainly
       useful for tests, or as an example of how to do TT rendering with HFH. You should create a template to
       render your form and then pass the template name and a template variable containing your form object to
       your templating or view engine, in whatever way you normally do that. If you want to use the
       'process_attrs' function, you need to set that in your template variables too.

       A common way of using FormHandler with templates is to use the template for layout, specifying the divs
       and spans and wrappers, and then use the form object to render just the input fields.

       In your form:

           has '+widget_wrapper' =&gt; ( default =&gt; 'None' );

       In your Catalyst controller:

           $c-&gt;stash( form =&gt; $form, template =&gt; 'form.tt' );

       ..or do the equivalent for your web framework/view.

       In a form template (form.tt in the previous controller example):

           &lt;form id="myform" action="/myaction" method="post"&gt;
               &lt;div class="span9"&gt;
                   &lt;span class="label"&gt;My Foo&lt;/span&gt;
                   [% form.field('foo').render %]
               &lt;/div&gt;
               &lt;div class="span7"&gt;[% form.field('bar').render %]&lt;/div&gt;
               [% form.field('save').render %]
           &lt;/form&gt;

       However, you can also render entirely with templates.  There are lots of different ways to set up
       templates. There are sample templates installed in FormHandler's 'share' directory. These templates are
       now organized more-or-less similarly to the widget roles, with 'field', 'wrapper', and 'form'
       directories, but many other organizations are possible.

       There is also a template which combines the template rendering code into one file,
       'share/templates/form/form_in_one.tt'. You can copy this template into your own TT directories, perhaps
       as form.tt, and then specify it as the template for your Catalyst actions. You can customize it by adding
       additional widget and widget_wrapper blocks, and then setting those in your field definitions.

       Note that widget names usually are camelcased, like the Moose roles that implement them in the Widget
       directory. You may want to use the non-camelcased widget/wrapper names in your TT templates, using the
       "$field-&gt;uwidget" (un-camelcased widget name) and "$field-&gt;twidget" (un-camelcased widget name + '.tt')
       convenience methods.  ('MySpecialWidget' is the equivalent of 'my_special_widget')

          has_field 'my_field' =&gt; ( widget =&gt; 'MySpecialWidget' );
          has_field 'another_field' =&gt; ( widget =&gt; 'YetAnotherWidget' );

       And include them in a generic template:

          [% PROCESS widget/form_start.tt %]

          [% FOREACH f IN form.sorted_fields %]
             [% PROCESS widget/${f.twidget} %]
          [% END %]

          [% PROCESS widget/form_end.tt %]

</pre><h4><b>Field</b> <b>attributes</b></h4><pre>
       If you want to use the 'process_attrs' function to pull in HTML attributes for the input elements,
       wrappers, and labels, you would need to pass that function into your TT setup. See
       HTML::FormHandler::Render::WithTT for an example:

           use HTML::FormHandler::Render::Util ('process_attrs');
           $c-&gt;stash( process_attrs =&gt; &amp;process_attrs ); # or add to TT vars in your view

           &lt;label [% process_attrs(f.label_attributes) %]for="[% f.html_name %]"&gt;
           [% f.label %]: &lt;/label&gt;
           &lt;input type="[% f.input_type %]" name="[% f.html_name %]" id="[% f.id %]"
           [% process_attrs(f.attributes) %] value="[% f.fif %]"&gt;

</pre><h4><b>Sample</b> <b>templates</b></h4><pre>
       The following is copied from the provided share/templates/form/form_in_one.tt file, as an example. Note
       that some fields, like form actions of 'submit' &amp; 'reset', don't use the 'fif' value, but just the plain
       field value.

           [% PROCESS form_start -%]
           &lt;div class="form_messages"&gt;
           [% FOREACH err IN form.form_errors -%]
             &lt;span class="error_message"&gt;[% err %]&lt;/span&gt;
           [% END -%]
           &lt;/div&gt;
           [% FOREACH f IN form.sorted_fields -%]
             [% WRAPPER "wrapper_${f.uwrapper}" -%][% PROCESS "${f.uwidget}" -%][% END -%]
           [% END -%]
           [% PROCESS form_end -%]

           [% BLOCK form_start -%]
           &lt;form[% process_attrs(form.attributes) %]&gt;
           [% END -%]

           [% BLOCK form_end -%]
           &lt;/form&gt;
           [% END -%]

           [% BLOCK button -%]
           &lt;input type="button" name="[% f.html_name %]" id="[% f.id %]"
               [% process_attrs(f.attributes) %] value="[% f.value %]" /&gt;
           [% END -%]

           [% BLOCK checkbox -%]
           &lt;input type="checkbox" name="[% f.html_name %]" id="[% f.id %]"
              [% process_attrs(f.attributes) %] value="[% f.checkbox_value -%]"
              [% IF f.fif == f.checkbox_value -%] checked="checked"[% END ~%] /&gt;[%~ ~%]
           [% END -%]

           [% BLOCK checkbox_group -%]
           [% FOR option IN f.options -%]
             &lt;label class="checkbox" for="[% f.name %].[% loop.index %]"&gt;
             &lt;input type="checkbox" value="[% option.value %]" name="[% f.name %]"
                id="[% f.name %].[% loop.index %]"
                [% FOREACH selval IN f.fif -%]
                  [% IF selval == option.value %] checked="checked"[% END -%]
                [% END -%]&gt;
             [% option.label | html %]
             &lt;/label&gt;
           [% END -%]
           [% END -%]

           [% BLOCK compound -%]
           [% FOREACH sf IN f.sorted_fields -%]
             [% outerf = f; f = sf; -%]
             [% WRAPPER "wrapper_${f.uwrapper}" %][% PROCESS "${f.uwidget}" -%][% END -%]
             [% f = outerf -%]
           [% END -%]
           [% END -%]

           [% BLOCK hidden -%]
           &lt;input type="hidden" name="[% f.html_name %]" id="[% f.id %]"
               [% process_attrs(f.attributes) %] value="[% f.fif %]" /&gt;
           [% END -%]

           [% BLOCK password -%]
           &lt;input type="password" name="[% f.html_name %]" id="[% f.id %]"
               [% process_attrs(f.attributes) %] value="[% f.fif %]" /&gt;
           [% END -%]

           [% BLOCK radio_group -%]
           [% FOR option IN f.options -%]
             &lt;label for="[% f.id %].[% loop.index %]"&gt;
             &lt;input type="radio" value="[% option.value %]" name="[% f.name %]"
               id="[% f.id %].[% loop.index %]"
               [% IF option.value == f.fif %] checked="checked"[% END %] /&gt;
             [% option.label %]
             &lt;/label&gt;
           [% END -%]
           [% END -%]

           [% BLOCK repeatable -%]
           [% FOREACH rf IN f.sorted_fields -%]
             [% outerrf = f; f = rf; -%]
             [% WRAPPER "wrapper_${f.uwrapper}" %][% PROCESS "${f.uwidget}" -%][% END -%]
             [% f = outerrf -%]
           [% END -%]
           [% END -%]

           [% BLOCK reset -%]
           &lt;input type="reset" name="[% f.html_name %]" id="[% f.id %]"
               [% process_attrs(f.attributes) %] value="[% f.value %]" /&gt;
           [% END -%]

           [% BLOCK select -%]
           &lt;select name="[% f.html_name %]" id="[% f.id %]"[% process_attrs(f.attributes) %]
             [% IF f.multiple %] multiple="multiple" size="[% f.size %]" [% END -%]&gt;
             [% FOR option IN f.options -%]
             &lt;option id="[% f.id %].[% loop.index %]" value="[% option.value -%]"
                 [% FOREACH selval IN f.fif -%]
                   [% IF selval == option.value %] selected="selected"[% END -%]
                 [% END -%]&gt;
                 [% option.label | html %]
             &lt;/option&gt;
             [% END -%]
           &lt;/select&gt;
           [% END -%]

           [% BLOCK submit -%]
           &lt;input type="submit" name="[% f.html_name %]" id="[% f.id %]"
               [% process_attrs(f.attributes) %] value="[% f.value %]" /&gt;
           [% END -%]

           [% BLOCK text -%]
           &lt;input type="[% f.input_type %]" name="[% f.html_name %]" id="[% f.id %]"
              [% process_attrs(f.attributes) %] value="[% f.fif %]" /&gt;
           [% END -%]

           [% BLOCK textarea -%]
           &lt;textarea name="[% f.html_name %]" id="[% f.id %]" rows="[% f.rows %]"
              cols="[% f.cols %]" [% process_attrs(f.attributes) %]&gt;[% f.fif %]&lt;/textarea&gt;
           [% END -%]

           [% BLOCK upload -%]
           &lt;input type="file" name="[% f.html_name %]" id="[% f.html_name %]"
               [% process_attrs(f.attributes) %] /&gt;
           [% END -%]

           [% BLOCK wrapper_simple -%]
           &lt;div[% process_attrs(f.wrapper_attributes) -%]&gt;
             [% IF f.do_label %][% PROCESS label %][% END -%]
             [% content -%]
           &lt;/div&gt;
           [% END -%]

           [% BLOCK label -%]
           &lt;label [% process_attrs(f.label_attributes) %]for="[% f.html_name %]"&gt;[% f.label %]&lt;/label&gt;
           [% END -%]

           [% BLOCK wrapper_wrap_label -%]
           &lt;div[% process_attrs(f.wrapper_attributes) %]&gt;
               &lt;label[% process_attrs(f.label_attributes) %] for="[% f.html_name %]"&gt;
                  [%~ content ~%][%~ f.label %]
               &lt;/label&gt;
           &lt;/div&gt;
           [% END -%]

           [% BLOCK wrapper_none -%]
           [% content %]
           [% END -%]

           [% BLOCK wrapper_fieldset -%]
           &lt;fieldset[% process_attrs(f.wrapper_attributes)%]&gt;&lt;legend&gt;[% f.label %]&lt;/legend&gt;
           [% content -%]
           &lt;/fieldset&gt;
           [% END -%]

</pre><h4><b>AUTHOR</b></h4><pre>
       FormHandler Contributors - see HTML::FormHandler

</pre><h4><b>COPYRIGHT</b> <b>AND</b> <b>LICENSE</b></h4><pre>
       This software is copyright (c) 2017 by Gerda Shank.

       This is free software; you can redistribute it and/or modify it under the same terms as the Perl 5
       programming language system itself.

perl v5.34.0                                       2022-03-25             <u>HTML::FormHandl...nual::<a href="../man3pm/Templates.3pm.html">Templates</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>