<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML::Template::Plugin::Dot - Add Magic Dot notation to HTML::Template</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libhtml-template-pluggable-perl">libhtml-template-pluggable-perl_0.22+~cs0.7-1_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       HTML::Template::Plugin::Dot - Add Magic Dot notation to HTML::Template

</pre><h4><b>SYNOPSIS</b></h4><pre>
         use HTML::Template::Pluggable;
         use HTML::Template::Plugin::Dot;

         my $t = HTML::Template::Pluggable-&gt;new(...);

       Now you can use chained accessor calls and nested hashrefs as params, and access them with a dot
       notation. You can even pass arguments to the methods.

       For example, in your code:

         $t-&gt;param( my_complex_struct =&gt; $struct );

       And then in your template you can reference specific values in the structure:

         my_complex_struct.key.obj.accessor('hash')
         my_complex_struct.other_key

</pre><h4><b>DESCRIPTION</b></h4><pre>
       By adding support for this dot notation to HTML::Template, the programmers' job of sending data to the
       template is easier, and designers have easier access to more data to display in the template, without
       learning any more tag syntax.

   <b>EXAMPLES</b>
   <b>Class::DBI</b> <b>integration</b>
       Class::DBI accessors can be used in the template.  If the accessor is never called in the template, that
       data doesn't have to be loaded.

       In the code:

         $t-&gt;param ( my_row =&gt; $class_dbi_obj );

       In the template:

         my_row.last_name

       This extends to related objects or inflated columns (commonly used for date fields). Here's an example
       with a date column that's inflated into a DateTime object:

         my_row.my_date.mdy('/')
         my_row.my_date.strftime('%D')

       Of course, if date formatting strings look scary to the designer, you can keep them in the application,
       or even a database layer to insure consistency in all presentations. (Note: for the latter example to
       work correctly, you should set the option "case_sensitive" to a true value.)

       Here's an example with related objects. Suppose you have a Customer object, that has_a BillingAddress
       object attached to it. Then you could say something like this:

         &lt;tmpl_if customer.billing_address&gt;
           &lt;tmpl_var customer.billing_address.street&gt;
           &lt;tmpl_var customer.billing_address.city&gt;
           ...
         &lt;/tmpl_if&gt;

   <b>More</b> <b>complex</b> <b>uses</b>
       The dot notation allows you to pass arguments to method calls (as in the "my_date.dmy('/')" example
       above). In fact, you can pass other objects in the template as well, and this enables more complex usage.
       Imagine we had a (fictional) Formatter object which could perform some basic string formatting functions.
       This could be used in e.g. currencies, or dates.

       In your code:

         $t-&gt;param( Formatter =&gt; Formatter-&gt;new,
                    order     =&gt; $order_obj     );

       In your template:

         Amount: &lt;tmpl_var Formatter.format_currency('US',order.total_amount)&gt;

       (hint: see Number::Format)

       This even extends to references to plain tmpl_vars in your template:

         $t-&gt;param( Formatter =&gt; Formatter-&gt;new,
                    plain     =&gt; 'Jane'         );

         &lt;tmpl_var Formatter.reverse(plain)&gt; is
         &lt;tmpl_var plain&gt; backwards

       Note: for "nested" parameters to work correctly, you should supply both params at the same time:

         # for this template snippet,
         &lt;tmpl_var o1.m1(o2.m2)&gt;

         # this works
         $t-&gt;param( o1 =&gt; $o1, o2 =&gt; $o2);

         # but this doesn't
         $t-&gt;param( o1 =&gt; $o1 );
         $t-&gt;param( o2 =&gt; $o2 );
         # and neither would swapping the two lines.

         # if your template has another, separate reference to the inner param,
         &lt;tmpl_var o2.m2&gt;
         &lt;tmpl_var o1.m1(o2.m2)&gt;

         # then it works, provided you specify o2 before o1
         $t-&gt;param( o2 =&gt; $o2 );
         $t-&gt;param( o1 =&gt; $o1 );

   <b>TMPL_LOOPs</b>
       As of version 0.94, the dot notation is also supported on TMPL_LOOP tags (but see the "LIMITATIONS"
       section).

       Given an object method (or a hash key) that returns an array or a reference to an array, we will unwrap
       that array for use in the loop. Individual array elements are mapped to a hash "{ 'this' =&gt; $elt }", so
       that you can refer to them in TMPL_VARs as "this.something".

       An example might help. Let's use the canonical Class::DBI example for our data.  Suppose you have an
       $artist object, which has_many CDs. You can now pass just the $artist object, and handle the loops in the
       template:

         $t-&gt;param( artist =&gt; $artist );

       The template:

         &lt;tmpl_var artist.name&gt; has released these albums:
         &lt;tmpl_loop artist.cds&gt;
           &lt;tmpl_var this.title&gt; - &lt;tmpl_var this.year&gt;
         &lt;/tmpl_loop&gt;

       As you can see, each element from the artist.<b>cds()</b> array is called "this" by default. You can supply your
       own name by appending ': name' like this:

         &lt;tmpl_loop artist.cds:cd&gt;
           &lt;tmpl_var cd.title&gt;
           ...

       That's not the end of it! You can even nest these loops, displaying the Tracks for each CD like so:

         &lt;tmpl_loop artist.cds:cd&gt;
           &lt;tmpl_var cd.title&gt;
           &lt;tmpl_loop cd.tracks:track&gt;
             - &lt;tmpl_var track.title&gt; ( &lt;tmpl_var track.tracktime&gt; )
           &lt;/tmpl_loop&gt;
         &lt;/tmpl_loop&gt;

   <b>LIMITATIONS</b>
       •   Casing of parameter names

           Casing  of  parameter  names follows the option "case_sensitive" of HTML::Template. If you do not use
           that option, all parameter names are converted to lower case. I suggest turning  this  option  on  to
           avoid confusion.

       •   Quotes and spaces

           Because  of  the  way  HTML::Template  parses  parameter  names  (which  follows  the  rules  of HTML
           attributes), you have to be careful when your expressions contain spaces or quote characters. You can
           say "&lt;tmpl_var something.without.spaces&gt;", but not "&lt;tmpl_var something with spaces&gt;".  You  can  use
           single  or double quotes around your entire expression, and then use the other one inside: "&lt;tmpl_var
           name="some.method('with arguments')"&gt;" This is the recommended way to write your expressions.

           (Note: within expressions, the characters in "[`'"]" are recognised as quote characters.  So  if  you
           need   to   pass   literal   quotes   to   a   method,   you   could  do  it  like  this:  "&lt;tmpl_var
           name='some.method(`need a " here`)'&gt;". )

   <b>PERFORMANCE</b>
       No attempt to even measure performance has been made. For now the focus is on usability and stability. If
       you carry out benchmarks, or have suggestions for performance improvements, be sure to let us know!

</pre><h4><b>CONTRIBUTING</b></h4><pre>
       Patches, questions and feedback are welcome. This project is  managed  using  the  darcs  source  control
       system      (      <a href="http://www.darcs.net/">http://www.darcs.net/</a>      ).      A     public     darcs     archive     is     here:
       <a href="http://cgiapp.erlbaum.net/darcs_hive/ht-pluggable/">http://cgiapp.erlbaum.net/darcs_hive/ht-pluggable/</a>

</pre><h4><b>AUTHORS</b></h4><pre>
       Mark Stosberg, &lt;<a href="mailto:mark@summersault.com">mark@summersault.com</a>&gt;; Rhesa Rozendaal, &lt;<a href="mailto:rhesa@cpan.org">rhesa@cpan.org</a>&gt;

</pre><h4><b>Copyright</b> <b>&amp;</b> <b>License</b></h4><pre>
        Parts copyright 2006 Mark Stosberg
        Parts copyright 2006 Rhesa Rozendaal

       This program is free software; you can redistribute it and/or modify it under  the  same  terms  as  perl
       itself.

perl v5.38.2                                       2024-03-30                   <u>HTML::Template::Plugin::<a href="../man3pm/Dot.3pm.html">Dot</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>