<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML::Template::Expr - HTML::Template extension adding expression support</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libhtml-template-expr-perl">libhtml-template-expr-perl_0.07-3.1_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       HTML::Template::Expr - HTML::Template extension adding expression support

</pre><h4><b>SYNOPSIS</b></h4><pre>
         use HTML::Template::Expr;

         my $template = HTML::Template::Expr-&gt;new(filename =&gt; 'foo.tmpl');
         $template-&gt;param(banana_count =&gt; 10);
         print $template-&gt;output();

</pre><h4><b>DESCRIPTION</b></h4><pre>
       This module provides an extension to HTML::Template which allows expressions in the template syntax.
       This is purely an addition - all the normal HTML::Template options, syntax and behaviors will still work.
       See HTML::Template for details.

       Expression support includes comparisons, math operations, string operations and a mechanism to allow you
       add your own functions at runtime.  The basic syntax is:

          &lt;TMPL_IF EXPR="banana_count &gt; 10"&gt;
            I've got a lot of bananas.
          &lt;/TMPL_IF&gt;

       This will output "I've got a lot of bananas" if you call:

          $template-&gt;param(banana_count =&gt; 100);

       In your script.  &lt;TMPL_VAR&gt;s also work with expressions:

          I'd like to have &lt;TMPL_VAR EXPR="banana_count * 2"&gt; bananas.

       This will output "I'd like to have 200 bananas." with the same <b>param()</b> call as above.

</pre><h4><b>MOTIVATION</b></h4><pre>
       Some of you may wonder if I've been replaced by a pod person.  Just for the record, I still think this
       sort of thing should be avoided.  However, I realize that there are some situations where allowing the
       template author some programmatic leeway can be invaluable.

       If you don't like it, don't use this module.  Keep using plain ol' HTML::Template - I know I will!
       However, if you find yourself needing a little programming in your template, for whatever reason, then
       this module may just save you from HTML::Mason.

</pre><h4><b>BASIC</b> <b>SYNTAX</b></h4><pre>
       Variables are unquoted alphanumeric strings with the same restrictions as variable names in
       HTML::Template.  Their values are set through <b>param()</b>, just like normal HTML::Template variables.  For
       example, these two lines are equivalent:

          &lt;TMPL_VAR EXPR="foo"&gt;

          &lt;TMPL_VAR NAME="foo"&gt;

       Numbers are unquoted strings of numbers and may have a single "." to indicate a floating point number.
       For example:

          &lt;TMPL_VAR EXPR="10 + 20.5"&gt;

       String constants must be enclosed in quotes, single or double.  For example:

          &lt;TMPL_VAR EXPR="sprintf('%d', foo)"&gt;

       You can string together operators to produce complex booleans:

         &lt;TMPL_IF EXPR="(foo || bar || baz || (bif &amp;&amp; bing) || (bananas &gt; 10))"&gt;
             I'm in a complex situation.
         &lt;/TMPL_IF&gt;

       The parser is pretty simple, so you may need to use parenthesis to get the desired precedence.

</pre><h4><b>COMPARISON</b></h4><pre>
       Here's a list of supported comparison operators:

       •   Numeric Comparisons

           •   &lt;

           •   &gt;

           •   ==

           •   !=

           •   &gt;=

           •   &lt;=

           •   &lt;=&gt;

       •   String Comparisons

           •   gt

           •   lt

           •   eq

           •   ne

           •   ge

           •   le

           •   cmp

</pre><h4><b>MATHEMATICS</b></h4><pre>
       The basic operators are supported:

       •   +

       •   -

       •   *

       •   /

       •   %

       There are also some mathy functions.  See the FUNCTIONS section below.

</pre><h4><b>LOGIC</b></h4><pre>
       Boolean logic is available:

       •   &amp;&amp; (synonym: and)

       •   || (synonym: or)

</pre><h4><b>FUNCTIONS</b></h4><pre>
       The following functions are available to be used in expressions.  See perldoc perlfunc for details.

       •   sprintf

       •   substr (2 and 3 arg versions only)

       •   lc

       •   lcfirst

       •   uc

       •   ucfirst

       •   length

       •   defined

       •   abs

       •   atan2

       •   cos

       •   exp

       •   hex

       •   int

       •   log

       •   oct

       •   rand

       •   sin

       •   sqrt

       •   srand

       All functions must be called using full parenthesis.  For example, this is a syntax error:

          &lt;TMPL_IF expr="defined foo"&gt;

       But this is good:

          &lt;TMPL_IF expr="defined(foo)"&gt;

</pre><h4><b>DEFINING</b> <b>NEW</b> <b>FUNCTIONS</b></h4><pre>
       To define a new function, pass a "functions" option to new:

         $t = HTML::Template::Expr-&gt;new(filename =&gt; 'foo.tmpl',
                                        functions =&gt;
                                          { func_name =&gt; \&amp;func_handler });

       Or, you can use "register_function" class method to register the function globally:

         HTML::Template::Expr-&gt;register_function(func_name =&gt; \&amp;func_handler);

       You  provide  a subroutine reference that will be called during output.  It will receive as arguments the
       parameters specified in the template.  For example, here's a function that checks if a directory exists:

         sub directory_exists {
           my $dir_name = shift;
           return 1 if -d $dir_name;
           return 0;
         }

       If you call HTML::Template::Expr-&gt;<b>new()</b> with a "functions" arg:

         $t = HTML::Template::Expr-&gt;new(filename =&gt; 'foo.tmpl',
                                        functions =&gt; {
                                           directory_exists =&gt; \&amp;directory_exists
                                        });

       Then you can use it in your template:

         &lt;tmpl_if expr="directory_exists('/home/sam')"&gt;

       This can be abused in ways that make my teeth hurt.

</pre><h4><b>MOD_PERL</b> <b>TIP</b></h4><pre>
       "register_function" class method can be called in mod_perl's startup.pl  to  define  widely  used  common
       functions to HTML::Template::Expr. Add something like this to your startup.pl:

         use HTML::Template::Expr;

         HTML::Template::Expr-&gt;register_function(foozicate =&gt; sub { ... });
         HTML::Template::Expr-&gt;register_function(barify    =&gt; sub { ... });
         HTML::Template::Expr-&gt;register_function(baznate   =&gt; sub { ... });

       You might also want to pre-compile some commonly used templates and cache them.  See HTML::Template's FAQ
       for instructions.

</pre><h4><b>CAVEATS</b></h4><pre>
       Currently the module forces the HTML::Template global_vars option to be set.  This will hopefully go away
       in a future version, so if you need global_vars in your templates then you should set it explicitly.

       The  module  won't work with HTML::Template's file_cache or shared_cache modes, but normal memory caching
       should work.  I hope to address this is a future version.

       The module is inefficient, both in parsing and evaluation.  I'll be working on this for  future  versions
       and patches are always welcome.

</pre><h4><b>BUGS</b></h4><pre>
       I  am  aware  of no bugs - if you find one, join the mailing list and tell us about it.  You can join the
       HTML::Template mailing-list by visiting:

         <a href="http://lists.sourceforge.net/lists/listinfo/html-template-users">http://lists.sourceforge.net/lists/listinfo/html-template-users</a>

       Of course, you can still email me directly (<a href="mailto:sam@tregar.com">sam@tregar.com</a>) with bugs, but I reserve the right to forward
       bug reports to the mailing list.

       When submitting bug reports, be sure to include full details, including the VERSION of the module, a test
       script and a test template demonstrating the problem!

</pre><h4><b>CREDITS</b></h4><pre>
       The following people have generously submitted bug reports, patches and ideas:

          Peter Leonard
          Tatsuhiko Miyagawa
          Don Brodale

       Thanks!

</pre><h4><b>AUTHOR</b></h4><pre>
       Sam Tregar &lt;<a href="mailto:sam@tregar.com">sam@tregar.com</a>&gt;

</pre><h4><b>LICENSE</b></h4><pre>
       HTML::Template::Expr : HTML::Template extension adding expression support

       Copyright (C) 2001 Sam Tregar (<a href="mailto:sam@tregar.com">sam@tregar.com</a>)

       This module is free software; you can redistribute it and/or modify it under the terms of either:

       a) the GNU General Public License as published by the Free Software Foundation; either version 1, or  (at
       your option) any later version, or

       b) the "Artistic License" which comes with this module.

       This  program  is  distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even
       the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See either the GNU  General
       Public License or the Artistic License for more details.

       You  should have received a copy of the Artistic License with this module, in the file ARTISTIC.  If not,
       I'll be glad to provide one.

       You should have received a copy of the GNU General Public License along with this program; if not,  write
       to the Free Software Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA

perl v5.32.0                                       2021-01-05                                          <u><a href="../man3pm/Expr.3pm.html">Expr</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>