<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML::Template::Compiled::Utils - Utility functions for HTML::Template::Compiled</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libhtml-template-compiled-perl">libhtml-template-compiled-perl_1.003-3_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       HTML::Template::Compiled::Utils - Utility functions for HTML::Template::Compiled

</pre><h4><b>SYNOPSIS</b></h4><pre>
        # import log() and stack()
        use HTML::Template::Compiled::Utils qw(:log);

        # import the escapign functions
        use HTML::Template::Compiled::Utils qw(:escape);

</pre><h4><b>DEBUGGING</b> <b>FUNCTIONS</b></h4><pre>
   <b>stack</b>
           $self-&gt;stack;

       For HTML::Template:Compiled developers, prints a stack trace to STDERR.

   <b>md5</b>
        md5($text)

       If Digest::MD5 is installed, returns the md5_base64 for $text, otherwise returns the empty string.

   <b>log</b>
        $self-&gt;log(@msg)

       For HTML::Template::Compiled developers, print log from @msg to STDERR.

</pre><h4><b>ESCAPING</b> <b>FUNCTIONS</b></h4><pre>
   <b>escape_html</b>
         my $escaped_html = escape_html($raw_html);

       HTML-escapes the input string (only &amp;, ", single quotes, "&lt;" and ""&gt; and returns it;

   <b>escape_html_all</b>
         my $escaped_html = escape_html_all($raw_html);

       HTML-escapes the input string (with HTML::Entities) and returns it;

   <b>escape_uri</b>
         my $escaped_uri = escape_uri($raw_uri);

       URI-escapes the input string and returns it;

   <b>escape_js</b>
         my $escaped_js = escape_js($raw_js);

       JavaScript-escapes the input string and returns it;

   <b>escape_ijson</b>
         my $escaped_js = escape_ijson($raw_js);

       JavaScript-escapes the input string except for the apostrophe and returns it, so it can be used within a
       JSON element.

perl v5.36.0                                       2022-11-19               <u>HTML::Template::Compiled::<a href="../man3pm/Utils.3pm.html">Utils</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>