<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML::Template::Pluggable - Extends HTML::Template with plugin support</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libhtml-template-pluggable-perl">libhtml-template-pluggable-perl_0.22+~cs0.7-1_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       HTML::Template::Pluggable - Extends HTML::Template with plugin support

</pre><h4><b>SYNOPSIS</b></h4><pre>
       Just use this module instead of HTML::Template, then use any plugins, and go on with life.

        use HTML::Template::Pluggable;
        use HTML::Template::Plugin::Dot;

        # Everything works the same, except for functionality that plugins add.
        my $t = HTML::Template::Pluggable-&gt;new();

</pre><h4><b>THE</b> <b>GOAL</b></h4><pre>
       Ideally we'd like to see this functionality merged into HTML::Template, and turn this into a null sub-
       class.

</pre><h4><b>STATUS</b></h4><pre>
       The design of the plugin system is still in progress. Right now we have just two triggers, in param and
       output. The name and function of this may change, and we would like to add triggers in <b>new()</b> and other
       methods when the need arises.

       All we promise for now is to keep HTML::Template::Plugin::Dot compatible.  Please get in touch if you
       have suggestions with feedback on designing the plugin system if you would like to contribute.

</pre><h4><b>WRITING</b> <b>PLUGINS</b></h4><pre>
       HTML::Template offers a plugin system which allows developers to extend the functionality in significant
       ways without creating a creating a sub-class, which might be impossible to use in combination with
       another sub-class extension.

       Currently, two triggers have been made available to alter how the values of TMPL_VARs are set. If more
       hooks are needed to implement your own plugin idea, it may be feasible to add them-- check the FAQ then
       ask about it on the list.

       Class::Trigger is used to provide plugins. Basically, you can just:

           HTML::Template-&gt;add_trigger('middle_param', \&amp;trigger);

       A good place to add one is in your plugin's "import" subroutine:

           package HTML::Template::Plugin::MyPlugin;
           use base 'Exporter';
           sub import {
               HTML::Template-&gt;add_trigger('middle_param', \&amp;dot_notation);
               goto &amp;Exporter::import;
           }

   <b>TRIGGER</b> <b>LOCATIONS</b>
       param
           We have added one trigger location to this method, named "middle_param".

              # in a Plugin's import() routine.
              HTML::Template-&gt;add_trigger('middle_param',   \&amp;_set_tmpl_var_with_dot  );

           This  sets  a callback which is executed in <b>param()</b> with all of the same arguments. It is only useful
           for altering how /setting/ params works.  The logic to read a param is unaffected.

           It  can  set  any  TMPL_VAR  values  before  the  normal  param  logic  kicks   in.   To   do   this,
           "$self-&gt;{param_map}"  is  modified as can be seen from source in <b>HTML::Template::param()</b>. However, it
           must obey the following convention of setting  $self-&gt;{param_map_done}{$param_name}  for  each  param
           that  is set.  $param_name would be a key from "$self-&gt;{param_map}".  This notifies the other plugins
           and the core <b>param()</b> routine to skip trying to set this value.  $self-&gt;{param_map_done} is reset with
           each call to <b>param()</b>, so that like with a hash, you have the option to reset a param later  with  the
           same name.

       output
           One trigger location here: "before_output".

              HTML::Template-&gt;add_trigger('before_output',   \&amp;_last_chance_params  );

           This sets a callback which is executed right before output is generated.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       o   HTML::Template::Plugin::Dot - Add Template Toolkit's magic dot notation to HTML::Template.

</pre><h4><b>AUTHOR</b></h4><pre>
       Mark Stosberg, "&lt;<a href="mailto:mark@summersault.com">mark@summersault.com</a>&gt;"

</pre><h4><b>BUGS</b></h4><pre>
       Please  report  any bugs or feature requests to "<a href="mailto:bug-html-template-pluggable@rt.cpan.org">bug-html-template-pluggable@rt.cpan.org</a>", or through the
       web interface at &lt;<a href="http://rt.cpan.org">http://rt.cpan.org</a>&gt;.  I will be notified, and then you'll automatically be notified  of
       progress on your bug as I make changes.

</pre><h4><b>Copyright</b> <b>&amp;</b> <b>License</b></h4><pre>
       Copyright 2006 Mark Stosberg, All Rights Reserved.

       This  program  is  free  software;  you can redistribute it and/or modify it under the same terms as Perl
       itself.

perl v5.38.2                                       2024-03-30                     <u>HTML::Template::<a href="../man3pm/Pluggable.3pm.html">Pluggable</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>