<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout::Manager - 2D Layout Management</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/liblayout-manager-perl">liblayout-manager-perl_0.35-2_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Layout::Manager - 2D Layout Management

</pre><h4><b>SYNOPSIS</b></h4><pre>
       Layout::Manager provides a simple interface for creating layout managers, or classes that size and
       position components within a container.

       A few managers are provided for reference, but this module is primarily meant to serve as a base for
       outside implementations.

           use Layout::Manager;

           my $foo = Layout::Manager-&gt;new;
           $foo-&gt;do_layout($component);

</pre><h4><b>USING</b> <b>A</b> <b>LAYOUT</b> <b>MANAGER</b></h4><pre>
       Layout::Manager relies on Graphics::Primitive::Container as a source for it's components.

       Various implementations of Layout::Manager will require you do add components with slightly different
       second arguments, but the general case will be:

         $lm-&gt;add_component($comp, $constraints);

       The contents of <b>$constraints</b> must be discerned by reading the documentation for the layout manager you
       are using.

       The <b>$comp</b> argument must be a Graphics::Primitive::Component.

       Layout manager works hand-in-hand with Graphics::Primitive, so you'll want to check out the lifecyle
       documented in Graphics::Primitive::Component.  It will look something like this:

         $cont-&gt;add_component($foo, { some =&gt; metadata });
         $driver-&gt;prepare($cont);
         my $lm = new Layout::Manager::SomeImplementation;
         $lm-&gt;do_layout($cont);
         $driver-&gt;pack($cont);
         $driver-&gt;draw($cont);

       When you are ready to lay out your container, you'll need to call the do_layout method with a single
       argument: the component in which you are laying things out. When <u>do_layout</u> returns all of the components
       should be resized and repositioned according to the rules of the Layout::Manager implementation.

   <b>PREPARATION</b>
       Subsequent calls to do_layout will be ignored if the Container is prepared.  The Container's "prepared"
       flag and the flags of all it's children are checked, so any modifications to <b>any</b> child component will
       cause the entire container (and any container children) to be laid out again.

</pre><h4><b>WRITING</b> <b>A</b> <b>LAYOUT</b> <b>MANAGER</b></h4><pre>
       Layout::Manager provides all the methods necessary for your implementation, save the <u>do_layout</u> method.
       This method will be called when it is time to layout the components.

       The <u>add_component</u> method takes two arguments: the component and a second, abritrary piece of data.  If
       your layout manager is simple, like Compass, you may only require a simple variable like "NORTH".  If you
       create something more complex the second argument may be a hashref or an object.

       The value of the <u>components</u> method is an arrayref of hashrefs.  The hashrefs have two keys:

       <b>component</b>
           The component to be laid out.

       <b>args</b>
           The argument provided to <u>add_component</u>.

</pre><h4><b>TIPS</b></h4><pre>
       Layout  manager  implementations  should  honor the <u>visible</u> attribute of a component, as those components
       need to be ignored.

</pre><h4><b>METHODS</b></h4><pre>
   <b>do_layout</b>
       Lays out this manager's components in the specified container.

</pre><h4><b>AUTHOR</b></h4><pre>
       Cory Watson, "&lt;<a href="mailto:gphat@cpan.org">gphat@cpan.org</a>&gt;"

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       <b><a href="../man1/perl.1.html">perl</a></b>(1), Graphics::Primitive

</pre><h4><b>COPYRIGHT</b> <b>&amp;</b> <b>LICENSE</b></h4><pre>
       Copyright 2008 - 2010 Cory G Watson

       This program is free software; you can redistribute it and/or modify it under  the  same  terms  as  Perl
       itself.

perl v5.34.0                                       2022-06-15                               <u>Layout::<a href="../man3pm/Manager.3pm.html">Manager</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>