<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo - Todo List</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/liblog4c-doc">liblog4c-doc_1.2.4-5_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       todo - Todo List

       <b>File</b> <b>appender.h</b>
           the  appender  interface  needs a better configuration system depending on the layout type. The udata
           field is a just a trick.

       <b>File</b> <b>layout.h</b>
           the layout interface needs a better configuration system depending on  the  layout  type.  The  udata
           field is a just a trick.

       a pattern layout would be welcomed !!

       <b>Global</b> <b>log4c_category_get_chainedpriority</b> <b>(const</b> <b>log4c_category_t</b> <b>*a_category)</b>
           the  log4c_category_t  is designed so that this method executes as quickly as possible. It could even
           be faster if the set priority was propagated through the children hierarchy of a category.

       <b>Global</b> <b>log4c_category_set_appender</b> <b>(log4c_category_t</b> <b>*a_category,</b> <b>struct</b> <b>__log4c_appender</b> <b>*a_appender)</b>
           need multiple appenders per category

       <b>Struct</b> <b>log4c_location_info_t</b>
           this is not used

       <b>Global</b> <b>log4c_logging_event_new</b> <b>(const</b> <b>char</b> <b>*a_category,</b> <b>int</b> <b>a_priority,</b> <b>const</b> <b>char</b> <b>*a_message)</b>
           need to handle multi-threading (NDC)

log4c                                             Version 1.2.4                                          <u><a href="../man3/todo.3.html">todo</a></u>(3)
</pre>
 </div>
</div></section>
</div>
</body>
</html>