<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout.h - Interface for user specific layout format of log4c_logging_event events.</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/liblog4c-doc">liblog4c-doc_1.2.4-5_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       layout.h - Interface for user specific layout format of log4c_logging_event events.

</pre><h4><b>SYNOPSIS</b></h4><pre>
       #include &lt;log4c/defs.h&gt;
       #include &lt;log4c/logging_event.h&gt;
       #include &lt;<a href="file:/usr/include/stdio.h">stdio.h</a>&gt;

   <b>Data</b> <b>Structures</b>
       struct <b>log4c_layout_type</b>
           log4c layout type class

   <b>Macros</b>
       #define <b>log4c_layout_type_define</b>(a_type)

   <b>Typedefs</b>
       typedef struct __log4c_layout <b>log4c_layout_t</b>
       typedef struct <b>log4c_layout_type</b> <b>log4c_layout_type_t</b>
           log4c layout type class

   <b>Functions</b>
       const <b>log4c_layout_type_t</b> * <b>log4c_layout_type_get</b> (const char *a_name)
       const <b>log4c_layout_type_t</b> * <b>log4c_layout_type_set</b> (const <b>log4c_layout_type_t</b> *a_type)
       <b>log4c_layout_t</b> * <b>log4c_layout_get</b> (const char *a_name)
       <b>log4c_layout_t</b> * <b>log4c_layout_new</b> (const char *a_name)
       void <b>log4c_layout_delete</b> (<b>log4c_layout_t</b> *a_layout)
       const char * <b>log4c_layout_get_name</b> (const <b>log4c_layout_t</b> *a_layout)
       const <b>log4c_layout_type_t</b> * <b>log4c_layout_get_type</b> (const <b>log4c_layout_t</b> *a_layout)
       const <b>log4c_layout_type_t</b> * <b>log4c_layout_set_type</b> (<b>log4c_layout_t</b> *a_layout, const <b>log4c_layout_type_t</b>
           *a_type)
       void * <b>log4c_layout_get_udata</b> (const <b>log4c_layout_t</b> *a_layout)
       void * <b>log4c_layout_set_udata</b> (<b>log4c_layout_t</b> *a_layout, void *a_udata)
       const char * <b>log4c_layout_format</b> (const <b>log4c_layout_t</b> *a_layout, const <b>log4c_logging_event_t</b> *a_event)
       void <b>log4c_layout_print</b> (const <b>log4c_layout_t</b> *a_layout, FILE *a_stream)
       void <b>log4c_layout_types_free</b> (void)
       void <b>log4c_layout_types_print</b> (FILE *fp)

</pre><h4><b>Detailed</b> <b>Description</b></h4><pre>
       Interface for user specific layout format of log4c_logging_event events.

       <b>Todo</b>
           the layout interface needs a better configuration system depending on the layout type. The udata
           field is a just a trick.

       <b>Todo</b>
           a pattern layout would be welcomed !!

</pre><h4><b>Macro</b> <b>Definition</b> <b>Documentation</b></h4><pre>
   <b>#define</b> <b>log4c_layout_type_define(a_type)</b>
       Helper macro to define static layout types.

       <b>Parameters</b>
           <u>a_type</u> the log4c_layout_type_t object to define

       <b>Warning</b>
           needs GCC support: otherwise this macro does nothing

       <b>Deprecated</b>
           This macro, and the static initialialization of layouts in general, is deprecated. Use rather the
           <b>log4c_layout_type_set()</b> function to initialize your appenders before calling log4c_init()

</pre><h4><b>Typedef</b> <b>Documentation</b></h4><pre>
   <b>typedef</b> <b>struct</b> <b>__log4c_layout</b> <b>log4c_layout_t</b>
       log4c layout class

   <b>typedef</b> <b>struct</b> <b>log4c_layout_type</b> <b>log4c_layout_type_t</b>
       log4c layout type class Attributes description:

       •
        name layout type name
       •
        format
</pre><h4><b>Function</b> <b>Documentation</b></h4><pre>
   <b>void</b> <b>log4c_layout_delete</b> <b>(log4c_layout_t</b> <b>*</b> <b>a_layout)</b>
       Destructor for layout.
   <b>const</b> <b>char</b> <b>*</b> <b>log4c_layout_format</b> <b>(const</b> <b>log4c_layout_t</b> <b>*</b> <b>a_layout,</b> <b>const</b> <b>log4c_logging_event_t</b> <b>*</b> <b>a_event)</b>
       format a log4c_logging_event events to a string.
       <b>Parameters</b>
           <u>a_layout</u> the log4c_layout_t object
           <u>a_event</u> a logging_event_t object
       <b>Returns</b>
           an appendable string.
   <b>log4c_layout_t</b> <b>*</b> <b>log4c_layout_get</b> <b>(const</b> <b>char</b> <b>*</b> <b>a_name)</b>
       Get a pointer to an existing layout.
       <b>Parameters</b>
           <u>a_name</u> the name of the layout to return.
       <b>Returns</b>
           a pointer to an existing layout, or NULL if no layout with the specfied name exists.
   <b>const</b> <b>char</b> <b>*</b> <b>log4c_layout_get_name</b> <b>(const</b> <b>log4c_layout_t</b> <b>*</b> <b>a_layout)</b>
       <b>Parameters</b>
           <u>a_layout</u> the log4c_layout_t object
       <b>Returns</b>
           the layout name
   <b>const</b> <b>log4c_layout_type_t</b> <b>*</b> <b>log4c_layout_get_type</b> <b>(const</b> <b>log4c_layout_t</b> <b>*</b> <b>a_layout)</b>
       <b>Parameters</b>
           <u>a_layout</u> the log4c_layout_t object
       <b>Returns</b>
           a log4c_layout_type_t object
   <b>void</b> <b>*</b> <b>log4c_layout_get_udata</b> <b>(const</b> <b>log4c_layout_t</b> <b>*</b> <b>a_layout)</b>
       <b>Parameters</b>
           <u>a_layout</u> the log4c_layout_t object
       <b>Returns</b>
           the layout user data
   <b>log4c_layout_t</b> <b>*</b> <b>log4c_layout_new</b> <b>(const</b> <b>char</b> <b>*</b> <b>a_name)</b>
       Constructor for layout.
   <b>void</b> <b>log4c_layout_print</b> <b>(const</b> <b>log4c_layout_t</b> <b>*</b> <b>a_layout,</b> <b>FILE</b> <b>*</b> <b>a_stream)</b>
       prints the layout on a stream
       <b>Parameters</b>
           <u>a_layout</u> the log4c_layout_t object
           <u>a_stream</u> the stream
   <b>const</b>  <b>log4c_layout_type_t</b>  <b>*</b>  <b>log4c_layout_set_type</b>  <b>(log4c_layout_t</b> <b>*</b> <b>a_layout,</b> <b>const</b> <b>log4c_layout_type_t</b> <b>*</b>
       <b>a_type)</b>
       sets the layout type
       <b>Parameters</b>
           <u>a_layout</u> the log4c_layout_t object
           <u>a_type</u> the new layout type
       <b>Returns</b>
           the previous layout type
   <b>void</b> <b>*</b> <b>log4c_layout_set_udata</b> <b>(log4c_layout_t</b> <b>*</b> <b>a_layout,</b> <b>void</b> <b>*</b> <b>a_udata)</b>
       sets the layout user data
       <b>Parameters</b>
           <u>a_layout</u> the log4c_layout_t object
           <u>a_udata</u> the new layout user data
       <b>Returns</b>
           the previous layout user data
   <b>const</b> <b>log4c_layout_type_t</b> <b>*</b> <b>log4c_layout_type_get</b> <b>(const</b> <b>char</b> <b>*</b> <b>a_name)</b>
       Get a pointer to an existing layout type.
       <b>Parameters</b>
           <u>a_name</u> the name of the layout type to return.

       <b>Returns</b>
           a pointer to an existing layout type, or NULL if no layout type with the specified name exists.
   <b>const</b> <b>log4c_layout_type_t</b> <b>*</b> <b>log4c_layout_type_set</b> <b>(const</b> <b>log4c_layout_type_t</b> <b>*</b> <b>a_type)</b>
       Use this function to register a layout type with log4c. Once this is done you may refer to this  type  by
       name both programatically and in the log4c configuration file.
       <b>Parameters</b>
           <u>a_type</u> a pointer to the new layout type to set.
       <b>Returns</b>
           a pointer to the previous layout type of same name.
       Example code fragment:
       const log4c_layout_type_t log4c_layout_type_xml = {
          "s13_xml",
          xml_format,
       };

       log4c_layout_type_set(&amp;log4c_layout_type_xml);

   <b>void</b> <b>log4c_layout_types_free</b> <b>(void)</b>
       free all layout types
   <b>void</b> <b>log4c_layout_types_print</b> <b>(FILE</b> <b>*</b> <b>fp)</b>
       prints all the current registered layout types on a stream
       <b>Parameters</b>
           <u>fp</u> the stream
</pre><h4><b>Author</b></h4><pre>
       Generated automatically by Doxygen for log4c from the source code.

log4c                                             Version 1.2.4                                      <u><a href="../man3/layout.h.3.html">layout.h</a></u>(3)
</pre>
 </div>
</div></section>
</div>
</body>
</html>