<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log::Log4perl::DateFormat - Log4perl advanced date formatter helper class</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/liblog-log4perl-perl">liblog-log4perl-perl_1.57-1_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Log::Log4perl::DateFormat - Log4perl advanced date formatter helper class

</pre><h4><b>SYNOPSIS</b></h4><pre>
             # Either in a log4j.conf file ...
           log4perl.appender.Logfile.layout = \
               Log::Log4perl::Layout::PatternLayout
           log4perl.appender.Logfile.layout.ConversionPattern = %d{MM/dd HH:mm} %m

             # ... or via the PatternLayout class ...
           use Log::Log4perl::Layout::PatternLayout;
           my $layout = Log::Log4perl::Layout::PatternLayout-&gt;new(
               "%d{HH:mm:ss,SSS} %m");

             # ... or even directly with this helper class:
           use Log::Log4perl::DateFormat;
           my $format = Log::Log4perl::DateFormat-&gt;new("HH:mm:ss,SSS");
           my $time = time();
           print $format-&gt;format($time), "\n";
               # =&gt; "17:02:39,000"

</pre><h4><b>DESCRIPTION</b></h4><pre>
       "Log::Log4perl::DateFormat" is a helper class for the advanced date formatting functions in
       "Log::Log4perl::Layout::PatternLayout", and adheres (mostly) to the log4j SimpleDateFormat spec available
       on

           <a href="http://download.oracle.com/javase/1.4.2/docs/api/java/text/SimpleDateFormat.html">http://download.oracle.com/javase/1.4.2/docs/api/java/text/SimpleDateFormat.html</a>

       It supports the following placeholders:

           Symbol Meaning              Presentation    Example
           ------ -------              ------------    -------
           G      era designator       (Text)          AD
           e      epoch seconds        (Number)        1315011604
           y      year                 (Number)        1996
           M      month in year        (Text &amp; Number) July &amp; 07
           d      day in month         (Number)        10
           h      hour in am/pm (1~12) (Number)        12
           H      hour in day (0~23)   (Number)        0
           m      minute in hour       (Number)        30
           s      second in minute     (Number)        55
           S      millisecond          (Number)        978
           E      day in week          (Text)          Tuesday
           D      day in year          (Number)        189
           F      day of week in month (Number)        2 (2nd Wed in July)
           w      week in year         (Number)        27
           W      week in month        (Number)        2
           a      am/pm marker         (Text)          PM
           k      hour in day (1~24)   (Number)        24
           K      hour in am/pm (0~11) (Number)        0
           z      time zone            (Text)          Pacific Standard Time
           Z      RFC 822 time zone    (Text)          -0800
           '      escape for text      (Delimiter)
           ''     single quote         (Literal)       '

           Presentation explanation:

           (Text): 4 or more pattern letters--use full form, &lt; 4--use short or
                   abbreviated form if one exists.

           (Number): the minimum number of digits. Shorter numbers are
                     zero-padded to this amount. Year is handled
                     specially; that is, if the count of 'y' is 2, the
                     Year will be truncated to 2 digits.

           (Text &amp; Number): 3 or over, use text, otherwise use number.

       For example, if you want to format the current Unix time in "MM/dd HH:mm" format, all you have to do is
       specify it in the %d{...} section of the PatternLayout in a Log4perl configuration file:

           # log4j.conf
           # ...
           log4perl.appender.Logfile.layout = \
               Log::Log4perl::Layout::PatternLayout
           log4perl.appender.Logfile.layout.ConversionPattern = %d{MM/dd HH:mm} %m

       Same goes for Perl code defining a PatternLayout for Log4perl:

           use Log::Log4perl::Layout::PatternLayout;
           my $layout = Log::Log4perl::Layout::PatternLayout-&gt;new(
               "%d{MM/dd HH:mm} %m");

       Or, on a lower level, you can use the class directly:

           use Log::Log4perl::DateFormat;
           my $format = Log::Log4perl::DateFormat-&gt;new("MM/dd HH:mm");
           my $time = time();
           print $format-&gt;format($time), "\n";

       While the "new()" method is expensive, because it parses the format strings and sets up all kinds of
       structures behind the scenes, followup calls to "format()" are fast, because "DateFormat" will just call
       "localtime()" and "sprintf()" once to return the formatted date/time string.

       So, typically, you would initialize the formatter once and then reuse it over and over again to display
       all kinds of time values.

       Also, for your convenience, the following predefined formats are available, just as outlined in the log4j
       spec:

           Format   Equivalent                     Example
           ABSOLUTE "HH:mm:ss,SSS"                 "15:49:37,459"
           DATE     "dd MMM yyyy HH:mm:ss,SSS"     "06 Nov 1994 15:49:37,459"
           ISO8601  "yyyy-MM-dd HH:mm:ss,SSS"      "1999-11-27 15:49:37,459"
           APACHE   "[EEE MMM dd HH:mm:ss yyyy]"   "[Wed Mar 16 15:49:37 2005]"

       So, instead of passing

           Log::Log4perl::DateFormat-&gt;new("HH:mm:ss,SSS");

       you could just as well say

           Log::Log4perl::DateFormat-&gt;new("ABSOLUTE");

       and get the same result later on.

   <b>Known</b> <b>Shortcomings</b>
       The following placeholders are currently <u>not</u> recognized, unless someone (and that could be you :)
       implements them:

           F day of week in month
           w week in year
           W week in month
           k hour in day
           K hour in am/pm
           z timezone (but we got 'Z' for the numeric time zone value)

       Also, "Log::Log4perl::DateFormat" just knows about English week and month names, internationalization
       support has to be added.

</pre><h4><b>Millisecond</b> <b>Times</b></h4><pre>
       More granular timestamps down to the millisecond are also supported, just provide the millsecond count as
       a second argument:

           # Advanced time, resoluion in milliseconds
           use Time::HiRes;
           my ($secs, $msecs) = Time::HiRes::gettimeofday();
           print $format-&gt;format($secs, $msecs), "\n";
               # =&gt; "17:02:39,959"

</pre><h4><b>LICENSE</b></h4><pre>
       Copyright 2002-2016 by Mike Schilli &lt;<a href="mailto:m@perlmeister.com">m@perlmeister.com</a>&gt; and Kevin Goess &lt;<a href="mailto:cpan@goess.org">cpan@goess.org</a>&gt;.

       This library is free software; you can redistribute it and/or modify it under the same terms as Perl
       itself.

</pre><h4><b>AUTHOR</b></h4><pre>
       Please contribute patches to the project on Github:

           <a href="http://github.com/mschilli/log4perl">http://github.com/mschilli/log4perl</a>

       Send bug reports or requests for enhancements to the authors via our

       MAILING LIST (questions, bug reports, suggestions/patches): <a href="mailto:log4perl-devel@lists.sourceforge.net">log4perl-devel@lists.sourceforge.net</a>

       Authors (please contact them via the list above, not directly): Mike Schilli &lt;<a href="mailto:m@perlmeister.com">m@perlmeister.com</a>&gt;, Kevin
       Goess &lt;<a href="mailto:cpan@goess.org">cpan@goess.org</a>&gt;

       Contributors (in alphabetical order): Ateeq Altaf, Cory Bennett, Jens Berthold, Jeremy Bopp, Hutton
       Davidson, Chris R. Donnelly, Matisse Enzer, Hugh Esco, Anthony Foiani, James FitzGibbon, Carl Franks,
       Dennis Gregorovic, Andy Grundman, Paul Harrington, Alexander Hartmaier  David Hull, Robert Jacobson,
       Jason Kohles, Jeff Macdonald, Markus Peter, Brett Rann, Peter Rabbitson, Erik Selberg, Aaron Straup Cope,
       Lars Thegler, David Viner, Mac Yang.

perl v5.36.0                                       2022-10-30                                    <u><a href="../man3pm/DateFormat.3pm.html">DateFormat</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>