<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log::Log4perl::Layout::PatternLayout - Pattern Layout</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/liblog-log4perl-perl">liblog-log4perl-perl_1.57-1_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Log::Log4perl::Layout::PatternLayout - Pattern Layout

</pre><h4><b>SYNOPSIS</b></h4><pre>
         use Log::Log4perl::Layout::PatternLayout;

         my $layout = Log::Log4perl::Layout::PatternLayout-&gt;new(
                                                          "%d (%F:%L)&gt; %m");

</pre><h4><b>DESCRIPTION</b></h4><pre>
       Creates a pattern layout according to
       <a href="http://jakarta.apache.org/log4j/docs/api/org/apache/log4j/PatternLayout.html">http://jakarta.apache.org/log4j/docs/api/org/apache/log4j/PatternLayout.html</a> and a couple of
       Log::Log4perl-specific extensions.

       The "new()" method creates a new PatternLayout, specifying its log format. The format string can contain
       a number of placeholders which will be replaced by the logging engine when it's time to log the message:

           %c Category of the logging event.
           %C Fully qualified package (or class) name of the caller
           %d Current date in yyyy/MM/dd hh:mm:ss format
           %d{...} Current date in customized format (see below)
           %F File where the logging event occurred
           %H Hostname (if Sys::Hostname is available)
           %l Fully qualified name of the calling method followed by the
              callers source the file name and line number between
              parentheses.
           %L Line number within the file where the log statement was issued
           %m The message to be logged
           %m{chomp} Log message, stripped off a trailing newline
           %m{indent} Log message, multi-lines indented so they line up with first
           %m{indent=n} Log message, multi-lines indented by n spaces
           %M Method or function where the logging request was issued
           %n Newline (OS-independent)
           %p Priority/level of the logging event (%p{1} shows the first letter)
           %P pid of the current process
           %r Number of milliseconds elapsed from program start to logging
              event
           %R Number of milliseconds elapsed from last logging event to
              current logging event
           %T A stack trace of functions called
           %x The topmost NDC (see below)
           %X{key} The entry 'key' of the MDC (see below)
           %% A literal percent (%) sign

       NDC and MDC are explained in "Nested Diagnostic Context (NDC)" in Log::Log4perl and "Mapped Diagnostic
       Context (MDC)" in Log::Log4perl.

       The granularity of time values is milliseconds if Time::HiRes is available.  If not, only full seconds
       are used.

       Every once in a while, someone uses the "%m%n" pattern and additionally provides an extra newline in the
       log message (e.g.  "-&gt;log("message\n")". To avoid printing an extra newline in this case, the
       PatternLayout will chomp the message, printing only one newline. This option can be controlled by
       PatternLayout's "message_chomp_before_newline" option. See "Advanced options" for details.

   <b>Quantify</b> <b>placeholders</b>
       All placeholders can be extended with formatting instructions, just like in <u>printf</u>:

           %20c   Reserve 20 chars for the category, right-justify and fill
                  with blanks if it is shorter
           %-20c  Same as %20c, but left-justify and fill the right side
                  with blanks
           %09r   Zero-pad the number of milliseconds to 9 digits
           %.8c   Specify the maximum field with and have the formatter
                  cut off the rest of the value

   <b>Fine-tuning</b> <b>with</b> <b>curlies</b>
       Some placeholders have special functions defined if you add curlies with content after them:

           %c{1}  Just show the right-most category component, useful in large
                  class hierarchies (Foo::Baz::Bar -&gt; Bar)
           %c{2}  Just show the two right most category components
                  (Foo::Baz::Bar -&gt; Baz::Bar)

           %F     Display source file including full path
           %F{1}  Just display filename
           %F{2}  Display filename and last path component (dir/test.log)
           %F{3}  Display filename and last two path components (d1/d2/test.log)

           %M     Display fully qualified method/function name
           %M{1}  Just display method name (foo)
           %M{2}  Display method name and last path component (main::foo)

       In this way, you're able to shrink the displayed category or limit file/path components to save space in
       your logs.

   <b>Fine-tune</b> <b>the</b> <b>date</b>
       If you're not happy with the default %d format for the date which looks like

           yyyy/MM/DD HH:mm:ss

       (which is slightly different from Log4j which uses "yyyy-MM-dd HH:mm:ss,SSS") you're free to fine-tune it
       in order to display only certain characteristics of a date, according to the SimpleDateFormat in the Java
       World (<a href="http://docs.oracle.com/javase/8/docs/api/java/text/SimpleDateFormat.html">http://docs.oracle.com/javase/8/docs/api/java/text/SimpleDateFormat.html</a>):

           %d{HH:mm}     "23:45" -- Just display hours and minutes
           %d{yy, EEEE}  "02, Monday" -- Just display two-digit year
                                         and spelled-out weekday
           %d{e}         "1473741760" -- Epoch seconds
           %d{h a}       "12 PM"      -- Hour and am/pm marker
           ... and many more

       For an exhaustive list of all supported date features, look at Log::Log4perl::DateFormat.

   <b>Custom</b> <b>cspecs</b>
       First of all, "cspecs" is short for "conversion specifiers", which is the log4j and the <b><a href="../man3/printf.3.html">printf</a></b>(3) term
       for what Mike is calling "placeholders."  I suggested "cspecs" for this part of the api before I saw that
       Mike was using "placeholders" consistently in the log4perl documentation.  Ah, the joys of collaboration
       ;=) --kg

       If the existing corpus of placeholders/cspecs isn't good enough for you, you can easily roll your own:

           #'U' a global user-defined cspec
           log4j.PatternLayout.cspec.U = sub { return "UID: $&lt; "}

           #'K' cspec local to appndr1                 (pid in hex)
           log4j.appender.appndr1.layout.cspec.K = sub { return sprintf "%1x", $$}

           #and now you can use them
           log4j.appender.appndr1.layout.ConversionPattern = %K %U %m%n

       The benefit of this approach is that you can define and use the cspecs right next to each other in the
       config file.

       If you're an API kind of person, there's also this call:

           Log::Log4perl::Layout::PatternLayout::
                           add_global_cspec('Z', sub {'zzzzzzzz'}); #snooze?

       When the log message is being put together, your anonymous sub will be called with these arguments:

           ($layout, $message, $category, $priority, $caller_level);

           layout: the PatternLayout object that called it
           message: the logging message (%m)
           category: e.g. groceries.beverages.adult.beer.schlitz
           priority: e.g. DEBUG|WARN|INFO|ERROR|FATAL
           caller_level: how many levels back up the call stack you have
               to go to find the caller

       Please note that the subroutines you're defining in this way are going to be run in the "main" namespace,
       so be sure to fully qualify functions and variables if they're located in different packages. <u>Also</u> <u>make</u>
       <u>sure</u> <u>these</u> <u>subroutines</u> <u>aren't</u> <u>using</u> <u>Log4perl,</u> <u>otherwise</u> <u>Log4perl</u> <u>will</u> <u>enter</u> <u>an</u> <u>infinite</u> <u>recursion.</u>

       With Log4perl 1.20 and better, cspecs can be written with parameters in curly braces. Writing something
       like

           log4perl.appender.Screen.layout.ConversionPattern = %U{user} %U{id} %m%n

       will cause the cspec function defined for %U to be called twice, once with the parameter 'user' and then
       again with the parameter 'id', and the placeholders in the cspec string will be replaced with the
       respective return values.

       The parameter value is available in the 'curlies' entry of the first parameter passed to the subroutine
       (the layout object reference).  So, if you wanted to map %U{xxx} to entries in the POE session hash,
       you'd write something like:

          log4perl.PatternLayout.cspec.U = sub { \
            POE::Kernel-&gt;get_active_session-&gt;get_heap()-&gt;{ $_[0]-&gt;{curlies} } }

       <b>SECURITY</b> <b>NOTE</b>

       This feature means arbitrary perl code can be embedded in the config file.  In the rare case where the
       people who have access to your config file are different from the people who write your code and
       shouldn't have execute rights, you might want to set

           $Log::Log4perl::Config-&gt;<a href="../man0/allow_code.0.html">allow_code</a>(0);

       before you call <b>init()</b>.  Alternatively you can supply a restricted set of Perl opcodes that can be
       embedded in the config file as described in "Restricting what Opcodes can be in a Perl Hook" in
       Log::Log4perl.

   <b>Advanced</b> <b>Options</b>
       The constructor of the "Log::Log4perl::Layout::PatternLayout" class takes an optional hash reference as a
       first argument to specify additional options in order to (ab)use it in creative ways:

         my $layout = Log::Log4perl::Layout::PatternLayout-&gt;new(
           { time_function       =&gt; \&amp;my_time_func,
           },
           "%d (%F:%L)&gt; %m");

       Here's a list of parameters:

       time_function
           Takes  a reference to a function returning the time for the time/date fields, either in seconds since
           the epoch or as an array, carrying seconds and microseconds,  just  like  "Time::HiRes::gettimeofday"
           does.

       message_chomp_before_newline
           If a layout contains the pattern "%m%n" and the message ends with a newline, PatternLayout will chomp
           the  message, to prevent printing two newlines.  If this is not desired, and you want two newlines in
           this case, the feature can be turned off by setting the "message_chomp_before_newline"  option  to  a
           false value:

             my $layout = Log::Log4perl::Layout::PatternLayout-&gt;new(
                 { message_chomp_before_newline =&gt; 0
                 },
                 "%d (%F:%L)&gt; %m%n");

           In a Log4perl configuration file, the feature can be turned off like this:

               log4perl.appender.App.layout   = PatternLayout
               log4perl.appender.App.layout.ConversionPattern = %d %m%n
                 # Yes, I want two newlines
               log4perl.appender.App.layout.message_chomp_before_newline = 0

   <b>Getting</b> <b>rid</b> <b>of</b> <b>newlines</b>
       If your code contains logging statements like

             # WRONG, don't do that!
           $logger-&gt;debug("Some message\n");

       then  it's  usually  best  to  strip the newlines from these calls. As explained in "Logging newlines" in
       Log::Log4perl, logging statements should never contain newlines, but rely  on  appender  layouts  to  add
       necessary newlines instead.

       If  changing  the  code is not an option, use the special PatternLayout placeholder %m{chomp} to refer to
       the message excluding a trailing newline:

           log4perl.appender.App.layout.ConversionPattern = %d %m{chomp}%n

       This will add a single newline to every message, regardless if it  complies  with  the  Log4perl  newline
       guidelines or not (thanks to Tim Bunce for this idea).

   <b>Multi</b> <b>Lines</b>
       If a log message consists of several lines, like

           $logger-&gt;debug("line1\nline2\nline3");

       then by default, they get logged like this (assuming the the layout is set to "%d&gt;%m%n"):

             # layout %d&gt;%m%n
           2014/07/27 12:46:16&gt;line1
           line2
           line3

       If you'd rather have the messages aligned like

             # layout %d&gt;%m{indent}%n
           2014/07/27 12:46:16&gt;line1
                               line2
                               line3

       then  use  the  %m{indent}  option  for  the %m specifier. This option can also take a fixed value, as in
       %m{indent=2}, which indents subsequent lines by two spaces:

             # layout %d&gt;%m{indent=2}%n
           2014/07/27 12:46:16&gt;line1
             line2
             line3

       Note that you can still add the "chomp" option for the %m specifier in  this  case  (see  above  what  it
       does), simply add it after a separating comma, like in %m{indent=2,chomp}.

</pre><h4><b>LICENSE</b></h4><pre>
       Copyright 2002-2013 by Mike Schilli &lt;<a href="mailto:m@perlmeister.com">m@perlmeister.com</a>&gt; and Kevin Goess &lt;<a href="mailto:cpan@goess.org">cpan@goess.org</a>&gt;.

       This  library  is  free  software;  you can redistribute it and/or modify it under the same terms as Perl
       itself.

</pre><h4><b>AUTHOR</b></h4><pre>
       Please contribute patches to the project on Github:

           <a href="http://github.com/mschilli/log4perl">http://github.com/mschilli/log4perl</a>

       Send bug reports or requests for enhancements to the authors via our

       MAILING LIST (questions, bug reports, suggestions/patches): <a href="mailto:log4perl-devel@lists.sourceforge.net">log4perl-devel@lists.sourceforge.net</a>

       Authors (please contact them via the list above, not directly): Mike Schilli  &lt;<a href="mailto:m@perlmeister.com">m@perlmeister.com</a>&gt;,  Kevin
       Goess &lt;<a href="mailto:cpan@goess.org">cpan@goess.org</a>&gt;

       Contributors  (in  alphabetical  order):  Ateeq  Altaf,  Cory Bennett, Jens Berthold, Jeremy Bopp, Hutton
       Davidson, Chris R. Donnelly, Matisse Enzer, Hugh Esco, Anthony Foiani,  James  FitzGibbon,  Carl  Franks,
       Dennis  Gregorovic,  Andy  Grundman,  Paul  Harrington, Alexander Hartmaier  David Hull, Robert Jacobson,
       Jason Kohles, Jeff Macdonald, Markus Peter, Brett Rann, Peter Rabbitson, Erik Selberg, Aaron Straup Cope,
       Lars Thegler, David Viner, Mac Yang.

perl v5.36.0                                       2022-10-30                         <u>Layout::<a href="../man3pm/PatternLayout.3pm.html">PatternLayout</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>