<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MsOffice::Word::Template::Engine::Mustache -- Word::Template engine based on Mustache</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libmsoffice-word-template-perl">libmsoffice-word-template-perl_2.05-3_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       MsOffice::Word::Template::Engine::Mustache -- Word::Template engine based on Mustache

</pre><h4><b>DESCRIPTION</b></h4><pre>
       Implements a templating engine for MsOffice::Word::Template, based on Template::Mustache.

</pre><h4><b>COPYRIGHT</b> <b>AND</b> <b>LICENSE</b></h4><pre>
       Copyright 2020-2024 by Laurent Dami.

       This program is free software, you can redistribute it and/or modify it under the terms of the Artistic
       License version 2.0.

perl v5.40.0                                       2024-10-31             <u>MsOffice::Word:...ngine::<a href="../man3pm/Mustache.3pm.html">Mustache</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>