<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MsOffice::Word::Template::Engine::TT2::Provider -- subclass of Template::Provider for loading .docx</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libmsoffice-word-template-perl">libmsoffice-word-template-perl_2.05-3_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       MsOffice::Word::Template::Engine::TT2::Provider -- subclass of Template::Provider for loading .docx
       templates

</pre><h4><b>DESCRIPTION</b></h4><pre>
       This subclass of Template::Provider is called whenever a "MsOffice::Word::Template" document requires a
       ".docx" subtemplate through the "INSERT", "INCLUDE" or "PROCESS" directives.

       The subtemplate is parsed as usual, but only the inner document body is returned to the caller, so that
       it can be inserted in a parent document.

</pre><h4><b>AUTHOR</b></h4><pre>
       Laurent Dami, &lt;dami AT cpan DOT org&lt;gt&gt;

</pre><h4><b>COPYRIGHT</b> <b>AND</b> <b>LICENSE</b></h4><pre>
       Copyright 2024 by Laurent Dami.

       This program is free software, you can redistribute it and/or modify it under the terms of the Artistic
       License version 2.0.

perl v5.40.0                                       2024-10-31              <u>MsOffice::Word...::TT2::<a href="../man3pm/Provider.3pm.html">Provider</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>