<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NetSDS::Template - NetSDS template engine</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libnetsds-perl">libnetsds-perl_1.301-4_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       NetSDS::Template - NetSDS template engine

</pre><h4><b>SYNOPSIS</b></h4><pre>
               use NetSDS::Template;

</pre><h4><b>DESCRIPTION</b></h4><pre>
       "NetSDS::Template" class provides developers with ability to create template based web applications.

</pre><h4><b>CLASS</b> <b>API</b></h4><pre>
       <b>new([%params])</b> - class constructor
           This concstructor loads template files and parse them.

               my $tpl = NetSDS::Template-&gt;new(
                           dir =&gt; '/etc/NetSDS/templates',
                           esc =&gt; 'URL',
                           include_path =&gt; '/mnt/floppy/templates',
                   );

       <b>render($tmpl_name,</b> <b>%params)</b> - render document by template and paramters
           This  method  prepares  set  of parameters and applies them to given template.  Return is a ready for
           output document after processing.

           Example:

                   # Simple template rendering with scalar parameters
                   my $str = $tmp-&gt;render('main', title =&gt; 'Main Page');

                   # Rendering template with array parameters
                   my $str2 = $tmp-&gt;render('list', title =&gt; 'Statistics', users =&gt; \@users_list);

</pre><h4><b>EXAMPLES</b></h4><pre>
       None

</pre><h4><b>BUGS</b></h4><pre>
       Unknown yet

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       HTML::Template::Pro, HTML::Template

</pre><h4><b>TODO</b></h4><pre>
       1. Add i18n support to process multilingual templates.

</pre><h4><b>AUTHOR</b></h4><pre>
       Michael Bochkaryov &lt;<a href="mailto:misha@rattler.kiev.ua">misha@rattler.kiev.ua</a>&gt;

</pre><h4><b>THANKS</b></h4><pre>
       Igor Vlasenko (<a href="http://search.cpan.org/~viy/">http://search.cpan.org/~viy/</a>) for HTML::Template::Pro

</pre><h4><b>LICENSE</b></h4><pre>
       Copyright (C) 2008-2009 Net Style Ltd.

       This program is free software; you can redistribute it and/or modify  it  under  the  terms  of  the  GNU
       General  Public License as published by the Free Software Foundation; either version 2 of the License, or
       (at your option) any later version.

       This program is distributed in the hope that it will be useful, but WITHOUT ANY  WARRANTY;  without  even
       the  implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public
       License for more details.

       You should have received a copy of the GNU General Public License along with this program; if not,  write
       to the Free Software Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA

perl v5.32.1                                       2021-12-26                              <u>NetSDS::<a href="../man3pm/Template.3pm.html">Template</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>