<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perlanet::Trait::TemplateToolkit - render the feed via a Template Toolkit template</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libperlanet-perl">libperlanet-perl_2.2.1-1_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Perlanet::Trait::TemplateToolkit - render the feed via a Template Toolkit template

</pre><h4><b>SYNOPSIS</b></h4><pre>
          my $perlanet = Perlanet-&gt;new_with_traits(
            traits =&gt; [ 'Perlanet::Trait::TemplateToolkit' ]
          );

          $perlanet-&gt;run;

</pre><h4><b>DESCRIPTION</b></h4><pre>
       Renders the aggregated set of feeds via a Template Toolkit template.

</pre><h4><b>ATTRIBUTES</b></h4><pre>
   <b>template_input</b>
       The Template Toolkit template to use as input

   <b>template_output</b>
       The path to save the resulting output to

</pre><h4><b>TEMPLATE</b> <b>TOOLKIT</b> <b>STASH</b></h4><pre>
       The following are exported into your template:

   <b>feed</b>
       A Perlanet::Feed that represents the aggregation of all posts

</pre><h4><b>AUTHOR</b></h4><pre>
       Oliver Charles, &lt;<a href="mailto:oliver.g.charles@googlemail.com">oliver.g.charles@googlemail.com</a>&gt;

</pre><h4><b>COPYRIGHT</b> <b>AND</b> <b>LICENSE</b></h4><pre>
       Copyright (c) 2010 by Magnum Solutions Ltd.

       This library is free software; you can redistribute it and/or modify it under the same terms as Perl
       itself, either Perl version 5.10.0 or, at your option, any later version of Perl 5 you may have
       available.

perl v5.36.0                                       2023-02-21              <u>Perlanet::Trait::<a href="../man3pm/TemplateToolkit.3pm.html">TemplateToolkit</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>