<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rex::Template::NG - simple template engine (replacing Rex::Template)</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/rex">rex_1.16.0-1_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Rex::Template::NG - simple template engine (replacing Rex::Template)

</pre><h4><b>SYNOPSIS</b></h4><pre>
        use Rex::Template::NG;

        my $template = Rex::Template-&gt;new;

        print $template-&gt;parse($content, \%template_vars);
        print $template-&gt;parse($content, @template_vars);

</pre><h4><b>DESCRIPTION</b></h4><pre>
       This is intended as a replacement of the original Rex::Template, therefore its interface and syntax are
       identical. The main differences are:

       •   produces "more correct" output in case when comping is required

       •   gives better diagnostics in case of errors

       It is recommended to use this module instead of Rex::Template.

</pre><h4><b>DIAGNOSTICS</b></h4><pre>
       It  prints  the  whole  template  as "INFO" level messages, and then a message about the problem with its
       context and line number (e.g. <u>"Unknown</u> <u>variable</u> <u>name</u> <u>$var</u> <u>on</u> <u>code</u> <u>line:</u> <u>...</u> <u>line:</u> <u>..."</u>).

</pre><h4><b>CONFIGURATION</b> <b>AND</b> <b>ENVIRONMENT</b></h4><pre>
</pre><h4><b>DEPENDENCIES</b></h4><pre>
</pre><h4><b>INCOMPATIBILITIES</b></h4><pre>
</pre><h4><b>BUGS</b> <b>AND</b> <b>LIMITATIONS</b></h4><pre>
perl v5.40.0                                       2025-02-06                             <u>Rex::Template::<a href="../man3pm/NG.3pm.html">NG</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>