<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RunApp::Template - Base class for RunApp template service</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/librunapp-perl">librunapp-perl_0.13-3_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       RunApp::Template - Base class for RunApp template service

</pre><h4><b>SYNOPSIS</b></h4><pre>
         my $cron = RunApp::Template-&gt;new(
           file =&gt; "file to be generated",
           source =&gt; "template file",
           .. other params, passed to template ..
         );

</pre><h4><b>DESCRIPTION</b></h4><pre>
       The class allows inherited classes to use Template, and will use the DATA section of the subclass as
       default template if not otherwise specified.

</pre><h4><b>AUTHORS</b></h4><pre>
       Chia-liang Kao &lt;<a href="mailto:clkao@clkao.org">clkao@clkao.org</a>&gt;

       Refactored from works by Leon Brocard &lt;<a href="mailto:acme@astray.com">acme@astray.com</a>&gt; and Tom Insam &lt;<a href="mailto:tinsam@fotango.com">tinsam@fotango.com</a>&gt;.

</pre><h4><b>COPYRIGHT</b></h4><pre>
       Copyright (C) 2002-5, Fotango Ltd.

       This module is free software; you can redistribute it or modify it under the same terms as Perl itself.

perl v5.34.0                                       2022-06-17                              <u>RunApp::<a href="../man3pm/Template.3pm.html">Template</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>