<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SDL_DEFINE_PIXELFORMAT - A macro for defining custom non-FourCC pixel formats.</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libsdl3-doc">libsdl3-doc_3.2.10+ds-1_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       SDL_DEFINE_PIXELFORMAT - A macro for defining custom non-FourCC pixel formats.

</pre><h4><b>HEADER</b> <b>FILE</b></h4><pre>
       Defined in SDL3/SDL_pixels.h

</pre><h4><b>SYNOPSIS</b></h4><pre>
       <b>#include</b> <b>"SDL3/SDL.h"</b>

       <b>#define</b> <b>SDL_DEFINE_PIXELFORMAT(type,</b> <b>order,</b> <b>layout,</b> <b>bits,</b> <b>bytes)</b> <b>.BI</b> <u>((1</u><b>&lt;&lt;</b><u>28)</u><b>|</b><u>((type)</u><b>&lt;&lt;</b><u>24)</u><b>|</b><u>((order)</u><b>&lt;&lt;</b><u>20)</u><b>|</b><u>((layout)</u><b>&lt;&lt;</b><u>16)</u><b>|</b><u>.BI</u>     <b>((bits)</b> <b>&lt;&lt;</b> <b>8)</b> <b>|</b> <b>((bytes)</b> <b>&lt;&lt;</b> <b>0))</b>

</pre><h4><b>DESCRIPTION</b></h4><pre>
       For example, defining <b>SDL_PIXELFORMAT_RGBA8888</b>

       looks like this:

              SDL_DEFINE_PIXELFORMAT(SDL_PIXELTYPE_PACKED32, SDL_PACKEDORDER_RGBA, SDL_PACKEDLAYOUT_8888, 32, 4)

</pre><h4><b>RETURN</b> <b>VALUE</b></h4><pre>
       Returns a format value in the style of <b>SDL_PixelFormat</b> .

</pre><h4><b>THREAD</b> <b>SAFETY</b></h4><pre>
       It is safe to call this macro from any thread.

</pre><h4><b>AVAILABILITY</b></h4><pre>
       This macro is available since SDL 3.2.0.

Simple Directmedia Layer                           SDL 3.2.10                          <u><a href="../man3/SDL_DEFINE_PIXELFORMAT.3.html">SDL_DEFINE_PIXELFORMAT</a></u>(3)
</pre>
 </div>
</div></section>
</div>
</body>
</html>