<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SQL::Translator::Producer::TTSchema -</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libsql-translator-perl">libsql-translator-perl_1.66-1_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       SQL::Translator::Producer::TTSchema -
           Produces output using the Template Toolkit from a SQL schema

</pre><h4><b>SYNOPSIS</b></h4><pre>
         use SQL::Translator;
         my $translator     = SQL::Translator-&gt;new(
             from           =&gt; 'MySQL',
             filename       =&gt; 'foo_schema.sql',
             to             =&gt; 'TTSchema',
             producer_args  =&gt; {
                 ttfile     =&gt; 'foo_template.tt',  # Template file to use

                 # Extra template variables
                 tt_vars     =&gt; {
                     author =&gt; "Mr Foo",
                 },

                 # Template config options
                 tt_conf     =&gt; {
                     INCLUDE_PATH =&gt; '/foo/templates',
                 },
             },
         );
         print $translator-&gt;translate;

</pre><h4><b>DESCRIPTION</b></h4><pre>
       Produces schema output using a given Template Tookit template.

       It needs one additional producer arg of "ttfile" which is the file name of the template to use.  This
       template will be passed a variable called "schema", which is the "SQL::Translator::Producer::Schema"
       object created by the parser. You can then use it to walk the schema via the methods documented in that
       module.

       Here's a brief example of what the template could look like:

         database: [% schema.database %]
         tables:
         [% FOREACH table = schema.get_tables %]
             [% table.name %]
             ================
             [% FOREACH field = table.get_fields %]
                 [% field.name %]   [% field.data_type %]([% field.size %])
             [% END -%]
         [% END %]

       See <u>t/data/template/basic.tt</u> for a more complete example.

       The template will also get the set of extra variables given as a hashref via the "tt_vars" producer arg.
       (Note that the old style of passing this config in the "ttargs" producer arg has been deprecated).

       You can set any of the options used to initialize the Template object by adding a "tt_conf" producer arg.
       See Template Toolkit docs for details of the options.  (Note that the old style of passing this config
       directly in the "ttargs" producer args has been deprecated).

         $translator          = SQL::Translator-&gt;new(
             to               =&gt; 'TT',
             producer_args    =&gt; {
                 ttfile       =&gt; 'foo_template.tt',
                 tt_vars      =&gt; {},
                 tt_conf      =&gt; {
                   INCLUDE_PATH =&gt; '/foo/templates/tt',
                   INTERPOLATE  =&gt; 1,
                 }
             },
         );

       You can use this producer to create any type of text output you like, even using it to create your own
       versions of what the other producers make.  For example, you could create a template that translates the
       schema into MySQL's syntax, your own HTML documentation, your own Class::DBI classes (or some other code)
       -- the opportunities are limitless!

   <b>Producer</b> <b>Args</b>
       ttfile
           The template file to generate the output with.

       tt_vars
           A hash ref of extra variables you want to add to the template.

       tt_conf
           A hash ref of configuration options to pass to the Template object's constructor.

</pre><h4><b>AUTHOR</b></h4><pre>
       Mark Addison &lt;<a href="mailto:grommit@users.sourceforge.net">grommit@users.sourceforge.net</a>&gt;.

</pre><h4><b>TODO</b></h4><pre>
       <b>More</b> <b>template</b> <b>vars?</b> e.g. [% tables %] as a shortcut for [% schema.get_tables %].

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       SQL::Translator.

perl v5.40.0                                       2024-11-23              <u>SQL::Translato...ducer::<a href="../man3pm/TTSchema.3pm.html">TTSchema</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>