<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>std::num_get< _CharT, _InIter > - Primary class template num_get.</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libstdc++-13-doc">libstdc++-13-doc_13.4.0-1ubuntu1_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       std::num_get&lt; _CharT, _InIter &gt; - Primary class template num_get.

</pre><h4><b>SYNOPSIS</b></h4><pre>
       #include &lt;locale&gt;

       Inherits <b>std::locale::facet</b>.

   <b>Public</b> <b>Types</b>

           <b>typedef</b> _CharT <b>char_type</b>
               Public typedefs.
           <b>typedef</b> <b>_InIter</b> <b>iter_type</b>
               Public typedefs.

   <b>Public</b> <b>Member</b> <b>Functions</b>
       <b>num_get</b> (size_t <b>__refs</b>=0)
           Constructor performs initialization.
       template&lt;<b>typename</b> <b>_ValueT</b> &gt; <b>_InIter</b> <b>_M_extract_int</b> (<b>_InIter</b> <b>__beg</b>, <b>_InIter</b> __end, <b>ios_base</b> &amp;<b>__io</b>,
           <b>ios_base::iostate</b> &amp;<b>__err</b>, <b>_ValueT</b> &amp;<b>__v</b>) const
       <b>iter_type</b> <b>get</b> (<b>iter_type</b> <b>__in</b>, <b>iter_type</b> __end, <b>ios_base</b> &amp;<b>__io</b>, <b>ios_base::iostate</b> &amp;<b>__err</b>, bool &amp;<b>__v</b>)
           const
           Numeric parsing.
       <b>iter_type</b> <b>get</b> (<b>iter_type</b> <b>__in</b>, <b>iter_type</b> __end, <b>ios_base</b> &amp;<b>__io</b>, <b>ios_base::iostate</b> &amp;<b>__err</b>, <b>void</b> *&amp;<b>__v</b>)
           const
           Numeric parsing.

           <b>iter_type</b> <b>get</b> (<b>iter_type</b> <b>__in</b>, <b>iter_type</b> __end, <b>ios_base</b> &amp;<b>__io</b>, <b>ios_base::iostate</b> &amp;<b>__err</b>, long &amp;<b>__v</b>)
               const
               Numeric parsing.
           <b>iter_type</b> <b>get</b> (<b>iter_type</b> <b>__in</b>, <b>iter_type</b> __end, <b>ios_base</b> &amp;<b>__io</b>, <b>ios_base::iostate</b> &amp;<b>__err</b>, unsigned
               short &amp;<b>__v</b>) const
               Numeric parsing.
           <b>iter_type</b> <b>get</b> (<b>iter_type</b> <b>__in</b>, <b>iter_type</b> __end, <b>ios_base</b> &amp;<b>__io</b>, <b>ios_base::iostate</b> &amp;<b>__err</b>, unsigned
               int &amp;<b>__v</b>) const
               Numeric parsing.
           <b>iter_type</b> <b>get</b> (<b>iter_type</b> <b>__in</b>, <b>iter_type</b> __end, <b>ios_base</b> &amp;<b>__io</b>, <b>ios_base::iostate</b> &amp;<b>__err</b>, unsigned
               long &amp;<b>__v</b>) const
               Numeric parsing.
           <b>iter_type</b> <b>get</b> (<b>iter_type</b> <b>__in</b>, <b>iter_type</b> __end, <b>ios_base</b> &amp;<b>__io</b>, <b>ios_base::iostate</b> &amp;<b>__err</b>, long long
               &amp;<b>__v</b>) const
               Numeric parsing.
           <b>iter_type</b> <b>get</b> (<b>iter_type</b> <b>__in</b>, <b>iter_type</b> __end, <b>ios_base</b> &amp;<b>__io</b>, <b>ios_base::iostate</b> &amp;<b>__err</b>, unsigned
               long long &amp;<b>__v</b>) const
               Numeric parsing.

           <b>iter_type</b> <b>get</b> (<b>iter_type</b> <b>__in</b>, <b>iter_type</b> __end, <b>ios_base</b> &amp;<b>__io</b>, <b>ios_base::iostate</b> &amp;<b>__err</b>, float &amp;<b>__v</b>)
               const
               Numeric parsing.
           <b>iter_type</b> <b>get</b> (<b>iter_type</b> <b>__in</b>, <b>iter_type</b> __end, <b>ios_base</b> &amp;<b>__io</b>, <b>ios_base::iostate</b> &amp;<b>__err</b>, double
               &amp;<b>__v</b>) const
               Numeric parsing.
           <b>iter_type</b> <b>get</b> (<b>iter_type</b> <b>__in</b>, <b>iter_type</b> __end, <b>ios_base</b> &amp;<b>__io</b>, <b>ios_base::iostate</b> &amp;<b>__err</b>, long double
               &amp;<b>__v</b>) const
               Numeric parsing.

   <b>Static</b> <b>Public</b> <b>Attributes</b>
       <b>static</b> <b>locale::id</b> <b>id</b>
           Numpunct facet id.

   <b>Protected</b> <b>Member</b> <b>Functions</b>
       <b>virtual</b> <b>~num_get</b> ()
           Destructor.
       <b>iter_type</b> <b>_M_extract_float</b> (<b>iter_type</b>, <b>iter_type</b>, <b>ios_base</b> &amp;, <b>ios_base::iostate</b> &amp;, <b>string</b> &amp;) const
       template&lt;<b>typename</b> <b>_ValueT</b> &gt; <b>iter_type</b> <b>_M_extract_int</b> (<b>iter_type</b>, <b>iter_type</b>, <b>ios_base</b> &amp;, <b>ios_base::iostate</b>
           &amp;, <b>_ValueT</b> &amp;) const
       template&lt;<b>typename</b> <b>_CharT2</b> &gt; __gnu_cxx::__enable_if&lt; __is_char&lt; <b>_CharT2</b> &gt;::__value, int &gt;::__type <b>_M_find</b>
           (const <b>_CharT2</b> *, size_t <b>__len</b>, <b>_CharT2</b> __c) const
       template&lt;<b>typename</b> <b>_CharT2</b> &gt; __gnu_cxx::__enable_if&lt;!__is_char&lt; <b>_CharT2</b> &gt;::__value, int &gt;::__type <b>_M_find</b>
           (const <b>_CharT2</b> *<b>__zero</b>, size_t <b>__len</b>, <b>_CharT2</b> __c) const

           <b>virtual</b> <b>iter_type</b> <b>do_get</b> (<b>iter_type</b>, <b>iter_type</b>, <b>ios_base</b> &amp;, <b>ios_base::iostate</b> &amp;, bool &amp;) const
               Numeric parsing.
           <b>virtual</b> <b>iter_type</b> <b>do_get</b> (<b>iter_type</b> <b>__beg</b>, <b>iter_type</b> __end, <b>ios_base</b> &amp;<b>__io</b>, <b>ios_base::iostate</b> &amp;<b>__err</b>,
               long &amp;<b>__v</b>) const
               Numeric parsing.
           <b>virtual</b> <b>iter_type</b> <b>do_get</b> (<b>iter_type</b> <b>__beg</b>, <b>iter_type</b> __end, <b>ios_base</b> &amp;<b>__io</b>, <b>ios_base::iostate</b> &amp;<b>__err</b>,
               unsigned short &amp;<b>__v</b>) const
               Numeric parsing.
           <b>virtual</b> <b>iter_type</b> <b>do_get</b> (<b>iter_type</b> <b>__beg</b>, <b>iter_type</b> __end, <b>ios_base</b> &amp;<b>__io</b>, <b>ios_base::iostate</b> &amp;<b>__err</b>,
               unsigned int &amp;<b>__v</b>) const
               Numeric parsing.
           <b>virtual</b> <b>iter_type</b> <b>do_get</b> (<b>iter_type</b> <b>__beg</b>, <b>iter_type</b> __end, <b>ios_base</b> &amp;<b>__io</b>, <b>ios_base::iostate</b> &amp;<b>__err</b>,
               unsigned long &amp;<b>__v</b>) const
               Numeric parsing.
           <b>virtual</b> <b>iter_type</b> <b>do_get</b> (<b>iter_type</b> <b>__beg</b>, <b>iter_type</b> __end, <b>ios_base</b> &amp;<b>__io</b>, <b>ios_base::iostate</b> &amp;<b>__err</b>,
               long long &amp;<b>__v</b>) const
               Numeric parsing.
           <b>virtual</b> <b>iter_type</b> <b>do_get</b> (<b>iter_type</b> <b>__beg</b>, <b>iter_type</b> __end, <b>ios_base</b> &amp;<b>__io</b>, <b>ios_base::iostate</b> &amp;<b>__err</b>,
               unsigned long long &amp;<b>__v</b>) const
               Numeric parsing.
           <b>virtual</b> <b>iter_type</b> <b>do_get</b> (<b>iter_type</b>, <b>iter_type</b>, <b>ios_base</b> &amp;, <b>ios_base::iostate</b> &amp;, float &amp;) const
               Numeric parsing.
           <b>virtual</b> <b>iter_type</b> <b>do_get</b> (<b>iter_type</b>, <b>iter_type</b>, <b>ios_base</b> &amp;, <b>ios_base::iostate</b> &amp;, double &amp;) const
               Numeric parsing.
           <b>virtual</b> <b>iter_type</b> <b>do_get</b> (<b>iter_type</b>, <b>iter_type</b>, <b>ios_base</b> &amp;, <b>ios_base::iostate</b> &amp;, long double &amp;) const
               Numeric parsing.
           <b>virtual</b> <b>iter_type</b> <b>do_get</b> (<b>iter_type</b>, <b>iter_type</b>, <b>ios_base</b> &amp;, <b>ios_base::iostate</b> &amp;, <b>void</b> *&amp;) const
               Numeric parsing.

   <b>Static</b> <b>Protected</b> <b>Member</b> <b>Functions</b>
       <b>static</b> __c_locale <b>_S_clone_c_locale</b> (__c_locale &amp;<b>__cloc</b>)  <b>throw</b> ()
       <b>static</b> <b>void</b> <b>_S_create_c_locale</b> (__c_locale &amp;<b>__cloc</b>, const char *<b>__s</b>, __c_locale <b>__old</b>=0)
       <b>static</b> <b>void</b> <b>_S_destroy_c_locale</b> (__c_locale &amp;<b>__cloc</b>)
       <b>static</b> __c_locale <b>_S_get_c_locale</b> ()
       <b>static</b> const char * <b>_S_get_c_name</b> ()  <b>throw</b> ()
       <b>static</b> __c_locale <b>_S_lc_ctype_c_locale</b> (__c_locale <b>__cloc</b>, const char *<b>__s</b>)

</pre><h4><b>Detailed</b> <b>Description</b></h4><pre>
   <b>template&lt;typename</b> <b>_CharT,</b> <b>typename</b> <b>_InIter&gt;</b>
       class std::num_get&lt; _CharT, _InIter &gt;"Primary class template num_get.

       This facet encapsulates the code to parse and return a number from a string. It is used by the istream
       numeric extraction operators.

       The num_get template uses protected virtual functions to provide the actual results. The public accessors
       forward the call to the virtual functions. These virtual functions are hooks for developers to implement
       the behavior they require from the num_get facet.

</pre><h4><b>Member</b> <b>Typedef</b> <b>Documentation</b></h4><pre>
   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_InIter</b> <b>&gt;</b> <b>typedef</b> <b>_CharT</b> <b>std::num_get&lt;</b> <b>_CharT,</b> <b>_InIter</b> <b>&gt;::char_type</b>
       Public typedefs.

   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_InIter</b> <b>&gt;</b> <b>typedef</b> <b>_InIter</b> <b>std::num_get&lt;</b> <b>_CharT,</b> <b>_InIter</b> <b>&gt;::iter_type</b>
       Public typedefs.

</pre><h4><b>Constructor</b> <b>&amp;</b> <b>Destructor</b> <b>Documentation</b></h4><pre>
   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_InIter</b> <b>&gt;</b> <b>std::num_get&lt;</b> <b>_CharT,</b> <b>_InIter</b> <b>&gt;::num_get</b> <b>(size_t</b> <b>__refs</b> <b>=</b> <b>0)</b>
       <b>[inline],</b>  <b>[explicit]</b>
       Constructor performs initialization. This is the constructor provided by the standard.

       <b>Parameters</b>
           <b>__</b><u>refs</u> Passed to the base facet class.

   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_InIter</b> <b>&gt;</b> <b>virtual</b> <b>std::num_get&lt;</b> <b>_CharT,</b> <b>_InIter</b> <b>&gt;::~num_get</b> <b>()</b> <b>[inline],</b>
       <b>[protected],</b>  <b>[virtual]</b>
       Destructor.

</pre><h4><b>Member</b> <b>Function</b> <b>Documentation</b></h4><pre>
   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_InIter</b> <b>&gt;</b> <b>virtual</b> <b>iter_type</b> <b>std::num_get&lt;</b> <b>_CharT,</b> <b>_InIter</b> <b>&gt;::do_get</b>
       <b>(iter_type</b> <b>__beg,</b> <b>iter_type</b> <b>__end,</b> <b>ios_base</b> <b>&amp;</b> <b>__io,</b> <b>ios_base::iostate</b> <b>&amp;</b> <b>__err,</b> <b>long</b> <b>&amp;</b> <b>__v)</b> <b>const</b>
       <b>[inline],</b>  <b>[protected],</b>  <b>[virtual]</b>
       Numeric parsing. Parses the input stream into the variable <u>v</u>. This function is a hook for derived classes
       to change the value returned.

       <b>See</b> <b>also</b>
           get() for more details.

       <b>Parameters</b>
           <b>__</b><u>beg</u> Start of input stream.
           <b>__</b><u>end</u> End of input stream.
           <b>__</b><u>io</u> Source of locale and flags.
           <b>__</b><u>err</u> Error flags to set.
           <b>__</b><u>v</u> Value to format and insert.

       <b>Returns</b>
           Iterator after reading.

   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_InIter</b> <b>&gt;</b> <b>virtual</b> <b>iter_type</b> <b>std::num_get&lt;</b> <b>_CharT,</b> <b>_InIter</b> <b>&gt;::do_get</b>
       <b>(iter_type</b> <b>__beg,</b> <b>iter_type</b> <b>__end,</b> <b>ios_base</b> <b>&amp;</b> <b>__io,</b> <b>ios_base::iostate</b> <b>&amp;</b> <b>__err,</b> <b>long</b> <b>long</b> <b>&amp;</b> <b>__v)</b> <b>const</b>
       <b>[inline],</b>  <b>[protected],</b>  <b>[virtual]</b>
       Numeric parsing. Parses the input stream into the variable <u>v</u>. This function is a hook for derived classes
       to change the value returned.

       <b>See</b> <b>also</b>
           get() for more details.

       <b>Parameters</b>
           <b>__</b><u>beg</u> Start of input stream.
           <b>__</b><u>end</u> End of input stream.
           <b>__</b><u>io</u> Source of locale and flags.
           <b>__</b><u>err</u> Error flags to set.
           <b>__</b><u>v</u> Value to format and insert.

       <b>Returns</b>
           Iterator after reading.

   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_InIter</b> <b>&gt;</b> <b>virtual</b> <b>iter_type</b> <b>std::num_get&lt;</b> <b>_CharT,</b> <b>_InIter</b> <b>&gt;::do_get</b>
       <b>(iter_type</b> <b>__beg,</b> <b>iter_type</b> <b>__end,</b> <b>ios_base</b> <b>&amp;</b> <b>__io,</b> <b>ios_base::iostate</b> <b>&amp;</b> <b>__err,</b> <b>unsigned</b> <b>int</b> <b>&amp;</b> <b>__v)</b> <b>const</b>
       <b>[inline],</b>  <b>[protected],</b>  <b>[virtual]</b>
       Numeric parsing. Parses the input stream into the variable <u>v</u>. This function is a hook for derived classes
       to change the value returned.

       <b>See</b> <b>also</b>
           get() for more details.

       <b>Parameters</b>
           <b>__</b><u>beg</u> Start of input stream.
           <b>__</b><u>end</u> End of input stream.
           <b>__</b><u>io</u> Source of locale and flags.
           <b>__</b><u>err</u> Error flags to set.
           <b>__</b><u>v</u> Value to format and insert.

       <b>Returns</b>
           Iterator after reading.

   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_InIter</b> <b>&gt;</b> <b>virtual</b> <b>iter_type</b> <b>std::num_get&lt;</b> <b>_CharT,</b> <b>_InIter</b> <b>&gt;::do_get</b>
       <b>(iter_type</b> <b>__beg,</b> <b>iter_type</b> <b>__end,</b> <b>ios_base</b> <b>&amp;</b> <b>__io,</b> <b>ios_base::iostate</b> <b>&amp;</b> <b>__err,</b> <b>unsigned</b> <b>long</b> <b>&amp;</b> <b>__v)</b> <b>const</b>
       <b>[inline],</b>  <b>[protected],</b>  <b>[virtual]</b>
       Numeric parsing. Parses the input stream into the variable <u>v</u>. This function is a hook for derived classes
       to change the value returned.

       <b>See</b> <b>also</b>
           get() for more details.

       <b>Parameters</b>
           <b>__</b><u>beg</u> Start of input stream.
           <b>__</b><u>end</u> End of input stream.
           <b>__</b><u>io</u> Source of locale and flags.
           <b>__</b><u>err</u> Error flags to set.
           <b>__</b><u>v</u> Value to format and insert.

       <b>Returns</b>
           Iterator after reading.

   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_InIter</b> <b>&gt;</b> <b>virtual</b> <b>iter_type</b> <b>std::num_get&lt;</b> <b>_CharT,</b> <b>_InIter</b> <b>&gt;::do_get</b>
       <b>(iter_type</b> <b>__beg,</b> <b>iter_type</b> <b>__end,</b> <b>ios_base</b> <b>&amp;</b> <b>__io,</b> <b>ios_base::iostate</b> <b>&amp;</b> <b>__err,</b> <b>unsigned</b> <b>long</b> <b>long</b> <b>&amp;</b> <b>__v)</b>
       <b>const</b> <b>[inline],</b>  <b>[protected],</b>  <b>[virtual]</b>
       Numeric parsing. Parses the input stream into the variable <u>v</u>. This function is a hook for derived classes
       to change the value returned.

       <b>See</b> <b>also</b>
           get() for more details.

       <b>Parameters</b>
           <b>__</b><u>beg</u> Start of input stream.
           <b>__</b><u>end</u> End of input stream.
           <b>__</b><u>io</u> Source of locale and flags.
           <b>__</b><u>err</u> Error flags to set.
           <b>__</b><u>v</u> Value to format and insert.

       <b>Returns</b>
           Iterator after reading.

   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_InIter</b> <b>&gt;</b> <b>virtual</b> <b>iter_type</b> <b>std::num_get&lt;</b> <b>_CharT,</b> <b>_InIter</b> <b>&gt;::do_get</b>
       <b>(iter_type</b> <b>__beg,</b> <b>iter_type</b> <b>__end,</b> <b>ios_base</b> <b>&amp;</b> <b>__io,</b> <b>ios_base::iostate</b> <b>&amp;</b> <b>__err,</b> <b>unsigned</b> <b>short</b> <b>&amp;</b> <b>__v)</b>
       <b>const</b> <b>[inline],</b>  <b>[protected],</b>  <b>[virtual]</b>
       Numeric parsing. Parses the input stream into the variable <u>v</u>. This function is a hook for derived classes
       to change the value returned.

       <b>See</b> <b>also</b>
           get() for more details.

       <b>Parameters</b>
           <b>__</b><u>beg</u> Start of input stream.
           <b>__</b><u>end</u> End of input stream.
           <b>__</b><u>io</u> Source of locale and flags.
           <b>__</b><u>err</u> Error flags to set.
           <b>__</b><u>v</u> Value to format and insert.

       <b>Returns</b>
           Iterator after reading.

   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_InIter</b> <b>&gt;</b> <b>_InIter</b> <b>std::num_get&lt;</b> <b>_CharT,</b> <b>_InIter</b> <b>&gt;::do_get</b> <b>(iter_type</b>
       <b>__beg,</b> <b>iter_type</b> <b>__end,</b> <b>ios_base</b> <b>&amp;</b> <b>__io,</b> <b>ios_base::iostate</b> <b>&amp;</b> <b>__err,</b> <b>bool</b> <b>&amp;</b> <b>__v)</b> <b>const</b> <b>[protected],</b>
       <b>[virtual]</b>
       Numeric parsing. Parses the input stream into the variable <u>v</u>. This function is a hook for derived classes
       to change the value returned.

       <b>See</b> <b>also</b>
           get() for more details.

       <b>Parameters</b>
           <b>__</b><u>beg</u> Start of input stream.
           <b>__</b><u>end</u> End of input stream.
           <b>__</b><u>io</u> Source of locale and flags.
           <b>__</b><u>err</u> Error flags to set.
           <b>__</b><u>v</u> Value to format and insert.

       <b>Returns</b>
           Iterator after reading.

       References <b>std::ios_base::boolalpha</b>, <b>std::ios_base::eofbit</b>, <b>std::ios_base::failbit</b>, and
       <b>std::ios_base::goodbit</b>.

       Referenced by <b>std::num_get&lt;</b> <b>_CharT,</b> <b>_InIter</b> <b>&gt;::get()</b>, <b>std::num_get&lt;</b> <b>_CharT,</b> <b>_InIter</b> <b>&gt;::get()</b>,
       <b>std::num_get&lt;</b> <b>_CharT,</b> <b>_InIter</b> <b>&gt;::get()</b>, <b>std::num_get&lt;</b> <b>_CharT,</b> <b>_InIter</b> <b>&gt;::get()</b>, <b>std::num_get&lt;</b> <b>_CharT,</b>
       <b>_InIter</b> <b>&gt;::get()</b>, <b>std::num_get&lt;</b> <b>_CharT,</b> <b>_InIter</b> <b>&gt;::get()</b>, <b>std::num_get&lt;</b> <b>_CharT,</b> <b>_InIter</b> <b>&gt;::get()</b>,
       <b>std::num_get&lt;</b> <b>_CharT,</b> <b>_InIter</b> <b>&gt;::get()</b>, <b>std::num_get&lt;</b> <b>_CharT,</b> <b>_InIter</b> <b>&gt;::get()</b>, <b>std::num_get&lt;</b> <b>_CharT,</b>
       <b>_InIter</b> <b>&gt;::get()</b>, and <b>std::num_get&lt;</b> <b>_CharT,</b> <b>_InIter</b> <b>&gt;::get()</b>.

   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_InIter</b> <b>&gt;</b> <b>_InIter</b> <b>std::num_get&lt;</b> <b>_CharT,</b> <b>_InIter</b> <b>&gt;::do_get</b> <b>(iter_type</b>
       <b>__beg,</b> <b>iter_type</b> <b>__end,</b> <b>ios_base</b> <b>&amp;</b> <b>__io,</b> <b>ios_base::iostate</b> <b>&amp;</b> <b>__err,</b> <b>double</b> <b>&amp;</b> <b>__v)</b> <b>const</b> <b>[protected],</b>
       <b>[virtual]</b>
       Numeric parsing. Parses the input stream into the variable <u>v</u>. This function is a hook for derived classes
       to change the value returned.

       <b>See</b> <b>also</b>
           get() for more details.

       <b>Parameters</b>
           <b>__</b><u>beg</u> Start of input stream.
           <b>__</b><u>end</u> End of input stream.
           <b>__</b><u>io</u> Source of locale and flags.
           <b>__</b><u>err</u> Error flags to set.
           <b>__</b><u>v</u> Value to format and insert.

       <b>Returns</b>
           Iterator after reading.

       References <b>std::ios_base::eofbit</b>.

   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_InIter</b> <b>&gt;</b> <b>_InIter</b> <b>std::num_get&lt;</b> <b>_CharT,</b> <b>_InIter</b> <b>&gt;::do_get</b> <b>(iter_type</b>
       <b>__beg,</b> <b>iter_type</b> <b>__end,</b> <b>ios_base</b> <b>&amp;</b> <b>__io,</b> <b>ios_base::iostate</b> <b>&amp;</b> <b>__err,</b> <b>float</b> <b>&amp;</b> <b>__v)</b> <b>const</b> <b>[protected],</b>
       <b>[virtual]</b>
       Numeric parsing. Parses the input stream into the variable <u>v</u>. This function is a hook for derived classes
       to change the value returned.

       <b>See</b> <b>also</b>
           get() for more details.

       <b>Parameters</b>
           <b>__</b><u>beg</u> Start of input stream.
           <b>__</b><u>end</u> End of input stream.
           <b>__</b><u>io</u> Source of locale and flags.
           <b>__</b><u>err</u> Error flags to set.
           <b>__</b><u>v</u> Value to format and insert.

       <b>Returns</b>
           Iterator after reading.

       References <b>std::ios_base::eofbit</b>.

   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_InIter</b> <b>&gt;</b> <b>_InIter</b> <b>std::num_get&lt;</b> <b>_CharT,</b> <b>_InIter</b> <b>&gt;::do_get</b> <b>(iter_type</b>
       <b>__beg,</b> <b>iter_type</b> <b>__end,</b> <b>ios_base</b> <b>&amp;</b> <b>__io,</b> <b>ios_base::iostate</b> <b>&amp;</b> <b>__err,</b> <b>long</b> <b>double</b> <b>&amp;</b> <b>__v)</b> <b>const</b> <b>[protected],</b>
       <b>[virtual]</b>
       Numeric parsing. Parses the input stream into the variable <u>v</u>. This function is a hook for derived classes
       to change the value returned.

       <b>See</b> <b>also</b>
           get() for more details.

       <b>Parameters</b>
           <b>__</b><u>beg</u> Start of input stream.
           <b>__</b><u>end</u> End of input stream.
           <b>__</b><u>io</u> Source of locale and flags.
           <b>__</b><u>err</u> Error flags to set.
           <b>__</b><u>v</u> Value to format and insert.

       <b>Returns</b>
           Iterator after reading.

       References <b>std::ios_base::eofbit</b>.

   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_InIter</b> <b>&gt;</b> <b>_InIter</b> <b>std::num_get&lt;</b> <b>_CharT,</b> <b>_InIter</b> <b>&gt;::do_get</b> <b>(iter_type</b>
       <b>__beg,</b> <b>iter_type</b> <b>__end,</b> <b>ios_base</b> <b>&amp;</b> <b>__io,</b> <b>ios_base::iostate</b> <b>&amp;</b> <b>__err,</b> <b>void</b> <b>*&amp;</b> <b>__v)</b> <b>const</b> <b>[protected],</b>
       <b>[virtual]</b>
       Numeric parsing. Parses the input stream into the variable <u>v</u>. This function is a hook for derived classes
       to change the value returned.

       <b>See</b> <b>also</b>
           get() for more details.

       <b>Parameters</b>
           <b>__</b><u>beg</u> Start of input stream.
           <b>__</b><u>end</u> End of input stream.
           <b>__</b><u>io</u> Source of locale and flags.
           <b>__</b><u>err</u> Error flags to set.
           <b>__</b><u>v</u> Value to format and insert.

       <b>Returns</b>
           Iterator after reading.

       References <b>std::ios_base::basefield</b>, and <b>std::ios_base::hex</b>.

   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_InIter</b> <b>&gt;</b> <b>iter_type</b> <b>std::num_get&lt;</b> <b>_CharT,</b> <b>_InIter</b> <b>&gt;::get</b> <b>(iter_type</b> <b>__in,</b>
       <b>iter_type</b> <b>__end,</b> <b>ios_base</b> <b>&amp;</b> <b>__io,</b> <b>ios_base::iostate</b> <b>&amp;</b> <b>__err,</b> <b>bool</b> <b>&amp;</b> <b>__v)</b> <b>const</b> <b>[inline]</b>
       Numeric parsing. Parses the input stream into the bool <u>v</u>. It does so by calling num_get::do_get().

       If ios_base::boolalpha is set, attempts to read ctype&lt;CharT&gt;::truename() or ctype&lt;CharT&gt;::falsename().
       Sets <u>v</u> to true or false if successful. Sets err to ios_base::failbit if reading the string fails. Sets
       err to ios_base::eofbit if the stream is emptied.

       If ios_base::boolalpha is not set, proceeds as with reading a long, except if the value is 1, sets <u>v</u> to
       true, if the value is 0, sets <u>v</u> to false, and otherwise set err to ios_base::failbit.

       <b>Parameters</b>
           <b>__</b><u>in</u> Start of input stream.
           <b>__</b><u>end</u> End of input stream.
           <b>__</b><u>io</u> Source of locale and flags.
           <b>__</b><u>err</u> Error flags to set.
           <b>__</b><u>v</u> Value to format and insert.

       <b>Returns</b>
           Iterator after reading.

       References <b>std::num_get&lt;</b> <b>_CharT,</b> <b>_InIter</b> <b>&gt;::do_get()</b>.

   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_InIter</b> <b>&gt;</b> <b>iter_type</b> <b>std::num_get&lt;</b> <b>_CharT,</b> <b>_InIter</b> <b>&gt;::get</b> <b>(iter_type</b> <b>__in,</b>
       <b>iter_type</b> <b>__end,</b> <b>ios_base</b> <b>&amp;</b> <b>__io,</b> <b>ios_base::iostate</b> <b>&amp;</b> <b>__err,</b> <b>double</b> <b>&amp;</b> <b>__v)</b> <b>const</b> <b>[inline]</b>
       Numeric parsing. Parses the input stream into the integral variable <u>v</u>. It does so by calling
       num_get::do_get().

       The input characters are parsed like the scanf g specifier. The matching type length modifier is also
       used.

       The decimal point character used is numpunct::decimal_point(). Digit grouping is interpreted according to
       numpunct::grouping() and numpunct::thousands_sep(). If the pattern of digit groups isn't consistent, sets
       err to ios_base::failbit.

       If parsing the string yields a valid value for <u>v</u>, <u>v</u> is set. Otherwise, sets err to ios_base::failbit and
       leaves <u>v</u> unaltered. Sets err to ios_base::eofbit if the stream is emptied.

       <b>Parameters</b>
           <b>__</b><u>in</u> Start of input stream.
           <b>__</b><u>end</u> End of input stream.
           <b>__</b><u>io</u> Source of locale and flags.
           <b>__</b><u>err</u> Error flags to set.
           <b>__</b><u>v</u> Value to format and insert.

       <b>Returns</b>
           Iterator after reading.

       References <b>std::num_get&lt;</b> <b>_CharT,</b> <b>_InIter</b> <b>&gt;::do_get()</b>.

   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_InIter</b> <b>&gt;</b> <b>iter_type</b> <b>std::num_get&lt;</b> <b>_CharT,</b> <b>_InIter</b> <b>&gt;::get</b> <b>(iter_type</b> <b>__in,</b>
       <b>iter_type</b> <b>__end,</b> <b>ios_base</b> <b>&amp;</b> <b>__io,</b> <b>ios_base::iostate</b> <b>&amp;</b> <b>__err,</b> <b>float</b> <b>&amp;</b> <b>__v)</b> <b>const</b> <b>[inline]</b>
       Numeric parsing. Parses the input stream into the integral variable <u>v</u>. It does so by calling
       num_get::do_get().

       The input characters are parsed like the scanf g specifier. The matching type length modifier is also
       used.

       The decimal point character used is numpunct::decimal_point(). Digit grouping is interpreted according to
       numpunct::grouping() and numpunct::thousands_sep(). If the pattern of digit groups isn't consistent, sets
       err to ios_base::failbit.

       If parsing the string yields a valid value for <u>v</u>, <u>v</u> is set. Otherwise, sets err to ios_base::failbit and
       leaves <u>v</u> unaltered. Sets err to ios_base::eofbit if the stream is emptied.

       <b>Parameters</b>
           <b>__</b><u>in</u> Start of input stream.
           <b>__</b><u>end</u> End of input stream.
           <b>__</b><u>io</u> Source of locale and flags.
           <b>__</b><u>err</u> Error flags to set.
           <b>__</b><u>v</u> Value to format and insert.

       <b>Returns</b>
           Iterator after reading.

       References <b>std::num_get&lt;</b> <b>_CharT,</b> <b>_InIter</b> <b>&gt;::do_get()</b>.

   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_InIter</b> <b>&gt;</b> <b>iter_type</b> <b>std::num_get&lt;</b> <b>_CharT,</b> <b>_InIter</b> <b>&gt;::get</b> <b>(iter_type</b> <b>__in,</b>
       <b>iter_type</b> <b>__end,</b> <b>ios_base</b> <b>&amp;</b> <b>__io,</b> <b>ios_base::iostate</b> <b>&amp;</b> <b>__err,</b> <b>long</b> <b>&amp;</b> <b>__v)</b> <b>const</b> <b>[inline]</b>
       Numeric parsing. Parses the input stream into the integral variable <u>v</u>. It does so by calling
       num_get::do_get().

       Parsing is affected by the flag settings in <u>io</u>.

       The basic parse is affected by the value of io.flags() &amp; ios_base::basefield. If equal to ios_base::oct,
       parses like the scanf o specifier. Else if equal to ios_base::hex, parses like X specifier. Else if
       basefield equal to 0, parses like the i specifier. Otherwise, parses like d for signed and u for unsigned
       types. The matching type length modifier is also used.

       Digit grouping is interpreted according to numpunct::grouping() and numpunct::thousands_sep(). If the
       pattern of digit groups isn't consistent, sets err to ios_base::failbit.

       If parsing the string yields a valid value for <u>v</u>, <u>v</u> is set. Otherwise, sets err to ios_base::failbit and
       leaves <u>v</u> unaltered. Sets err to ios_base::eofbit if the stream is emptied.

       <b>Parameters</b>
           <b>__</b><u>in</u> Start of input stream.
           <b>__</b><u>end</u> End of input stream.
           <b>__</b><u>io</u> Source of locale and flags.
           <b>__</b><u>err</u> Error flags to set.
           <b>__</b><u>v</u> Value to format and insert.

       <b>Returns</b>
           Iterator after reading.

       References <b>std::num_get&lt;</b> <b>_CharT,</b> <b>_InIter</b> <b>&gt;::do_get()</b>.

   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_InIter</b> <b>&gt;</b> <b>iter_type</b> <b>std::num_get&lt;</b> <b>_CharT,</b> <b>_InIter</b> <b>&gt;::get</b> <b>(iter_type</b> <b>__in,</b>
       <b>iter_type</b> <b>__end,</b> <b>ios_base</b> <b>&amp;</b> <b>__io,</b> <b>ios_base::iostate</b> <b>&amp;</b> <b>__err,</b> <b>long</b> <b>double</b> <b>&amp;</b> <b>__v)</b> <b>const</b> <b>[inline]</b>
       Numeric parsing. Parses the input stream into the integral variable <u>v</u>. It does so by calling
       num_get::do_get().

       The input characters are parsed like the scanf g specifier. The matching type length modifier is also
       used.

       The decimal point character used is numpunct::decimal_point(). Digit grouping is interpreted according to
       numpunct::grouping() and numpunct::thousands_sep(). If the pattern of digit groups isn't consistent, sets
       err to ios_base::failbit.

       If parsing the string yields a valid value for <u>v</u>, <u>v</u> is set. Otherwise, sets err to ios_base::failbit and
       leaves <u>v</u> unaltered. Sets err to ios_base::eofbit if the stream is emptied.

       <b>Parameters</b>
           <b>__</b><u>in</u> Start of input stream.
           <b>__</b><u>end</u> End of input stream.
           <b>__</b><u>io</u> Source of locale and flags.
           <b>__</b><u>err</u> Error flags to set.
           <b>__</b><u>v</u> Value to format and insert.

       <b>Returns</b>
           Iterator after reading.

       References <b>std::num_get&lt;</b> <b>_CharT,</b> <b>_InIter</b> <b>&gt;::do_get()</b>.

   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_InIter</b> <b>&gt;</b> <b>iter_type</b> <b>std::num_get&lt;</b> <b>_CharT,</b> <b>_InIter</b> <b>&gt;::get</b> <b>(iter_type</b> <b>__in,</b>
       <b>iter_type</b> <b>__end,</b> <b>ios_base</b> <b>&amp;</b> <b>__io,</b> <b>ios_base::iostate</b> <b>&amp;</b> <b>__err,</b> <b>long</b> <b>long</b> <b>&amp;</b> <b>__v)</b> <b>const</b> <b>[inline]</b>
       Numeric parsing. Parses the input stream into the integral variable <u>v</u>. It does so by calling
       num_get::do_get().

       Parsing is affected by the flag settings in <u>io</u>.

       The basic parse is affected by the value of io.flags() &amp; ios_base::basefield. If equal to ios_base::oct,
       parses like the scanf o specifier. Else if equal to ios_base::hex, parses like X specifier. Else if
       basefield equal to 0, parses like the i specifier. Otherwise, parses like d for signed and u for unsigned
       types. The matching type length modifier is also used.

       Digit grouping is interpreted according to numpunct::grouping() and numpunct::thousands_sep(). If the
       pattern of digit groups isn't consistent, sets err to ios_base::failbit.

       If parsing the string yields a valid value for <u>v</u>, <u>v</u> is set. Otherwise, sets err to ios_base::failbit and
       leaves <u>v</u> unaltered. Sets err to ios_base::eofbit if the stream is emptied.

       <b>Parameters</b>
           <b>__</b><u>in</u> Start of input stream.
           <b>__</b><u>end</u> End of input stream.
           <b>__</b><u>io</u> Source of locale and flags.
           <b>__</b><u>err</u> Error flags to set.
           <b>__</b><u>v</u> Value to format and insert.

       <b>Returns</b>
           Iterator after reading.

       References <b>std::num_get&lt;</b> <b>_CharT,</b> <b>_InIter</b> <b>&gt;::do_get()</b>.

   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_InIter</b> <b>&gt;</b> <b>iter_type</b> <b>std::num_get&lt;</b> <b>_CharT,</b> <b>_InIter</b> <b>&gt;::get</b> <b>(iter_type</b> <b>__in,</b>
       <b>iter_type</b> <b>__end,</b> <b>ios_base</b> <b>&amp;</b> <b>__io,</b> <b>ios_base::iostate</b> <b>&amp;</b> <b>__err,</b> <b>unsigned</b> <b>int</b> <b>&amp;</b> <b>__v)</b> <b>const</b> <b>[inline]</b>
       Numeric parsing. Parses the input stream into the integral variable <u>v</u>. It does so by calling
       num_get::do_get().

       Parsing is affected by the flag settings in <u>io</u>.

       The basic parse is affected by the value of io.flags() &amp; ios_base::basefield. If equal to ios_base::oct,
       parses like the scanf o specifier. Else if equal to ios_base::hex, parses like X specifier. Else if
       basefield equal to 0, parses like the i specifier. Otherwise, parses like d for signed and u for unsigned
       types. The matching type length modifier is also used.

       Digit grouping is interpreted according to numpunct::grouping() and numpunct::thousands_sep(). If the
       pattern of digit groups isn't consistent, sets err to ios_base::failbit.

       If parsing the string yields a valid value for <u>v</u>, <u>v</u> is set. Otherwise, sets err to ios_base::failbit and
       leaves <u>v</u> unaltered. Sets err to ios_base::eofbit if the stream is emptied.

       <b>Parameters</b>
           <b>__</b><u>in</u> Start of input stream.
           <b>__</b><u>end</u> End of input stream.
           <b>__</b><u>io</u> Source of locale and flags.
           <b>__</b><u>err</u> Error flags to set.
           <b>__</b><u>v</u> Value to format and insert.

       <b>Returns</b>
           Iterator after reading.

       References <b>std::num_get&lt;</b> <b>_CharT,</b> <b>_InIter</b> <b>&gt;::do_get()</b>.

   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_InIter</b> <b>&gt;</b> <b>iter_type</b> <b>std::num_get&lt;</b> <b>_CharT,</b> <b>_InIter</b> <b>&gt;::get</b> <b>(iter_type</b> <b>__in,</b>
       <b>iter_type</b> <b>__end,</b> <b>ios_base</b> <b>&amp;</b> <b>__io,</b> <b>ios_base::iostate</b> <b>&amp;</b> <b>__err,</b> <b>unsigned</b> <b>long</b> <b>&amp;</b> <b>__v)</b> <b>const</b> <b>[inline]</b>
       Numeric parsing. Parses the input stream into the integral variable <u>v</u>. It does so by calling
       num_get::do_get().

       Parsing is affected by the flag settings in <u>io</u>.

       The basic parse is affected by the value of io.flags() &amp; ios_base::basefield. If equal to ios_base::oct,
       parses like the scanf o specifier. Else if equal to ios_base::hex, parses like X specifier. Else if
       basefield equal to 0, parses like the i specifier. Otherwise, parses like d for signed and u for unsigned
       types. The matching type length modifier is also used.

       Digit grouping is interpreted according to numpunct::grouping() and numpunct::thousands_sep(). If the
       pattern of digit groups isn't consistent, sets err to ios_base::failbit.

       If parsing the string yields a valid value for <u>v</u>, <u>v</u> is set. Otherwise, sets err to ios_base::failbit and
       leaves <u>v</u> unaltered. Sets err to ios_base::eofbit if the stream is emptied.

       <b>Parameters</b>
           <b>__</b><u>in</u> Start of input stream.
           <b>__</b><u>end</u> End of input stream.
           <b>__</b><u>io</u> Source of locale and flags.
           <b>__</b><u>err</u> Error flags to set.
           <b>__</b><u>v</u> Value to format and insert.

       <b>Returns</b>
           Iterator after reading.

       References <b>std::num_get&lt;</b> <b>_CharT,</b> <b>_InIter</b> <b>&gt;::do_get()</b>.

   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_InIter</b> <b>&gt;</b> <b>iter_type</b> <b>std::num_get&lt;</b> <b>_CharT,</b> <b>_InIter</b> <b>&gt;::get</b> <b>(iter_type</b> <b>__in,</b>
       <b>iter_type</b> <b>__end,</b> <b>ios_base</b> <b>&amp;</b> <b>__io,</b> <b>ios_base::iostate</b> <b>&amp;</b> <b>__err,</b> <b>unsigned</b> <b>long</b> <b>long</b> <b>&amp;</b> <b>__v)</b> <b>const</b> <b>[inline]</b>
       Numeric parsing. Parses the input stream into the integral variable <u>v</u>. It does so by calling
       num_get::do_get().

       Parsing is affected by the flag settings in <u>io</u>.

       The basic parse is affected by the value of io.flags() &amp; ios_base::basefield. If equal to ios_base::oct,
       parses like the scanf o specifier. Else if equal to ios_base::hex, parses like X specifier. Else if
       basefield equal to 0, parses like the i specifier. Otherwise, parses like d for signed and u for unsigned
       types. The matching type length modifier is also used.

       Digit grouping is interpreted according to numpunct::grouping() and numpunct::thousands_sep(). If the
       pattern of digit groups isn't consistent, sets err to ios_base::failbit.

       If parsing the string yields a valid value for <u>v</u>, <u>v</u> is set. Otherwise, sets err to ios_base::failbit and
       leaves <u>v</u> unaltered. Sets err to ios_base::eofbit if the stream is emptied.

       <b>Parameters</b>
           <b>__</b><u>in</u> Start of input stream.
           <b>__</b><u>end</u> End of input stream.
           <b>__</b><u>io</u> Source of locale and flags.
           <b>__</b><u>err</u> Error flags to set.
           <b>__</b><u>v</u> Value to format and insert.

       <b>Returns</b>
           Iterator after reading.

       References <b>std::num_get&lt;</b> <b>_CharT,</b> <b>_InIter</b> <b>&gt;::do_get()</b>.

   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_InIter</b> <b>&gt;</b> <b>iter_type</b> <b>std::num_get&lt;</b> <b>_CharT,</b> <b>_InIter</b> <b>&gt;::get</b> <b>(iter_type</b> <b>__in,</b>
       <b>iter_type</b> <b>__end,</b> <b>ios_base</b> <b>&amp;</b> <b>__io,</b> <b>ios_base::iostate</b> <b>&amp;</b> <b>__err,</b> <b>unsigned</b> <b>short</b> <b>&amp;</b> <b>__v)</b> <b>const</b> <b>[inline]</b>
       Numeric parsing. Parses the input stream into the integral variable <u>v</u>. It does so by calling
       num_get::do_get().

       Parsing is affected by the flag settings in <u>io</u>.

       The basic parse is affected by the value of io.flags() &amp; ios_base::basefield. If equal to ios_base::oct,
       parses like the scanf o specifier. Else if equal to ios_base::hex, parses like X specifier. Else if
       basefield equal to 0, parses like the i specifier. Otherwise, parses like d for signed and u for unsigned
       types. The matching type length modifier is also used.

       Digit grouping is interpreted according to numpunct::grouping() and numpunct::thousands_sep(). If the
       pattern of digit groups isn't consistent, sets err to ios_base::failbit.

       If parsing the string yields a valid value for <u>v</u>, <u>v</u> is set. Otherwise, sets err to ios_base::failbit and
       leaves <u>v</u> unaltered. Sets err to ios_base::eofbit if the stream is emptied.

       <b>Parameters</b>
           <b>__</b><u>in</u> Start of input stream.
           <b>__</b><u>end</u> End of input stream.
           <b>__</b><u>io</u> Source of locale and flags.
           <b>__</b><u>err</u> Error flags to set.
           <b>__</b><u>v</u> Value to format and insert.

       <b>Returns</b>
           Iterator after reading.

       References <b>std::num_get&lt;</b> <b>_CharT,</b> <b>_InIter</b> <b>&gt;::do_get()</b>.

   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_InIter</b> <b>&gt;</b> <b>iter_type</b> <b>std::num_get&lt;</b> <b>_CharT,</b> <b>_InIter</b> <b>&gt;::get</b> <b>(iter_type</b> <b>__in,</b>
       <b>iter_type</b> <b>__end,</b> <b>ios_base</b> <b>&amp;</b> <b>__io,</b> <b>ios_base::iostate</b> <b>&amp;</b> <b>__err,</b> <b>void</b> <b>*&amp;</b> <b>__v)</b> <b>const</b> <b>[inline]</b>
       Numeric parsing. Parses the input stream into the pointer variable <u>v</u>. It does so by calling
       num_get::do_get().

       The input characters are parsed like the scanf p specifier.

       Digit grouping is interpreted according to numpunct::grouping() and numpunct::thousands_sep(). If the
       pattern of digit groups isn't consistent, sets err to ios_base::failbit.

       Note that the digit grouping effect for pointers is a bit ambiguous in the standard and shouldn't be
       relied on. See DR 344.

       If parsing the string yields a valid value for <u>v</u>, <u>v</u> is set. Otherwise, sets err to ios_base::failbit and
       leaves <u>v</u> unaltered. Sets err to ios_base::eofbit if the stream is emptied.

       <b>Parameters</b>
           <b>__</b><u>in</u> Start of input stream.
           <b>__</b><u>end</u> End of input stream.
           <b>__</b><u>io</u> Source of locale and flags.
           <b>__</b><u>err</u> Error flags to set.
           <b>__</b><u>v</u> Value to format and insert.

       <b>Returns</b>
           Iterator after reading.

       References <b>std::num_get&lt;</b> <b>_CharT,</b> <b>_InIter</b> <b>&gt;::do_get()</b>.

</pre><h4><b>Member</b> <b>Data</b> <b>Documentation</b></h4><pre>
   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_InIter</b> <b>&gt;</b> <b>locale::id</b> <b>std::num_get&lt;</b> <b>_CharT,</b> <b>_InIter</b> <b>&gt;::id</b> <b>[static]</b>
       Numpunct facet id.

</pre><h4><b>Author</b></h4><pre>
       Generated automatically by Doxygen for libstdc++ from the source code.

                                                    libstdc++              <u>std::num_get&lt;</u> <b>_</b><u>CharT,</u> <b>_</b><u>InIter</u> <u>&gt;</u>(3cxx)
</pre>
 </div>
</div></section>
</div>
</body>
</html>