<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>std::pmr::polymorphic_allocator< _Tp > - Class template polymorphic_allocator.</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libstdc++-13-doc">libstdc++-13-doc_13.4.0-1ubuntu1_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       std::pmr::polymorphic_allocator&lt; _Tp &gt; - Class template polymorphic_allocator.

</pre><h4><b>SYNOPSIS</b></h4><pre>
       #include &lt;memory_resource&gt;

   <b>Public</b> <b>Types</b>
       <b>using</b> <b>value_type</b> = _Tp

   <b>Public</b> <b>Member</b> <b>Functions</b>
       <b>polymorphic_allocator</b> (const <b>polymorphic_allocator</b> &amp;__other)=<b>default</b>
       template&lt;<b>typename</b> _Up &gt; <b>polymorphic_allocator</b> (const <b>polymorphic_allocator</b>&lt; _Up &gt; &amp;__x) noexcept
       <b>polymorphic_allocator</b> (<b>memory_resource</b> *__r) noexcept
       _Tp * <b>allocate</b> (size_t __n)
       <b>void</b> * <b>allocate_bytes</b> (size_t <b>__nbytes</b>, size_t <b>__alignment</b>=<b>alignof</b>(<b>max_align_t</b>))
       template&lt;<b>typename</b> _Up &gt; _Up * <b>allocate_object</b> (size_t __n=1)
       template&lt;<b>typename</b> <b>_Tp1</b> , typename... _Args&gt; <b>void</b> <b>construct</b> (<b>_Tp1</b> *__p, <b>_Args</b> &amp;&amp;... <b>__args</b>)
       <b>void</b> <b>deallocate</b> (_Tp *__p, size_t __n) noexcept
       <b>void</b> <b>deallocate_bytes</b> (<b>void</b> *__p, size_t <b>__nbytes</b>, size_t <b>__alignment</b>=<b>alignof</b>(<b>max_align_t</b>))
       template&lt;<b>typename</b> _Up &gt; <b>void</b> <b>deallocate_object</b> (_Up *__p, size_t __n=1)
       template&lt;<b>typename</b> _Up &gt; <b>void</b> <b>delete_object</b> (_Up *__p)
       template&lt;<b>typename</b> _Up &gt; <b>void</b> <b>destroy</b> (_Up *__p)
       template&lt;<b>typename</b> _Up , typename... _CtorArgs&gt; _Up * <b>new_object</b> (<b>_CtorArgs</b> &amp;&amp;... <b>__ctor_args</b>)
       <b>polymorphic_allocator</b> &amp; <b>operator=</b> (const <b>polymorphic_allocator</b> &amp;)=<b>delete</b>
       <b>memory_resource</b> * <b>resource</b> () const noexcept
       <b>polymorphic_allocator</b> <b>select_on_container_copy_construction</b> () const noexcept

   <b>Friends</b>
       bool <b>operator==</b> (const <b>polymorphic_allocator</b> &amp;__a, const <b>polymorphic_allocator</b> &amp;__b) noexcept

</pre><h4><b>Detailed</b> <b>Description</b></h4><pre>
   <b>template&lt;typename</b> <b>_Tp&gt;</b>
       class std::pmr::polymorphic_allocator&lt; _Tp &gt;"Class template polymorphic_allocator.

       <b>Since</b>
           C++17

</pre><h4><b>Author</b></h4><pre>
       Generated automatically by Doxygen for libstdc++ from the source code.

                                                    libstdc++       <u>std::pmr::polymorphic_allocator&lt;</u> <b>_</b><u>Tp</u> <u>&gt;</u>(3cxx)
</pre>
 </div>
</div></section>
</div>
</body>
</html>