<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>std::money_put< _CharT, _OutIter > - Primary class template money_put.</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libstdc++-13-doc">libstdc++-13-doc_13.4.0-1ubuntu1_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       std::money_put&lt; _CharT, _OutIter &gt; - Primary class template money_put.

</pre><h4><b>SYNOPSIS</b></h4><pre>
       #include &lt;locale&gt;

       Inherits <b>std::locale::facet</b>.

   <b>Public</b> <b>Types</b>

           <b>typedef</b> _CharT <b>char_type</b>
               Public typedefs.
           <b>typedef</b> <b>_OutIter</b> <b>iter_type</b>
               Public typedefs.
           <b>typedef</b> <b>basic_string</b>&lt; _CharT &gt; <b>string_type</b>
               Public typedefs.

   <b>Public</b> <b>Member</b> <b>Functions</b>
       <b>money_put</b> (size_t <b>__refs</b>=0)
           Constructor performs initialization.
       template&lt;bool _Intl&gt; <b>_OutIter</b> <b>_M_insert</b> (<b>iter_type</b> <b>__s</b>, <b>ios_base</b> &amp;<b>__io</b>, <b>char_type</b> __fill, const
           <b>string_type</b> &amp;__digits) const
       <b>iter_type</b> <b>put</b> (<b>iter_type</b> <b>__s</b>, bool <b>__intl</b>, <b>ios_base</b> &amp;<b>__io</b>, <b>char_type</b> __fill, const <b>string_type</b> &amp;__digits)
           const
           Format and output a monetary value.
       <b>iter_type</b> <b>put</b> (<b>iter_type</b> <b>__s</b>, bool <b>__intl</b>, <b>ios_base</b> &amp;<b>__io</b>, <b>char_type</b> __fill, long double <b>__units</b>) const
           Format and output a monetary value.

   <b>Static</b> <b>Public</b> <b>Attributes</b>
       <b>static</b> <b>locale::id</b> <b>id</b>
           Numpunct facet id.

   <b>Protected</b> <b>Member</b> <b>Functions</b>
       <b>virtual</b> <b>~money_put</b> ()
           Destructor.
       template&lt;bool _Intl&gt; <b>iter_type</b> <b>_M_insert</b> (<b>iter_type</b> <b>__s</b>, <b>ios_base</b> &amp;<b>__io</b>, <b>char_type</b> __fill, const
           <b>string_type</b> &amp;__digits) const
       <b>virtual</b> <b>iter_type</b> <b>do_put</b> (<b>iter_type</b> <b>__s</b>, bool <b>__intl</b>, <b>ios_base</b> &amp;<b>__io</b>, <b>char_type</b> __fill, const <b>string_type</b>
           &amp;__digits) const
           Format and output a monetary value.
       <b>virtual</b> <b>iter_type</b> <b>do_put</b> (<b>iter_type</b> <b>__s</b>, bool <b>__intl</b>, <b>ios_base</b> &amp;<b>__io</b>, <b>char_type</b> __fill, long double
           <b>__units</b>) const
           Format and output a monetary value.

   <b>Static</b> <b>Protected</b> <b>Member</b> <b>Functions</b>
       <b>static</b> __c_locale <b>_S_clone_c_locale</b> (__c_locale &amp;<b>__cloc</b>)  <b>throw</b> ()
       <b>static</b> <b>void</b> <b>_S_create_c_locale</b> (__c_locale &amp;<b>__cloc</b>, const char *<b>__s</b>, __c_locale <b>__old</b>=0)
       <b>static</b> <b>void</b> <b>_S_destroy_c_locale</b> (__c_locale &amp;<b>__cloc</b>)
       <b>static</b> __c_locale <b>_S_get_c_locale</b> ()
       <b>static</b> const char * <b>_S_get_c_name</b> ()  <b>throw</b> ()
       <b>static</b> __c_locale <b>_S_lc_ctype_c_locale</b> (__c_locale <b>__cloc</b>, const char *<b>__s</b>)

</pre><h4><b>Detailed</b> <b>Description</b></h4><pre>
   <b>template&lt;typename</b> <b>_CharT,</b> <b>typename</b> <b>_OutIter&gt;</b>
       class std::money_put&lt; _CharT, _OutIter &gt;"Primary class template money_put.

       This facet encapsulates the code to format and output a monetary amount.

       The money_put template uses protected virtual functions to provide the actual results. The public
       accessors forward the call to the virtual functions. These virtual functions are hooks for developers to
       implement the behavior they require from the money_put facet.

</pre><h4><b>Member</b> <b>Typedef</b> <b>Documentation</b></h4><pre>
   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_OutIter</b> <b>&gt;</b> <b>typedef</b> <b>_CharT</b> <b>std::money_put&lt;</b> <b>_CharT,</b> <b>_OutIter</b> <b>&gt;::char_type</b>
       Public typedefs.

   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_OutIter</b> <b>&gt;</b> <b>typedef</b> <b>_OutIter</b> <b>std::money_put&lt;</b> <b>_CharT,</b> <b>_OutIter</b> <b>&gt;::iter_type</b>

       Public typedefs.

   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_OutIter</b> <b>&gt;</b> <b>typedef</b> <b>basic_string&lt;_CharT&gt;</b> <b>std::money_put&lt;</b> <b>_CharT,</b> <b>_OutIter</b>
       <b>&gt;::string_type</b>
       Public typedefs.

</pre><h4><b>Constructor</b> <b>&amp;</b> <b>Destructor</b> <b>Documentation</b></h4><pre>
   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_OutIter</b> <b>&gt;</b> <b>std::money_put&lt;</b> <b>_CharT,</b> <b>_OutIter</b> <b>&gt;::money_put</b> <b>(size_t</b> <b>__refs</b> <b>=</b>
       <b>0)</b> <b>[inline],</b>  <b>[explicit]</b>
       Constructor performs initialization. This is the constructor provided by the standard.

       <b>Parameters</b>
           <b>__</b><u>refs</u> Passed to the base facet class.

   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_OutIter</b> <b>&gt;</b> <b>virtual</b> <b>std::money_put&lt;</b> <b>_CharT,</b> <b>_OutIter</b> <b>&gt;::~money_put</b> <b>()</b>
       <b>[inline],</b>  <b>[protected],</b>  <b>[virtual]</b>
       Destructor.

</pre><h4><b>Member</b> <b>Function</b> <b>Documentation</b></h4><pre>
   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_OutIter</b> <b>&gt;</b> <b>_OutIter</b> <b>std::money_put&lt;</b> <b>_CharT,</b> <b>_OutIter</b> <b>&gt;::do_put</b> <b>(iter_type</b>
       <b>__s,</b> <b>bool</b> <b>__intl,</b> <b>ios_base</b> <b>&amp;</b> <b>__io,</b> <b>char_type</b> <b>__fill,</b> <b>const</b> <b>string_type</b> <b>&amp;</b> <b>__digits)</b> <b>const</b> <b>[protected],</b>
       <b>[virtual]</b>
       Format and output a monetary value. This function formats <u>digits</u> as a monetary value according to
       moneypunct and ctype facets retrieved from io.getloc(), and writes the resulting characters to <b>__</b><u>s</u>. For
       example, the string 1001 in a US locale would write $10.01 to <b>__</b><u>s</u>.

       This function is a hook for derived classes to change the value returned.

       <b>See</b> <b>also</b>
           put().

       <b>Parameters</b>
           <b>__</b><u>s</u> The stream to write to.
           <b>__</b><u>intl</u> Parameter to use_facet&lt;moneypunct&lt;CharT,intl&gt; &gt;.
           <b>__</b><u>io</u> Source of facets and io state.
           <b>__</b><u>fill</u> char_type to use for padding.
           <b>__</b><u>digits</u> Place to store result of parsing.

       <b>Returns</b>
           Iterator after writing.

   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_OutIter</b> <b>&gt;</b> <b>_OutIter</b> <b>std::money_put&lt;</b> <b>_CharT,</b> <b>_OutIter</b> <b>&gt;::do_put</b> <b>(iter_type</b>
       <b>__s,</b> <b>bool</b> <b>__intl,</b> <b>ios_base</b> <b>&amp;</b> <b>__io,</b> <b>char_type</b> <b>__fill,</b> <b>long</b> <b>double</b> <b>__units)</b> <b>const</b> <b>[protected],</b>  <b>[virtual]</b>
       Format and output a monetary value. This function formats <u>units</u> as a monetary value according to
       moneypunct and ctype facets retrieved from io.getloc(), and writes the resulting characters to <b>__</b><u>s</u>. For
       example, the value 1001 in a US locale would write $10.01 to <b>__</b><u>s</u>.

       This function is a hook for derived classes to change the value returned.

       <b>See</b> <b>also</b>
           put().

       <b>Parameters</b>
           <b>__</b><u>s</u> The stream to write to.
           <b>__</b><u>intl</u> Parameter to use_facet&lt;moneypunct&lt;CharT,intl&gt; &gt;.
           <b>__</b><u>io</u> Source of facets and io state.
           <b>__</b><u>fill</u> char_type to use for padding.
           <b>__</b><u>units</u> Place to store result of parsing.

       <b>Returns</b>
           Iterator after writing.

       Referenced by <b>std::money_put&lt;</b> <b>_CharT,</b> <b>_OutIter</b> <b>&gt;::put()</b>, and <b>std::money_put&lt;</b> <b>_CharT,</b> <b>_OutIter</b> <b>&gt;::put()</b>.

   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_OutIter</b> <b>&gt;</b> <b>iter_type</b> <b>std::money_put&lt;</b> <b>_CharT,</b> <b>_OutIter</b> <b>&gt;::put</b> <b>(iter_type</b>
       <b>__s,</b> <b>bool</b> <b>__intl,</b> <b>ios_base</b> <b>&amp;</b> <b>__io,</b> <b>char_type</b> <b>__fill,</b> <b>const</b> <b>string_type</b> <b>&amp;</b> <b>__digits)</b> <b>const</b> <b>[inline]</b>
       Format and output a monetary value. This function formats <u>digits</u> as a monetary value according to
       moneypunct and ctype facets retrieved from io.getloc(), and writes the resulting characters to <b>__</b><u>s</u>. For
       example, the string 1001 in a US locale would write $10.01 to <b>__</b><u>s</u>.

       This function works by returning the result of do_put().

       <b>Parameters</b>
           <b>__</b><u>s</u> The stream to write to.
           <b>__</b><u>intl</u> Parameter to use_facet&lt;moneypunct&lt;CharT,intl&gt; &gt;.
           <b>__</b><u>io</u> Source of facets and io state.
           <b>__</b><u>fill</u> char_type to use for padding.
           <b>__</b><u>digits</u> Place to store result of parsing.

       <b>Returns</b>
           Iterator after writing.

       References <b>std::money_put&lt;</b> <b>_CharT,</b> <b>_OutIter</b> <b>&gt;::do_put()</b>.

   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_OutIter</b> <b>&gt;</b> <b>iter_type</b> <b>std::money_put&lt;</b> <b>_CharT,</b> <b>_OutIter</b> <b>&gt;::put</b> <b>(iter_type</b>
       <b>__s,</b> <b>bool</b> <b>__intl,</b> <b>ios_base</b> <b>&amp;</b> <b>__io,</b> <b>char_type</b> <b>__fill,</b> <b>long</b> <b>double</b> <b>__units)</b> <b>const</b> <b>[inline]</b>
       Format and output a monetary value. This function formats <u>units</u> as a monetary value according to
       moneypunct and ctype facets retrieved from io.getloc(), and writes the resulting characters to <b>__</b><u>s</u>. For
       example, the value 1001 in a US locale would write $10.01 to <b>__</b><u>s</u>.

       This function works by returning the result of do_put().

       <b>Parameters</b>
           <b>__</b><u>s</u> The stream to write to.
           <b>__</b><u>intl</u> Parameter to use_facet&lt;moneypunct&lt;CharT,intl&gt; &gt;.
           <b>__</b><u>io</u> Source of facets and io state.
           <b>__</b><u>fill</u> char_type to use for padding.
           <b>__</b><u>units</u> Place to store result of parsing.

       <b>Returns</b>
           Iterator after writing.

       References <b>std::money_put&lt;</b> <b>_CharT,</b> <b>_OutIter</b> <b>&gt;::do_put()</b>.

</pre><h4><b>Member</b> <b>Data</b> <b>Documentation</b></h4><pre>
   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_OutIter</b> <b>&gt;</b> <b>locale::id</b> <b>std::money_put&lt;</b> <b>_CharT,</b> <b>_OutIter</b> <b>&gt;::id</b> <b>[static]</b>
       Numpunct facet id.

</pre><h4><b>Author</b></h4><pre>
       Generated automatically by Doxygen for libstdc++ from the source code.

                                                    libstdc++           <u>std::money_put&lt;</u> <b>_</b><u>CharT,</u> <b>_</b><u>OutIter</u> <u>&gt;</u>(3cxx)
</pre>
 </div>
</div></section>
</div>
</body>
</html>