<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>std::num_put< _CharT, _OutIter > - Primary class template num_put.</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libstdc++-13-doc">libstdc++-13-doc_13.4.0-1ubuntu1_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       std::num_put&lt; _CharT, _OutIter &gt; - Primary class template num_put.

</pre><h4><b>SYNOPSIS</b></h4><pre>
       #include &lt;locale&gt;

       Inherits <b>std::locale::facet</b>.

   <b>Public</b> <b>Types</b>

           <b>typedef</b> _CharT <b>char_type</b>
               Public typedefs.
           <b>typedef</b> <b>_OutIter</b> <b>iter_type</b>
               Public typedefs.

   <b>Public</b> <b>Member</b> <b>Functions</b>
       <b>num_put</b> (size_t <b>__refs</b>=0)
           Constructor performs initialization.
       template&lt;<b>typename</b> <b>_ValueT</b> &gt; <b>_OutIter</b> <b>_M_insert_float</b> (<b>_OutIter</b> <b>__s</b>, <b>ios_base</b> &amp;<b>__io</b>, _CharT __fill, char
           <b>__mod</b>, <b>_ValueT</b> <b>__v</b>) const
       template&lt;<b>typename</b> <b>_ValueT</b> &gt; <b>_OutIter</b> <b>_M_insert_int</b> (<b>_OutIter</b> <b>__s</b>, <b>ios_base</b> &amp;<b>__io</b>, _CharT __fill, <b>_ValueT</b>
           <b>__v</b>) const
       <b>iter_type</b> <b>put</b> (<b>iter_type</b> <b>__s</b>, <b>ios_base</b> &amp;<b>__io</b>, <b>char_type</b> __fill, bool <b>__v</b>) const
           Numeric formatting.
       <b>iter_type</b> <b>put</b> (<b>iter_type</b> <b>__s</b>, <b>ios_base</b> &amp;<b>__io</b>, <b>char_type</b> __fill, const <b>void</b> *<b>__v</b>) const
           Numeric formatting.

           <b>iter_type</b> <b>put</b> (<b>iter_type</b> <b>__s</b>, <b>ios_base</b> &amp;<b>__io</b>, <b>char_type</b> __fill, long <b>__v</b>) const
               Numeric formatting.
           <b>iter_type</b> <b>put</b> (<b>iter_type</b> <b>__s</b>, <b>ios_base</b> &amp;<b>__io</b>, <b>char_type</b> __fill, unsigned long <b>__v</b>) const
               Numeric formatting.
           <b>iter_type</b> <b>put</b> (<b>iter_type</b> <b>__s</b>, <b>ios_base</b> &amp;<b>__io</b>, <b>char_type</b> __fill, long long <b>__v</b>) const
               Numeric formatting.
           <b>iter_type</b> <b>put</b> (<b>iter_type</b> <b>__s</b>, <b>ios_base</b> &amp;<b>__io</b>, <b>char_type</b> __fill, unsigned long long <b>__v</b>) const
               Numeric formatting.

           <b>iter_type</b> <b>put</b> (<b>iter_type</b> <b>__s</b>, <b>ios_base</b> &amp;<b>__io</b>, <b>char_type</b> __fill, double <b>__v</b>) const
               Numeric formatting.
           <b>iter_type</b> <b>put</b> (<b>iter_type</b> <b>__s</b>, <b>ios_base</b> &amp;<b>__io</b>, <b>char_type</b> __fill, long double <b>__v</b>) const
               Numeric formatting.

   <b>Static</b> <b>Public</b> <b>Attributes</b>
       <b>static</b> <b>locale::id</b> <b>id</b>
           Numpunct facet id.

   <b>Protected</b> <b>Member</b> <b>Functions</b>
       <b>virtual</b> <b>~num_put</b> ()
           Destructor.
       <b>void</b> <b>_M_group_float</b> (const char *<b>__grouping</b>, size_t <b>__grouping_size</b>, <b>char_type</b> <b>__sep</b>, const <b>char_type</b>
           *__p, <b>char_type</b> *<b>__new</b>, <b>char_type</b> *<b>__cs</b>, int &amp;<b>__len</b>) const
       <b>void</b> <b>_M_group_int</b> (const char *<b>__grouping</b>, size_t <b>__grouping_size</b>, <b>char_type</b> <b>__sep</b>, <b>ios_base</b> &amp;<b>__io</b>,
           <b>char_type</b> *<b>__new</b>, <b>char_type</b> *<b>__cs</b>, int &amp;<b>__len</b>) const
       template&lt;<b>typename</b> <b>_ValueT</b> &gt; <b>iter_type</b> <b>_M_insert_float</b> (<b>iter_type</b>, <b>ios_base</b> &amp;<b>__io</b>, <b>char_type</b> __fill, char
           <b>__mod</b>, <b>_ValueT</b> <b>__v</b>) const
       template&lt;<b>typename</b> <b>_ValueT</b> &gt; <b>iter_type</b> <b>_M_insert_int</b> (<b>iter_type</b>, <b>ios_base</b> &amp;<b>__io</b>, <b>char_type</b> __fill, <b>_ValueT</b>
           <b>__v</b>) const
       <b>void</b> <b>_M_pad</b> (<b>char_type</b> __fill, <b>streamsize</b> <b>__w</b>, <b>ios_base</b> &amp;<b>__io</b>, <b>char_type</b> *<b>__new</b>, const <b>char_type</b> *<b>__cs</b>,
           int &amp;<b>__len</b>) const

           <b>virtual</b> <b>iter_type</b> <b>do_put</b> (<b>iter_type</b> <b>__s</b>, <b>ios_base</b> &amp;<b>__io</b>, <b>char_type</b> __fill, bool <b>__v</b>) const
               Numeric formatting.
           <b>virtual</b> <b>iter_type</b> <b>do_put</b> (<b>iter_type</b> <b>__s</b>, <b>ios_base</b> &amp;<b>__io</b>, <b>char_type</b> __fill, long <b>__v</b>) const
               Numeric formatting.
           <b>virtual</b> <b>iter_type</b> <b>do_put</b> (<b>iter_type</b> <b>__s</b>, <b>ios_base</b> &amp;<b>__io</b>, <b>char_type</b> __fill, unsigned long <b>__v</b>) const
               Numeric formatting.
           <b>virtual</b> <b>iter_type</b> <b>do_put</b> (<b>iter_type</b> <b>__s</b>, <b>ios_base</b> &amp;<b>__io</b>, <b>char_type</b> __fill, long long <b>__v</b>) const
               Numeric formatting.
           <b>virtual</b> <b>iter_type</b> <b>do_put</b> (<b>iter_type</b> <b>__s</b>, <b>ios_base</b> &amp;<b>__io</b>, <b>char_type</b> __fill, unsigned long long <b>__v</b>)
               const
               Numeric formatting.
           <b>virtual</b> <b>iter_type</b> <b>do_put</b> (<b>iter_type</b>, <b>ios_base</b> &amp;, <b>char_type</b>, double) const
               Numeric formatting.
           <b>virtual</b> <b>iter_type</b> <b>do_put</b> (<b>iter_type</b>, <b>ios_base</b> &amp;, <b>char_type</b>, long double) const
               Numeric formatting.
           <b>virtual</b> <b>iter_type</b> <b>do_put</b> (<b>iter_type</b>, <b>ios_base</b> &amp;, <b>char_type</b>, const <b>void</b> *) const
               Numeric formatting.

   <b>Static</b> <b>Protected</b> <b>Member</b> <b>Functions</b>
       <b>static</b> __c_locale <b>_S_clone_c_locale</b> (__c_locale &amp;<b>__cloc</b>)  <b>throw</b> ()
       <b>static</b> <b>void</b> <b>_S_create_c_locale</b> (__c_locale &amp;<b>__cloc</b>, const char *<b>__s</b>, __c_locale <b>__old</b>=0)
       <b>static</b> <b>void</b> <b>_S_destroy_c_locale</b> (__c_locale &amp;<b>__cloc</b>)
       <b>static</b> __c_locale <b>_S_get_c_locale</b> ()
       <b>static</b> const char * <b>_S_get_c_name</b> ()  <b>throw</b> ()
       <b>static</b> __c_locale <b>_S_lc_ctype_c_locale</b> (__c_locale <b>__cloc</b>, const char *<b>__s</b>)

</pre><h4><b>Detailed</b> <b>Description</b></h4><pre>
   <b>template&lt;typename</b> <b>_CharT,</b> <b>typename</b> <b>_OutIter&gt;</b>
       class std::num_put&lt; _CharT, _OutIter &gt;"Primary class template num_put.

       This facet encapsulates the code to convert a number to a string. It is used by the ostream numeric
       insertion operators.

       The num_put template uses protected virtual functions to provide the actual results. The public accessors
       forward the call to the virtual functions. These virtual functions are hooks for developers to implement
       the behavior they require from the num_put facet.

</pre><h4><b>Member</b> <b>Typedef</b> <b>Documentation</b></h4><pre>
   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_OutIter</b> <b>&gt;</b> <b>typedef</b> <b>_CharT</b> <b>std::num_put&lt;</b> <b>_CharT,</b> <b>_OutIter</b> <b>&gt;::char_type</b>
       Public typedefs.

   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_OutIter</b> <b>&gt;</b> <b>typedef</b> <b>_OutIter</b> <b>std::num_put&lt;</b> <b>_CharT,</b> <b>_OutIter</b> <b>&gt;::iter_type</b>
       Public typedefs.

</pre><h4><b>Constructor</b> <b>&amp;</b> <b>Destructor</b> <b>Documentation</b></h4><pre>
   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_OutIter</b> <b>&gt;</b> <b>std::num_put&lt;</b> <b>_CharT,</b> <b>_OutIter</b> <b>&gt;::num_put</b> <b>(size_t</b> <b>__refs</b> <b>=</b> <b>0)</b>
       <b>[inline],</b>  <b>[explicit]</b>
       Constructor performs initialization. This is the constructor provided by the standard.

       <b>Parameters</b>
           <b>__</b><u>refs</u> Passed to the base facet class.

   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_OutIter</b> <b>&gt;</b> <b>virtual</b> <b>std::num_put&lt;</b> <b>_CharT,</b> <b>_OutIter</b> <b>&gt;::~num_put</b> <b>()</b>
       <b>[inline],</b>  <b>[protected],</b>  <b>[virtual]</b>
       Destructor.

</pre><h4><b>Member</b> <b>Function</b> <b>Documentation</b></h4><pre>
   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_OutIter</b> <b>&gt;</b> <b>_OutIter</b> <b>std::num_put&lt;</b> <b>_CharT,</b> <b>_OutIter</b> <b>&gt;::do_put</b> <b>(iter_type</b>
       <b>__s,</b> <b>ios_base</b> <b>&amp;</b> <b>__io,</b> <b>char_type</b> <b>__fill,</b> <b>bool</b> <b>__v)</b> <b>const</b> <b>[protected],</b>  <b>[virtual]</b>
       Numeric formatting. These functions do the work of formatting numeric values and inserting them into a
       stream. This function is a hook for derived classes to change the value returned.

       <b>Parameters</b>
           <b>__</b><u>s</u> Stream to write to.
           <b>__</b><u>io</u> Source of locale and flags.
           <b>__</b><u>fill</u> Char_type to use for filling.
           <b>__</b><u>v</u> Value to format and insert.

       <b>Returns</b>
           Iterator after writing.

       References <b>std::ios_base::adjustfield</b>, <b>std::ios_base::boolalpha</b>, and <b>std::ios_base::left</b>.

       Referenced by <b>std::num_put&lt;</b> <b>_CharT,</b> <b>_OutIter</b> <b>&gt;::put()</b>, <b>std::num_put&lt;</b> <b>_CharT,</b> <b>_OutIter</b> <b>&gt;::put()</b>,
       <b>std::num_put&lt;</b> <b>_CharT,</b> <b>_OutIter</b> <b>&gt;::put()</b>, <b>std::num_put&lt;</b> <b>_CharT,</b> <b>_OutIter</b> <b>&gt;::put()</b>, <b>std::num_put&lt;</b> <b>_CharT,</b>
       <b>_OutIter</b> <b>&gt;::put()</b>, <b>std::num_put&lt;</b> <b>_CharT,</b> <b>_OutIter</b> <b>&gt;::put()</b>, <b>std::num_put&lt;</b> <b>_CharT,</b> <b>_OutIter</b> <b>&gt;::put()</b>, and
       <b>std::num_put&lt;</b> <b>_CharT,</b> <b>_OutIter</b> <b>&gt;::put()</b>.

   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_OutIter</b> <b>&gt;</b> <b>virtual</b> <b>iter_type</b> <b>std::num_put&lt;</b> <b>_CharT,</b> <b>_OutIter</b> <b>&gt;::do_put</b>
       <b>(iter_type</b> <b>__s,</b> <b>ios_base</b> <b>&amp;</b> <b>__io,</b> <b>char_type</b> <b>__fill,</b> <b>long</b> <b>__v)</b> <b>const</b> <b>[inline],</b>  <b>[protected],</b>  <b>[virtual]</b>
       Numeric formatting. These functions do the work of formatting numeric values and inserting them into a
       stream. This function is a hook for derived classes to change the value returned.

       <b>Parameters</b>
           <b>__</b><u>s</u> Stream to write to.
           <b>__</b><u>io</u> Source of locale and flags.
           <b>__</b><u>fill</u> Char_type to use for filling.
           <b>__</b><u>v</u> Value to format and insert.

       <b>Returns</b>
           Iterator after writing.

   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_OutIter</b> <b>&gt;</b> <b>virtual</b> <b>iter_type</b> <b>std::num_put&lt;</b> <b>_CharT,</b> <b>_OutIter</b> <b>&gt;::do_put</b>
       <b>(iter_type</b> <b>__s,</b> <b>ios_base</b> <b>&amp;</b> <b>__io,</b> <b>char_type</b> <b>__fill,</b> <b>long</b> <b>long</b> <b>__v)</b> <b>const</b> <b>[inline],</b>  <b>[protected],</b>
       <b>[virtual]</b>
       Numeric formatting. These functions do the work of formatting numeric values and inserting them into a
       stream. This function is a hook for derived classes to change the value returned.

       <b>Parameters</b>
           <b>__</b><u>s</u> Stream to write to.
           <b>__</b><u>io</u> Source of locale and flags.
           <b>__</b><u>fill</u> Char_type to use for filling.
           <b>__</b><u>v</u> Value to format and insert.

       <b>Returns</b>
           Iterator after writing.

   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_OutIter</b> <b>&gt;</b> <b>virtual</b> <b>iter_type</b> <b>std::num_put&lt;</b> <b>_CharT,</b> <b>_OutIter</b> <b>&gt;::do_put</b>
       <b>(iter_type</b> <b>__s,</b> <b>ios_base</b> <b>&amp;</b> <b>__io,</b> <b>char_type</b> <b>__fill,</b> <b>unsigned</b> <b>long</b> <b>__v)</b> <b>const</b> <b>[inline],</b>  <b>[protected],</b>
       <b>[virtual]</b>
       Numeric formatting. These functions do the work of formatting numeric values and inserting them into a
       stream. This function is a hook for derived classes to change the value returned.

       <b>Parameters</b>
           <b>__</b><u>s</u> Stream to write to.
           <b>__</b><u>io</u> Source of locale and flags.
           <b>__</b><u>fill</u> Char_type to use for filling.
           <b>__</b><u>v</u> Value to format and insert.

       <b>Returns</b>
           Iterator after writing.

   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_OutIter</b> <b>&gt;</b> <b>virtual</b> <b>iter_type</b> <b>std::num_put&lt;</b> <b>_CharT,</b> <b>_OutIter</b> <b>&gt;::do_put</b>
       <b>(iter_type</b> <b>__s,</b> <b>ios_base</b> <b>&amp;</b> <b>__io,</b> <b>char_type</b> <b>__fill,</b> <b>unsigned</b> <b>long</b> <b>long</b> <b>__v)</b> <b>const</b> <b>[inline],</b>  <b>[protected],</b>
       <b>[virtual]</b>
       Numeric formatting. These functions do the work of formatting numeric values and inserting them into a
       stream. This function is a hook for derived classes to change the value returned.

       <b>Parameters</b>
           <b>__</b><u>s</u> Stream to write to.
           <b>__</b><u>io</u> Source of locale and flags.
           <b>__</b><u>fill</u> Char_type to use for filling.
           <b>__</b><u>v</u> Value to format and insert.

       <b>Returns</b>
           Iterator after writing.

   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_OutIter</b> <b>&gt;</b> <b>_OutIter</b> <b>std::num_put&lt;</b> <b>_CharT,</b> <b>_OutIter</b> <b>&gt;::do_put</b> <b>(iter_type</b>
       <b>__s,</b> <b>ios_base</b> <b>&amp;</b> <b>__io,</b> <b>char_type</b> <b>__fill,</b> <b>const</b> <b>void</b> <b>*</b> <b>__v)</b> <b>const</b> <b>[protected],</b>  <b>[virtual]</b>
       Numeric formatting. These functions do the work of formatting numeric values and inserting them into a
       stream. This function is a hook for derived classes to change the value returned.

       <b>Parameters</b>
           <b>__</b><u>s</u> Stream to write to.
           <b>__</b><u>io</u> Source of locale and flags.
           <b>__</b><u>fill</u> Char_type to use for filling.
           <b>__</b><u>v</u> Value to format and insert.

       <b>Returns</b>
           Iterator after writing.

       References <b>std::ios_base::basefield</b>, <b>std::ios_base::hex</b>, <b>std::ios_base::showbase</b>, and
       <b>std::ios_base::uppercase</b>.

   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_OutIter</b> <b>&gt;</b> <b>_OutIter</b> <b>std::num_put&lt;</b> <b>_CharT,</b> <b>_OutIter</b> <b>&gt;::do_put</b> <b>(iter_type</b>
       <b>__s,</b> <b>ios_base</b> <b>&amp;</b> <b>__io,</b> <b>char_type</b> <b>__fill,</b> <b>double</b> <b>__v)</b> <b>const</b> <b>[protected],</b>  <b>[virtual]</b>
       Numeric formatting. These functions do the work of formatting numeric values and inserting them into a
       stream. This function is a hook for derived classes to change the value returned.

       <b>Parameters</b>
           <b>__</b><u>s</u> Stream to write to.
           <b>__</b><u>io</u> Source of locale and flags.
           <b>__</b><u>fill</u> Char_type to use for filling.
           <b>__</b><u>v</u> Value to format and insert.

       <b>Returns</b>
           Iterator after writing.

   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_OutIter</b> <b>&gt;</b> <b>_OutIter</b> <b>std::num_put&lt;</b> <b>_CharT,</b> <b>_OutIter</b> <b>&gt;::do_put</b> <b>(iter_type</b>
       <b>__s,</b> <b>ios_base</b> <b>&amp;</b> <b>__io,</b> <b>char_type</b> <b>__fill,</b> <b>long</b> <b>double</b> <b>__v)</b> <b>const</b> <b>[protected],</b>  <b>[virtual]</b>
       Numeric formatting. These functions do the work of formatting numeric values and inserting them into a
       stream. This function is a hook for derived classes to change the value returned.

       <b>Parameters</b>
           <b>__</b><u>s</u> Stream to write to.
           <b>__</b><u>io</u> Source of locale and flags.
           <b>__</b><u>fill</u> Char_type to use for filling.
           <b>__</b><u>v</u> Value to format and insert.

       <b>Returns</b>
           Iterator after writing.

   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_OutIter</b> <b>&gt;</b> <b>iter_type</b> <b>std::num_put&lt;</b> <b>_CharT,</b> <b>_OutIter</b> <b>&gt;::put</b> <b>(iter_type</b>
       <b>__s,</b> <b>ios_base</b> <b>&amp;</b> <b>__io,</b> <b>char_type</b> <b>__fill,</b> <b>bool</b> <b>__v)</b> <b>const</b> <b>[inline]</b>
       Numeric formatting. Formats the boolean <u>v</u> and inserts it into a stream. It does so by calling
       num_put::do_put().

       If ios_base::boolalpha is set, writes ctype&lt;CharT&gt;::truename() or ctype&lt;CharT&gt;::falsename(). Otherwise
       formats <u>v</u> as an int.

       <b>Parameters</b>
           <b>__</b><u>s</u> Stream to write to.
           <b>__</b><u>io</u> Source of locale and flags.
           <b>__</b><u>fill</u> Char_type to use for filling.
           <b>__</b><u>v</u> Value to format and insert.

       <b>Returns</b>
           Iterator after writing.

       References <b>std::num_put&lt;</b> <b>_CharT,</b> <b>_OutIter</b> <b>&gt;::do_put()</b>.

   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_OutIter</b> <b>&gt;</b> <b>iter_type</b> <b>std::num_put&lt;</b> <b>_CharT,</b> <b>_OutIter</b> <b>&gt;::put</b> <b>(iter_type</b>
       <b>__s,</b> <b>ios_base</b> <b>&amp;</b> <b>__io,</b> <b>char_type</b> <b>__fill,</b> <b>const</b> <b>void</b> <b>*</b> <b>__v)</b> <b>const</b> <b>[inline]</b>
       Numeric formatting. Formats the pointer value <u>v</u> and inserts it into a stream. It does so by calling
       num_put::do_put().

       This function formats <u>v</u> as an unsigned long with ios_base::hex and ios_base::showbase set.

       <b>Parameters</b>
           <b>__</b><u>s</u> Stream to write to.
           <b>__</b><u>io</u> Source of locale and flags.
           <b>__</b><u>fill</u> Char_type to use for filling.
           <b>__</b><u>v</u> Value to format and insert.

       <b>Returns</b>
           Iterator after writing.

       References <b>std::num_put&lt;</b> <b>_CharT,</b> <b>_OutIter</b> <b>&gt;::do_put()</b>.

   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_OutIter</b> <b>&gt;</b> <b>iter_type</b> <b>std::num_put&lt;</b> <b>_CharT,</b> <b>_OutIter</b> <b>&gt;::put</b> <b>(iter_type</b>
       <b>__s,</b> <b>ios_base</b> <b>&amp;</b> <b>__io,</b> <b>char_type</b> <b>__fill,</b> <b>double</b> <b>__v)</b> <b>const</b> <b>[inline]</b>
       Numeric formatting. Formats the floating point value <u>v</u> and inserts it into a stream. It does so by
       calling num_put::do_put().

       Formatting is affected by the flag settings in <u>io</u>.

       The basic format is affected by the value of io.flags() &amp; ios_base::floatfield. If equal to
       ios_base::fixed, formats like the printf f specifier. Else if equal to ios_base::scientific, formats like
       e or E with ios_base::uppercase unset or set respectively. Otherwise, formats like g or G depending on
       uppercase. Note that if both fixed and scientific are set, the effect will also be like g or G.

       The output precision is given by io.precision(). This precision is capped at numeric_limits::digits10 + 2
       (different for double and long double). The default precision is 6.

       If ios_base::showpos is set, '+' is output before positive values. If ios_base::showpoint is set, a
       decimal point will always be output.

       The decimal point character used is numpunct::decimal_point(). Thousands separators are inserted
       according to numpunct::grouping() and numpunct::thousands_sep().

       If io.width() is non-zero, enough <u>fill</u> characters are inserted to make the result at least that wide. If
       (io.flags() &amp; ios_base::adjustfield) == ios_base::left, result is padded at the end. If
       ios_base::internal, then padding occurs immediately after either a '+' or '-' or after '0x' or '0X'.
       Otherwise, padding occurs at the beginning.

       <b>Parameters</b>
           <b>__</b><u>s</u> Stream to write to.
           <b>__</b><u>io</u> Source of locale and flags.
           <b>__</b><u>fill</u> Char_type to use for filling.
           <b>__</b><u>v</u> Value to format and insert.

       <b>Returns</b>
           Iterator after writing.

       References <b>std::num_put&lt;</b> <b>_CharT,</b> <b>_OutIter</b> <b>&gt;::do_put()</b>.

   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_OutIter</b> <b>&gt;</b> <b>iter_type</b> <b>std::num_put&lt;</b> <b>_CharT,</b> <b>_OutIter</b> <b>&gt;::put</b> <b>(iter_type</b>
       <b>__s,</b> <b>ios_base</b> <b>&amp;</b> <b>__io,</b> <b>char_type</b> <b>__fill,</b> <b>long</b> <b>__v)</b> <b>const</b> <b>[inline]</b>
       Numeric formatting. Formats the integral value <u>v</u> and inserts it into a stream. It does so by calling
       num_put::do_put().

       Formatting is affected by the flag settings in <u>io</u>.

       The basic format is affected by the value of io.flags() &amp; ios_base::basefield. If equal to ios_base::oct,
       formats like the printf o specifier. Else if equal to ios_base::hex, formats like x or X with
       ios_base::uppercase unset or set respectively. Otherwise, formats like d, ld, lld for signed and u, lu,
       llu for unsigned values. Note that if both oct and hex are set, neither will take effect.

       If ios_base::showpos is set, '+' is output before positive values. If ios_base::showbase is set, '0'
       precedes octal values (except 0) and '0[xX]' precedes hex values.

       The decimal point character used is numpunct::decimal_point(). Thousands separators are inserted
       according to numpunct::grouping() and numpunct::thousands_sep().

       If io.width() is non-zero, enough <u>fill</u> characters are inserted to make the result at least that wide. If
       (io.flags() &amp; ios_base::adjustfield) == ios_base::left, result is padded at the end. If
       ios_base::internal, then padding occurs immediately after either a '+' or '-' or after '0x' or '0X'.
       Otherwise, padding occurs at the beginning.

       <b>Parameters</b>
           <b>__</b><u>s</u> Stream to write to.
           <b>__</b><u>io</u> Source of locale and flags.
           <b>__</b><u>fill</u> Char_type to use for filling.
           <b>__</b><u>v</u> Value to format and insert.

       <b>Returns</b>
           Iterator after writing.

       References <b>std::num_put&lt;</b> <b>_CharT,</b> <b>_OutIter</b> <b>&gt;::do_put()</b>.

   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_OutIter</b> <b>&gt;</b> <b>iter_type</b> <b>std::num_put&lt;</b> <b>_CharT,</b> <b>_OutIter</b> <b>&gt;::put</b> <b>(iter_type</b>
       <b>__s,</b> <b>ios_base</b> <b>&amp;</b> <b>__io,</b> <b>char_type</b> <b>__fill,</b> <b>long</b> <b>double</b> <b>__v)</b> <b>const</b> <b>[inline]</b>
       Numeric formatting. Formats the floating point value <u>v</u> and inserts it into a stream. It does so by
       calling num_put::do_put().

       Formatting is affected by the flag settings in <u>io</u>.

       The basic format is affected by the value of io.flags() &amp; ios_base::floatfield. If equal to
       ios_base::fixed, formats like the printf f specifier. Else if equal to ios_base::scientific, formats like
       e or E with ios_base::uppercase unset or set respectively. Otherwise, formats like g or G depending on
       uppercase. Note that if both fixed and scientific are set, the effect will also be like g or G.

       The output precision is given by io.precision(). This precision is capped at numeric_limits::digits10 + 2
       (different for double and long double). The default precision is 6.

       If ios_base::showpos is set, '+' is output before positive values. If ios_base::showpoint is set, a
       decimal point will always be output.

       The decimal point character used is numpunct::decimal_point(). Thousands separators are inserted
       according to numpunct::grouping() and numpunct::thousands_sep().

       If io.width() is non-zero, enough <u>fill</u> characters are inserted to make the result at least that wide. If
       (io.flags() &amp; ios_base::adjustfield) == ios_base::left, result is padded at the end. If
       ios_base::internal, then padding occurs immediately after either a '+' or '-' or after '0x' or '0X'.
       Otherwise, padding occurs at the beginning.

       <b>Parameters</b>
           <b>__</b><u>s</u> Stream to write to.
           <b>__</b><u>io</u> Source of locale and flags.
           <b>__</b><u>fill</u> Char_type to use for filling.
           <b>__</b><u>v</u> Value to format and insert.

       <b>Returns</b>
           Iterator after writing.

       References <b>std::num_put&lt;</b> <b>_CharT,</b> <b>_OutIter</b> <b>&gt;::do_put()</b>.

   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_OutIter</b> <b>&gt;</b> <b>iter_type</b> <b>std::num_put&lt;</b> <b>_CharT,</b> <b>_OutIter</b> <b>&gt;::put</b> <b>(iter_type</b>
       <b>__s,</b> <b>ios_base</b> <b>&amp;</b> <b>__io,</b> <b>char_type</b> <b>__fill,</b> <b>long</b> <b>long</b> <b>__v)</b> <b>const</b> <b>[inline]</b>
       Numeric formatting. Formats the integral value <u>v</u> and inserts it into a stream. It does so by calling
       num_put::do_put().

       Formatting is affected by the flag settings in <u>io</u>.

       The basic format is affected by the value of io.flags() &amp; ios_base::basefield. If equal to ios_base::oct,
       formats like the printf o specifier. Else if equal to ios_base::hex, formats like x or X with
       ios_base::uppercase unset or set respectively. Otherwise, formats like d, ld, lld for signed and u, lu,
       llu for unsigned values. Note that if both oct and hex are set, neither will take effect.

       If ios_base::showpos is set, '+' is output before positive values. If ios_base::showbase is set, '0'
       precedes octal values (except 0) and '0[xX]' precedes hex values.

       The decimal point character used is numpunct::decimal_point(). Thousands separators are inserted
       according to numpunct::grouping() and numpunct::thousands_sep().

       If io.width() is non-zero, enough <u>fill</u> characters are inserted to make the result at least that wide. If
       (io.flags() &amp; ios_base::adjustfield) == ios_base::left, result is padded at the end. If
       ios_base::internal, then padding occurs immediately after either a '+' or '-' or after '0x' or '0X'.
       Otherwise, padding occurs at the beginning.

       <b>Parameters</b>
           <b>__</b><u>s</u> Stream to write to.
           <b>__</b><u>io</u> Source of locale and flags.
           <b>__</b><u>fill</u> Char_type to use for filling.
           <b>__</b><u>v</u> Value to format and insert.

       <b>Returns</b>
           Iterator after writing.

       References <b>std::num_put&lt;</b> <b>_CharT,</b> <b>_OutIter</b> <b>&gt;::do_put()</b>.

   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_OutIter</b> <b>&gt;</b> <b>iter_type</b> <b>std::num_put&lt;</b> <b>_CharT,</b> <b>_OutIter</b> <b>&gt;::put</b> <b>(iter_type</b>
       <b>__s,</b> <b>ios_base</b> <b>&amp;</b> <b>__io,</b> <b>char_type</b> <b>__fill,</b> <b>unsigned</b> <b>long</b> <b>__v)</b> <b>const</b> <b>[inline]</b>
       Numeric formatting. Formats the integral value <u>v</u> and inserts it into a stream. It does so by calling
       num_put::do_put().

       Formatting is affected by the flag settings in <u>io</u>.

       The basic format is affected by the value of io.flags() &amp; ios_base::basefield. If equal to ios_base::oct,
       formats like the printf o specifier. Else if equal to ios_base::hex, formats like x or X with
       ios_base::uppercase unset or set respectively. Otherwise, formats like d, ld, lld for signed and u, lu,
       llu for unsigned values. Note that if both oct and hex are set, neither will take effect.

       If ios_base::showpos is set, '+' is output before positive values. If ios_base::showbase is set, '0'
       precedes octal values (except 0) and '0[xX]' precedes hex values.

       The decimal point character used is numpunct::decimal_point(). Thousands separators are inserted
       according to numpunct::grouping() and numpunct::thousands_sep().

       If io.width() is non-zero, enough <u>fill</u> characters are inserted to make the result at least that wide. If
       (io.flags() &amp; ios_base::adjustfield) == ios_base::left, result is padded at the end. If
       ios_base::internal, then padding occurs immediately after either a '+' or '-' or after '0x' or '0X'.
       Otherwise, padding occurs at the beginning.

       <b>Parameters</b>
           <b>__</b><u>s</u> Stream to write to.
           <b>__</b><u>io</u> Source of locale and flags.
           <b>__</b><u>fill</u> Char_type to use for filling.
           <b>__</b><u>v</u> Value to format and insert.

       <b>Returns</b>
           Iterator after writing.

       References <b>std::num_put&lt;</b> <b>_CharT,</b> <b>_OutIter</b> <b>&gt;::do_put()</b>.

   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_OutIter</b> <b>&gt;</b> <b>iter_type</b> <b>std::num_put&lt;</b> <b>_CharT,</b> <b>_OutIter</b> <b>&gt;::put</b> <b>(iter_type</b>
       <b>__s,</b> <b>ios_base</b> <b>&amp;</b> <b>__io,</b> <b>char_type</b> <b>__fill,</b> <b>unsigned</b> <b>long</b> <b>long</b> <b>__v)</b> <b>const</b> <b>[inline]</b>
       Numeric formatting. Formats the integral value <u>v</u> and inserts it into a stream. It does so by calling
       num_put::do_put().

       Formatting is affected by the flag settings in <u>io</u>.

       The basic format is affected by the value of io.flags() &amp; ios_base::basefield. If equal to ios_base::oct,
       formats like the printf o specifier. Else if equal to ios_base::hex, formats like x or X with
       ios_base::uppercase unset or set respectively. Otherwise, formats like d, ld, lld for signed and u, lu,
       llu for unsigned values. Note that if both oct and hex are set, neither will take effect.

       If ios_base::showpos is set, '+' is output before positive values. If ios_base::showbase is set, '0'
       precedes octal values (except 0) and '0[xX]' precedes hex values.

       The decimal point character used is numpunct::decimal_point(). Thousands separators are inserted
       according to numpunct::grouping() and numpunct::thousands_sep().

       If io.width() is non-zero, enough <u>fill</u> characters are inserted to make the result at least that wide. If
       (io.flags() &amp; ios_base::adjustfield) == ios_base::left, result is padded at the end. If
       ios_base::internal, then padding occurs immediately after either a '+' or '-' or after '0x' or '0X'.
       Otherwise, padding occurs at the beginning.

       <b>Parameters</b>
           <b>__</b><u>s</u> Stream to write to.
           <b>__</b><u>io</u> Source of locale and flags.
           <b>__</b><u>fill</u> Char_type to use for filling.
           <b>__</b><u>v</u> Value to format and insert.

       <b>Returns</b>
           Iterator after writing.

       References <b>std::num_put&lt;</b> <b>_CharT,</b> <b>_OutIter</b> <b>&gt;::do_put()</b>.

</pre><h4><b>Member</b> <b>Data</b> <b>Documentation</b></h4><pre>
   <b>template&lt;typename</b> <b>_CharT</b> <b>,</b> <b>typename</b> <b>_OutIter</b> <b>&gt;</b> <b>locale::id</b> <b>std::num_put&lt;</b> <b>_CharT,</b> <b>_OutIter</b> <b>&gt;::id</b> <b>[static]</b>
       Numpunct facet id.

</pre><h4><b>Author</b></h4><pre>
       Generated automatically by Doxygen for libstdc++ from the source code.

                                                    libstdc++             <u>std::num_put&lt;</u> <b>_</b><u>CharT,</u> <b>_</b><u>OutIter</u> <u>&gt;</u>(3cxx)
</pre>
 </div>
</div></section>
</div>
</body>
</html>