<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template::Plugin::Catalyst::View::PDF::Reuse</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libcatalyst-view-pdf-reuse-perl">libcatalyst-view-pdf-reuse-perl_0.4-2.1_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Template::Plugin::Catalyst::View::PDF::Reuse

</pre><h4><b>SYNOPSYS</b></h4><pre>
       Template Toolkit plugin for PDF::Reuse

</pre><h4><b>AUTHOR</b></h4><pre>
       Jon Allen, <a href="mailto:jj@jonallen.info">jj@jonallen.info</a>

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       Penny's Arcade Open Source - &lt;<a href="http://www.pennysarcade.co.uk/opensource">http://www.pennysarcade.co.uk/opensource</a>&gt;

</pre><h4><b>COPYRIGHT</b> <b>&amp;</b> <b>LICENSE</b></h4><pre>
       Copyright 2009 Penny's Arcade Limited, all rights reserved.

       This program is free software; you can redistribute it and/or modify it under the same terms as Perl
       itself.

perl v5.32.0                                       2021-01-07              <u>Template::Plug...:Reuse::<a href="../man3pm/Barcode.3pm.html">Barcode</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>