<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template::Tutorial - Template Toolkit Tutorials</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libtemplate-perl">libtemplate-perl_2.27-1build11_amd64</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Template::Tutorial - Template Toolkit Tutorials

</pre><h4><b>Template</b> <b>Toolkit</b> <b>Tutorials</b></h4><pre>
   <b>Template::Tutorial::Web</b>
       The Template::Tutorial::Web tutorial shows how you can use the Template Toolkit to generate static and
       dynamic web content.

   <b>Template::Tutorial::Datafile</b>
       The Template::Tutorial::Datafile tutorial shows how you can use the Template Toolkit to generate other
       data formats like XML.

perl v5.40.0                                       2024-10-20                            <u>Template::<a href="../man3pm/Tutorial.3pm.html">Tutorial</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>