<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template::Multilingual - Multilingual templates for Template Toolkit</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libtemplate-multilingual-perl">libtemplate-multilingual-perl_1.00-3_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Template::Multilingual - Multilingual templates for Template Toolkit

</pre><h4><b>SYNOPSIS</b></h4><pre>
       This subclass of Template Toolkit's "Template" class supports multilingual templates: templates that
       contain text in several languages.

           &lt;t&gt;
             &lt;en&gt;Hello!&lt;/en&gt;
             &lt;fr&gt;Bonjour !&lt;/fr&gt;
           &lt;/t&gt;

       Specify the language to use when processing a template:

           use Template::Multilingual;

           my $template = Template::Multilingual-&gt;new();
           $template-&gt;language('en');
           $template-&gt;process('example.ttml');

       You can also provide the name of the template variable that will hold the language:

           my $template = Template::Multilingual-&gt;new(LANGUAGE_VAR =&gt; 'foo');
           $template-&gt;process('example.ttml', { foo =&gt; 'en' });

</pre><h4><b>METHODS</b></h4><pre>
   <b>new(\%params)</b>
       The <b>new()</b> constructor creates and returns a reference to a new template object. A reference to a hash may
       be supplied as a parameter to provide configuration values.

       Configuration values are all valid "Template" superclass options, and one specific to this class:

       LANGUAGE_VAR
           The  LANGUAGE_VAR  option  can  be  used  to set the name of the template variable which contains the
           current language.

             my $parser = Template::Multilingual-&gt;new({
                LANGUAGE_VAR =&gt; 'global.language',
             });

           If this option is set, your code is responsible for setting  the  variable's  value  to  the  current
           language when processing the template. Calling "language()" will have no effect.

           If this option is not set, it defaults to <u>language</u>.

   <b>language($lcode)</b>
       Specify  the language to be used when processing the template. Any string that matches "\w+" is fine, but
       we suggest sticking to ISO-639 which provides 2-letter codes for common languages and 3-letter codes  for
       many others.

   <b>process</b>
       Used  exactly  as  the  original  Template  Toolkit  "process" method.  Be sure to call "language" before
       calling "process".

</pre><h4><b>LANGUAGE</b> <b>SUBTAG</b> <b>HANDLING</b></h4><pre>
       This module supports language subtags to express variants, e.g. "en_US" or "en-US".  Here are  the  rules
       used for language matching:

       •   Exact match: the current language is found in the template

             language    template                              output
             fr          &lt;fr&gt;foo&lt;/fr&gt;&lt;fr_CA&gt;bar&lt;/fr_CA&gt;        foo
             fr_CA       &lt;fr&gt;foo&lt;/fr&gt;&lt;fr_CA&gt;bar&lt;/fr_CA&gt;        bar

       •   Fallback to the primary language

             language    template                              output
             fr_CA       &lt;fr&gt;foo&lt;/fr&gt;&lt;fr_BE&gt;bar&lt;/fr_BE&gt;        foo

       •   Fallback to first (in alphabetical order) other variant of the primary language

             language    template                              output
             fr          &lt;fr_FR&gt;foo&lt;/fr_FR&gt;&lt;fr_BE&gt;bar&lt;/fr_BE&gt;  bar
             fr_CA       &lt;fr_FR&gt;foo&lt;/fr_FR&gt;&lt;fr_BE&gt;bar&lt;/fr_BE&gt;  bar

</pre><h4><b>AUTHOR</b></h4><pre>
       Eric Cholet, "&lt;<a href="mailto:cholet@logilune.com">cholet@logilune.com</a>&gt;"

</pre><h4><b>BUGS</b></h4><pre>
       Multilingual  text  sections  cannot  be  used  inside  TT directives.  The following is illegal and will
       trigger a TT syntax error:

           [% title = "&lt;t&gt;&lt;fr&gt;Bonjour&lt;/fr&gt;&lt;en&gt;Hello&lt;/en&gt;&lt;/t&gt;" %]

       Use this instead:

           [% title = BLOCK %]&lt;t&gt;&lt;fr&gt;Bonjour&lt;/fr&gt;&lt;en&gt;Hello&lt;/en&gt;&lt;/t&gt;[% END %]

       The TAG_STYLE, START_TAG and END_TAG directives are supported, but the TAGS directive is not.

       Please report any bugs or feature requests to "<a href="mailto:bug-template-multilingual@rt.cpan.org">bug-template-multilingual@rt.cpan.org</a>", or through the web
       interface at &lt;<a href="http://rt.cpan.org/NoAuth/ReportBug.html">http://rt.cpan.org/NoAuth/ReportBug.html</a>?Queue=Template-Multilingual&gt;.  I will be notified,
       and then you'll automatically be notified of progress on your bug as I make changes.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       If  you  are  already  using  your  own  "Template"  subclass,  you   may   find   it   easier   to   use
       Template::Multilingual::Parser instead.

       ISO      639-2      Codes      for      the      Representation      of      Names      of     Languages:
       <a href="http://www.loc.gov/standards/iso639-2/langcodes.html">http://www.loc.gov/standards/iso639-2/langcodes.html</a>

</pre><h4><b>COPYRIGHT</b> <b>&amp;</b> <b>LICENSE</b></h4><pre>
       Copyright 2009 Eric Cholet, All Rights Reserved.

       This program is free software; you can redistribute it and/or modify it under  the  same  terms  as  Perl
       itself.

perl v5.34.0                                       2022-06-17                        <u>Template::<a href="../man3pm/Multilingual.3pm.html">Multilingual</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>