<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template::Declare::TagSet::XUL - Template::Declare tag set for XUL</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libtemplate-declare-perl">libtemplate-declare-perl_0.47-3_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Template::Declare::TagSet::XUL - Template::Declare tag set for XUL

</pre><h4><b>SYNOPSIS</b></h4><pre>
           # normal use on the user side:
           use base 'Template::Declare';
           use Template::Declare::Tags 'XUL';

           template main =&gt; sub {
               xml_decl { 'xml', version =&gt; '1.0' };
               groupbox {
                   caption { attr { label =&gt; 'Colors' } }
               }
           };

           # in Template::Declare::Tags:
           use Template::Declare::TagSet::XUL;
           my $tagset = Template::Declare::TagSet::XUL-&gt;new({
               package   =&gt; 'MyXUL',
               namespace =&gt; 'xul',
           });
           my $list = $tagset-&gt;get_tag_list();
           print $_, $/ for @{ $list };

           if ( $altern = $tagset-&gt;get_alternate_spelling('template') ) {
               print $altern;
           }

           if ( $tagset-&gt;can_combine_empty_tags('button') ) {
               print q{&lt;button label="OK" /&gt;};
           }

</pre><h4><b>DESCRIPTION</b></h4><pre>
       Template::Declare::TagSet::XUL defines a full set of XUL tags for use in Template::Declare templates. You
       generally won't use this module directly, but will load it via:

           use Template::Declare::Tags 'XUL';

</pre><h4><b>METHODS</b></h4><pre>
   <b>new(</b> <b>PARAMS</b> <b>)</b>
           my $html_tag_set = Template::Declare::TagSet-&gt;new({
               package   =&gt; 'MyXUL',
               namespace =&gt; 'xul',
           });

       Constructor inherited from Template::Declare::TagSet.

   <b>get_tag_list</b>
           my $list = $tag_set-&gt;get_tag_list();

       Returns an array ref of all the RDF tags defined by Template::Declare::TagSet::RDF. Here is the complete
       list, extracted from &lt;<a href="http://www.xulplanet.com/references/elemref/refall_elemref.xml">http://www.xulplanet.com/references/elemref/refall_elemref.xml</a>&gt; (only "&lt;element
       name='...'&gt;" were recognized):

       "action"
       "arrowscrollbox"
       "bbox"
       "binding"
       "bindings"
       "body"
       "box"
       "broadcaster"
       "broadcasterset"
       "browser"
       "button"
       "caption"
       "checkbox"
       "children"
       "colorpicker"
       "column"
       "columns"
       "command"
       "commandset"
       "conditions"
       "constructor"
       "content"
       "deck"
       "description"
       "destructor"
       "dialog"
       "dialogheader"
       "editor"
       "field"
       "getter"
       "grid"
       "grippy"
       "groupbox"
       "handler"
       "handlers"
       "hbox"
       "iframe"
       "image"
       "implementation"
       "key"
       "keyset"
       "label"
       "listbox"
       "listcell"
       "listcol"
       "listcols"
       "listhead"
       "listheader"
       "listitem"
       "member"
       "menu"
       "menubar"
       "menuitem"
       "menulist"
       "menupopup"
       "menuseparator"
       "method"
       "observes"
       "overlay"
       "page"
       "parameter"
       "popup"
       "popupset"
       "progressmeter"
       "property"
       "radio"
       "radiogroup"
       "rdf"
       "resizer"
       "resources"
       "richlistbox"
       "row"
       "rows"
       "rule"
       "script"
       "scrollbar"
       "scrollbox"
       "separator"
       "setter"
       "spacer"
       "splitter"
       "stack"
       "statusbar"
       "statusbarpanel"
       "stringbundle"
       "stringbundleset"
       "stylesheet"
       "tab"
       "tabbox"
       "tabbrowser"
       "tabpanel"
       "tabpanels"
       "tabs"
       "template"
       "textbox"
       "textnode"
       "titlebar"
       "toolbar"
       "toolbarbutton"
       "toolbargrippy"
       "toolbaritem"
       "toolbarpalette"
       "toolbarseparator"
       "toolbarset"
       "toolbarspacer"
       "toolbarspring"
       "toolbox"
       "tooltip"
       "tree"
       "treecell"
       "treechildren"
       "treecol"
       "treecols"
       "treeitem"
       "treerow"
       "treeseparator"
       "triple"
       "vbox"
       "window"
       "wizard"
       "wizardpage"

   <b>get_alternate_spelling(</b> <b>TAG</b> <b>)</b>
           $bool = $obj-&gt;get_alternate_spelling($tag);

       Returns  the  alternative  spelling  for a given tag if any or undef otherwise.  Currently, "template" is
       mapped   to   "xul_template"   to   avoid   conflict   with   the   "template"   function   exported   by
       Template::Declare::Tags.

</pre><h4><b>AUTHOR</b></h4><pre>
       Agent Zhang &lt;<a href="mailto:agentzh@yahoo.cn">agentzh@yahoo.cn</a>&gt;

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       Template::Declare::TagSet, Template::Declare::TagSet::HTML, Template::Declare::Tags, Template::Declare.

perl v5.34.0                                       2022-06-17                <u>Template::Declare::TagSet::<a href="../man3pm/XUL.3pm.html">XUL</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>