<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template::Tools - Command Line Tools for the Template Toolkit</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libtemplate-perl">libtemplate-perl_2.27-1build11_amd64</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Template::Tools - Command Line Tools for the Template Toolkit

</pre><h4><b>Template</b> <b>Tools</b></h4><pre>
       The Template Toolkit includes the following command line tools for processing templates.

   <b>tpage</b>
       The tpage script can be used to process a single template using the Template Toolkit.

           $ tpage --define msg="Hello World" greeting.tt2

       Use the "-h" option to get a summary of options:

           $ tpage -h

       See the Template::Tools::tpage documentation for further information and examples of use.

   <b>ttree</b>
       The ttree script can be used to process an entire directory of templates.

           $ ttree --src /path/to/templates --dest /path/to/output

       Use the "-h" option to get a summary of options:

           $ ttree -h

       See the Template::Tools::ttree documentation for further information and examples of use.

perl v5.40.0                                       2024-10-20                               <u>Template::<a href="../man3pm/Tools.3pm.html">Tools</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>