<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template::Provider::Mojo - Use Mojolicious to provide templates</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libmojolicious-plugin-templatetoolkit-perl">libmojolicious-plugin-templatetoolkit-perl_0.006-2_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Template::Provider::Mojo - Use Mojolicious to provide templates

</pre><h4><b>SYNOPSIS</b></h4><pre>
        my $app = Mojolicious-&gt;new;
        $provider = Template::Provider::Mojo-&gt;new({MOJO_RENDERER =&gt; $app-&gt;renderer});

        ($template, $error) = $provider-&gt;fetch($name);

</pre><h4><b>DESCRIPTION</b></h4><pre>
       Template::Provider::Mojo is a Template::Provider subclass that uses a Mojolicious::Renderer instance to
       resolve template names. This means that "paths" in Mojolicious::Renderer will be searched for file-based
       templates, and "classes" in Mojolicious::Renderer will be searched for DATA templates. The "ENCODING"
       configuration setting will be initialized to "encoding" in Mojolicious::Renderer if unset.

</pre><h4><b>METHODS</b></h4><pre>
       Template::Provider::Mojo inherits all methods from Template::Provider and implements the following new
       ones.

   <b>fetch</b>
       Returns a compiled template for the name specified. See "fetch($name)" in Template::Provider for usage
       details.

   <b>load</b>
       Loads a template without parsing or compiling it. This is used by the INSERT directive.

</pre><h4><b>BUGS</b></h4><pre>
       Report any issues on the public bugtracker.

</pre><h4><b>AUTHOR</b></h4><pre>
       Dan Book &lt;<a href="mailto:dbook@cpan.org">dbook@cpan.org</a>&gt;

</pre><h4><b>COPYRIGHT</b> <b>AND</b> <b>LICENSE</b></h4><pre>
       This software is Copyright (c) 2015 by Dan Book.

       This is free software, licensed under:

         The Artistic License 2.0 (GPL Compatible)

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       Template, Mojolicious::Renderer, Mojolicious::Plugin::TemplateToolkit

perl v5.36.0                                       2023-02-24                      <u>Template::Provider::<a href="../man3pm/Mojo.3pm.html">Mojo</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>