<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template::Filters - Post-processing filters for template blocks</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libtemplate-perl">libtemplate-perl_2.27-1build11_amd64</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Template::Filters - Post-processing filters for template blocks

</pre><h4><b>SYNOPSIS</b></h4><pre>
           use Template::Filters;

           $filters = Template::Filters-&gt;new(\%config);

           ($filter, $error) = $filters-&gt;fetch($name, \@args, $context);

           if ($filter) {
               print &amp;$filter("some text");
           }
           else {
               print "Could not fetch $name filter: $error\n";
           }

</pre><h4><b>DESCRIPTION</b></h4><pre>
       The "Template::Filters" module implements a provider for creating subroutines that implement the standard
       filters. Additional custom filters may be provided via the FILTERS configuration option.

</pre><h4><b>METHODS</b></h4><pre>
   <b>new(\%params)</b>
       Constructor method which instantiates and returns a reference to a "Template::Filters" object.  A
       reference to a hash array of configuration items may be passed as a parameter.  These are described
       below.

           my $filters = Template::Filters-&gt;new({
               FILTERS =&gt; { ... },
           });

           my $template = Template-&gt;new({
               LOAD_FILTERS =&gt; [ $filters ],
           });

       A default "Template::Filters" module is created by the Template module if the LOAD_FILTERS option isn't
       specified.  All configuration parameters are forwarded to the constructor.

           $template = Template-&gt;new({
               FILTERS =&gt; { ... },
           });

   <b>fetch($name,</b> <b>\@args,</b> <b>$context)</b>
       Called to request that a filter of a given name be provided.  The name of the filter should be specified
       as the first parameter.  This should be one of the standard filters or one specified in the FILTERS
       configuration hash.  The second argument should be a reference to an array containing configuration
       parameters for the filter.  This may be specified as 0, or undef where no parameters are provided.  The
       third argument should be a reference to the current Template::Context object.

       The method returns a reference to a filter sub-routine on success.  It may also return "(undef,
       STATUS_DECLINE)" to decline the request, to allow delegation onto other filter providers in the
       LOAD_FILTERS chain of responsibility.  On error, "($error, STATUS_ERROR)" is returned where $error is an
       error message or Template::Exception object indicating the error that occurred.

       When the "TOLERANT" option is set, errors are automatically downgraded to a "STATUS_DECLINE" response.

   <b>use_html_entities()</b>
       This class method can be called to configure the "html_entity" filter to use the HTML::Entities module.
       An error will be raised if it is not installed on your system.

           use Template::Filters;
           Template::Filters-&gt;use_html_entities();

   <b>use_apache_util()</b>
       This class method can be called to configure the "html_entity" filter to use the Apache::Util module. An
       error will be raised if it is not installed on your system.

           use Template::Filters;
           Template::Filters-&gt;use_apache_util();

   <b>use_rfc2732()</b>
       This class method can be called to configure the "uri" and "url" filters to use the older RFC2732
       standard for matching unsafe characters.

   <b>use_rfc3986()</b>
       This class method can be called to configure the "uri" and "url" filters to use the newer RFC3986
       standard for matching unsafe characters.

</pre><h4><b>CONFIGURATION</b> <b>OPTIONS</b></h4><pre>
       The following list summarises the configuration options that can be provided to the "Template::Filters"
       <b>new()</b> constructor. Please see Template::Manual::Config for further information about each option.

   <b>FILTERS</b>
       The FILTERS option can be used to specify custom filters which can then be used with the FILTER directive
       like any other. These are added to the standard filters which are available by default.

           $filters = Template::Filters-&gt;new({
               FILTERS =&gt; {
                   'sfilt1' =&gt;   \&amp;static_filter,
                   'dfilt1' =&gt; [ \&amp;dyanamic_filter_factory, 1 ],
               },
           });

   <b>TOLERANT</b>
       The TOLERANT flag can be set to indicate that the "Template::Filters" module should ignore any errors and
       instead return "STATUS_DECLINED".

   <b>DEBUG</b>
       The DEBUG option can be used to enable debugging messages for the Template::Filters module by setting it
       to include the "DEBUG_FILTERS" value.

           use Template::Constants qw( :debug );

           my $template = Template-&gt;new({
               DEBUG =&gt; DEBUG_FILTERS | DEBUG_PLUGINS,
           });

</pre><h4><b>STANDARD</b> <b>FILTERS</b></h4><pre>
       Please see Template::Manual::Filters for a list of the filters provided with the Template Toolkit,
       complete with examples of use.

</pre><h4><b>AUTHOR</b></h4><pre>
       Andy Wardley &lt;<a href="mailto:abw@wardley.org">abw@wardley.org</a>&gt; &lt;<a href="http://wardley.org/">http://wardley.org/</a>&gt;

</pre><h4><b>COPYRIGHT</b></h4><pre>
       Copyright (C) 1996-2014 Andy Wardley.  All Rights Reserved.

       This module is free software; you can redistribute it and/or modify it under the same terms as Perl
       itself.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       Template::Manual::Filters, Template, Template::Context

perl v5.40.0                                       2024-10-20                             <u>Template::<a href="../man3pm/Filters.3pm.html">Filters</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>