<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template::Manual - Template Toolkit User Manual</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libtemplate-perl">libtemplate-perl_2.27-1build11_amd64</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Template::Manual - Template Toolkit User Manual

</pre><h4><b>Template</b> <b>Toolkit</b> <b>Manual</b></h4><pre>
       The Template Toolkit manual contains documentation on using and extending the Template Toolkit.

   <b>Template::Manual::Intro</b>
       The Template::Manual::Intro page provides an introduction to the Template Toolkit

   <b>Template::Manual::Syntax</b>
       The Template::Manual::Syntax describes the syntax and structure of templates and the directive tags
       embedded within them.

   <b>Template::Manual::Directives</b>
       The Template::Manual::Directives page lists all the Template Toolkit directives and gives examples of
       their use.

   <b>Template::Manual::Variables</b>
       The Template::Manual::Variables page describes the use of variables in templates.

   <b>Template::Manual::VMethods</b>
       The Template::Manual::VMethods page provides a full list of virtual methods that can be used in
       conjunction with variables, and gives examples of their use.

   <b>Template::Manual::Config</b>
       The Template::Manual::Config page describes all of the Template Toolkit configuration options.

   <b>Template::Manual::Filters</b>
       The Template::Manual::Filters page lists all of the Template Toolkit filters and gives examples of their
       use.

   <b>Template::Manual::Plugins</b>
       The Template::Manual::Plugins page lists all of the standard plugins distributed with Template Toolkit
       and gives examples of their use.

   <b>Template::Manual::Internals</b>
       The Template::Manual::Internals page describes the internal workings of the Template Toolkit. It is aimed
       at developers who wish to extend or modify the

   <b>Template::Manual::Views</b>
       The Template::Manual::Views page describes the experimental "VIEW" directive.

   <b>Template::Manual::Credits</b>
       The Template::Manual::Credits page lists the people who have contributed to the Template Toolkit.

perl v5.40.0                                       2024-10-20                              <u>Template::<a href="../man3pm/Manual.3pm.html">Manual</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>