<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template::Stash::AutoEscaping - escape automatically in Template-Toolkit.</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libtemplate-stash-autoescaping-perl">libtemplate-stash-autoescaping-perl_0.0303-2_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Template::Stash::AutoEscaping - escape automatically in Template-Toolkit.

</pre><h4><b>SYNOPSIS</b></h4><pre>
         use Template;
         use Template::Stash::AutoEscaping;
         my $tt = Template-&gt;new({
           STASH =&gt; Template::Stash::AutoEscaping-&gt;new
         });

</pre><h4><b>METHODS</b></h4><pre>
   <b>new</b>
       die_on_unescaped
           This  value,  if  set  to  a true value, causes the process to throw an exception upon encountering a
           value that was not explicitly set to be escaped or was marked as a raw value.

       escape_type
           default is HTML

       method_for_escape
           The default method to escape a value explicitly (mostly useful with "die_on_unescaped" .

       method_for_raw
           default is raw, you can get not escaped value from [% value.raw %]

       escape_method
             my $tt = Template-&gt;new({
               STASH =&gt; Template::Stash::AutoEscaping-&gt;new({
                   escape_method =&gt; sub { my $text = shift; ... ; return $text }
               })
             });

       ignore_escape
             my $stash = Template::Stash::AutoEscaping-&gt;new({ignore_escape =&gt; [qw(include_html include_raw my_escape_func)], ... );

             You can disable auto-escape for some value or TT-Macro.
             For example: include other component, for output safety html, using other escape method, etc.

   <b>class_for</b>
           Template::Stash::AutoEscaping-&gt;class_for("HTML") # Template::Stash::AutoEscaping::Escaped::HTML
           Template::Stash::AutoEscaping-&gt;class_for("HTML" =&gt; "MyHTMLString");

   <b>escape</b>
       <b>For</b> <b>internal</b> <b>use</b>.

   <b>escape_count</b>
       <b>For</b> <b>internal</b> <b>use</b>.

   <b>get</b>
       <b>For</b> <b>internal</b> <b>use</b>.

   <b>get_raw_args</b>
       <b>For</b> <b>internal</b> <b>use</b>.

</pre><h4><b>DESCRIPTION</b></h4><pre>
       Template::Stash::AutoEscaping is a sub class of Template::Stash, automatically escape  all  HTML  strings
       and avoid XSS vulnerability.

</pre><h4><b>CONFIGURE</b></h4><pre>
       $Template::Stash::AutoEscaping::ESCAPE_ARGS
            default is 0. for example "key of hash" or "args of vmethods" are not escaped. I think this is good in most cases.
            [% hash.${key} %] [% hash.item(key) %] means [% hash.${key.raw} | html %] [% hash.item(key.raw) | html %] by default.

</pre><h4><b>AUTHOR</b></h4><pre>
       mala &lt;<a href="mailto:cpan@ma.la">cpan@ma.la</a>&gt; (original author of Template::Stash::AutoEscape)

       Shlomi  Fish  (&lt;<a href="http://www.shlomifish.org/">http://www.shlomifish.org/</a>&gt;)  added  some  enhancements  and fixes, while disclaiming all
       rights,   as   part   of   his   work   for   &lt;<a href="http://reask.com/">http://reask.com/</a>&gt;   and   released    the    result    as
       "Template::Stash::AutoEscaping" .

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       Template, Template::Stash::EscapedHTML, Template::Stash::AutoEscape

</pre><h4><b>LICENSE</b></h4><pre>
       This  library  is  free  software;  you can redistribute it and/or modify it under the same terms as Perl
       itself.

perl v5.34.0                                       2022-06-17                 <u>Template::Stash::<a href="../man3pm/AutoEscaping.3pm.html">AutoEscaping</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>