<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template::Latex - Latex support for the Template Toolkit</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libtemplate-plugin-latex-perl">libtemplate-plugin-latex-perl_3.12-2_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Template::Latex - Latex support for the Template Toolkit

</pre><h4><b>SYNOPSIS</b></h4><pre>
           use Template::Latex;

           my $tt = Template::Latex-&gt;new({
               INCLUDE_PATH  =&gt; '/path/to/templates',
               OUTPUT_PATH   =&gt; '/path/to/pdf/output',
               LATEX_FORMAT  =&gt; 'pdf',
           });
           my $vars = {
               title =&gt; 'Hello World',
           }
           $tt-&gt;process('example.tt2', $vars, 'example.pdf', binmode =&gt; 1)
               || die $tt-&gt;error();

</pre><h4><b>DESCRIPTION</b></h4><pre>
       The Template::Latex module is a wrapper of convenience around the Template module, providing additional
       support for generating PDF, PostScript and DVI documents from LaTeX templates.

       You use the Template::Latex module exactly as you would the Template module.

           my $tt = Template::Latex-&gt;new(\%config);
           $tt-&gt;process($input, \%vars, $output)
               || die $t-&gt;error();

       It supports the "LATEX_FORMAT" option to specify the default output format.  This can be set to "pdf",
       "ps" or "dvi".

           my $tt = Template::Latex-&gt;new({
               LATEX_FORMAT  =&gt; 'pdf',
           });

       Previous versions of the module supported the "LATEX_PATH", "PDFLATEX_PATH", "DVIPS_PATH", "PS2PDF_PATH",
       "BIBTEX_PATH" and "MAKEINDEX_PATH" options. These are now deprecated and their use will result in a
       deprecation warning, as their use would result in modifying global state, disallowing different values
       for different simultaneous instances.

       To change the paths of the various programs being called by the LaTeX::Driver module which this module
       wraps, the user is referred to the API of that module.  This module provides a number of (wrapper) class
       methods around the LaTeX::Driver routine (<b>latex_path()</b> and friends).

       The "latex" filter is automatically defined when you use the Template::Latex module.  There's no need to
       load the Latex plugin in this case, although you can if you want (e.g. to set some configuration
       defaults).  If you're using the regular Template module then you should first load the Latex plugin to
       define the "latex" filter.

           [% USE Latex %]
           [% FILTER latex('example.pdf') %]
           ...LaTeX doc...
           [% END %]

</pre><h4><b>PUBLIC</b> <b>METHODS</b></h4><pre>
       The Template::Latex module is a subclass of the Template module and inherits all its methods.  Please
       consult the documentation for the Template module for further information on using it for template
       processing.  Wherever you see "Template" substitute it for "Template::Latex".

       In addition to those inherted from the Template module, the following methods are also defined.

   <b>latex_paths()</b>
       Method to get or set the paths to the <u>latex</u>, <u>pdflatex</u> and <u>dvips</u> programs.  These values are stored in the
       Template::Latex $LATEX, $PDFLATEX and $DVIPS package variables, respectively.  It can be called as either
       a class or object method.

           Template::Latex-&gt;latex_paths({
               latex    =&gt; '/usr/bin/latex',
               pdflatex =&gt; '/usr/bin/pdflatex',
               dvips    =&gt; '/usr/bin/dvips',
           });

           my $paths = Template::Latex-&gt;latex_paths();
           print $paths-&gt;{ latex };    # /usr/bin/latex

   <b>latex_path()</b>
       Method to get or set the $Template::Latex::LATEX package variable which defines the location of the <u>latex</u>
       program on your system.  It can be called as a class or object method.

           Template::Latex-&gt;latex_path('/usr/bin/latex');
           print Template::Latex-&gt;latex_path();   # '/usr/bin/latex'

   <b>pdflatex_path()</b>
       Method to get or set the $Template::Latex::PDFLATEX package variable which defines the location of the
       <u>pdflatex</u> program on your system.  It can be called as a class or object method.

           Template::Latex-&gt;pdflatex_path('/usr/bin/pdflatex');
           print Template::Latex-&gt;pdflatex_path();   # '/usr/bin/pdflatex'

   <b>dvips_path()</b>
       Method to get or set the $Template::Latex::DVIPS package variable which defines the location of the <u>dvips</u>
       program on your system.  It can be called as a class or object method.

           Template::Latex-&gt;dvips_path('/usr/bin/dvips');
           print Template::Latex-&gt;dvips_path();   # '/usr/bin/dvips'

   <b>bibtex_path()</b>
       Method to get or set the $Template::Latex::BIBTEX package variable which defines the location of the
       <u>bibtex</u> program on your system.  It can be called as a class or object method.

           Template::Latex-&gt;bibtex_path('/usr/bin/bibtex');
           print Template::Latex-&gt;bibtex_path();   # '/usr/bin/bibtex'

   <b>makeindex_path()</b>
       Method to get or set the $Template::Latex::MAKEINDEX package variable which defines the location of the
       <u>makeindex</u> program on your system.  It can be called as a class or object method.

           Template::Latex-&gt;makeindex_path('/usr/bin/makeindex');
           print Template::Latex-&gt;makeindex_path();   # '/usr/bin/makeindex'

</pre><h4><b>INTERNALS</b></h4><pre>
       This section is aimed at a technical audience.  It documents the internal methods and subroutines as a
       reference for the module's developers, maintainers and anyone interesting in understanding how it works.
       You don't need to know anything about them to use the module and can safely skip this section.

   <b>define_filter($context,\%config)</b>
       This class method installs the "latex" filter in the context passed as the first argument.  The second
       argument is a hash reference containing any default filter parameters (e.g. those specified when the
       Template::Plugin::Latex plugin is loaded via a "USE" directive).

           Template::Latex-&gt;define_filter($context, { format =&gt; 'pdf' });

       The filter is installed as a <u>dynamic</u> <u>filter</u> <u>factory</u>.  This is just a fancy way of saying that the filter
       generates a new filter subroutine each time it is used to account for different invocation parameters.
       The filter subroutine it creates is effectively a wrapper (a "closure" in technical terms) around the
       "filter()" subroutine (see below) which does the real work.  The closure keeps track of any configuration
       parameters specified when the filter is first defined and/or when the filter is invoked.  It passes the
       merged configuration as the second argument to the "filter()" subroutine (see below).

       See the Template::Filters module for further information on how filters work.

   <b>filter($text,\%config)</b>
       This is the main LaTeX filter subroutine which is called by the Template Toolkit to generate a LaTeX
       document from the text passed as the first argument.  The second argument is a reference to a hash array
       of configuration parameters.  These are usually provided by the filter subroutine that is generated by
       the filter factory.

           Template::Latex::filter($latex, {
               latex    =&gt; '/usr/bin/latex',
               pdflatex =&gt; '/usr/bin/pdflatex',
               dvips    =&gt; '/usr/bin/dvips',
               output   =&gt; 'example.pdf',
           });

   <b>throw($message)</b>
       Subroutine which throws a Template::Exception error using "die".  The exception type is set to "latex".

           Template::Latex::throw("I'm sorry Dave, I can't do that");

   <b>debug($message)</b>
       Debugging subroutine which print all argument to STDERR.  Set the $DEBUG package variable to enable
       debugging messages.

           $Template::Latex::DEBUG = 1;

</pre><h4><b>AUTHOR</b></h4><pre>
       Andrew Ford &lt;<a href="mailto:a.ford@ford-mason.co.uk">a.ford@ford-mason.co.uk</a>&gt; (current maintainer)

       Andy Wardley &lt;<a href="mailto:abw@wardley.org">abw@wardley.org</a>&gt; &lt;<a href="http://wardley.org/">http://wardley.org/</a>&gt;

       The original Latex plugin on which this is based was written by Craig Barratt with additions for Win32 by
       Richard Tietjen.

</pre><h4><b>COPYRIGHT</b></h4><pre>
         Copyright (C) 1996-2006 Andy Wardley.  All Rights Reserved.
         Copyright (C) 2006-2014 Andrew Ford.  All Rights Reserved.
         Copyright (C) 2014-2016 Chris Travers. All Rights Reserved.

       This module is free software; you can redistribute it and/or modify it under the same terms as Perl
       itself.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       Template::Plugin::Latex

perl v5.36.0                                       2022-11-19                               <u>Template::<a href="../man3pm/Latex.3pm.html">Latex</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>