<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template - Front-end module to the Template Toolkit</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libtemplate-perl">libtemplate-perl_2.27-1build11_amd64</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Template - Front-end module to the Template Toolkit

</pre><h4><b>SYNOPSIS</b></h4><pre>
           use Template;

           # some useful options (see below for full list)
           my $config = {
               INCLUDE_PATH =&gt; '/search/path',  # or list ref
               INTERPOLATE  =&gt; 1,               # expand "$var" in plain text
               POST_CHOMP   =&gt; 1,               # cleanup whitespace
               PRE_PROCESS  =&gt; 'header',        # prefix each template
               EVAL_PERL    =&gt; 1,               # evaluate Perl code blocks
           };

           # create Template object
           my $template = Template-&gt;new($config);

           # define template variables for replacement
           my $vars = {
               var1  =&gt; $value,
               var2  =&gt; \%hash,
               var3  =&gt; \@list,
               var4  =&gt; \&amp;code,
               var5  =&gt; $object,
           };

           # specify input filename, or file handle, text reference, etc.
           my $input = 'myfile.html';

           # process input template, substituting variables
           $template-&gt;process($input, $vars)
               || die $template-&gt;error();

</pre><h4><b>DESCRIPTION</b></h4><pre>
       This documentation describes the Template module which is the direct Perl interface into the Template
       Toolkit.  It covers the use of the module and gives a brief summary of configuration options and template
       directives.  Please see Template::Manual for the complete reference manual which goes into much greater
       depth about the features and use of the Template Toolkit.  The Template::Tutorial is also available as an
       introductory guide to using the Template Toolkit.

</pre><h4><b>METHODS</b></h4><pre>
   <b>new(\%config)</b>
       The new() constructor method (implemented by the Template::Base base class) instantiates a new "Template"
       object. A reference to a hash array of configuration items may be passed as a parameter.

           my $tt = Template-&gt;new({
               INCLUDE_PATH =&gt; '/usr/local/templates',
               EVAL_PERL    =&gt; 1,
           }) || die $Template::ERROR, "\n";

       A reference to a new "Template" object is returned, or undef on error. In the latter case, the error
       message can be retrieved by calling <b>error()</b> as a class method or by examining the $Template::ERROR
       package variable directly.

           my $tt = Template-&gt;new(\%config)
               || die Template-&gt;error(), "\n";

           my $tt = Template-&gt;new(\%config)
               || die $Template::ERROR, "\n";

       For convenience, configuration items may also be specified as a list of items instead of a hash array
       reference.  These are automatically folded into a hash array by the constructor.

           my $tt = Template-&gt;new(INCLUDE_PATH =&gt; '<a href="file:/tmp">/tmp</a>', POST_CHOMP =&gt; 1)
               || die $Template::ERROR, "\n";

   <b>process($template,</b> <b>\%vars,</b> <b>$output,</b> <b>%options)</b>
       The process() method is called to process a template. The first parameter indicates the input template as
       one of: a filename relative to "INCLUDE_PATH", if defined; a reference to a text string containing the
       template text; or a file handle reference (e.g. "IO::Handle" or sub-class) or "GLOB" (e.g. "\*STDIN"),
       from which the template can be read. A reference to a hash array may be passed as the second parameter,
       containing definitions of template variables.

           # filename
           $tt-&gt;process('welcome.tt2')
               || die $tt-&gt;error(), "\n";

           # text reference
           $text = "[% INCLUDE header %]\nHello world!\n[% INCLUDE footer %]";
           $tt-&gt;process(\$text)
               || die $tt-&gt;error(), "\n";

           # file handle (GLOB)
           $tt-&gt;process(\*DATA)
               || die $tt-&gt;error(), "\n";

           __END__
           [% INCLUDE header %]
           This is a template defined in the __END__ section which is
           accessible via the DATA "file handle".
           [% INCLUDE footer %]

       By default, the processed template output is printed to "STDOUT". The process() method then returns 1 to
       indicate success. A third parameter may be passed to the process() method to specify a different output
       location.  This value may be one of: a plain string indicating a filename which will be opened (relative
       to "OUTPUT_PATH", if defined) and the output written to; a file GLOB opened ready for output; a reference
       to a scalar (e.g. a text string) to which output/error is appended; a reference to a subroutine which is
       called, passing the output as a parameter; or any object reference which implements a print() method
       (e.g. "IO::Handle", "Apache::Request", etc.) which will be called, passing the generated output as a
       parameter.

       Examples:

           # output filename
           $tt-&gt;process('welcome.tt2', $vars, 'welcome.html')
               || die $tt-&gt;error(), "\n";

           # reference to output subroutine
           sub myout {
               my $output = shift;
               ...
           }
           $tt-&gt;process('welcome.tt2', $vars, \&amp;myout)
               || die $tt-&gt;error(), "\n";

           # reference to output text string
           my $output = '';
           $tt-&gt;process('welcome.tt2', $vars, \$output)
               || die $tt-&gt;error(), "\n";

           print "output: $output\n";

       In an Apache/mod_perl handler:

           sub handler {
               my $req = shift;

               # ...your code here...

               # direct output to Apache::Request via $req-&gt;print($output)
               $tt-&gt;process($file, $vars, $req) || do {
                   $req-&gt;log_reason($tt-&gt;error());
                   return SERVER_ERROR;
               };
               return OK;
           }

       After the optional third output argument can come an optional reference to a hash or a list of "(name,
       value)" pairs providing further options for the output.  The only option currently supported is "binmode"
       which, when set to any true value will ensure that files created (but not any existing file handles
       passed) will be set to binary mode.

           # either: hash reference of options
           $tt-&gt;process($infile, $vars, $outfile, { binmode =&gt; 1 })
               || die $tt-&gt;error(), "\n";

           # or: list of name, value pairs
           $tt-&gt;process($infile, $vars, $outfile, binmode =&gt; 1)
               || die $tt-&gt;error(), "\n";

       Alternately, the "binmode" argument can specify a particular IO layer such as ":utf8".

           $tt-&gt;process($infile, $vars, $outfile, binmode =&gt; ':utf8')
               || die $tt-&gt;error(), "\n";

       The "OUTPUT" configuration item can be used to specify a default output location other than "\*STDOUT".
       The "OUTPUT_PATH" specifies a directory which should be prefixed to all output locations specified as
       filenames.

           my $tt = Template-&gt;new({
               OUTPUT      =&gt; sub { ... },       # default
               OUTPUT_PATH =&gt; '<a href="file:/tmp">/tmp</a>',
           ...
           }) || die Template-&gt;error(), "\n";

           # use default OUTPUT (sub is called)
           $tt-&gt;process('welcome.tt2', $vars)
               || die $tt-&gt;error(), "\n";

           # write file to '/tmp/welcome.html'
           $tt-&gt;process('welcome.tt2', $vars, 'welcome.html')
               || die $tt-&gt;error(), "\n";

       The process() method returns 1 on success or "undef" on error. The error message generated in the latter
       case can be retrieved by calling the <b>error()</b> method. See also "CONFIGURATION SUMMARY" which describes how
       error handling may be further customised.

   <b>error()</b>
       When called as a class method, it returns the value of the $ERROR package variable.  Thus, the following
       are equivalent.

           my $tt = Template-&gt;new()
               || die Template-&gt;error(), "\n";

           my $tt = Template-&gt;new()
               || die $Template::ERROR, "\n";

       When called as an object method, it returns the value of the internal "_ERROR" variable, as set by an
       error condition in a previous call to <b>process()</b>.

           $tt-&gt;process('welcome.tt2')
               || die $tt-&gt;error(), "\n";

       Errors are represented in the Template Toolkit by objects of the Template::Exception class. If the
       <b>process()</b> method returns a false value then the error() method can be called to return an object of this
       class.  The <b>type()</b> and <b>info()</b> methods can called on the object to retrieve the error type and information
       string, respectively. The <b>as_string()</b> method can be called to return a string of the form "$type -
       $info". This method is also overloaded onto the stringification operator allowing the object reference
       itself to be printed to return the formatted error string.

           $tt-&gt;process('somefile') || do {
               my $error = $tt-&gt;error();
               print "error type: ", $error-&gt;type(), "\n";
               print "error info: ", $error-&gt;info(), "\n";
               print $error, "\n";
           };

   <b>service()</b>
       The "Template" module delegates most of the effort of processing templates to an underlying
       Template::Service object.  This method returns a reference to that object.

   <b>context()</b>
       The Template::Service module uses a core Template::Context object for runtime processing of templates.
       This method returns a reference to that object and is equivalent to "$template-&gt;service-&gt;context()".

   <b>template($name)</b>
       This method is a simple wrapper around the Template::Context method of the same name.  It returns a
       compiled template for the source provided as an argument.

</pre><h4><b>CONFIGURATION</b> <b>SUMMARY</b></h4><pre>
       The following list gives a short summary of each Template Toolkit configuration option.  See
       Template::Manual::Config for full details.

   <b>Template</b> <b>Style</b> <b>and</b> <b>Parsing</b> <b>Options</b>
       <u>ENCODING</u>

       Specifies the character encoding.

       <u>START_TAG,</u> <u>END_TAG</u>

       Define tokens that indicate start and end of directives (default: '"[%"' and '"%]"').

       <u>TAG_STYLE</u>

       Set "START_TAG" and "END_TAG" according to a pre-defined style (default: '"template"', as above).

       <u>PRE_CHOMP,</u> <u>POST_CHOMP</u>

       Removes whitespace before/after directives (default: 0/0).

       <u>TRIM</u>

       Remove leading and trailing whitespace from template output (default: 0).

       <u>INTERPOLATE</u>

       Interpolate variables embedded like $this or "${this}" (default: 0).

       <u>ANYCASE</u>

       Allow directive keywords in lower case (default: 0 - UPPER only).

   <b>Template</b> <b>Files</b> <b>and</b> <b>Blocks</b>
       <u>INCLUDE_PATH</u>

       One or more directories to search for templates.

       <u>DELIMITER</u>

       Delimiter for separating paths in "INCLUDE_PATH" (default: '":"').

       <u>ABSOLUTE</u>

       Allow absolute file names, e.g. "/foo/bar.html" (default: 0).

       <u>RELATIVE</u>

       Allow relative filenames, e.g. "../foo/bar.html" (default: 0).

       <u>DEFAULT</u>

       Default template to use when another not found.

       <u>BLOCKS</u>

       Hash array pre-defining template blocks.

       <u>AUTO_RESET</u>

       Enabled by default causing "BLOCK" definitions to be reset each time a template is processed.  Disable to
       allow "BLOCK" definitions to persist.

       <u>RECURSION</u>

       Flag to permit recursion into templates (default: 0).

   <b>Template</b> <b>Variables</b>
       <u>VARIABLES</u>

       Hash array of variables and values to pre-define in the stash.

   <b>Runtime</b> <b>Processing</b> <b>Options</b>
       <u>EVAL_PERL</u>

       Flag to indicate if "PERL"/"RAWPERL" blocks should be processed (default: 0).

       <u>PRE_PROCESS,</u> <u>POST_PROCESS</u>

       Name of template(s) to process before/after main template.

       <u>PROCESS</u>

       Name of template(s) to process instead of main template.

       <u>ERROR</u>

       Name of error template or reference to hash array mapping error types to templates.

       <u>OUTPUT</u>

       Default output location or handler.

       <u>OUTPUT_PATH</u>

       Directory into which output files can be written.

       <u>DEBUG</u>

       Enable debugging messages.

   <b>Caching</b> <b>and</b> <b>Compiling</b> <b>Options</b>
       <u>CACHE_SIZE</u>

       Maximum number of compiled templates to cache in memory (default: undef - cache all)

       <u>COMPILE_EXT</u>

       Filename extension for compiled template files (default: undef - don't compile).

       <u>COMPILE_DIR</u>

       Root of directory in which compiled template files should be written (default: undef - don't compile).

   <b>Plugins</b> <b>and</b> <b>Filters</b>
       <u>PLUGINS</u>

       Reference to a hash array mapping plugin names to Perl packages.

       <u>PLUGIN_BASE</u>

       One or more base classes under which plugins may be found.

       <u>LOAD_PERL</u>

       Flag to indicate regular Perl modules should be loaded if a named plugin can't be found  (default: 0).

       <u>FILTERS</u>

       Hash array mapping filter names to filter subroutines or factories.

   <b>Customisation</b> <b>and</b> <b>Extension</b>
       <u>LOAD_TEMPLATES</u>

       List of template providers.

       <u>LOAD_PLUGINS</u>

       List of plugin providers.

       <u>LOAD_FILTERS</u>

       List of filter providers.

       <u>TOLERANT</u>

       Set providers to tolerate errors as declinations (default: 0).

       <u>SERVICE</u>

       Reference to a custom service object (default: Template::Service).

       <u>CONTEXT</u>

       Reference to a custom context object (default: Template::Context).

       <u>STASH</u>

       Reference to a custom stash object (default: Template::Stash).

       <u>PARSER</u>

       Reference to a custom parser object (default: Template::Parser).

       <u>GRAMMAR</u>

       Reference to a custom grammar object (default: Template::Grammar).

</pre><h4><b>DIRECTIVE</b> <b>SUMMARY</b></h4><pre>
       The following list gives a short summary of each Template Toolkit directive.  See
       Template::Manual::Directives for full details.

   <b>GET</b>
       Evaluate and print a variable or value.

           [%   GET variable %]    # 'GET' keyword is optional
           [%       variable %]
           [%       hash.key %]
           [%         list.n %]
           [%     code(args) %]
           [% obj.meth(args) %]
           [%  "value: $var" %]

   <b>CALL</b>
       As per GET but without printing result (e.g. call code)

           [%  CALL variable %]

   <b>SET</b>
       Assign a values to variables.

           [% SET variable = value %]    # 'SET' also optional
           [%     variable = other_variable
                  variable = 'literal text @ $100'
                  variable = "interpolated text: $var"
                  list     = [ val, val, val, val, ... ]
                  list     = [ val..val ]
                  hash     = { var =&gt; val, var =&gt; val, ... }
           %]

   <b>DEFAULT</b>
       Like SET, but variables are only set if currently unset (i.e. have no true value).

           [% DEFAULT variable = value %]

   <b>INSERT</b>
       Insert a file without any processing performed on the contents.

           [% INSERT legalese.txt %]

   <b>PROCESS</b>
       Process another template file or block and insert the generated output.  Any template BLOCKs or variables
       defined or updated in the "PROCESS"ed template will thereafter be defined in the calling template.

           [% PROCESS template %]
           [% PROCESS template  var = val, ... %]

   <b>INCLUDE</b>
       Similar to "PROCESS", but using a local copy of the current variables.  Any template "BLOCK"s or
       variables defined in the "INCLUDE"d template remain local to it.

           [% INCLUDE template %]
           [% INCLUDE template  var = val, ... %]

   <b>WRAPPER</b>
       The content between the "WRAPPER" and corresponding "END" directives is first evaluated, with the output
       generated being stored in the "content" variable.  The named template is then process as per "INCLUDE".

           [% WRAPPER layout %]
              Some template markup [% blah %]...
           [% END %]

       A simple <u>layout</u> template might look something like this:

           Your header here...
           [% content %]
           Your footer here...

   <b>BLOCK</b>
       Define a named template block for INCLUDE, PROCESS and WRAPPER to use.

           [% BLOCK hello %]
              Hello World
           [% END %]

           [% INCLUDE hello %]

   <b>FOREACH</b>
       Repeat the enclosed "FOREACH" ... "END" block for each value in the list.

           [% FOREACH variable IN [ val, val, val ] %]    # either
           [% FOREACH variable IN list %]                 # or
              The variable is set to [% variable %]
           [% END %]

   <b>WHILE</b>
       The block enclosed between "WHILE" and "END" block is processed while the specified condition is true.

           [% WHILE condition %]
              content
           [% END %]

   <b>IF</b> <b>/</b> <b>UNLESS</b> <b>/</b> <b>ELSIF</b> <b>/</b> <b>ELSE</b>
       The enclosed block is processed if the condition is true / false.

           [% IF condition %]
              content
           [% ELSIF condition %]
            content
           [% ELSE %]
            content
           [% END %]

           [% UNLESS condition %]
              content
           [% # ELSIF/ELSE as per IF, above %]
              content
           [% END %]

   <b>SWITCH</b> <b>/</b> <b>CASE</b>
       Multi-way switch/case statement.

           [% SWITCH variable %]
           [%   CASE val1 %]
                  content
           [%   CASE [ val2, val3 ] %]
                  content
           [%   CASE %]         # or [% CASE DEFAULT %]
                  content
           [% END %]

   <b>MACRO</b>
       Define a named macro.

           [% MACRO name &lt;directive&gt; %]
           [% MACRO name(arg1, arg2) &lt;directive&gt; %]
           ...
           [% name %]
           [% name(val1, val2) %]

   <b>FILTER</b>
       Process enclosed "FILTER" ... "END" block then pipe through a filter.

           [% FILTER name %]                       # either
           [% FILTER name( params ) %]             # or
           [% FILTER alias = name( params ) %]     # or
              content
           [% END %]

   <b>USE</b>
       Load a plugin module (see "Template::&lt;Manual::Plugins"), or any regular Perl module when the "LOAD_PERL"
       option is set.

           [% USE name %]                      # either
           [% USE name( params ) %]            # or
           [% USE var = name( params ) %]      # or
           ...
           [% name.method %]
           [% var.method %]

   <b>PERL</b> <b>/</b> <b>RAWPERL</b>
       Evaluate enclosed blocks as Perl code (requires the "EVAL_PERL" option to be set).

           [% PERL %]
            # perl code goes here
            $stash-&gt;set('foo', 10);
            print "set 'foo' to ", $stash-&gt;get('foo'), "\n";
            print $context-&gt;include('footer', { var =&gt; $val });
           [% END %]

           [% RAWPERL %]
              # raw perl code goes here, no magic but fast.
              $output .= 'some output';
           [% END %]

   <b>TRY</b> <b>/</b> <b>THROW</b> <b>/</b> <b>CATCH</b> <b>/</b> <b>FINAL</b>
       Exception handling.

           [% TRY %]
            content
              [% THROW type info %]
           [% CATCH type %]
            catch content
              [% error.type %] [% error.info %]
           [% CATCH %] # or [% CATCH DEFAULT %]
            content
           [% FINAL %]
              this block is always processed
           [% END %]

   <b>NEXT</b>
       Jump straight to the next item in a "FOREACH" or "WHILE" loop.

           [% NEXT %]

   <b>LAST</b>
       Break out of "FOREACH" or "WHILE" loop.

           [% LAST %]

   <b>RETURN</b>
       Stop processing current template and return to including templates.

           [% RETURN %]

   <b>STOP</b>
       Stop processing all templates and return to caller.

           [% STOP %]

   <b>TAGS</b>
       Define new tag style or characters (default: "[%" "%]").

           [% TAGS html %]
           [% TAGS &lt;!-- --&gt; %]

   <b>COMMENTS</b>
       Ignored and deleted.

           [% # this is a comment to the end of line
              foo = 'bar'
           %]

           [%# placing the '#' immediately inside the directive
               tag comments out the entire directive
           %]

</pre><h4><b>SOURCE</b> <b>CODE</b> <b>REPOSITORY</b></h4><pre>
       The source code for the Template Toolkit is held in a public git repository on Github:
       &lt;https://github.com/abw/Template2&gt;

</pre><h4><b>AUTHOR</b></h4><pre>
       Andy Wardley &lt;<a href="mailto:abw@wardley.org">abw@wardley.org</a>&gt; &lt;<a href="http://wardley.org/">http://wardley.org/</a>&gt;

</pre><h4><b>VERSION</b></h4><pre>
       Template Toolkit version 2.26, released January 2014.

</pre><h4><b>COPYRIGHT</b></h4><pre>
       Copyright (C) 1996-2014 Andy Wardley.  All Rights Reserved.

       This module is free software; you can redistribute it and/or modify it under the same terms as Perl
       itself.

perl v5.40.0                                       2024-10-20                                      <u><a href="../man3pm/Template.3pm.html">Template</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>