<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template::AutoFilter - Template::Toolkit with automatic filtering</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libtemplate-autofilter-perl">libtemplate-autofilter-perl_0.143050-3_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Template::AutoFilter - Template::Toolkit with automatic filtering

</pre><h4><b>VERSION</b></h4><pre>
       version 0.143050

</pre><h4><b>SYNOPSIS</b></h4><pre>
           use Template::AutoFilter;

           my $templ = "[% str %]  [% str | none %]  [% str | url %]";

           my $out;
           Template::AutoFilter-&gt;new-&gt;process( \$templ, { str =&gt; '&lt;a&gt;' }, \$out );

           print $out; # "&amp;lt;a&amp;gt;  &lt;a&gt;  %3Ca%3E"

           my $out;
           Template::AutoFilter-&gt;new( AUTO_FILTER =&gt; 'upper' )-&gt;process( \$templ, { str =&gt; '&lt;a&gt;' }, \$out );

           print $out; # "&lt;A&gt;  &lt;a&gt;  %3Ca%3E"

</pre><h4><b>DESCRIPTION</b></h4><pre>
       Template::AutoFilter is a subclass of Template::Toolkit which loads a specific Parser that is subclassed
       from Template::Parser. It adds a filter instruction to each interpolation token found in templates loaded
       by the TT engine. Tokens that already have a filter instruction are left unchanged.

       By default this automatic filter is set to be 'html', but can be modified during object creation by
       passing the AUTO_FILTER option with the name of the wanted filter.

       Additionally a pass-through filter called 'none' is added to the object to allow exclusion of tokens from
       being filtered.

       Lastly, if you have problems with the directives which get auto filters applied, you can see the
       Template::AutoFilter::Parser docs for how you can customize that.

       WARNING: This module is highly experimental. I have not done a lot of testing and things might blow up in
       unexpected ways. The API and behavior might change with any release (until 1.0). If you'd like to see any
       changes implemented, let me know via RT, email, IRC or by opening a pull request on github.

       Use at your own risk.

</pre><h4><b>METHODS</b></h4><pre>
   <b>new</b>
       Pre-processes the parameters passed on to Template's <b>new()</b>. Adds the pass-through filter and creates the
       AutoFilter Parser.

       All parameters passed to this <b>new()</b> will also be passed to the parser's <b>new()</b>.

</pre><h4><b>CONTRIBUTORS</b></h4><pre>
       Ryan Olson (cpan:GIMPSON) &lt;<a href="mailto:ryan@ziprecruiter.com">ryan@ziprecruiter.com</a>&gt;

       Aran Deltac (cpan:BLUEFEET) &lt;<a href="mailto:aran@ziprecruiter.com">aran@ziprecruiter.com</a>&gt;

       Thomas Sibley (cpan:TSIBLEY) &lt;<a href="mailto:tsibley@cpan.org">tsibley@cpan.org</a>&gt;

</pre><h4><b>SUPPORT</b></h4><pre>
   <b>Bugs</b> <b>/</b> <b>Feature</b> <b>Requests</b>
       Please report any bugs or feature requests through the issue tracker at
       &lt;<a href="http://rt.cpan.org/Public/Dist/Display.html">http://rt.cpan.org/Public/Dist/Display.html</a>?Name=Template-AutoFilter&gt;.  You will be notified
       automatically of any progress on your issue.

   <b>Source</b> <b>Code</b>
       This is open source software.  The code repository is available for public review and contribution under
       the terms of the license.

       &lt;https://github.com/wchristian/Template-AutoFilter&gt;

         git clone https://github.com/wchristian/Template-AutoFilter.git

</pre><h4><b>AUTHOR</b></h4><pre>
       Christian Walde &lt;<a href="mailto:walde.christian@gmail.com">walde.christian@gmail.com</a>&gt;

</pre><h4><b>COPYRIGHT</b> <b>AND</b> <b>LICENSE</b></h4><pre>
       Christian Walde has dedicated the work to the Commons by waiving all of his or her rights to the work
       worldwide under copyright law and all related or neighboring legal rights he or she had in the work, to
       the extent allowable by law.

       Works under CC0 do not require attribution. When citing the work, you should not imply endorsement by the
       author.

perl v5.36.0                                       2022-11-19                          <u>Template::<a href="../man3pm/AutoFilter.3pm.html">AutoFilter</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>