<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template::Stash::ForceUTF8 - Force UTF-8 (Unicode) flag on stash variables</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libtemplate-provider-encoding-perl">libtemplate-provider-encoding-perl_0.10-4_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Template::Stash::ForceUTF8 - Force UTF-8 (Unicode) flag on stash variables

</pre><h4><b>SYNOPSIS</b></h4><pre>
         use Template::Stash::ForceUTF8;
         use Template;

         my $tt = Template-&gt;new(
             LOAD_TEMPLATES =&gt; [ Template::Provider::Encoding-&gt;new ],
             STASH =&gt; Template::Stash::ForceUTF8-&gt;new,
         );

         my $vars;
         $vars-&gt;{foo} = "\x{5bae}\x{5ddd}";         # Unicode flagged
         $vars-&gt;{bar} = "\xe5\xae\xae\xe5\xb7\x9d"; # UTF-8 bytes

         $tt-&gt;process($template, $vars); # this DWIMs

</pre><h4><b>DESCRIPTION</b></h4><pre>
       Template::Stash::ForceUTF8 is a Template::Stash that forces Unicode flag on stash variables. Best used
       with Template::Provider::Encoding.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       Template::Provider::Encoding

perl v5.34.0                                       2022-06-17                    <u>Template::Stash::<a href="../man3pm/ForceUTF8.3pm.html">ForceUTF8</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>