<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template::DBI - DBI plugin for the Template Toolkit</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libtemplate-plugin-dbi-perl">libtemplate-plugin-dbi-perl_2.65-2.1_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Template::DBI - DBI plugin for the Template Toolkit

</pre><h4><b>SYNOPSIS</b></h4><pre>
           $ perldoc Template::Plugin::DBI

</pre><h4><b>DESCRIPTION</b></h4><pre>
       The Template-DBI distribution contains the DBI plugin for the Template Toolkit.  At some point in the
       future it is likely to contain other DBI-related plugins and extension modules for the Template Toolkit.

       The DBI plugin was distributed as part of the Template Toolkit until version 2.15 released in May 2006.
       At this time it was extracted into this separate Template-DBI distribution.

       See the documentation for Template::Plugin::DBI for further details on using the DBI plugin.

</pre><h4><b>AUTHORS</b></h4><pre>
       The DBI plugin was originally written by Simon A Matthews, and distributed as a separate module.  It was
       integrated into the Template Toolkit distribution for version 2.00 and included contributions from Andy
       Wardley, Craig Barratt, Dave Hodgkinson and Rafael Kitover.  Andy Wardley extracted it back into a
       separate distribution in May 2006.  After that, in 2010 Jens Rehsack maintains this distribution.

</pre><h4><b>COPYRIGHT</b></h4><pre>
         Copyright (C) 1999-2006 Simon Matthews, Andy Wardley.  All Rights Reserved
         Copyright (C) 2010 Jens Rehsack.  All Rights Reserved

       This module is free software; you can redistribute it and/or modify it under the same terms as Perl
       itself.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       Template, Template::Plugins, Template::Plugin::DBI, DBI, Tie::DBI

perl v5.32.0                                       2021-01-01                                 <u>Template::<a href="../man3pm/DBI.3pm.html">DBI</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>