<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template::Declare::TagSet::HTML - Template::Declare tag set for HTML</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libtemplate-declare-perl">libtemplate-declare-perl_0.47-3_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Template::Declare::TagSet::HTML - Template::Declare tag set for HTML

</pre><h4><b>SYNOPSIS</b></h4><pre>
           # normal use on the user side:
           use base 'Template::Declare';
           use Template::Declare::Tags 'HTML';

           template foo =&gt; sub {
               html {
                   body {
                   }
               }
           };

           # in Template::Declare::Tags:

           use Template::Declare::TagSet::HTML;
           my $tagset = Template::Declare::TagSet::HTML-&gt;new({
               package   =&gt; 'MyHTML',
               namespace =&gt; 'html',
           });
           my $list = $tagset-&gt;get_tag_list();
           print $_, $/ for @{ $list };

           if ( $altern = $tagset-&gt;get_alternate_spelling('tr') ) {
               print $altern;
           }

           if ( $tagset-&gt;can_combine_empty_tags('img') ) {
               print q{&lt;img src="blah.gif" /&gt;};
           }

</pre><h4><b>DESCRIPTION</b></h4><pre>
       Template::Declare::TagSet::HTML defines a full set of HTML tags for use in Template::Declare templates.
       All elements for HTML 2, HTML 3, HTML 4, and XHTML 1 are defined. You generally won't use this module
       directly, but will load it via:

           use Template::Declare::Tags 'HTML';

</pre><h4><b>METHODS</b></h4><pre>
   <b>new(</b> <b>PARAMS</b> <b>)</b>
           my $html_tag_set = Template::Declare::TagSet-&gt;new({
               package   =&gt; 'MyHTML',
               namespace =&gt; 'html',
           });

       Constructor inherited from Template::Declare::TagSet.

   <b>get_tag_list</b>
           my $list = $tag_set-&gt;get_tag_list();

       Returns an array ref of all the HTML tags defined by Template::Declare::TagSet::HTML. Here is the
       complete list:

       •   "h1"

       •   "h2"

       •   "h3"

       •   "h4"

       •   "h5"

       •   "h6"

       •   "p"

       •   "br"

       •   "hr"

       •   "ol"

       •   "ul"

       •   "li"

       •   "dl"

       •   "dt"

       •   "dd"

       •   "menu"

       •   "code"

       •   "var"

       •   "strong"

       •   "em"

       •   "tt"

       •   "u"

       •   "i"

       •   "b"

       •   "blockquote"

       •   "pre"

       •   "img"

       •   "a"

       •   "address"

       •   "cite"

       •   "samp"

       •   "dfn"

       •   "html"

       •   "head"

       •   "base"

       •   "body"

       •   "link"

       •   "nextid"

       •   "title"

       •   "meta"

       •   "kbd"

       •   "start_html"

       •   "end_html"

       •   "input"

       •   "select"

       •   "option"

       •   "comment"

       •   "charset"

       •   "escapehtml"

       •   "div"

       •   "table"

       •   "caption"

       •   "th"

       •   "td"

       •   "tr"

       •   "tr"

       •   "sup"

       •   "sub"

       •   "strike"

       •   "applet"

       •   "param"

       •   "nobr"

       •   "embed"

       •   "basefont"

       •   "style"

       •   "span"

       •   "layer"

       •   "ilayer"

       •   "font"

       •   "frameset"

       •   "frame"

       •   "script"

       •   "small"

       •   "big"

       •   "area"

       •   "map"

       •   "abbr"

       •   "acronym"

       •   "bdo"

       •   "col"

       •   "colgroup"

       •   "del"

       •   "fieldset"

       •   "iframe"

       •   "ins"

       •   "label"

       •   "legend"

       •   "noframes"

       •   "noscript"

       •   "object"

       •   "optgroup"

       •   "q"

       •   "thead"

       •   "tbody"

       •   "tfoot"

       •   "blink"

       •   "fontsize"

       •   "center"

       •   "textfield"

       •   "textarea"

       •   "filefield"

       •   "password_field"

       •   "hidden"

       •   "checkbox"

       •   "checkbox_group"

       •   "submit"

       •   "reset"

       •   "defaults"

       •   "radio_group"

       •   "popup_menu"

       •   "button"

       •   "autoescape"

       •   "scrolling_list"

       •   "image_button"

       •   "start_form"

       •   "end_form"

       •   "startform"

       •   "endform"

       •   "start_multipart_form"

       •   "end_multipart_form"

       •   "isindex"

       •   "tmpfilename"

       •   "uploadinfo"

       •   "url_encoded"

       •   "multipart"

       •   "form"

       •   "canvas"

       •   "section"

       •   "article"

       •   "aside"

       •   "hgroup"

       •   "header"

       •   "footer"

       •   "nav"

       •   "figure"

       •   "figcaption"

       •   "video"

       •   "audio"

       •   "embed"

       •   "mark"

       •   "progress"

       •   "meter"

       •   "time"

       •   "ruby"

       •   "rt"

       •   "rp"

       •   "bdi"

       •   "wbr"

       •   "command"

       •   "details"

       •   "datalist"

       •   "keygen"

       •   "output"

   <b>get_alternate_spelling(</b> <b>TAG</b> <b>)</b>
           $bool = $obj-&gt;get_alternate_spelling($tag);

       Returns the alternative spelling for a given tag if any or undef otherwise.  Currently, "tr" is mapped to
       "row", "td" is mapped to "cell", "q" is mapped to "quote", "base" is mapped to "html_base", and "time" is
       mapped  to  "datetime". These alternates are to avoid conflicts with the Perl "tr" and "q" operators, the
       "time" function, and the base module, with "td" changed so as to keep consistent with table rows.

   <b>can_combine_empty_tags(</b> <b>TAG</b> <b>)</b>
           $bool = $obj-&gt;can_combine_empty_tags($tag);

       Specifies whether "&lt;tag&gt;&lt;/tag&gt;" can be combined into a single token, "&lt;tag /&gt;".  Currently,  only  a  few
       HTML tags are allowed to be combined:

       •   "base"

       •   "meta"

       •   "link"

       •   "hr"

       •   "br"

       •   "param"

       •   "img"

       •   "area"

       •   "input"

       •   "col"

</pre><h4><b>AUTHOR</b></h4><pre>
       Agent Zhang &lt;<a href="mailto:agentzh@yahoo.cn">agentzh@yahoo.cn</a>&gt;

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       Template::Declare::TagSet,         Template::Declare::TagSet::XUL,        Template::Declare::TagSet::RDF,
       Template::Declare::Tags, Template::Declare.

perl v5.34.0                                       2022-06-17               <u>Template::Declare::TagSet::<a href="../man3pm/HTML.3pm.html">HTML</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>