<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template::Provider::FromDATA - Load templates from your __DATA__ section</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libtemplate-provider-fromdata-perl">libtemplate-provider-fromdata-perl_0.13-3_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Template::Provider::FromDATA - Load templates from your __DATA__ section

</pre><h4><b>SYNOPSIS</b></h4><pre>
           use Template;
           use Template::Provider::FromDATA;

           # Create the provider
           my $provider = Template::Provider::FromDATA-&gt;new( {
               CLASSES =&gt; __PACKAGE__
           } );

           # Add the provider to the config
           my $template = Template-&gt;new( {
               # ...
               LOAD_TEMPLATES =&gt; [ $provider ]
           } );

           # Render a template
           $template-&gt;process( 'mytemplate', { bar =&gt; 'Bar' } );

           # ...and now the templates

           __DATA__

           __mytemplate__
           Foo [% bar %]

           __myothertemplate__
           Baz, [% qux %]?

</pre><h4><b>DESCRIPTION</b></h4><pre>
       This module allows you to store your templates inline with your code in the "__DATA__" section. It will
       search any number of classes specified.

</pre><h4><b>CAVEAT</b></h4><pre>
       If you have two templates with the same name, this module will not understand the difference, it will
       simply return the first one found. If you wish, you can specify a fully qualified template name by
       prefixing the template with the module name (using "-" instead of "::" as a namespace separator), adding
       a "/" to separate the module name from the template name.

           $template-&gt;process( 'My-Templates/mytemplate', { bar =&gt; 'Bar' } );

</pre><h4><b>INSTALLATION</b></h4><pre>
           perl Makefile.PL
           make
           make test
           make install

</pre><h4><b>METHODS</b></h4><pre>
   <b>new(</b> <b>\%OPTIONS</b> <b>)</b>
       Create a new instance of the provider. You can specify a list of classes to be searched for templates via
       the "CLASSES" option. By omitting this option it will search "main".

           # defaults to 'main'
           $provider = Template::Provider::FromDATA-&gt;new;

           # look for templates in 'Foo'
           $provider = Template::Provider::FromDATA-&gt;new( {
               CLASSES =&gt; 'Foo'
           } );

           # look for templates in 'Foo::Bar' and 'Foo::Baz'
           $provider = Template::Provider::FromDATA-&gt;new( {
               CLASSES =&gt; [ 'Foo::Bar', 'Foo::Baz' ]
           } );

       By default, template data is lazy-loaded as they it is  requested. If you wish to load up all template
       data upon initializtion, you can use the "PRELOAD" option.

           $provider = Template::Provider::FromDATA-&gt;new( {
               PRELOAD =&gt; 1
           } );

   <b>_init(</b> <b>\%OPTIONS</b> <b>)</b>
       A subclassed method to handle the options passed to "new()".

   <b>fetch(</b> <b>$name</b> <b>)</b>
       This is a subclassed method that will load a template via "_fetch()" if a non-reference argument is
       passed.

   <b>_load(</b> <b>$name</b> <b>)</b>
       Loads the template via the "get_file()" sub and sets some cache information.

   <b>get_file(</b> <b>$class,</b> <b>$template</b> <b>)</b>
       This method searches through $class for a template named $template. Returns the contents on success,
       undef on failure.

       This function was mostly borrowed from Catalyst::Helper's "get_file" function.

</pre><h4><b>ACCESSORS</b></h4><pre>
   <b>classes</b>
       An arrayref of the class names containing our templates.

   <b>cache</b>
       A hashref of file and template data.

</pre><h4><b>AUTHOR</b></h4><pre>
       Brian Cassidy &lt;<a href="mailto:bricas@cpan.org">bricas@cpan.org</a>&gt;

</pre><h4><b>COPYRIGHT</b> <b>AND</b> <b>LICENSE</b></h4><pre>
       Copyright 2005-2012 by Brian Cassidy

       This library is free software; you can redistribute it and/or modify it under the same terms as Perl
       itself.

perl v5.36.0                                       2022-12-01                  <u>Template::Provider::<a href="../man3pm/FromDATA.3pm.html">FromDATA</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>