<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template::Manual::Plugins - Standard plugins</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libtemplate-perl">libtemplate-perl_2.27-1build11_amd64</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Template::Manual::Plugins - Standard plugins

</pre><h4><b>TEMPLATE</b> <b>TOOLKIT</b> <b>PLUGINS</b></h4><pre>
       The following plugin modules are distributed with the Template Toolkit.  Some of the plugins interface to
       external modules (detailed below) which should be downloaded from any CPAN site and installed before
       using the plugin.

   <b>Assert</b>
       New in 2.20!  The Assert plugin adds an "assert" virtual method that you can use to catch undefined
       values.

       For example, consider this dotop:

           [% user.name %]

       If "user.name" is an undefined value then TT will silently ignore the fact and print nothing.  If you
       "USE" the "assert" plugin then you can add the "assert" vmethod between the "user" and "name" elements,
       like so:

           [% user.assert.name %]

       Now, if "user.name" is an undefined value, an exception will be thrown:

           assert error - undefined value for name

   <b>CGI</b>
       The CGI plugin is a wrapper around Lincoln Stein's CGI.pm module. The plugin is distributed with the
       Template Toolkit (see Template::Plugin::CGI) and the CGI module itself is distributed with recent
       versions Perl, or is available from CPAN.

           [% USE CGI %]
           [% CGI.param('param_name') %]
           [% CGI.start_form %]
           [% CGI.popup_menu( Name   =&gt; 'color',
                              Values =&gt; [ 'Green', 'Brown' ] ) %]
           [% CGI.end_form %]

   <b>Datafile</b>
       Provides an interface to data stored in a plain text file in a simple delimited format.  The first line
       in the file specifies field names which should be delimiter by any non-word character sequence.
       Subsequent lines define data using the same delimiter as in the first line.  Blank lines and comments
       (lines starting '#') are ignored.  See Template::Plugin::Datafile for further details.

       /tmp/mydata:

           # define names for each field
           id : email : name : tel
           # here's the data
           fred : <a href="mailto:fred@here.com">fred@here.com</a> : Fred Smith : 555-1234
           bill : <a href="mailto:bill@here.com">bill@here.com</a> : Bill White : 555-5678

       example:

           [% USE userlist = datafile('/tmp/mydata') %]

           [% FOREACH user = userlist %]
              [% user.name %] ([% user.id %])
           [% END %]

   <b>Date</b>
       The Date plugin provides an easy way to generate formatted time and date strings by delegating to the
       POSIX strftime() routine. See Template::Plugin::Date and POSIX for further details.

           [% USE date %]
           [% date.format %]           # current time/date

           File last modified: [% date.format(template.modtime) %]

   <b>Directory</b>
       The Directory plugin provides a simple interface to a directory and the files within it. See
       Template::Plugin::Directory for further details.

           [% USE dir = Directory('<a href="file:/tmp">/tmp</a>') %]
           [% FOREACH file = dir.files %]
               # all the plain files in the directory
           [% END %]
           [% FOREACH file = dir.dirs %]
               # all the sub-directories
           [% END %]

   <b>DBI</b>
       The "DBI" plugin is no longer distributed as part of the Template Toolkit (as of version 2.15).  It is
       now available as a separate Template::DBI distribution from CPAN.

   <b>Dumper</b>
       The Dumper plugin provides an interface to the Data::Dumper module. See Template::Plugin::Dumper and
       Data::Dumper for further details.

           [% USE dumper(indent=0, pad="&lt;br&gt;") %]
           [% dumper.dump(myvar, yourvar) %]

   <b>File</b>
       The File plugin provides a general abstraction for files and can be used to fetch information about
       specific files within a filesystem. See Template::Plugin::File for further details.

           [% USE File('/tmp/foo.html') %]
           [% File.name %]     # foo.html
           [% File.dir %]      # <a href="file:/tmp">/tmp</a>
           [% File.mtime %]    # modification time

   <b>Filter</b>
       This module implements a base class plugin which can be subclassed to easily create your own modules that
       define and install new filters.

           package MyOrg::Template::Plugin::MyFilter;

           use Template::Plugin::Filter;
           use base qw( Template::Plugin::Filter );

           sub filter {
               my ($self, $text) = @_;
               # ...mungify $text...
               return $text;
           }

       Example of use:

           # now load it...
           [% USE MyFilter %]

           # ...and use the returned object as a filter
           [% FILTER $MyFilter %]
             ...
           [% END %]

       See Template::Plugin::Filter for further details.

   <b>Format</b>
       The Format plugin provides a simple way to format text according to a printf()-like format. See
       Template::Plugin::Format for further details.

           [% USE bold = format('&lt;b&gt;%s&lt;/b&gt;') %]
           [% bold('Hello') %]

   <b>GD</b>
       The "GD" plugins are no longer part of the core Template Toolkit distribution.  They are now available
       from CPAN in a separate Template::GD distribution.

   <b>HTML</b>
       The HTML plugin is very basic, implementing a few useful methods for generating HTML. It is likely to be
       extended in the future or integrated with a larger project to generate HTML elements in a generic way.

           [% USE HTML %]
           [% HTML.escape("if (a &lt; b &amp;&amp; c &gt; d) ..." %]
           [% HTML.attributes(border =&gt; 1, cellpadding =&gt; 2) %]
           [% HTML.element(table =&gt; { border =&gt; 1, cellpadding =&gt; 2 }) %]

       See Template::Plugin::HTML for further details.

   <b>Iterator</b>
       The Iterator plugin provides a way to create a Template::Iterator object to iterate over a data set. An
       iterator is created automatically by the "FOREACH" directive and is aliased to the "loop" variable. This
       plugin allows an iterator to be explicitly created with a given name, or the default plugin name,
       "iterator". See Template::Plugin::Iterator for further details.

           [% USE iterator(list, args) %]

           [% FOREACH item = iterator %]
              [% '&lt;ul&gt;' IF iterator.first %]
              &lt;li&gt;[% item %]
              [% '&lt;/ul&gt;' IF iterator.last %]
           [% END %]

   <b>Pod</b>
       This plugin provides an interface to the Pod::POM module which parses POD documents into an internal
       object model which can then be traversed and presented through the Template Toolkit.

           [% USE Pod(podfile) %]

           [% FOREACH head1 = Pod.head1;
                FOREACH head2 = head1/head2;
                  ...
                END;
              END
           %]

   <b>Scalar</b>
       The Template Toolkit calls user-defined subroutines and object methods using Perl's array context by
       default.

           # TT2 calls object methods in array context by default
           [% object.method %]

       This plugin module provides a way for you to call subroutines and methods in scalar context.

           [% USE scalar %]

           # force it to use scalar context
           [% object.scalar.method %]

           # also works with subroutine references
           [% scalar.my_sub_ref %]

   <b>String</b>
       The String plugin implements an object-oriented interface for manipulating strings. See
       Template::Plugin::String for further details.

           [% USE String 'Hello' %]
           [% String.append(' World') %]

           [% msg = String.new('Another string') %]
           [% msg.replace('string', 'text') %]

           The string "[% msg %]" is [% msg.length %] characters long.

   <b>Table</b>
       The Table plugin allows you to format a list of data items into a virtual table by specifying a fixed
       number of rows or columns, with an optional overlap. See Template::Plugin::Table for further details.

           [% USE table(list, rows=10, overlap=1) %]

           [% FOREACH item = <a href="../man3/table.col.3.html">table.col</a>(3) %]
              [% item %]
           [% END %]

   <b>URL</b>
       The URL plugin provides a simple way of constructing URLs from a base part and a variable set of
       parameters. See Template::Plugin::URL for further details.

           [% USE mycgi = url('/cgi-bin/bar.pl', debug=1) %]

           [% mycgi %]
              # ==&gt; /cgi/bin/bar.pl?debug=1

           [% mycgi(mode='submit') %]
              # ==&gt; /cgi/bin/bar.pl?mode=submit&amp;debug=1

   <b>Wrap</b>
       The Wrap plugin uses the Text::Wrap module to provide simple paragraph formatting. See
       Template::Plugin::Wrap and Text::Wrap for further details.

           [% USE wrap %]
           [% wrap(mytext, 40, '* ', '  ') %]  # use wrap sub
           [% mytext FILTER <a href="../man40/wrap.40.html">wrap</a>(40) -%]       # or wrap FILTER

       The "Text::Wrap" module is available from CPAN:

           <a href="http://www.cpan.org/modules/by-module/Text/">http://www.cpan.org/modules/by-module/Text/</a>

   <b>XML</b>
       The "XML::DOM", "XML::RSS", "XML::Simple" and "XML::XPath" plugins are no longer distributed with the
       Template Toolkit as of version 2.15

       They are now available in a separate Template::XML distribution.

perl v5.40.0                                       2024-10-20                     <u>Template::Manual::<a href="../man3pm/Plugins.3pm.html">Plugins</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>