<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template::Alloy::HTE - HTML::Template and HTML::Template::Expr roles.</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libtemplate-alloy-perl">libtemplate-alloy-perl_1.022-3_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Template::Alloy::HTE - HTML::Template and HTML::Template::Expr roles.

</pre><h4><b>DESCRIPTION</b></h4><pre>
       The Template::Alloy::HTE role provides syntax and interface support for the HTML::Template and
       HTML::Template::Expr modules.

       Provides for extra or extended features that may not be as commonly used.  This module should not
       normally be used by itself.

       See the Template::Alloy documentation for configuration and other parameters.

</pre><h4><b>HOW</b> <b>IS</b> <b>Template::Alloy</b> <b>DIFFERENT</b> <b>FROM</b> <b>HTML::Template</b></h4><pre>
       Alloy can use the same base template syntax and configuration items as HTE and HT.  The internals of
       Alloy were written to support TT3, but were general enough to be extended to support HTML::Template as
       well.  The result is HTML::Template::Expr compatible syntax, with Alloy speed and a wide range of
       additional features.

       The TMPL_VAR, TMPL_IF, TMPL_ELSE, TMPL_UNLESS, TMPL_LOOP, and TMPL_INCLUDE all work identically to
       HTML::Template.

       •   Added support for other TT3 directives and for TT style "dot notation."

               &lt;TMPL_SET a = "bar"&gt;
               &lt;TMPL_SET b = [1 .. 25]&gt;
               &lt;TMPL_SET foo = PROCESS 'filename.tt'&gt;

               &lt;TMPL_GET foo&gt;  # similar to &lt;TMPL_VAR NAME="foo"&gt;
               &lt;TMPL_GET b.3&gt;
               &lt;TMPL_GET my.nested.chained.variable.1&gt;
               &lt;TMPL_GET my_var | html&gt;

               &lt;TMPL_USE foo = DBI(db =&gt; ...)&gt;
               &lt;TMPL_CALL foo.connect&gt;

           Any of the TT directives can be used in HTML::Template documents.

           For  many  die-hard  HTML::Template  fans,  it  is probably quite scary to be providing all of the TT
           functionality.  All  of  the  extended  TT  functionality  can  be  disabled  by  setting  the  NO_TT
           configuration  item.   The  NO_TT configuration is automatically set if the SYNTAX is set to "ht" and
           the output method is called.

       •   There is an ELSIF!!!

               &lt;TMPL_IF foo&gt;
                 FOO
               &lt;TMPL_ELSIF bar&gt;
                 BAR
               &lt;TMPL_ELSE&gt;
                 Done then
               &lt;/TMPL_IF&gt;

       •   Added CHOMP capabilities (PRE_CHOMP and POST_CHOMP)

               Foo
               &lt;~TMPL_VAR EXPR="1+2"~&gt;
               Bar

               Prints Foo3Bar

       •   Added INTERPOLATE capability

               &lt;TMPL_SET foo = 'FOO'&gt;
               &lt;TMPL_CONFIG INTERPOLATE =&gt; 1&gt;
               $foo &lt;TMPL_GET foo&gt; ${ 1 + 2 }

               Prints

               FOO FOO 3

       •   Allow for HTML::Template templates to include TT style templates.

               &lt;TMPL_CONFIG SYNTAX =&gt; 'tt3'&gt;
               &lt;TMPL_INCLUDE "filename.tt"&gt;

       •   Allow for Expr parsing to follow proper precedence rules.

              &lt;TMPL_VAR EXPR="1 + 2 * 3"&gt;

              Properly prints 7.

       •   Uses  all  of  the  caching  and  opcode  tree  optimizations   provided   by   Template::Alloy   and
           Template::Alloy::XS.

       •   Alloy does not provide the query method from HTML::Template.  This is because parsing of the document
           is  delayed  until the output method is called, and because Alloy supports TT style chained variables
           which often are not resolvable until run time.

</pre><h4><b>UNSUPPORTED</b> <b>HT</b> <b>CONFIGURATION</b></h4><pre>
       die_on_bad_params
           Alloy does not resolve variables until the template is output.

       force_untaint
       strict
           Alloy is strict on parsing HT documents.

       shared_cache, double_cache
           Alloy doesn't have shared caching.  Yet.

       search_path_on_include
           Alloy will check the full path array on each include.

       debug items
           The HTML::Template style options are included here, but you can use  the  TT  style  DEBUG  and  DUMP
           directives to do introspection.

       max_includes
           Alloy uses TT's recursion protection.

       filter
           Alloy doesn't offer these.

</pre><h4><b>ROLE</b> <b>METHODS</b></h4><pre>
       "register_function"
           Defines a new function for later use as text vmethod or top level function.

       "clear_param"
           Empties the parameter list.

       "query"
           Not supported.

       "new_file"
           Creates a new object that will process the passed file.

               $obj = Template::Alloy-&gt;new_file("my/file.hte");

       "new_scalar_ref"
           Creates a new object that will process the passed scalar ref.

               $obj = Template::Alloy-&gt;new_scalar_ref(\"some template text");

       "new_array_ref"
           New object that will process the passed array (each item represents a line).

               $obj = Template::Alloy-&gt;new_array_ref(\@array);

       "new_filehandle"
               $obj = Template::Alloy-&gt;new_filehandle(\*FH);

       "parse_tree_hte"
           Called by parse_tree when syntax is set to ht or hte.  Parses for tags HTML::Template style.

       "param"
           See Template::Alloy.

       "output"
           See Template::Alloy.

</pre><h4><b>AUTHOR</b></h4><pre>
       Paul Seamons &lt;<a href="mailto:paul@seamons.com">paul@seamons.com</a>&gt;

</pre><h4><b>LICENSE</b></h4><pre>
       This module may be distributed under the same terms as Perl itself.

perl v5.38.2                                       2024-03-07                          <u>Template::Alloy::<a href="../man3pm/HTE.3pm.html">HTE</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>