<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test::Lintian::Templates -- Helper routines dealing with templates</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/lintian">lintian_2.122.0ubuntu1_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Test::Lintian::Templates -- Helper routines dealing with templates

</pre><h4><b>SYNOPSIS</b></h4><pre>
       use Test::Lintian::Templates qw(fill_template);

       my $data = { 'placeholder' =&gt; 'value' }; my $file = '/path/to/generated/file';

       fill_template("$file.in", $file, $data);

</pre><h4><b>DESCRIPTION</b></h4><pre>
       Routines for dealing with templates in Lintian test specifications.

</pre><h4><b>FUNCTIONS</b></h4><pre>
       copy_skeleton_template_sets(INSTRUCTIONS, RUN_PATH, SUITE, TEST_SET)
           Copies  template  sets  belonging  to  SUITE  into  the  test working directory RUN_PATH according to
           INSTRUCTIONS. The INSTRUCTIONS are the target directory relative to RUN_PATH followed by the name  of
           the template set in parentheses. Multiple such instructions must be separated by commas.

       remove_surplus_templates(SRC_DIR, TARGET_DIR)
           Removes from TARGET_DIR any templates that have corresponding originals in SRC_DIR.

       fill_skeleton_templates(INSTRUCTIONS, HASH, EPOCH, RUN_PATH, TEST_SET)
           Fills  the  templates specified in INSTRUCTIONS using the data in HASH. Only fills templates when the
           generated files are not present or are older than either the file modification time of  the  template
           or  the  age of the data as evidenced by EPOCH. The INSTRUCTIONS are the target directory relative to
           RUN_PATH followed by the name  of  the  whitelist  in  parentheses.  Multiple  instructions  must  be
           separated by commas.

       fill_whitelisted_templates(DIR, WHITE_LIST, HASH, HASH_EPOCH)
           Generates  all  files  in array WHITE_LIST relative to DIR from their templates, which are assumed to
           have the same file name but with extension '.in', using data provided in HASH. The optional  argument
           HASH_EPOCH can be used to preserve files when no generation is necessary.

       fill_all_templates(HASH, DIR)
           Fills all templates in DIR with data from HASH.

       fill_template(TEMPLATE, GENERATED, HASH, HASH_EPOCH, DELIMITERS)
           Fills  template  TEMPLATE  with  data  from  HASH and places the result in file GENERATED. When given
           HASH_EPOCH, will evaluate beforehand if a substitution is necessary based on file modification times.
           The optional parameter DELIMITERS can be used to change the standard delimiters.

Lintian v2.122.0ubuntu1                            2025-05-01                        <u>Test::Lintian::<a href="../man3/Templates.3.html">Templates</a></u>(3)
</pre>
 </div>
</div></section>
</div>
</body>
</html>