<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text::MicroMason::Base - Abstract Template Compiler</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libtext-micromason-perl">libtext-micromason-perl_2.23-5_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Text::MicroMason::Base - Abstract Template Compiler

</pre><h4><b>SYNOPSIS</b></h4><pre>
       Create a MicroMason object to interpret the templates:

           use Text::MicroMason;
           my $mason = Text::MicroMason-&gt;new();

       Use the execute method to parse and evaluate a template:

           print $mason-&gt;execute( text=&gt;$template, 'name'=&gt;'Dave' );

       Or compile it into a subroutine, and evaluate repeatedly:

           $coderef = $mason-&gt;compile( text=&gt;$template );
           print $coderef-&gt;('name'=&gt;'Dave');
           print $coderef-&gt;('name'=&gt;'Bob');

       Templates stored in files can be run directly or included in others:

           print $mason-&gt;execute( file=&gt;"./greeting.msn", 'name'=&gt;'Charles');

</pre><h4><b>DESCRIPTION</b></h4><pre>
       Text::MicroMason::Base is an abstract superclass that provides a parser and execution environment for an
       extensible templating system.

   <b>Public</b> <b>Methods</b>
       <b>new()</b>
             $mason = Text::MicroMason::Base-&gt;new( -Mixin1, -Mixin2, %attribs );

           Creates a new Text::MicroMason object with mixins and attributes.

           Arguments  beginning  with  a  dash will be added as mixin classes.  Other arguments are added to the
           hash of attributes.

       <b>compile()</b>
             $code_ref = $mason-&gt;compile( text =&gt; $template, %options );
             $code_ref = $mason-&gt;compile( file =&gt; $filename, %options );

           Parses the provided template and converts it into a new Perl subroutine.

       <b>execute()</b>
             $result = $mason-&gt;execute( text =&gt; $template, @arguments );
             $result = $mason-&gt;execute( file =&gt; $filename, @arguments );
             $result = $mason-&gt;execute( code =&gt; $code_ref, @arguments );

             $result = $mason-&gt;execute( $type =&gt; $source, \%options, @arguments );

           Returns the results produced by the template, given the provided arguments.

   <b>Attributes</b>
       Attributes can be set in a call to <b>new()</b> and locally overridden in a call to <b>compile()</b>.

       output_sub
           Optional reference to a subroutine to call with each piece of template output. If  this  is  enabled,
           template subroutines will return an empty string.

   <b>Private</b> <b>Methods</b>
       The  following  internal  methods  are used to implement the public interface described above, and may be
       overridden by subclasses and mixins.

       <b>class()</b>
             $class = Text::MicroMason::Base-&gt;class( @Mixins );

           Creates a subclass of this package that also inherits from  the  other  classes  named.  Provided  by
           Class::MixinFactory::HasAFactory.

       <b>create()</b>
             $mason = $class-&gt;create( %options );
             $clone = $mason-&gt;create( %options );

           Creates a new instance with the provided key value pairs.

           To  obtain  the functionality of one of the supported mixin classes, use the class method to generate
           the mixed class before calling <b>create()</b>, as is done by <b>new()</b>.

       <b>defaults()</b>
           This class method is called by <b>new()</b> to provide key-value pairs to be included in the new instance.

       <b>prepare()</b>
             ($self, $src_type, $src_data) = $self-&gt;prepare($src_type, $src_data, %options)

           Called by <b>compile()</b>, the prepare method allows for single-use attributes  and  provides  a  hook  for
           mixin functionality.

           The  prepare  method  provides a hook for mixins to normalize or resolve the template source type and
           value arguments in various ways before the template is read using one of the <b>read_type()</b> methods.

           It returns an object reference that may be a clone of the original mason object with various compile-
           time attributes applied. The cloning is a shallow copy performed by the <b>create()</b> method.  This  means
           that  the  $m  object  visible  to  a  template may not be the same as the MicroMason object on which
           <b>compile()</b> was originally called.

           Please note that this clone-on-prepare behavior is subject to change in future releases.

       interpret
              $perl_code = $mason-&gt;interpret( $src_type, $src_data );

           Called by <b>compile()</b>, the interpret method then calls the <b>read()</b>, <b>lex()</b>, and <b>assemble()</b> methods.

       read
             $template = $mason-&gt;read( $src_type, $src_data );

           Called by <b>interpret()</b>. Calls one of the below read_* methods.

       read_text
             $template = $mason-&gt;read_text( $template );

           Called by <b>read()</b> when the template source type is "text", this method simply returns the value of the
           text string passed to it.

       read_file
             ( $contents, %path_info ) = $mason-&gt;read_file( $filename );

           Called by <b>read()</b> when the template source type is "file", this method reads and returns the  contents
           of the named file.

       read_handle
             $template = $mason-&gt;read_handle( $filehandle );

           Called  by  <b>read()</b>  when  the  template  source  type  is "handle", this method reads and returns the
           contents of the filehandle passed to it.

       lex
             @token_pairs = $mason-&gt;lex( $template );

           Called by <b>interpret()</b>. Parses the source text and returns a list of pairs of token types and  values.
           Loops through repeated calls to <b>lex_token()</b>.

       lex_token
             ( $type, $value ) = $mason-&gt;lex_token();

           Attempts to parse a token from the template text stored in the global $_ and returns a token type and
           value. Returns an empty list if unable to parse further due to an error.

           Abstract method; must be implemented by subclasses.

       assemble
             $perl_code = $mason-&gt;assemble( @tokens );

           Called by <b>interpret()</b>. Assembles the parsed token series into the source code for the equivalent Perl
           subroutine.

       <b>assembler_rules()</b>
           Returns a hash of text elements used for Perl subroutine assembly. Used by <b>assemble()</b>.

           The  assembly template defines the types of blocks supported and the order they appear in, as well as
           where other standard elements should go. Those other elements also appear in the assembler hash.

       eval_sub
             $code_ref = $mason-&gt;eval_sub( $perl_code );

           Called by <b>compile()</b>. Compiles the Perl source code for a template using <b>eval()</b>, and  returns  a  code
           reference.

       croak_msg
           Called when a fatal exception has occurred.

       NEXT
           Enhanced  superclass  method  dispatch  for  use  inside mixin class methods. Allows mixin classes to
           redispatch to other classes in the inheritance tree  without  themselves  inheriting  from  anything.
           Provided by Class::MixinFactory::NEXT.

   <b>Private</b> <b>Functions</b>
       _printable
             $special_characters_escaped = _printable( $source_string );

           Converts  non-printable  characters  to  readable form using the standard backslash notation, such as
           "\n" for newline.

</pre><h4><b>EXTENDING</b></h4><pre>
       You can add functionality to this module by creating subclasses or mixin classes.

       To create a subclass, just inherit from the base class or some  dynamically-assembled  class.  To  create
       your  own  mixin  classes  which  can be combined with other mixin features, examine the operation of the
       <b>class()</b> and <b>NEXT()</b> methods.

       Key areas for subclass writers are:

       prepare
           You can intercept and re-write template source arguments by overriding this method.

       read_*
           You can support a new template source type by creating a method with a corresponding name prefixed by
           "read_". It is passed the template source value and should return the raw text to be lexed.

           For example, if a subclass defined a method named read_from_db, callers could  compile  templates  by
           calling "-&gt;compile( from_db =&gt; 'welcome-page' )".

       lex_token
           Replace this to parse a new template syntax. Is receives the text to be parsed in $_ and should match
           from the current position to return the next token type and its contents.

       assembler_rules
           The assembler data structure is used to construct the Perl subroutine for a parsed template.

       assemble_*
           You  can  support  a  new  token  type  be  creating  a  method with a corresponding name prefixed by
           "assemble_". It is passed the token value or contents, and should return a new  token  pair  that  is
           supported by the assembler template.

           For  example, if a subclass defined a method named assemble_sqlquery, callers could compile templates
           that contained a "&lt;%sqlquery&gt; ... &lt;/%sqlquery&gt;" block. The assemble_sqlquery method  could  return  a
           "perl =&gt; $statements" pair with Perl code that performed some appropriate action.

       compile
           You can wrap or cache the results of this method, which is the primary public interface.

       execute
           You  typically  should  not  depend on overriding this method because callers can invoke the compiled
           subroutines directly without calling execute.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       For an overview of this templating framework, see Text::MicroMason.

       For    distribution,    installation,    support,    copyright    and    license     information,     see
       Text::MicroMason::Docs::ReadMe.

perl v5.36.0                                       2023-08-10                        <u>Text::MicroMason::<a href="../man3pm/Base.3pm.html">Base</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>