<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text::Hogan::Template - represent and render compiled templates</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libtext-hogan-perl">libtext-hogan-perl_2.03-2_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Text::Hogan::Template - represent and render compiled templates

</pre><h4><b>VERSION</b></h4><pre>
       version 2.03

</pre><h4><b>SYNOPSIS</b></h4><pre>
       Use Text::Hogan::Compiler to create Template objects.

       Then call render passing in a hashref for context.

           use Text::Hogan::Compiler;

           my $template = Text::Hogan::Compiler-&gt;new-&gt;compile("Hello, {{name}}!");

           say $template-&gt;render({ name =&gt; $_ }) for (qw(Fred Wilma Barney Betty));

       Optionally takes a hashref of partials.

           use Text::Hogan::Compiler;

           my $template = Text::Hogan::Compiler-&gt;new-&gt;compile("{{&gt;hello}}");

           say $template-&gt;render({ name =&gt; "Dino" }, { hello =&gt; "Hello, {{name}}!" });

</pre><h4><b>AUTHORS</b></h4><pre>
       Started out statement-for-statement copied from hogan.js by Twitter!

       Initial translation by Alex Balhatchet (<a href="mailto:alex@balhatchet.net">alex@balhatchet.net</a>)

       Further improvements from:

       Ed Freyfogle Mohammad S Anwar Ricky Morse Jerrad Pierce Tom Hukins Tony Finch Yanick Champoux

perl v5.34.0                                       2022-06-30                         <u>Text::Hogan::<a href="../man3pm/Template.3pm.html">Template</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>