<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text::Layout::FontDescriptor - font description for Text::Layout</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libtext-layout-perl">libtext-layout-perl_0.045-1_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Text::Layout::FontDescriptor - font description for Text::Layout

</pre><h4><b>SYNOPSIS</b></h4><pre>
       Font descriptors are used internally by Text::Layout and Text::Layout::FontConfig.

</pre><h4><b>METHODS</b></h4><pre>
       new( [ %atts ] )
           Creates a new FontDescriptor object.

           Attributes:

           family
           style
           weight
               The  Family,  style,  and  weight  of  this font. There are mandatory. For defaults, use an empty
               string.

           size
               Optional, font size.

           font
               The actual font data.

           loader
               A code reference to call to actually create/load the font if necessary.

               Loading will store the font data in the "font" property.

       get_font
           Returns the actual font data for the font this descriptor describes.

           If necessary, the backend will be called to create/load the font.

       get_family
       get_style
       get_weight
           Accessors to the font family, style, and weight.

           Readonly.

       set_size
       get_size
           Sets/gets the size property of the font.

       set_direction
       get_direction
           Sets/gets the direction property of the font.

       to_string
           Returns a Pango-style font string, "Sans Italic 14".

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       Text::Layout::FontConfig, Text::Layout.

</pre><h4><b>AUTHOR</b></h4><pre>
       Johan Vromans, "&lt;JV at CPAN dot org&gt;"

</pre><h4><b>SUPPORT</b></h4><pre>
       This module is part of Text::Layout.

       Development takes place on GitHub: &lt;https://github.com/sciurius/perl-Text-Layout&gt;.

       You can find documentation for this module with the perldoc command.

         perldoc Text::Layout::FontDescriptor

       Please report any bugs or feature requests using the issue tracker for Text::Layout on GitHub.

</pre><h4><b>LICENSE</b></h4><pre>
       See Text::Layout.

perl v5.40.1                                       2025-08-15                  <u>Text::Layout::<a href="../man3pm/FontDescriptor.3pm.html">FontDescriptor</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>