<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text::Template::Preprocess - Expand template text with embedded Perl</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libtext-template-perl">libtext-template-perl_1.61-1_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Text::Template::Preprocess - Expand template text with embedded Perl

</pre><h4><b>VERSION</b></h4><pre>
       version 1.61

</pre><h4><b>SYNOPSIS</b></h4><pre>
        use Text::Template::Preprocess;

        my $t = Text::Template::Preprocess-&gt;new(...);  # identical to Text::Template

        # Fill in template, but preprocess each code fragment with pp().
        my $result = $t-&gt;fill_in(..., PREPROCESSOR =&gt; \&amp;pp);

        my $old_pp = $t-&gt;preprocessor(\&amp;new_pp);

</pre><h4><b>DESCRIPTION</b></h4><pre>
       "Text::Template::Preprocess" provides a new "PREPROCESSOR" option to "fill_in".  If the "PREPROCESSOR"
       option is supplied, it must be a reference to a preprocessor subroutine.  When filling out a template,
       "Text::Template::Preprocessor" will use this subroutine to preprocess the program fragment prior to
       evaluating the code.

       The preprocessor subroutine will be called repeatedly, once for each program fragment.  The program
       fragment will be in $_.  The subroutine should modify the contents of $_ and return.
       "Text::Template::Preprocess" will then execute contents of $_ and insert the result into the appropriate
       part of the template.

       "Text::Template::Preprocess" objects also support a utility method, "preprocessor()", which sets a new
       preprocessor for the object.  This preprocessor is used for all subsequent calls to "fill_in" except
       where overridden by an explicit "PREPROCESSOR" option.  "preprocessor()" returns the previous default
       preprocessor function, or undefined if there wasn't one.  When invoked with no arguments,
       "preprocessor()" returns the object's current default preprocessor function without changing it.

       In all other respects, "Text::Template::Preprocess" is identical to "Text::Template".

</pre><h4><b>WHY?</b></h4><pre>
       One possible purpose:  If your files contain a lot of JavaScript, like this:

               Plain text here...
               { perl code }
               &lt;script language=JavaScript&gt;
                     if (br== "n3") {
                         // etc.
                     }
               &lt;/script&gt;
               { more perl code }
               More plain text...

       You don't want "Text::Template" to confuse the curly braces in the JavaScript program with executable
       Perl code.  One strategy:

               sub quote_scripts {
                 s(&lt;script(.*?)&lt;/script&gt;)(q{$1})gsi;
               }

       Then use "PREPROCESSOR =&gt; \&amp;quote_scripts".  This will transform

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       Text::Template

</pre><h4><b>SOURCE</b></h4><pre>
       The development version is on github at &lt;https://https://github.com/mschout/perl-text-template&gt; and may
       be cloned from &lt;git://https://github.com/mschout/perl-text-template.git&gt;

</pre><h4><b>BUGS</b></h4><pre>
       Please report any bugs or feature requests on the bugtracker website
       &lt;https://github.com/mschout/perl-text-template/issues&gt;

       When submitting a bug or request, please include a test-file or a patch to an existing test-file that
       illustrates the bug or desired feature.

</pre><h4><b>AUTHOR</b></h4><pre>
       Mark Jason Dominus, Plover Systems

       Please send questions and other remarks about this software to "mjd-perl-template+@plover.com"

       You can join a very low-volume (&lt;10 messages per year) mailing list for announcements about this package.
       Send an empty note to "<a href="mailto:mjd-perl-template-request@plover.com">mjd-perl-template-request@plover.com</a>" to join.

       For updates, visit "<a href="http://www.plover.com/~mjd/perl/Template/">http://www.plover.com/~mjd/perl/Template/</a>".

</pre><h4><b>COPYRIGHT</b> <b>AND</b> <b>LICENSE</b></h4><pre>
       This software is copyright (c) 2013 by Mark Jason Dominus &lt;<a href="mailto:mjd@cpan.org">mjd@cpan.org</a>&gt;.

       This is free software; you can redistribute it and/or modify it under the same terms as the Perl 5
       programming language system itself.

perl v5.34.0                                       2022-05-08                    <u>Text::Template::<a href="../man3pm/Preprocess.3pm.html">Preprocess</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>