<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text::MicroMason::HTMLTemplate - Alternate Syntax like HTML::Template</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libtext-micromason-perl">libtext-micromason-perl_2.23-5_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Text::MicroMason::HTMLTemplate - Alternate Syntax like HTML::Template

</pre><h4><b>SYNOPSIS</b></h4><pre>
       Instead of using this class directly, pass its name to be mixed in:

         use Text::MicroMason;
         my $mason = Text::MicroMason::Base-&gt;new( -HTMLTemplate );

       Use the standard compile and execute methods to parse and evaluate templates:

         print $mason-&gt;compile( text=&gt;$template )-&gt;( @%args );
         print $mason-&gt;execute( text=&gt;$template, @args );

       Or use HTML::Template's calling conventions:

           $template = Text::MicroMason-&gt;new( -HTMLTemplate, filename=&gt;'simple.tmpl' );
           $template-&gt;param( %arguments );
           print $template-&gt;output();

       HTML::Template provides a syntax to embed values into a text template:

           &lt;TMPL_IF NAME="user_is_dave"&gt;
             I'm sorry &lt;TMPLVAR NAME="name"&gt;, I'm afraid I can't do that right now.
           &lt;TMPL_ELSE&gt;
             &lt;TMPL_IF NAME="daytime_is_morning"&gt;
               Good morning, &lt;TMPLVAR NAME="name"&gt;!
             &lt;TMPL_ELSE&gt;
               Good afternoon, &lt;TMPLVAR NAME="name"&gt;!
             &lt;/TMPL_IF&gt;
           &lt;/TMPL_IF&gt;

</pre><h4><b>DESCRIPTION</b></h4><pre>
       This mixin class overrides several methods to allow MicroMason to emulate the template syntax and some of
       the other features of HTML::Template.

       This class automatically includes the following other mixins: TemplateDir, HasParams, and StoreOne.

   <b>Compatibility</b> <b>with</b> <b>HTML::Template</b>
       This is not a drop-in replacement for HTML::Template, as the implementation is quite different, but it
       should be able to process most existing templates without major changes.

       This should allow current HTML::Template users to take advantage of MicroMason's one-time compilation
       feature, which in theory could be faster than HTML::Template's run-time interpretation. (No benchmarking
       yet.)

       The following features of HTML::Template are not supported yet:

       •   Search path for files. (Candidate for separate mixin class or addition to TemplateDir.)

       •   Many  HTML::Template  options are either unsupported or have different names and need to be mapped to
           equivalent sets of attributes. (Transform these in the <b>new()</b> method or croak if they're unsupported.)

       The following features of HTML::Template will likely never be supported due to fundamental differences in
       implementation:

       •   <b>query()</b> method

       Contributed patches to more closely support the behavior of  HTML::Template  would  be  welcomed  by  the
       author.

   <b>Template</b> <b>Syntax</b>
       The following elements are recognized by the HTMLTemplate lexer:

       •   <u>literal_text</u>

           Anything not specifically parsed by the below rule is interpreted as literal text.

       •   &lt;TMPL_<u>tagname</u>&gt;

           A template tag with no attributes.

       •   &lt;TMPL_<u>tagname</u> <u>varname</u>&gt;

           A template tag with a name attribute.

       •   &lt;TMPL_<u>tagname</u> NAME=<u>varname</u> <u>option</u>=<u>value</u> ...&gt;

           A template tag with one or more attributes.

       •   &lt;/TMPL_<u>tagname</u>&gt;

           A closing template tag.

       The following tags are supported by the HTMLTemplate assembler:

       tmpl_var
           &lt;tmpl_var name=... ( default=... ) ( escape=... ) &gt;

       tmpl_include
           &lt;tmpl_include name=... &gt;

       tmpl_if
           &lt;tmpl_if name=... &gt; ... &lt;/tmpl_if&gt;

       tmpl_unless
           &lt;tmpl_unless name=...&gt; ... &lt;/tmpl_unless&gt;

       tmpl_else
           &lt;tmpl_else&gt;

       tmpl_loop
           &lt;tmpl_loop name=...&gt; ... &lt;/tmpl_loop&gt;

   <b>Supported</b> <b>Attributes</b>
       associate
           Optional reference to a CGI parameter object or other object with a similar <b>param()</b> method.

       loop_global_vars (HTML::Template's "global_vars")
           If set to true, don't hide external parameters inside a loop scope.

       loop_context_vars
           If  set  to  true, defines additional variables within each &lt;TMPL_LOOP&gt;: __counter__, which specifies
           the row index, and four boolean flags, __odd__, __first__, __inner__, and __last__.

   <b>Public</b> <b>Methods</b>
       <b>new()</b>
           Creates a new Mason object. If a filename parameter is supplied, the corresponding file is compiled.

       <b>param()</b>
           Gets and sets parameter arguments. Similar to the <b>param()</b> method provied by  HTML::Template  and  the
           CGI module.

       <b>output()</b>
           Executes the most-recently compiled template and returns the results.

           Optionally accepts a filehandle to print the results to.

             $template-&gt;output( print_to =&gt; *STDOUT );

   <b>Private</b> <b>Methods</b>
       lex_token
             ( $type, $value ) = $mason-&gt;lex_token();

           Lexer for &lt;TMPL_x&gt; tags.

           Attempts to parse a token from the template text stored in the global $_ and returns a token type and
           value. Returns an empty list if unable to parse further due to an error.

       <b>parse_args()</b>
           Lexer for arguments within a tag.

       assemble_tmpl_*()
           These methods define the mapping from the template tags to the equivalent Perl code.

       <b>filter()</b>
           Used to implement the escape option for tmpl_var.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       The interface being emulated is described in HTML::Template.

       For an overview of this templating framework, see Text::MicroMason.

       This is a mixin class intended for use with Text::MicroMason::Base.

       For     distribution,     installation,    support,    copyright    and    license    information,    see
       Text::MicroMason::Docs::ReadMe.

perl v5.36.0                                       2023-08-10                <u>Text::MicroMason::<a href="../man3pm/HTMLTemplate.3pm.html">HTMLTemplate</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>