<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text::MicroMason::TemplatePath - Template Path Searching</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libtext-micromason-perl">libtext-micromason-perl_2.23-5_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Text::MicroMason::TemplatePath - Template Path Searching

</pre><h4><b>SYNOPSIS</b></h4><pre>
       Instead of using this class directly, pass its name to be mixed in:

           use Text::MicroMason;
           my $mason = Text::MicroMason-&gt;new( -TemplatePath, template_path =&gt; [ '/foo', '/bar' ] );

       Use the standard compile and execute methods to parse and evaluate templates:

         print $mason-&gt;compile( file=&gt;$filepath )-&gt;( 'name'=&gt;'Dave' );
         print $mason-&gt;execute( file=&gt;$filepath, 'name'=&gt;'Dave' );

       Templates stored in files are searched for in the specified template_path:

           print $mason-&gt;execute( file=&gt;"includes/greeting.msn", 'name'=&gt;'Charles');

       When including other files into a template you can use relative paths:

           &lt;&amp; ../includes/greeting.msn, name =&gt; 'Alice' &amp;&gt;

       When a file is included in the template, the including template's current directory is added to the
       beginning of the template search path.

</pre><h4><b>DESCRIPTION</b></h4><pre>
       This module works similarly to the related TemplateDir mix-in. However, instead of specifying a single
       root which must contain all templates, TemplatePath allows you to specify an arrayref of directories
       which will be searched in order whenever a template filename must be resolved.

       Using a TemplatePath object, absolute filenames are used as-is. If a relative template filenames or file
       paths is used, every directory in the specified template_path is checked for the existence of the
       template, and the first existing template file is used.

       If a template includes another template using &lt;&amp; ... &amp;&gt;, then the including template's location is added
       to the beginning of the template search path list, for the resolution of the included template's
       filename. This allows the included template to be specified relative to the including template, but also
       lets the template search fall back to the configured template search path if necessary.

   <b>Supported</b> <b>Attributes</b>
       template_path
           An array ref containing a list of directories in which to search for relative template filenames.

       strict_root
           Optional  directory  beyond which not to read files. Unlike TemplateDir, this must be a specific file
           path. Causes read_file to croak if any filename outside of the root is provided. You should make sure
           that all paths specified in template_path are inside the specified strict_root.  (Note that  this  is
           not  a  chroot  jail and only affects attempts to load a file as a template; for greater security see
           the <b>chroot()</b> builtin and Text::MicroMason::Safe.)

   <b>Private</b> <b>Methods</b>
       read_file
           Intercepts file access to check for strict_root.

   <b>EXCEPTIONS</b>
       The following additional exceptions are generated by Text::MicroMason::TemplatePath when appropriate:

       •   Text::MicroMason::TemplatePath: template '%s' not found in path.

           This indicates that the specified template name does not exist in  any  of  the  directories  in  the
           configured path.

       •   Text::MicroMason::TemplatePath: Template not in required base path '%s'

           The  template  found  in  the  configured  template  path  was  not within the configured strict_root
           directory. This may be caused by requesting an absolute template filename not within strict_root,  or
           by specifying a strict_root which does not match the configured template path.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       For an overview of this templating framework, see Text::MicroMason.

       This is a mixin class intended for use with Text::MicroMason::Base.

       For     distribution,     installation,    support,    copyright    and    license    information,    see
       Text::MicroMason::Docs::ReadMe.

perl v5.36.0                                       2023-08-10                <u>Text::MicroMason::<a href="../man3pm/TemplatePath.3pm.html">TemplatePath</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>