<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text::MicroTemplate - Micro template engine with Perl5 language</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libtext-microtemplate-perl">libtext-microtemplate-perl_0.24-3_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Text::MicroTemplate - Micro template engine with Perl5 language

</pre><h4><b>SYNOPSIS</b></h4><pre>
           use Text::MicroTemplate qw(:all);

           # compile template, and render
           $renderer = build_mt('hello, &lt;?= $_[0] ?&gt;');
           $html = $renderer-&gt;('John')-&gt;as_string;

           # or in one line
           $html = render_mt('hello, &lt;?= $_[0] ?&gt;', 'John')-&gt;as_string;

           # complex form
           $mt = Text::MicroTemplate-&gt;new(
               template =&gt; 'hello, &lt;?= $query-&gt;param('user') ?&gt;',
           );
           $code = $mt-&gt;code;
           $renderer = eval &lt;&lt; "..." or die $@;
           sub {
               my \$query = shift;
               $code-&gt;();
           }
           ...
           $html = $renderer-&gt;(CGI-&gt;new)-&gt;as_string;

</pre><h4><b>DESCRIPTION</b></h4><pre>
       Text::MicroTemplate is a standalone, fast, intelligent, extensible template engine with following
       features.

   <b>standalone</b>
       Text::MicroTemplate does not rely on other CPAN modules.

   <b>fast</b>
       Based on Mojo::Template, expressions in the template is perl code.

   <b>intelligent</b>
       Text::MicroTemplate automatically escapes variables when and only when necessary.

   <b>extensible</b>
       Text::MicroTemplate does not provide features like template cache or including other files by itself.
       However, it is easy to add you own (that suites the most to your application), by wrapping the result of
       the module (which is a perl expression).

       The module only provides basic building blocks for a template engine.  Refer to Text::MicroTemplate::File
       for higher-level interface.

</pre><h4><b>TEMPLATE</b> <b>SYNTAX</b></h4><pre>
       The template language is Perl5 itself!

           # output the result of expression with automatic escape
           &lt;?= $expr ?&gt;             (tag style)
           ?= $expr                 (per-line)

           # execute perl code (tag style)
           &lt;? foo() ?&gt;
           ? foo()

           # comment (tag style)
           &lt;?# comment ?&gt;
           ?# comment

           # loops
           &lt;ul&gt;
           ? for my $item (@list) {
           &lt;li&gt;&lt;?= $item ?&gt;&lt;/li&gt;
           ? }
           &lt;/ul&gt;

</pre><h4><b>EXPORTABLE</b> <b>FUNCTIONS</b></h4><pre>
   <b>build_mt($template)</b>
       Returns a subref that renders given template.  Parameters are equivalent to Text::MicroTemplate-&gt;new.

           # build template renderer at startup time and use it multiple times
           my $renderer = build_mt('hello, &lt;?= $_[0] ?&gt;!');

           sub run {
               ...
               my $hello = $renderer-&gt;($query-&gt;param('user'));
               ...
           }

   <b>render_mt($template,</b> <b>@args)</b>
       Utility function that combines build_mt and call to the generated template builder.

           # render
           $hello = render_mt('hello, &lt;?= $_[0] ?&gt;!', 'John');

           # print as HTML
           print $hello-&gt;as_string;

           # use the result in another template (no double-escapes)
           $enc = render_mt('&lt;h1&gt;&lt;?= $_[0] ?&gt;&lt;/h1&gt;', $hello);

       Internally, the function is equivalent to:

           build_mt($template)-&gt;(@_);

   <b>encoded_string($str)</b>
       wraps given string to an object that will not be escaped by the template engine

</pre><h4><b>OO-STYLE</b> <b>INTERFACE</b></h4><pre>
       Text::MicroTemplate provides OO-style interface to handle more complex cases.

   <b>new($template)</b>
   <b>new(%args)</b>
   <b>new(\%args)</b>
       Constructs template renderer.  In the second or third form, parameters below are recognized.

       <u>template</u>

       template string (mandatory)

       <u>escape_func</u>

       escape function (defaults to Text::MicroTemplate::escape_html), no escape when set to undef

       <u>package_name</u>

       package under where the renderer is compiled (defaults to caller package)

       <u>prepend</u>

       Prepends Perl code to the template.

   <b>code()</b>
       returns perl code that renders the template when evaluated

   <b>filter(sub</b> <b>filter_func</b> <b>{</b> <b>...</b> <b>})-&gt;(sub</b> <b>{</b> <b>template</b> <b>lines</b> <b>})</b>
       filters given template lines

           ? $_mt-&gt;filter(sub { s/Hello/Good bye/g })-&gt;(sub {
           Hello, John!
           ? })

</pre><h4><b>DEBUG</b></h4><pre>
       The "MICRO_TEMPLATE_DEBUG" environment variable helps debugging.  The value 1 extends debugging messages,
       2 reports compiled Perl code with "warn()", 3 is like 2 but uses "die()".

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       Text::MicroTemplate::File

       Text::MicroTemplate::Extended

</pre><h4><b>AUTHOR</b></h4><pre>
       Kazuho Oku &lt;kazuhooku gmail.com&gt;

       Tokuhiro Matsuno &lt;tokuhirom AAJKLFJEF GMAIL COM&gt;

       The module is based on Mojo::Template by Sebastian Riedel.

</pre><h4><b>LICENSE</b></h4><pre>
       This program is free software, you can redistribute it and/or modify it under the same terms as Perl
       itself.

perl v5.36.0                                       2022-10-13                           <u>Text::<a href="../man3pm/MicroTemplate.3pm.html">MicroTemplate</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>