<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tk::CodeText::Template - a template for syntax highlighting plugins</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libtk-codetext-perl">libtk-codetext-perl_0.3.4-3_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Tk::CodeText::Template - a template for syntax highlighting plugins

</pre><h4><b>SYNOPSIS</b></h4><pre>
</pre><h4><b>DESCRIPTION</b></h4><pre>
       Tk::CodeText::Template is a framework to assist authors of plugin modules.  All methods to provide
       highlighting in a Tk::CodeText widget are there, Just no syntax definitions and callbacks. An instance of
       Tk::CodeText::Template should never be created, it's meant to be sub classed only.

</pre><h4><b>METHODS</b></h4><pre>
       <b>callbacks</b>({<u>'Tagname'</u> =&gt; <u>\&amp;callback</u>, ...});
           sets and returns the instance variable 'callbacks'

       <b>highlight</b>(<u>$text</u>);
           highlights  <u>$text</u>.  It does so by selecting the proper callback from the <b>commands</b> hash and invoke it.
           It will do so untill $text has been reduced to an empty string.

       <b>listAdd</b>(<u>'listname'</u>, <u>$item1</u>, <u>$item2</u> ...);
           Adds a list to the 'lists' hash.

       <b>lists</b>(<u>?\%lists?</u>);
           sets and returns the instance variable 'lists'.

       <b>out</b>(<u>?\@highlightedlist?</u>);
           sets and returns the instance variable 'out'.

       <b>parserError</b>(<u>'text'</u>);
           Error trapping method. Tries to escape the current mode. If that is not possible, it will  parse  the
           text  with the default tag. Furthermore it complains about being called at all. Usefull for debugging
           when writing a new plugin.

       <b>rules</b>(<u>?\@rules?</u>)
           sets and returns a reference to a list of tagnames and options.  By default it is set to [].

       <b>snippetAppend</b>(<u>$string</u>)
           appends <u>$string</u> to the current snippet.

       <b>snippetParse</b>(<u>?$text?</u>, <u>?$tagname?</u>)
           parses $text to the 'out' list, and assigns $tagname to it. If $tagname is not specified it will look
           for the tagname by calling <b>stackTop</b>. If <u>$text</u> is also not specified it will look for text by  calling
           <b>snippet</b>.

       <b>stack</b>
           sets and returns the instance variable 'stack', a reference to an array.

       <b>stackPull</b>
           retrieves the element that is on top of the stack, decrements stacksize by 1.

       <b>stackPush</b>(<u>$tagname</u>)
           puts <u>$tagname</u> on top of the stack, increments stacksize by 1

       <b>stackTop</b>
           retrieves the element that is on top of the stack.

       <b>stateCompare</b>(<u>\@state</u>);
           Compares two lists, \@state and the stack. returns true if they match.

       <b>stateGet</b>
           Returns a list containing the entire stack.

       <b>stateSet</b>(<u>@list</u>)
           Accepts <u>@list</u> as the current stack.

       <b>tokenParse</b>(<u>'Tagname'</u>);
           Parses the currently build snippet and tags it with 'Tagname'

       <b>tokenTest</b>(<u>$value</u>, <u>'Listname'</u>);
           returns true if $value is and element of 'Listname' in the 'lists' hash

</pre><h4><b>AUTHOR</b></h4><pre>
       Hans Jeuken (<a href="mailto:haje@toneel.demon.nl">haje@toneel.demon.nl</a>)

</pre><h4><b>BUGS</b></h4><pre>
       Unknown.

perl v5.40.1                                       2025-05-04                            <u>CodeText::<a href="../man3pm/Template.3pm.html">Template</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>