<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URI::Template - Object for handling URI templates (RFC 6570)</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/liburi-template-perl">liburi-template-perl_0.24-2_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       URI::Template - Object for handling URI templates (RFC 6570)

</pre><h4><b>SYNOPSIS</b></h4><pre>
           use URI::Template;

           my $template = URI::Template-&gt;new( '<a href="http://example.com/">http://example.com/</a>{x}' );
           my $uri      = $template-&gt;process( x =&gt; 'y' );

           # or

           my $template = URI::Template-&gt;new();
           $template-&gt;template( '<a href="http://example.com/">http://example.com/</a>{x}' );
           my $uri      = $template-&gt;process( x =&gt; 'y' );

           # uri is a URI object with value '<a href="http://example.com/y">http://example.com/y</a>'

       or

           use URI::Template ':template_process'

           my $uri = template_process ( '<a href="http://example.com/">http://example.com/</a>{x}', x =&gt; 'y' );

</pre><h4><b>DESCRIPTION</b></h4><pre>
       This module provides a wrapper around URI templates as described in RFC 6570:
       &lt;<a href="http://tools.ietf.org/html/rfc6570">http://tools.ietf.org/html/rfc6570</a>&gt;.

</pre><h4><b>INSTALLATION</b></h4><pre>
           perl Makefile.PL
           make
           make test
           make install

</pre><h4><b>METHODS</b></h4><pre>
   <b>new(</b> <b>$template</b> <b>)</b>
       Creates a new URI::Template instance with the template passed in as the first parameter (optional).

   <b>template(</b> <b>$template</b> <b>)</b>
       This method returns the original template string. If provided, it will also set and parse a new template
       string.

   <b>variables</b>
       Returns an array of unique variable names found in the template (in the order of appearance).

   <b>expansions</b>
       This method returns an list of expansions found in the template.  Currently, these are just coderefs.  In
       the future, they will be more interesting.

   <b>process(</b> <b>\%vars</b> <b>)</b>
       Given a list of key-value pairs or an array ref of values (for positional substitution), it will URI
       escape the values and substitute them in to the template. Returns a URI object.

   <b>process_to_string(</b> <b>\%vars</b> <b>)</b>
       Processes input like the "process" method, but doesn't inflate the result to a URI object.

</pre><h4><b>EXPORTED</b> <b>FUNCTIONS</b></h4><pre>
   <b>template_process(</b> <b>$template</b> <b>=&gt;</b> <b>\%vars</b> <b>)</b>
       This is the same as "URI::Template-&gt;new($template)-&gt;process(\%vars)" But shorter, and usefull for quick
       and easy genrating a nice URI form parameters.

       Returns an URI object

   <b>template_process_as_string(</b> <b>$template</b> <b>=&gt;</b> <b>\%vars</b> <b>)</b>
       Same as above, but obviously, returns a string.

</pre><h4><b>AUTHORS</b></h4><pre>
       •   Brian Cassidy &lt;<a href="mailto:bricas@cpan.org">bricas@cpan.org</a>&gt;

       •   Ricardo SIGNES &lt;<a href="mailto:rjbs@cpan.org">rjbs@cpan.org</a>&gt;

</pre><h4><b>CONTRIBUTERS</b></h4><pre>
       •   Theo van Hoesel &lt;<a href="mailto:Th.J.v.Hoesel@THEMA-MEDIA.nl">Th.J.v.Hoesel@THEMA-MEDIA.nl</a>&gt;

</pre><h4><b>COPYRIGHT</b> <b>AND</b> <b>LICENSE</b></h4><pre>
       Copyright 2007-2018 by Brian Cassidy

       This  library  is  free  software;  you can redistribute it and/or modify it under the same terms as Perl
       itself.

perl v5.36.0                                       2022-10-13                                 <u>URI::<a href="../man3pm/Template.3pm.html">Template</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>