<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XML::Compile::Translate::Template - create an XML or PERL example</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libxml-compile-perl">libxml-compile-perl_1.64-1_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       XML::Compile::Translate::Template - create an XML or PERL example

</pre><h4><b>INHERITANCE</b></h4><pre>
        XML::Compile::Translate::Template
          is a XML::Compile::Translate

</pre><h4><b>SYNOPSIS</b></h4><pre>
        my $schema = XML::Compile::Schema-&gt;new(...);
        print $schema-&gt;template(XML  =&gt; $type, ...);
        print $schema-&gt;template(PERL =&gt; $type, ...);

        # script as wrapper for this module
        schema2example -f XML ...

</pre><h4><b>DESCRIPTION</b></h4><pre>
       The translator understands schemas, but does not encode that into actions.  This module interprets the
       parse results of the translator, and creates a kind of abstract syntax tree from it, which can be used
       for documentational purposes.  Then, it implements to ways to represent that knowledge: as an XML or a
       Perl example of the data-structure which the schema describes.

       Extends "DESCRIPTION" in XML::Compile::Translate.

</pre><h4><b>METHODS</b></h4><pre>
       Extends "METHODS" in XML::Compile::Translate.

</pre><h4><b>DETAILS</b></h4><pre>
       Extends "DETAILS" in XML::Compile::Translate.

   <b>Translator</b> <b>options</b>
       Extends "Translator options" in XML::Compile::Translate.

   <b>Processing</b> <b>Wildcards</b>
       Wildcards are not (yet) supported.

   <b>Schema</b> <b>hooks</b>
       Hooks are implemented since version 0.82.  They can be used to improve the template output.

       <u>hooks</u> <u>executed</u> <u>before</u> <u>the</u> <u>template</u> <u>is</u> <u>generated</u>

       None defined yet.

       <u>hooks</u> <u>executed</u> <u>as</u> <u>replacement</u>

       The predefined hook "COLLAPSE" can be used to remove the extensive listing of some elements.  Usually
       used with a type of which you know the structure or which is repeated often.

       <u>hooks</u> <u>for</u> <u>post-processing,</u> <u>after</u> <u>the</u> <u>data</u> <u>is</u> <u>collected</u>

       None defined yet.

   <b>Typemaps</b>
       Typemaps are currently only available to improve the PERL output.

       <u>Typemaps</u> <u>for</u> <u>PERL</u> <u>template</u> <u>output</u>

       You can pass &amp;function_name to indicate that the code reference with variable name $function_name will be
       called.  Mind the change of "&amp;" into "$".

       When $object_name is provided, then that object is an interface object, which will be called for the
       indicated type.

       In case class name (any bareword will do) is specified, it is shown as a call to the toXML() instance
       method call from some data object of the specified class.

       <b>.</b> <b>Example:</b> <b>typemaps</b> <b>with</b> <b>template</b>

         $schemas-&gt;template(PERL =&gt; $some_type, typemap =&gt;
           { $type1 =&gt; '&amp;myfunc'   # $myfunc-&gt;('WRITER', ...)
           , $type2 =&gt; '$interf'   # $interf-&gt;($object, ...)
           , $type3 =&gt; 'My::Class'
           });

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       This module is part of XML-Compile distribution version 1.64, built on October 21, 2024. Website:
       <u><a href="http://perl.overmeer.net/xml-compile/">http://perl.overmeer.net/xml-compile/</a></u>

</pre><h4><b>LICENSE</b></h4><pre>
       Copyrights 2006-2024 by [Mark Overmeer &lt;<a href="mailto:markov@cpan.org">markov@cpan.org</a>&gt;]. For other contributors see ChangeLog.

       This program is free software; you can redistribute it and/or modify it under the same terms as Perl
       itself.  See <u><a href="http://dev.perl.org/licenses/">http://dev.perl.org/licenses/</a></u>

perl v5.40.0                                       2024-10-27             <u>XML::Compile::Translate::<a href="../man3pm/Template.3pm.html">Template</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>