<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cevomapgencli - Generate a C-evo map from a template file</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/c-evo-map-gen">c-evo-map-gen_38.1-3_amd64</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       <b>cevomapgencli</b> - Generate a C-evo map from a template file

</pre><h4><b>SYNOPSIS</b></h4><pre>
       <b>cevomapgencli</b> <u>SizeIndex</u> <u>Seed</u> <u>InputFile</u> [<u>OutputPath</u>]

</pre><h4><b>DESCRIPTION</b></h4><pre>
       <b>cevomapgencli</b> takes a template file and generates a random map from it.

</pre><h4><b>ARGUMENTS</b></h4><pre>
       1.  <u>SizeIndex</u> Indicates the size of the map. Valid values are 0 to 8.

       2.  <u>Seed</u> Use 0 for random seed, or specify a seed to keep output consistent (useful in debugging)

       3.  <u>InputFile</u> Name of the input Template file, with path, but excluding the extension.

       4.  <u>OutputPath</u> Optional output path. Default is to write the Map file in the working directory.

</pre><h4><b>FILES</b></h4><pre>
       /usr/share/cevomapgen/Templates/*.INI

</pre><h4><b>EXAMPLES</b></h4><pre>
       <b>cevomapgencli</b> 8 0 Templates/Desert

</pre><h4><b>AUTHOR</b></h4><pre>
       Peter Blackman (<a href="mailto:peter@pblackman.plus.com">peter@pblackman.plus.com</a>)

                                                25 September 2024                               <u><a href="../man6/CEVOMAPGENCLI.6.html">CEVOMAPGENCLI</a></u>(6)
</pre>
 </div>
</div></section>
</div>
</body>
</html>