<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalyst::Component::InstancePerContext - Return a new instance a component on each request</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libcatalyst-component-instancepercontext-perl">libcatalyst-component-instancepercontext-perl_0.001001-3_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Catalyst::Component::InstancePerContext - Return a new instance a component on each request

</pre><h4><b>SYNOPSYS</b></h4><pre>
           package MyComponent;
           use Moose;
           with 'Catalyst::Component::InstancePerContext';

           sub build_per_context_instance{
               my ($self, $c) = @_;
               # ... do your thing here
               return SomeModule-&gt;new(%args);
           }

</pre><h4><b>REQUIRED</b> <b>METHODS</b></h4><pre>
       Your consuming class <b>must</b> implement the following method.

   <b>build_per_context_instance</b>
       The value returned by this call is what you will receive when you call $c-&gt;component('YourComponent').

</pre><h4><b>PROVIDED</b> <b>METHODS</b></h4><pre>
       This role will add the following method to your consuming class.

   <b>ACCEPT_CONTEXT</b>
       If the context is not blessed, it will simple pass through the value of "build_per_context_instance". If
       context is blessed it will look in the "stash" for an instance of the requested component and return that
       or, if the value is not found, the value returned by "build_per_context_instance" will be stored and
       return.

       The idea behind this behavior is that a component can be built on a per-request basis, as the name of
       this module implies.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       Moose, Moose::Role, Catalyst::Component

</pre><h4><b>AUTHOR</b></h4><pre>
       Guillermo Roditi (groditi) &lt;<a href="mailto:groditi@cpan.org">groditi@cpan.org</a>&gt;

</pre><h4><b>LICENSE</b></h4><pre>
       You may distribute this code under the same terms as Perl itself.

perl v5.34.0                                       2022-06-09              <u>Catalyst::<a href="../man3pm/Comp...tancePerContext.3pm.html">Comp...tancePerContext</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>