<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalyst::Component::ApplicationAttribute - Moose Role for components which capture the application</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libcatalyst-perl">libcatalyst-perl_5.90132-1_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Catalyst::Component::ApplicationAttribute - Moose Role for components which capture the application
       context.

</pre><h4><b>SYNOPSIS</b></h4><pre>
           package My::Component;
           use Moose;
           extends 'Catalyst::Component';
           with 'Catalyst::Component::ApplicationAttribute';

           # Your code here

           1;

</pre><h4><b>DESCRIPTION</b></h4><pre>
       This role provides a BUILDARGS method which captures the application context into an attribute.

</pre><h4><b>ATTRIBUTES</b></h4><pre>
   <b>_application</b>
       Weak reference to the application context.

</pre><h4><b>METHODS</b></h4><pre>
   <b>BUILDARGS</b> <b>($self,</b> <b>$app)</b>
       BUILDARGS method captures the application context into the "_application" attribute.

   <b>_application</b>
       Reader method for the application context.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       Catalyst::Component, Catalyst::Controller.

</pre><h4><b>AUTHORS</b></h4><pre>
       Catalyst Contributors, see Catalyst.pm

</pre><h4><b>COPYRIGHT</b></h4><pre>
       This library is free software. You can redistribute it and/or modify it under the same terms as Perl
       itself.

perl v5.40.0                                       2024-11-15              <u>Catalyst::<a href="../man3pm/Comp...cationAttribute.3pm.html">Comp...cationAttribute</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>