<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalyst::Component::ContextClosure - Moose Role for components which need to close over the $ctx,</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libcatalyst-perl">libcatalyst-perl_5.90132-1_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Catalyst::Component::ContextClosure - Moose Role for components which need to close over the $ctx,
       without leaking

</pre><h4><b>SYNOPSIS</b></h4><pre>
           package MyApp::Controller::Foo;
           use Moose;
           use namespace::clean -except =&gt; 'meta';
           BEGIN {
               extends 'Catalyst::Controller';
               with 'Catalyst::Component::ContextClosure';
           }

           sub some_action : Local {
               my ($self, $ctx) = @_;
               $ctx-&gt;stash(a_closure =&gt; $self-&gt;make_context_closure(sub {
                   my ($ctx) = @_;
                   $ctx-&gt;response-&gt;body('body set from closure');
               }, $ctx));
           }

</pre><h4><b>DESCRIPTION</b></h4><pre>
       A common problem with stashing a closure, that closes over the Catalyst context (often called $ctx or
       $c), is the circular reference it creates, as the closure holds onto a reference to context, and the
       context holds a reference to the closure in its stash. This creates a memory leak, unless you always
       carefully weaken the closures context reference.

       This role provides a convenience method to create closures, that closes over $ctx.

</pre><h4><b>METHODS</b></h4><pre>
   <b>make_context_closure</b> <b>($closure,</b> <b>$ctx)</b>
       Returns a code reference, that will invoke $closure with a weakened reference to $ctx. All other
       parameters to the returned code reference will be passed along to $closure.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       Catalyst::Component

       Catalyst::Controller

       CatalystX::LeakChecker

</pre><h4><b>COPYRIGHT</b></h4><pre>
       This library is free software. You can redistribute it and/or modify it under the same terms as Perl
       itself.

perl v5.40.0                                       2024-11-15              <u>Catalyst::Comp...:<a href="../man3pm/ContextClosure.3pm.html">ContextClosure</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>