<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chart::Clicker::Positioned - Role for components that care about position.</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libchart-clicker-perl">libchart-clicker-perl_2.90-3_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Chart::Clicker::Positioned - Role for components that care about position.

</pre><h4><b>VERSION</b></h4><pre>
       version 2.90

</pre><h4><b>SYNOPSIS</b></h4><pre>
           package My::Component;
           use Moose;

           extends 'Chart::Clicker::Drawing::Component';

           with 'Chart::Clicker::Positioned';

           1;

</pre><h4><b>DESCRIPTION</b></h4><pre>
       Some components draw differently depending on which 'side' they are positioned.  If an Axis is on the
       left, it will put the numbers left and the bar on the right.  If positioned on the other side then those
       two piece are reversed.

</pre><h4><b>ATTRIBUTES</b></h4><pre>
   <b>position</b>
       The 'side' on which this component is positioned.

</pre><h4><b>METHODS</b></h4><pre>
   <b>is_left</b>
       Returns true if the component is positioned left.

   <b>is_right</b>
       Returns true if the component is positioned right.

   <b>is_top</b>
       Returns true if the component is positioned top.

   <b>is_bottom</b>
       Returns true if the component is positioned bottom.

</pre><h4><b>AUTHOR</b></h4><pre>
       Cory G Watson &lt;<a href="mailto:gphat@cpan.org">gphat@cpan.org</a>&gt;

</pre><h4><b>COPYRIGHT</b> <b>AND</b> <b>LICENSE</b></h4><pre>
       This software is copyright (c) 2016 by Cory G Watson.

       This is free software; you can redistribute it and/or modify it under the same terms as the Perl 5
       programming language system itself.

perl v5.36.0                                       2022-10-14                    <u>Chart::Clicker::<a href="../man3pm/Positioned.3pm.html">Positioned</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>