<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Component - base class for objects that model domain-specific elements</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/ivtools-dev">ivtools-dev_2.0.11d.a1-3build7_amd64</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Component - base class for objects that model domain-specific elements

</pre><h4><b>SYNOPSIS</b></h4><pre>
       <b>#include</b> <b>&lt;Unidraw/Components/component.h&gt;</b>

</pre><h4><b>DESCRIPTION</b></h4><pre>
       Component  is  an  abstract base class for objects that are created, edited, and composed to form domain-
       specific drawings.  Components represent the objects of interest  in  an  editing  domain,  encapsulating
       their  appearance  and  semantics.  Components are partitioned into a subject and zero or more views: the
       subject encapsulates the context-independent state and operations of a component, and each view  supports
       a  context-dependent  presentation  of  the  subject.  A subject notifies its views whenever its state is
       modified to allow them to change their state or appearance to reflect the  modification.   The  Component
       class  defines  the  protocol  for  component  subjects,  while  ComponentView is the abstract base class
       defining the protocol for component views.  See <a href="../man3U/ComponentView.3U.html">ComponentView</a>(3U) for more information on  the  component
       view class.

</pre><h4><b>PUBLIC</b> <b>OPERATIONS</b></h4><pre>
       <b>virtual</b> <b>void</b> <b>Interpret(Command*)</b>
       <b>virtual</b> <b>void</b> <b>Uninterpret(Command*)</b>
              Interpret   performs  a  component-specific  operation  based  on  the  type  of  command  passed.
              Uninterpret reverses the effects of a preceding  Interpret.   The  component  is  responsible  for
              storing enough state (either in itself or in the command) to carry out the Uninterpret operation.

       <b>virtual</b> <b>void</b> <b>Attach(ComponentView*)</b>
       <b>virtual</b> <b>void</b> <b>Detach(ComponentView*)</b>
              Attach  adds  a  component  view  to  the  component's  list of views.  Note that by default these
              operations do not check to ensure that the view is compatible with the  subject.   Detach  removes
              the argument from the component's list of views.

       <b>virtual</b> <b>void</b> <b>Notify()</b>
              Notify the component's views that its state has changed.  This operation calls Update on each view
              in the component's list of attached views.

       <b>virtual</b> <b>void</b> <b>Update()</b>
              Other classes may use this operation to notify the component subject of a possible change in state
              that the component depends upon. This operation does nothing by default.

       <b>virtual</b> <b>Component*</b> <b>GetParent()</b>
       <b>virtual</b> <b>TransferFunct*</b> <b>GetTransferFunct()</b>
              Return  the  component's  parent  and  transfer  function, if any.  These operations return nil by
              default.

       <b>virtual</b> <b>Component*</b> <b>GetRoot()</b>
              Return the root component in this hierarchy.  GetRoot calls GetParent recursively and returns  the
              last non-nil parent, if any.

       <b>virtual</b> <b>StateVar*</b> <b>GetState(const</b> <b>char*)</b>
              The  component  may  maintain a string-to-state variable mapping to provide external access to any
              state variables it defines.  The GetState operation returns a state variable given an  identifying
              string.   Defining  such a mapping lets other objects (typically commands) query the component for
              state variables that it may define without extending the component protocol, potentially  allowing
              interchange of components from different applications.  This operation returns nil by default.

       <b>virtual</b> <b>void</b> <b>First(Iterator&amp;)</b>
       <b>virtual</b> <b>void</b> <b>Last(Iterator&amp;)</b>
       <b>virtual</b> <b>void</b> <b>Next(Iterator&amp;)</b>
       <b>virtual</b> <b>void</b> <b>Prev(Iterator&amp;)</b>
       <b>virtual</b> <b>boolean</b> <b>Done(Iterator)</b>
              Operations for iterating over the component subject's children, if any.  First and Last initialize
              an  iterator  to  point  to  the  beginning  and  end of the list of children, respectively.  Next
              increments the iterator to point to the following child, while Prev  decrements  the  iterator  to
              point to the preceding child.  Done returns whether or not the iterator points beyond the first or
              last child in the list.

       <b>virtual</b> <b>Component*</b> <b>Copy()</b>
              Return  a  copy of the component.  Subclasses should redefine this operation to return an instance
              of their type.

       <b>virtual</b> <b>void</b> <b>Read(istream&amp;)</b>
       <b>virtual</b> <b>void</b> <b>Write(ostream&amp;)</b>
              Read and write the component's contents to a stream to support catalog operations.  Read and write
              typically call first the corresponding operations defined by their parent  class,  and  then  they
              read  or write their class-specific state.  Note that you must ensure that the objects are read in
              the same order they are written.

       <b>virtual</b> <b>ClassId</b> <b>GetClassId()</b>
       <b>virtual</b> <b>boolean</b> <b>IsA(ClassId)</b>
              GetClassId returns the unique class identifier for  the  Component  subclass,  while  IsA  returns
              whether  the  instance  is  of  a  class  or  subclass corresponding to the given identifier.  IsA
              typically checks the given identifier against the instance's own (as  defined  by  its  GetClassId
              operation)  and,  failing  that,  calls  its  parent  classes' IsA operation.  All subclasses must
              redefine GetClassId and IsA to ensure that their identifiers are unique  and  that  instances  are
              written and read properly.

       <b>virtual</b> <b>ClassId</b> <b>GetSubstId(const</b> <b>char*&amp;</b> <b>delim)</b>
              A  Component subclasses can redefine GetSubstId to specify a component that can substitute for it.
              This lets applications that do not  define  a  particular  component  subclass  still  read  in  a
              substitute  that  is  compatible  with  the  subclass.   The substitute class should be one of the
              predefined components  in  the  Unidraw  library.   This  guarantees  that  all  applications  can
              instantiate the substitute.

              GetSubstId returns the class identifier for the substitute.  When an another Unidraw application's
              catalog  reads this object, it can create an instance of the substitute (which it is guaranteed to
              define) instead of the original (which it may not define).

              The original should read and write a superset of the substitute's data.  The catalog will read  to
              the  end  of the substitute's data and then advance the stream to the point following the sequence
              of characters specified by <u>delim</u>, saving the extra  characters  between  the  two  points  in  the
              stream.   When  the substitute object is saved subsequently, the original class identifier will be
              written along with the substitute's  data  plus  the  extra  characters  saved  previously.   Thus
              information  needn't  be  lost  as  a  result  of  being  read  and  written by an unsophisticated
              application.

       <b>ComponentView*</b> <b>Create(ClassId)</b>
              Create a view instance that is appropriate for the component subject given a view  category.   The
              relationship  between  subjects, views, and view categories is encoded in their class identifiers.
              See <a href="../man3U/classes.3U.html">classes</a>(3U) for more information on class identifiers and view categories.

</pre><h4><b>PROTECTED</b> <b>OPERATIONS</b></h4><pre>
       <b>void</b> <b>Component()</b>
              The Component class is abstract; therefore the constructor is protected.

       <b>ComponentView*</b> <b>View(UList*)</b>
              Each component maintains a list of its views, implemented with a UList.   This  operation  returns
              the component view associated with a given entry in the UList.

       <b>virtual</b> <b>void</b> <b>SetParent(Component*</b> <b>child,</b> <b>Component*</b> <b>parent)</b>
              Notify  a  child  component that it has a new or different parent.  This operation does nothing by
              default.  Composite components should call this function in their structure-modifying  operations,
              and  components  that  keep  information  about  their  parents  should redefine it to update this
              information.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       <a href="../man3U/Catalog.3U.html">Catalog</a>(3U), <a href="../man3U/Command.3U.html">Command</a>(3U), <a href="../man3U/ComponentView.3U.html">ComponentView</a>(3U), <a href="../man3U/Creator.3U.html">Creator</a>(3U), <a href="../man3U/Iterator.3U.html">Iterator</a>(3U),  <a href="../man3U/StatVar.3U.html">StatVar</a>(3U),  <a href="../man3U/TransferFunct.3U.html">TransferFunct</a>(3U),
       <a href="../man3U/UList.3U.html">UList</a>(3U), <a href="../man3U/classes.3U.html">classes</a>(3U), istream(3C++), ostream(3C++)

Unidraw                                          20 August 1990                                    <u><a href="../man3U/Component.3U.html">Component</a></u>(3U)
</pre>
 </div>
</div></section>
</div>
</body>
</html>