<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GraphicCompTool - tool for instantiating graphical components</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/ivtools-dev">ivtools-dev_2.0.11d.a1-3build7_amd64</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       GraphicCompTool - tool for instantiating graphical components

</pre><h4><b>SYNOPSIS</b></h4><pre>
       <b>#include</b> <b>&lt;Unidraw/Tools/grcomptool.h&gt;</b>

</pre><h4><b>DESCRIPTION</b></h4><pre>
       A   GraphicCompTool  lets  the  user  instantiate  graphical  components  by  direct  manipulation.   The
       GraphicCompTool keeps a prototypical component that defines the type of component it can instantiate.

</pre><h4><b>PUBLIC</b> <b>OPERATIONS</b></h4><pre>
       <b>GraphicCompTool(ControlInfo*,</b> <b>GraphicComp*</b> <b>prototype)</b>
       <b>GraphicCompTool()</b>
              Create a new GraphicCompTool, supplying the prototypical GraphicComp.  (You  should  not  normally
              call  the  parameterless  constructor,  which  Creator requires.)  The first constructor creates a
              graphical view of the prototype for internal use.

       <b>virtual</b> <b>Manipulator*</b> <b>CreateManipulator(</b>
          <b>Viewer*,</b> <b>Event&amp;,</b> <b>Transformer*</b>
       <b>)</b>

       <b>virtual</b> <b>void</b> <b>InterpretManipulator(Manipulator*)</b>
              CreateManipulator  clears  the  editor's  selection  and  delegates   manipulator   creation   and
              interpretation to the graphical view of the prototype.

       <b>GraphicComp*</b> <b>GetPrototype()</b>
              Return the prototypical GraphicComp.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       <a href="../man3U/GraphicComp.3U.html">GraphicComp</a>(3U), <a href="../man3U/Tool.3U.html">Tool</a>(3U)

Unidraw                                          24 January 1991                             <u><a href="../man3U/GraphicCompTool.3U.html">GraphicCompTool</a></u>(3U)
</pre>
 </div>
</div></section>
</div>
</body>
</html>