<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graphics::Primitive::Aligned - Role for components that care about alignment.</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libgraphics-primitive-perl">libgraphics-primitive-perl_0.67-2_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Graphics::Primitive::Aligned - Role for components that care about alignment.

</pre><h4><b>SYNOPSIS</b></h4><pre>
       Some components (or things that use components) require a bit more information than origin and
       width/height.  The alignment role allows a component to specify it's horizontal and vertical alignment.

           package My::Component;

           extends 'Graphics::Primitive::Component';

           with 'Graphics::Primitive::Aligned';

           1;

</pre><h4><b>METHODS</b></h4><pre>
   <b>horizontal_alignment</b>
       Horizontal alignment value.  Valid values are 'center', 'left' and 'right'.

   <b>vertical_alignment</b>
       Vertical alignment value.  Valid values are 'bottom', 'center' and 'top'.

</pre><h4><b>AUTHOR</b></h4><pre>
       Cory Watson, "&lt;<a href="mailto:gphat@cpan.org">gphat@cpan.org</a>&gt;"

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       <b><a href="../man1/perl.1.html">perl</a></b>(1)

</pre><h4><b>COPYRIGHT</b> <b>&amp;</b> <b>LICENSE</b></h4><pre>
       Copyright 2008-2010 by Cory G Watson.

       This program is free software; you can redistribute it and/or modify it under the same terms as Perl
       itself.

perl v5.34.0                                       2022-06-14                  <u>Graphics::Primitive::<a href="../man3pm/Aligned.3pm.html">Aligned</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>