<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graphics::Primitive::Container - Component that holds other Components</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libgraphics-primitive-perl">libgraphics-primitive-perl_0.67-2_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Graphics::Primitive::Container - Component that holds other Components

</pre><h4><b>DESCRIPTION</b></h4><pre>
       Containers are components that contain other components.  They can also hold an instance of a
       Layout::Manager for automatic layout of their internal components. See the Component's Lifecycle Section
       for more information.

</pre><h4><b>SYNOPSIS</b></h4><pre>
         my $c = Graphics::Primitive::Container-&gt;new(
           width =&gt; 500, height =&gt; 350,
           layout_manager =&gt; Layout::Manager::Compass-&gt;new
         );
         $c-&gt;add_component($comp, { meta =&gt; 'data' });

</pre><h4><b>METHODS</b></h4><pre>
   <b>Constructor</b>
       <u>new</u> Creates a new Container.

   <b>Instance</b> <b>Methods</b>
       <u>add_component</u> <u>($component,</u> <u>[</u> <u>$constraint</u> <u>])</u>
           Add  a  component  to the container.  Returns a true value if the component was added successfully. A
           second  argument  may  be  required,  please  consult  the  POD  for  your  specific  layout  manager
           implementation.

           Before  the component is added, it is passed to the validate_component method.  If validate_component
           does not return a true value, then the component is not added.

       <u>clear_components</u>
           Remove all components from the layout manager.

       <u>component_count</u>
           Returns the number of components in this container.

       <u>component_list</u>
           Returns this Container's ComponentList.

       <u>find_component</u>
           Returns the index of the first component with the supplied name.  Returns undef if no component  with
           that name is found.

       <u>get_component</u>
           Get the component at the specified index.

       <u>get_constraint</u>
           Get the constraint at the specified index.

       <u>get_tree</u>
           Returns  a  Forest::Tree object with this component at the root and all child components as children.
           Calling this from your root container will result in a tree representation of the entire scene.

       <u>prepare</u>
           Prepares this container.  Does not mark as prepared, as that's done by the layout manager.

       <u>remove_component</u>
           Removes a component.  <b>Components</b> <b>must</b> <b>have</b> <b>names</b> <b>to</b> <b>be</b>  <b>removed.</b>   Returns  an  arrayref  of  removed
           components.

       <u>validate_component</u>
           Optionally  overridden  by  an implementation, allows it to deem a component as invalid.  If this sub
           returns false, the component won't be added.

</pre><h4><b>AUTHOR</b></h4><pre>
       Cory Watson, "&lt;<a href="mailto:gphat@cpan.org">gphat@cpan.org</a>&gt;"

</pre><h4><b>BUGS</b></h4><pre>
       Please report any bugs or feature requests to "bug-geometry-primitive at rt.cpan.org", or through the web
       interface at &lt;<a href="http://rt.cpan.org/NoAuth/ReportBug.html">http://rt.cpan.org/NoAuth/ReportBug.html</a>?Queue=Geometry-Primitive&gt;.  I  will  be  notified,
       and then you'll automatically be notified of progress on your bug as I make changes.

</pre><h4><b>COPYRIGHT</b> <b>&amp;</b> <b>LICENSE</b></h4><pre>
       Copyright 2008-2009 by Cory G Watson.

       This  program  is  free  software;  you can redistribute it and/or modify it under the same terms as Perl
       itself.

perl v5.34.0                                       2022-06-14                <u>Graphics::Primitive::<a href="../man3pm/Container.3pm.html">Container</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>