<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hal_set_constructor - sets the constructor function for this component</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/linuxcnc-uspace-dev">linuxcnc-uspace-dev_2.9.4-2ubuntu2_amd64</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       hal_set_constructor - sets the constructor function for this component

</pre><h4><b>SYNTAX</b></h4><pre>

       typedef  int  (*hal_constructor_t)(const  char  *prefix,  const  char  *arg); int hal_set_constructor(int
              <u>comp_id</u>, hal_constructor_t <u>constructor</u>)

</pre><h4><b>ARGUMENTS</b></h4><pre>

       <u>comp_id</u> A HAL component identifier returned by an earlier call to <b>hal_init</b>.

       <u>prefix</u> The prefix to be given to the pins, parameters, and functions in the new instance

       arg An argument that may be used by the component to customize this instance.

</pre><h4><b>DESCRIPTION</b></h4><pre>
       As an experimental feature in HAL 2.1, components may be <u>constructable</u>.  Such a component may create pins
       and parameters not only at the time the  module  is  loaded,  but  it  may  create  additional  pins  and
       parameters, and functions on demand.

</pre><h4><b>RETURN</b> <b>VALUE</b></h4><pre>
       Returns a HAL status code.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       <b><a href="../man1/halcmd.1.html">halcmd</a>(1)</b>

LinuxCNC Documentation                             2006-10-12                          <u><a href="../man3hal/hal_set_constructor.3hal.html">hal_set_constructor</a></u>(3hal)
</pre>
 </div>
</div></section>
</div>
</body>
</html>