<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hal_ready - indicates that this component is ready</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/linuxcnc-uspace-dev">linuxcnc-uspace-dev_2.9.4-2ubuntu2_amd64</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       hal_ready - indicates that this component is ready

</pre><h4><b>SYNTAX</b></h4><pre>

               hal_ready(int <u>comp_id</u>)

</pre><h4><b>ARGUMENTS</b></h4><pre>
       <u>comp_id</u>
              A HAL component identifier returned by an earlier call to <b>hal_init</b>.

</pre><h4><b>DESCRIPTION</b></h4><pre>
       <b>hal_ready</b>  indicates  that this component is ready (has created all its pins, parameters, and functions).
       This must be called in any realtime HAL component before  its  <b>rtapi_app_init</b>  exits,  and  in  any  non-
       realtime component before it enters its main loop.

</pre><h4><b>RETURN</b> <b>VALUE</b></h4><pre>
       Returns a HAL status code.

LinuxCNC Documentation                             2006-10-12                                        <u><a href="../man3hal/funct.3hal.html">funct</a></u>(3hal)
</pre>
 </div>
</div></section>
</div>
</body>
</html>