<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML::Mason::Component::FileBased - Mason File-Based Component Class</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libhtml-mason-perl">libhtml-mason-perl_1.60-2_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       HTML::Mason::Component::FileBased - Mason File-Based Component Class

</pre><h4><b>DESCRIPTION</b></h4><pre>
       This is a subclass of HTML::Mason::Component. Mason uses it to implement components which are stored in
       files.

</pre><h4><b>METHODS</b></h4><pre>
       See the FILE-BASED METHODS section of HTML::Mason::Component for documentation.

perl v5.38.2                                       2024-03-05             <u>HTML::Mason::Component::<a href="../man3pm/FileBased.3pm.html">FileBased</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>