<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mason::Component::Moose - Moose policies and exports for Mason components</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libmason-perl">libmason-perl_2.24-2_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Mason::Component::Moose - Moose policies and exports for Mason components

</pre><h4><b>DESCRIPTION</b></h4><pre>
       This module is automatically included in each generated Mason component class, and is equivalent to

           use CLASS;
           use Moose;
           use MooseX::HasDefaults::RW;
           use Method::Signatures::Simple;

</pre><h4><b>OVERRIDING</b></h4><pre>
       To override the default behavior, subclass this class and specify it as "base_component_moose_class" to
       Mason::Interp.

       For example, to use MooseX::StrictConstructor in every component:

           package My::Mason::Component::Moose;
           use Moose::Exporter;
           use MooseX::StrictConstructor ();
           use base qw(Mason::Component::Moose);

           sub init_meta {
               my $class = shift;
               $class-&gt;SUPER::init_meta(@_);
               MooseX::StrictConstructor-&gt;init_meta(@_);
           }

           ...

           my $interp = Mason::Interp-&gt;new(..., base_component_moose_class =&gt; 'My::Mason::Component::Moose');

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       Mason

</pre><h4><b>AUTHOR</b></h4><pre>
       Jonathan Swartz &lt;<a href="mailto:swartz@pobox.com">swartz@pobox.com</a>&gt;

</pre><h4><b>COPYRIGHT</b> <b>AND</b> <b>LICENSE</b></h4><pre>
       This software is copyright (c) 2012 by Jonathan Swartz.

       This is free software; you can redistribute it and/or modify it under the same terms as the Perl 5
       programming language system itself.

perl v5.34.0                                       2022-05-27                       <u>Mason::Component::<a href="../man3pm/Moose.3pm.html">Moose</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>