<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mason::Plugin::LvalueAttributes - Create lvalue accessors for all rw component attributes</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libmason-perl">libmason-perl_2.24-2_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Mason::Plugin::LvalueAttributes - Create lvalue accessors for all rw component attributes

</pre><h4><b>SYNOPSIS</b></h4><pre>
           &lt;%class&gt;
           has 'a' =&gt; (is =&gt; "rw")
           has 'b' =&gt; (is =&gt; "ro")
           &lt;/%class&gt;

           &lt;%init&gt;
           # set a to 5
           $.a = 5;

           # set a to 6
           $.<a href="../man6/a.6.html">a</a>(6);

           # error
           $.b = 7;
           &lt;/%init&gt;

</pre><h4><b>DESCRIPTION</b></h4><pre>
       This plugins creates an Lvalue accessor for every read/write attribute in the component. Which means that
       instead of writing:

           $.name( "Foo" );

       you can use the more natural syntax

           $.name = "Foo";

</pre><h4><b>WARNING</b></h4><pre>
       Standard Moose setter features such as type checking, triggers, and coercion will not work on Lvalue
       attributes. You should only use this plugin when the convenience of the Lvalue attributes outweighs the
       need for setter features.

</pre><h4><b>ACKNOWLEDGEMENTS</b></h4><pre>
       Inspired by Christopher Brown's MooseX::Meta::Attribute::Lvalue.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       Mason

</pre><h4><b>AUTHOR</b></h4><pre>
       Jonathan Swartz &lt;<a href="mailto:swartz@pobox.com">swartz@pobox.com</a>&gt;

</pre><h4><b>COPYRIGHT</b> <b>AND</b> <b>LICENSE</b></h4><pre>
       This software is copyright (c) 2012 by Jonathan Swartz.

       This is free software; you can redistribute it and/or modify it under the same terms as the Perl 5
       programming language system itself.

perl v5.34.0                                       2022-05-27               <u>Mason::Plugin::<a href="../man3pm/LvalueAttributes.3pm.html">LvalueAttributes</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>