<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mason::Component - Mason Component base class</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libmason-perl">libmason-perl_2.24-2_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Mason::Component - Mason Component base class

</pre><h4><b>DESCRIPTION</b></h4><pre>
       Every Mason component corresponds to a unique class that inherits, directly or indirectly, from this base
       class.

       A new instance of the component class is created whenever a component is called - whether via a top level
       request, "&lt;&amp; &amp;&gt;" tags, or an &lt;&lt; $m-&gt;comp &gt;&gt; call. A component instance is only valid for the Mason
       request in which it was created.

       We leave this class as devoid of built-in methods as possible, allowing you to create methods in your own
       components without worrying about name clashes.

</pre><h4><b>STRUCTURAL</b> <b>METHODS</b></h4><pre>
       This is the standard call chain for the page component (the initial component of a request).

           handle -&gt; render -&gt; wrap -&gt; main

       In many cases only "main" will actually do anything.

       handle
           This  is  the  top-most  method  called on the page component. Its job is to decide how to handle the
           request, e.g.

           •   throw an error (e.g. permission denied)

           •   take some action and redirect (e.g. if handling a form in a web environment)

           •   defer to another component via "$m-&gt;go"

           •   render the page

           It should not output any content itself. By default, it simply calls render.

       render
           This method is invoked from handle on the page component. Its job is to output the  full  content  of
           the page. By default, it simply calls wrap.

       wrap
           This  method  is  invoked  from  render on the page component.  By convention, "wrap" is an augmented
           method, with each superclass calling the next subclass.  This is useful for  cascading  templates  in
           which the top-most superclass generates the surrounding content.

               &lt;%augment wrap&gt;
                 &lt;h3&gt;Subtitle section&lt;/h3&gt;
                 &lt;div class="main"&gt;
                   &lt;% inner() %&gt;
                 &lt;/div&gt;
               &lt;/%augment&gt;

           By  default,  "wrap"  simply  calls "inner()" to go to the next subclass, and then main at the bottom
           subclass.

           To override a component's parent wrapper, a component  can  define  its  own  "wrap"  using  "method"
           instead of "augment":

               &lt;%method wrap&gt;
                 &lt;h3&gt;Parent wrapper will be ignored&lt;/h3&gt;
                 &lt;% inner() %&gt;
               &lt;/%method&gt;

           To do no wrapping at all, call the component class method "no_wrap":

               &lt;%class&gt;
               CLASS-&gt;no_wrap;
               &lt;/%class&gt;

       main
           This method is invoked when a non-page component is called, and from the default wrap method as well.
           It consists of the code and output in the main part of the component that is not inside a "&lt;%method&gt;"
           or "&lt;%class&gt;" tag.

</pre><h4><b>CLASS</b> <b>METHODS</b></h4><pre>
       no_wrap
           A  convenience  method  that redefines render to call main instead of wrap, thus skipping any content
           wrapper inherited from parent.

               &lt;%class&gt;
               CLASS-&gt;no_wrap;
               &lt;/%class&gt;

       allow_path_info
           This method is called when the request path  has  a  path_info  portion,  to  determine  whether  the
           path_info is allowed. Default is false. See Mason::Manual::RequestDispatch.

               &lt;%class&gt;
               method allow_path_info { 1 }
               &lt;/%class&gt;

</pre><h4><b>OTHER</b> <b>METHODS</b></h4><pre>
       args
           Returns  the  hashref of arguments passed to this component's constructor, e.g.  the arguments passed
           in a component call.

       cmeta
           Returns the Mason::Component::ClassMeta object  associated  with  this  component  class,  containing
           information such as the component's path and source file.

               my $path = $self-&gt;cmeta-&gt;path;

       m   Returns the current request. This is also available via $m inside Mason components.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       Mason

</pre><h4><b>AUTHOR</b></h4><pre>
       Jonathan Swartz &lt;<a href="mailto:swartz@pobox.com">swartz@pobox.com</a>&gt;

</pre><h4><b>COPYRIGHT</b> <b>AND</b> <b>LICENSE</b></h4><pre>
       This software is copyright (c) 2012 by Jonathan Swartz.

       This  is  free  software;  you  can  redistribute  it and/or modify it under the same terms as the Perl 5
       programming language system itself.

perl v5.34.0                                       2022-05-27                              <u>Mason::<a href="../man3pm/Component.3pm.html">Component</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>