<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POE::Component::IRC::Cookbook::Hailo - A blabbering IRC bot</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libpoe-component-irc-perl">libpoe-component-irc-perl_6.93+dfsg-1_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       POE::Component::IRC::Cookbook::Hailo - A blabbering IRC bot

</pre><h4><b>SYNOPSIS</b></h4><pre>
       This bot uses POE::Component::IRC::Plugin::Hailo for most of its magic. As of yet, this recipe just
       contains a SYNOPSIS that is copied from its documentation.

</pre><h4><b>DESCRIPTION</b></h4><pre>
        #!<a href="file:///usr/lib/w3m/cgi-bin/w3mman2html.cgi?env">/usr/bin/env</a> perl

        use strict;
        use warnings;
        use POE;
        use POE::Component::IRC::Plugin::AutoJoin;
        use POE::Component::IRC::Plugin::Connector;
        use POE::Component::IRC::Plugin::Hailo;
        use POE::Component::IRC::State;

        my $irc = POE::Component::IRC::State-&gt;spawn(
            nick   =&gt; 'Brainy',
            server =&gt; 'irc.freenode.net',
        );

        my @channels = ('#public_chan', '#bot_chan');

        $irc-&gt;plugin_add('AutoJoin', POE::Component::IRC::Plugin::AutoJoin-&gt;new(Channels =&gt; \@channels));
        $irc-&gt;plugin_add('Connector', POE::Component::IRC::Plugin::Connector-&gt;new());
        $irc-&gt;plugin_add('Hailo', POE::Component::IRC::Plugin::Hailo-&gt;new(
            Own_channel    =&gt; '#bot_chan',
            Ignore_regexes =&gt; [ qr{\w+://\w} ], # ignore lines containing URLs
            Hailo_args     =&gt; {
                brain_resource =&gt; 'brain.sqlite',
            },
        ));

        $irc-&gt;yield('connect');
        $poe_kernel-&gt;run();

</pre><h4><b>AUTHOR</b></h4><pre>
       Hinrik Örn Sigurðsson, <a href="mailto:hinrik.sig@gmail.com">hinrik.sig@gmail.com</a>

perl v5.32.1                                       2021-09-30             <u>POE::Component:...Cookbook::<a href="../man3pm/Hailo.3pm.html">Hailo</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>