<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POE::Component::Client::HTTP::RequestFactory - an HTTP request factory object</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libpoe-component-client-http-perl">libpoe-component-client-http-perl_0.949-4_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       POE::Component::Client::HTTP::RequestFactory - an HTTP request factory object

</pre><h4><b>VERSION</b></h4><pre>
       version 0.949

</pre><h4><b>SYNOPSIS</b></h4><pre>
         # Used internally by POE::Component::Client::HTTP

</pre><h4><b>CONSTRUCTOR</b></h4><pre>
   <b>new</b>
       Create a new request factory object. It expects its parameters in a hashref.

       The following parameters are accepted.  They are explained in detail in POE::Component::Client::HTTP.

       •   Agent

       •   MaxSize

       •   Streaming

       •   Protocol

       •   From

       •   CookieJar

       •   NoProxy

       •   Proxy

       •   FollowRedirects

       •   Timeout

</pre><h4><b>METHODS</b></h4><pre>
   <b>timeout</b> <b>[$timeout]</b>
       Method that lets you query and/or change the timeout value for requests created by this factory.

   <b>is_streaming</b>
       Accessor for the Streaming parameter

   <b>agent</b>
       Accessor to the Agent parameter

   <b>from</b>
       getter/setter for the From parameter

   <b>create_request</b>
       Creates a new POE::Component::Client::HTTP::Request

   <b>max_response_size</b>
       Method  to  retrieve  the maximum size of a response, as set by the "MaxSize" parameter to Client::HTTP's
       "spawn()" method.

   <b>block_size</b>
       Accessor for the Streaming parameter

   <b>frob_cookies</b> <b>$response</b>
       Store the cookies from the HTTP::Response parameter passed into our cookie jar

   <b>max_redirect_count</b> <b>[$count]</b>
       Function to get/set the maximum number of redirects to follow automatically. This allows you to  retrieve
       or modify the value you passed with the FollowRedirects parameter to Client::HTTP's "spawn" method.

   <b>parse_proxy</b> <b>$proxy</b>
       This  static  method  is used for parsing proxies. The $proxy can be array reference like [host, port] or
       comma separated string like "<a href="http://1.2.3.4">http://1.2.3.4</a>:80/,<a href="http://2.3.4.5">http://2.3.4.5</a>:80/".

       <b>parse_proxy()</b> returns an array reference of two-element tuples (also array ferences), each  containing  a
       host and a port:

         [ [ host1, port1 ],
           [ host2, port2 ],
           ...
         ]

perl v5.36.0                                       2022-11-19             <u>POE::Component:...:<a href="../man3pm/RequestFactory.3pm.html">RequestFactory</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>