<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POE::Component::Client::MPD::Test - automate pococ-mpd testing</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libpoe-component-client-mpd-perl">libpoe-component-client-mpd-perl_2.001-5_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       POE::Component::Client::MPD::Test - automate pococ-mpd testing

</pre><h4><b>VERSION</b></h4><pre>
       version 2.001

</pre><h4><b>SYNOPSIS</b></h4><pre>
           POE::Component::Client::MPD-&gt;spawn( ... );
           POE::Component::Client::MPD::Test-&gt;new( { tests =&gt; [
               [ 'event', [ $arg1, $arg2, ... ], $sleep, \&amp;check_results ],
               ...
           ] } );
           POE::Kernel-&gt;run;

</pre><h4><b>DESCRIPTION</b></h4><pre>
       This module implements a POE::Session used to schedule tests according to a plan, calling hooks used to
       check whether a given test was successful.

       To use it, you need to first spawn a POE::Component::Client::MPD session - it's this session that will be
       tested. And don't forget to call POE's mainloop!

       Once started, it will fire the first event to the MPD session, wait for the return message, call the
       check callback, and wait a bit... before starting again with the next event in the list.

       When all events have been sent, the session will shut down itself.

</pre><h4><b>ATTRIBUTES</b></h4><pre>
   <b>alias</b>
       The session alias. Defaults to "tester".

   <b>tests</b>
       The list (array ref) of tests to run. It is required in the constructor call. Each list item is an array
       reference with the following sub-items:

       •   event - the event to send to the POE::Component::Client::MPD session

       •   args - event arguments (an array reference)

       •   sleep - number of seconds to wait before calling next events

       •   callback  -  a  sub reference to check the results of current event. The real tests should be done in
           this sub. It will be called with the message received and the message payload.

</pre><h4><b>PUBLIC</b> <b>EVENTS</b> <b>ACCEPTED</b></h4><pre>
   <b>next_test(</b> <b>)</b>
       Called to schedule the next test.

   <b>mpd_result(</b> <b>$msg</b> <b>)</b>
       Called when mpd talks back, with $msg as a POE::Component::Client::MPD::Message param.

</pre><h4><b>AUTHOR</b></h4><pre>
       Jerome Quelin

</pre><h4><b>COPYRIGHT</b> <b>AND</b> <b>LICENSE</b></h4><pre>
       This software is copyright (c) 2007 by Jerome Quelin.

       This is free software; you can redistribute it and/or modify it under  the  same  terms  as  the  Perl  5
       programming language system itself.

perl v5.40.1                                       2025-04-11             <u>POE::Component::Client::MPD::<a href="../man3pm/Test.3pm.html">Test</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>