<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POE::Component::IRC::Plugin::NickReclaim - A PoCo-IRC plugin for reclaiming your nickname</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libpoe-component-irc-perl">libpoe-component-irc-perl_6.93+dfsg-1_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       POE::Component::IRC::Plugin::NickReclaim - A PoCo-IRC plugin for reclaiming your nickname

</pre><h4><b>SYNOPSIS</b></h4><pre>
        use strict;
        use warnings;
        use POE qw(Component::IRC Component::IRC::Plugin::NickReclaim);

        my $nickname = 'Flibble' . $$;
        my $ircname = 'Flibble the Sailor Bot';
        my $ircserver = 'irc.blahblahblah.irc';
        my $port = 6667;

        my $irc = POE::Component::IRC-&gt;spawn(
            nick =&gt; $nickname,
            server =&gt; $ircserver,
            port =&gt; $port,
            ircname =&gt; $ircname,
        ) or die "Oh noooo! $!";

        POE::Session-&gt;create(
            package_states =&gt; [
                main =&gt; [ qw(_start) ],
            ],
        );

         $poe_kernel-&gt;run();

        sub _start {
            $irc-&gt;yield( register =&gt; 'all' );

            # Create and load our NickReclaim plugin, before we connect
            $irc-&gt;plugin_add( 'NickReclaim' =&gt;
                POE::Component::IRC::Plugin::NickReclaim-&gt;new( poll =&gt; 30 ) );

            $irc-&gt;yield( connect =&gt; { } );
            return;
        }

</pre><h4><b>DESCRIPTION</b></h4><pre>
       POE::Component::IRC::Plugin::NickReclaim - A POE::Component::IRC plugin automagically deals with your
       bot's nickname being in use and reclaims it when it becomes available again.

       It registers and handles 'irc_433' events. On receiving a 433 event it will reset the nickname to the
       'nick' specified with "spawn" or "connect", appendedwith an underscore, and then poll to try and change
       it to the original nickname. If someone in your channel who has the nickname you're after quits or
       changes nickname, the plugin will try to reclaim it immediately.

</pre><h4><b>METHODS</b></h4><pre>
   <b>"new"</b>
       Takes one optional argument:

       <b>'poll'</b>, the number of seconds between nick change attempts, default is 30;

       Returns a plugin object suitable for feeding to POE::Component::IRC's "plugin_add" method.

</pre><h4><b>AUTHOR</b></h4><pre>
       Chris 'BinGOs' Williams

       With amendments applied by Zoffix Znet

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       POE::Component::IRC

perl v5.32.1                                       2021-09-30             <u>POE::Component:...in::<a href="../man3pm/NickReclaim.3pm.html">NickReclaim</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>