<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POE::Component::Resolver::Sidecar - delegate subprocess to call getaddrinfo()</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libpoe-component-resolver-perl">libpoe-component-resolver-perl_0.921-2_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       POE::Component::Resolver::Sidecar - delegate subprocess to call getaddrinfo()

</pre><h4><b>VERSION</b></h4><pre>
       version 0.921

</pre><h4><b>SYNOPSIS</b></h4><pre>
       Used internally by POE::Component::Resolver.

</pre><h4><b>DESCRIPTION</b></h4><pre>
       POE::Component::Resolver creates subprocesses to call <b>getaddrinfo()</b> so that the main program doesn't
       block during that time.

       The actual <b>getaddrinfo()</b> calling code is abstracted into this module so it can be run in a separate
       executable program.  This reduces the memory footprint of forking the entire main process for just
       <b>getaddrinfo()</b>.

       It's a strong, useful pattern that other POE::Components have implemented before.  POE::Quickie does it
       generically.  POE::Component::SimpleDBI and POE::Component::EasyDBI do it so their DBI subprocesses are
       relatively lightweight.

   <b>main</b>
       The main code to read POE::Component::Resolver requests from STDIN and write <b>getaddrinfo()</b> responses to
       STDOUT.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       POE::Component::Generic is one generic implementation of this pattern.

       POE::Quickie is another generic implementation of this pattern.

</pre><h4><b>BUGS</b></h4><pre>
       None known.

</pre><h4><b>LICENSE</b></h4><pre>
       Except where otherwise noted, this distribution is Copyright 2011 by Rocco Caputo.  All rights reserved.
       This distribution is free software; you may redistribute it and/or modify it under the same terms as Perl
       itself.

perl v5.40.1                                       2025-05-04             <u>POE::Component::Resolver::<a href="../man3pm/Sidecar.3pm.html">Sidecar</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>