<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POE::Component::Client::MPD::Commands - module handling basic mpd commands</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libpoe-component-client-mpd-perl">libpoe-component-client-mpd-perl_2.001-5_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       POE::Component::Client::MPD::Commands - module handling basic mpd commands

</pre><h4><b>VERSION</b></h4><pre>
       version 2.001

</pre><h4><b>DESCRIPTION</b></h4><pre>
       POE::Component::Client::MPD::Commands is responsible for handling general purpose commands. They are in a
       dedicated module to achieve easier code maintenance.

       To achieve those commands, send the corresponding event to the POCOCM session you created: it will be
       responsible for dispatching the event where it is needed. Under no circumstance should you call directly
       subs or methods from this module directly.

       Read POCOCM's pod to learn how to deal with answers from those commands.

       Following is a list of general purpose events accepted by POCOCM.

</pre><h4><b>CONTROLLING</b> <b>THE</b> <b>SERVER</b></h4><pre>
   <b>version(</b> <b>)</b>
       Return mpd's version number as advertised during connection. Note that mpd returns <b>protocol</b> version when
       connected. This protocol version can differ from the real mpd version. eg, mpd version 0.13.2 is
       "speaking" and thus advertising version 0.13.0.

   <b>password(</b> <b>$password</b> <b>)</b>
       Sends a connection password to mpd. Used internally on connect, but can be called whenever if you're
       feeling like it.

   <b>kill(</b> <b>)</b>
       Kill the mpd server, and request the pococm to be shutdown.

   <b>updatedb(</b> <b>[$path]</b> <b>)</b>
       Force mpd to rescan its collection. If $path (relative to MPD's music directory) is supplied, MPD will
       only scan it - otherwise, MPD will rescan its whole collection.

   <b>urlhandlers(</b> <b>)</b>
       Return an array of supported URL schemes.

</pre><h4><b>HANDLING</b> <b>VOLUME</b> <b>&amp;</b> <b>OUTPUT</b></h4><pre>
   <b>volume(</b> <b>$volume</b> <b>)</b>
       Sets the audio output volume percentage to absolute $volume. If $volume is prefixed by '+' or '-' then
       the volume is changed relatively by that value.

   <b>output_enable(</b> <b>$output</b> <b>)</b>
       Enable the specified audio output. $output is the ID of the audio output.

   <b>output_disable(</b> <b>$output</b> <b>)</b>
       Disable the specified audio output. $output is the ID of the audio output.

</pre><h4><b>RETRIEVING</b> <b>INFO</b> <b>FROM</b> <b>CURRENT</b> <b>STATE</b></h4><pre>
   <b>stats(</b> <b>)</b>
       Return an Audio::MPD::Common::Stats object with the current statistics of MPD.

   <b>status(</b> <b>)</b>
       Return an Audio::MPD::Common::Status object with the current status of MPD.

   <b>current(</b> <b>)</b>
       Return an Audio::MPD::Common::Item::Song representing the song currently playing.

   <b>song(</b> <b>[$song]</b> <b>)</b>
       Return an Audio::MPD::Common::Item::Song representing the song number $song. If $song is not supplied,
       returns the current song.

   <b>songid(</b> <b>[$songid]</b> <b>)</b>
       Return an Audio::MPD::Common::Item::Song representing the song id $songid. If $songid is not supplied,
       returns the current song.

</pre><h4><b>ALTERING</b> <b>MPD</b> <b>SETTINGS</b></h4><pre>
   <b>repeat(</b> <b>[$repeat]</b> <b>)</b>
       Set the repeat mode to $repeat (1 or 0). If $repeat is not specified then the repeat mode is toggled.

   <b>fade(</b> <b>[$seconds]</b> <b>)</b>
       Enable crossfading and set the duration of crossfade between songs. If $seconds is not specified or
       $seconds is 0, then crossfading is disabled.

   <b>random(</b> <b>[$random]</b> <b>)</b>
       Set the random mode to $random (1 or 0). If $random is not specified then the random mode is toggled.

</pre><h4><b>CONTROLLING</b> <b>PLAYBACK</b></h4><pre>
   <b>play(</b> <b>[$song]</b> <b>)</b>
       Begin playing playlist at song number $song. If no argument supplied, resume playing.

   <b>playid(</b> <b>[$song]</b> <b>)</b>
       Begin playing playlist at song ID $song. If no argument supplied, resume playing.

   <b>pause(</b> <b>[$sate]</b> <b>)</b>
       Pause playback. If $state is 0 then the current track is unpaused, if $state is 1 then the current track
       is paused.

       Note that if $state is not given, pause state will be toggled.

   <b>stop(</b> <b>)</b>
       Stop playback.

   <b>next(</b> <b>)</b>
       Play next song in playlist.

   <b>prev(</b> <b>)</b>
       Play previous song in playlist.

   <b>seek(</b> <b>$time,</b> <b>[$song]</b> <b>)</b>
       Seek to $time seconds in song number $song. If $song number is not specified then the perl module will
       try and seek to $time in the current song.

   <b>seekid(</b> <b>$time,</b> <b>[$songid]</b> <b>)</b>
       Seek to $time seconds in song ID $songid. If $songid number is not specified then the perl module will
       try and seek to $time in the current song.

</pre><h4><b>AUTHOR</b></h4><pre>
       Jerome Quelin

</pre><h4><b>COPYRIGHT</b> <b>AND</b> <b>LICENSE</b></h4><pre>
       This software is copyright (c) 2007 by Jerome Quelin.

       This is free software; you can redistribute it and/or modify it under the same terms as the Perl 5
       programming language system itself.

perl v5.40.1                                       2025-04-11              <u>POE::Component...::MPD::<a href="../man3pm/Commands.3pm.html">Commands</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>