<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POE::Component::IRC::Plugin::AutoJoin - A PoCo-IRC plugin which keeps you on your favorite channels</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libpoe-component-irc-perl">libpoe-component-irc-perl_6.93+dfsg-1_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       POE::Component::IRC::Plugin::AutoJoin - A PoCo-IRC plugin which keeps you on your favorite channels

</pre><h4><b>SYNOPSIS</b></h4><pre>
        use POE qw(Component::IRC::State Component::IRC::Plugin::AutoJoin);

        my $nickname = 'Chatter';
        my $server = 'irc.blahblahblah.irc';

        my %channels = (
            '#Blah'   =&gt; '',
            '#Secret' =&gt; 'secret_password',
            '#Foo'    =&gt; '',
        );

        POE::Session-&gt;create(
            package_states =&gt; [
                main =&gt; [ qw(_start irc_join) ],
            ],
        );

        $poe_kernel-&gt;run();

        sub _start {
            my $irc = POE::Component::IRC::State-&gt;spawn(
                Nick =&gt; $nickname,
                Server =&gt; $server,
            ) or die "Oh noooo! $!";

            $irc-&gt;plugin_add('AutoJoin', POE::Component::IRC::Plugin::AutoJoin-&gt;new( Channels =&gt; \%channels ));
            $irc-&gt;yield(register =&gt; qw(join);
            $irc-&gt;yield(connect =&gt; { } );
        }

        sub irc_join {
            my $chan = @_[ARG1];
            $irc-&gt;yield(privmsg =&gt; $chan =&gt; "hi $channel!");
        }

</pre><h4><b>DESCRIPTION</b></h4><pre>
       POE::Component::IRC::Plugin::AutoJoin is a POE::Component::IRC plugin. If you get disconnected, the
       plugin will join all the channels you were on the next time it gets connected to the IRC server. It can
       also rejoin a channel if the IRC component gets kicked from it. It keeps track of channel keys so it will
       be able to rejoin keyed channels in case of reconnects/kicks.

       If a POE::Component::IRC::Plugin::NickServID plugin has been added to the IRC component, then AutoJoin
       will wait for a reply from NickServ before joining channels on connect.

       This plugin requires the IRC component to be POE::Component::IRC::State or a subclass thereof.

</pre><h4><b>METHODS</b></h4><pre>
   <b>"new"</b>
       Takes the following optional arguments:

       <b>'Channels'</b>, either an array reference of channel names, or a hash reference keyed on channel name,
       containing the password for each channel. By default it uses the channels the component is already on if
       you are using POE::Component::IRC::State.

       <b>'RejoinOnKick'</b>, set this to 1 if you want the plugin to try to rejoin a channel (once) if you get kicked
       from it. Default is 0.

       <b>'Rejoin_delay'</b>, the time, in seconds, to wait before rejoining a channel after being kicked (if
       <b>'RejoinOnKick'</b> is on). Default is 5.

       <b>'Retry_when_banned'</b>, if you can't join a channel due to a ban, set this to the number of seconds to wait
       between retries. Default is 0 (disabled).

       <b>'NickServ_delay'</b>, how long (in seconds) to wait for a reply from NickServ before joining channels.
       Default is 5.

       Returns a plugin object suitable for feeding to POE::Component::IRC's "plugin_add" method.

</pre><h4><b>AUTHOR</b></h4><pre>
       Hinrik Örn Sigurðsson, <a href="mailto:hinrik.sig@gmail.com">hinrik.sig@gmail.com</a>

perl v5.32.1                                       2021-09-30              <u>POE::Component...lugin::<a href="../man3pm/AutoJoin.3pm.html">AutoJoin</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>