<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POE::Component::IRC::Plugin::Proxy - A PoCo-IRC plugin that provides a lightweight IRC proxy/bouncer</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libpoe-component-irc-perl">libpoe-component-irc-perl_6.93+dfsg-1_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       POE::Component::IRC::Plugin::Proxy - A PoCo-IRC plugin that provides a lightweight IRC proxy/bouncer

</pre><h4><b>SYNOPSIS</b></h4><pre>
        use strict;
        use warnings;
        use POE qw(Component::IRC::State Component::IRC::Plugin::Proxy Component::IRC::Plugin::Connector);

        my $irc = POE::Component::IRC::State-&gt;spawn();

        POE::Session-&gt;create(
            package_states =&gt; [
                main =&gt; [ qw(_start) ],
            ],
            heap =&gt; { irc =&gt; $irc },
        );

        $poe_kernel-&gt;run();

        sub _start {
            my ($kernel, $heap) = @_[KERNEL, HEAP];
            $heap-&gt;{irc}-&gt;yield( register =&gt; 'all' );
            $heap-&gt;{proxy} = POE::Component::IRC::Plugin::Proxy-&gt;new( bindport =&gt; 6969, password =&gt; "m00m00" );
            $heap-&gt;{irc}-&gt;plugin_add( 'Connector' =&gt; POE::Component::IRC::Plugin::Connector-&gt;new() );
            $heap-&gt;{irc}-&gt;plugin_add( 'Proxy' =&gt; $heap-&gt;{proxy} );
            $heap-&gt;{irc}-&gt;yield ( connect =&gt; { Nick =&gt; 'testbot', Server =&gt; 'someserver.com' } );
            return;
        }

</pre><h4><b>DESCRIPTION</b></h4><pre>
       POE::Component::IRC::Plugin::Proxy is a POE::Component::IRC plugin that provides lightweight IRC
       proxy/bouncer server to your POE::Component::IRC bots. It enables multiple IRC clients to be hidden
       behind a single IRC client-server connection.

       Spawn a POE::Component::IRC::State session and add in a POE::Component::IRC::Plugin::Proxy plugin object,
       specifying a bindport and a password the connecting IRC clients have to use. When the component is
       connected to an IRC network a listening port is opened by the plugin for multiple IRC clients to connect.

       Neat, huh? &gt;;o)

       This plugin will activate POE::Component::IRC's raw events ("irc_raw") by calling "$irc-&gt;<a href="../man1/raw_events.1.html">raw_events</a>(1)".

       This plugin requires the IRC component to be POE::Component::IRC::State or a subclass thereof.

</pre><h4><b>METHODS</b></h4><pre>
   <b>"new"</b>
       Takes a number of arguments:

       <b>'password'</b>, the password to require from connecting clients;

       <b>'bindaddress'</b>, a local address to bind the listener to, default is 'localhost';

       <b>'bindport'</b>, what port to bind to, default is 0, ie. randomly allocated by OS;

       Returns an object suitable for passing to POE::Component::IRC's "plugin_add" method.

   <b>"getsockname"</b>
       Takes no arguments. Accesses the listeners "getsockname" method. See POE::Wheel::SocketFactory for
       details of the return value;

   <b>"list_wheels"</b>
       Takes no arguments. Returns a list of wheel ids of the current connected clients.

   <b>"wheel_info"</b>
       Takes one parameter, a wheel ID to query. Returns undef if an invalid wheel id is passed. In a scalar
       context returns the time that the client connected in unix time. In a list context returns a list
       consisting of the peer address, port, tthe connect time and the lag in seconds for that connection.

</pre><h4><b>OUTPUT</b> <b>EVENTS</b></h4><pre>
       The plugin emits the following POE::Component::IRC events:

   <b>"irc_proxy_up"</b>
       Emitted when the listener is successfully started. "ARG0" is the result of the listener "getsockname".

   <b>"irc_proxy_connect"</b>
       Emitted when a client connects to the listener. "ARG0" is the wheel ID of the client.

   <b>"irc_proxy_rw_fail"</b>
       Emitted when the POE::Wheel::ReadWrite fails on a connection. "ARG0" is the wheel ID of the client.

   <b>"irc_proxy_authed"</b>
       Emitted when a connecting client successfully negotiates an IRC session with the plugin. "ARG0" is the
       wheel ID of the client.

   <b>"irc_proxy_close"</b>
       Emitted when a connected client disconnects. "ARG0" is the wheel ID of the client.

   <b>"irc_proxy_down"</b>
       Emitted when the listener is successfully shutdown. "ARG0" is the result of the listener "getsockname".

</pre><h4><b>QUIRKS</b></h4><pre>
       Connecting IRC clients will not be able to change nickname. This is a feature.

</pre><h4><b>AUTHOR</b></h4><pre>
       Chris 'BinGOs' Williams

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       POE::Component::IRC

       POE::Component::IRC::State

perl v5.32.1                                       2021-09-30             <u>POE::Component:...::Plugin::<a href="../man3pm/Proxy.3pm.html">Proxy</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>