<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rtapi_app_main - User-provided function to initialize a component</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/linuxcnc-uspace-dev">linuxcnc-uspace-dev_2.9.4-2ubuntu1_amd64</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       rtapi_app_main - User-provided function to initialize a component

</pre><h4><b>SYNTAX</b></h4><pre>
       <b>#include</b> <b>&lt;rtapi_app.h&gt;</b>

       <b>int</b> <b>rtapi_app_main(void)</b> <b>{</b><u>...</u><b>}</b>

</pre><h4><b>ARGUMENTS</b></h4><pre>
       None

</pre><h4><b>DESCRIPTION</b></h4><pre>
       The  body  of  <b>rtapi_app_main</b>, which is provided by the component author, generally consists of a call to
       rtapi_init or hal_init, followed by other component-specific initialization code.

</pre><h4><b>RETURN</b> <b>VALUE</b></h4><pre>
       Return 0 for success.  Return a negative errno value  (e.g.,  -EINVAL)  on  error.   Existing  code  also
       returns RTAPI or HAL error values, but using negative errno values gives better diagnostics from insmod.

</pre><h4><b>REALTIME</b> <b>CONSIDERATIONS</b></h4><pre>
       Called automatically by the rtapi infrastructure in an initialization (not realtime) context.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       <b><a href="../man3rtapi/rtapi_app_exit.3rtapi.html">rtapi_app_exit</a>(3rtapi)</b>, <b><a href="../man3rtapi/rtapi_init.3rtapi.html">rtapi_init</a>(3rtapi)</b>, <b><a href="../man3hal/hal_init.3hal.html">hal_init</a>(3hal)</b>

LinuxCNC Documentation                             2008-05-26                             <u><a href="../man3rtapi/rtapi_app_main.3rtapi.html">rtapi_app_main</a></u>(3rtapi)
</pre>
 </div>
</div></section>
</div>
</body>
</html>