<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sg_internal-intro - get system statistics</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libstatgrab-dev">libstatgrab-dev_0.92.1-1.2build1_amd64</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       sg_internal-intro - get system statistics

</pre><h4><b>SYNOPSIS</b></h4><pre>
       #include "tools.h"

</pre><h4><b>DESCRIPTION</b></h4><pre>
       The  statgrab  library  is  organised into components, whereby each component contains interrelated func‐
       tions. Other components are made known to the globals component by filling a sg_comp_init  structure  and
       appending it to the list comp_info in <u>src/libstatgrab/globals.c</u>. See <b><a href="../man3/sg_comp_init.3.html">sg_comp_init</a></b>(3) for details.

       The  error  managing component is a mixed one, partially public (getting error status), partially private
       (modifying error status). The last error is held per thread once error component  initialisation  is  run
       once.

       The  memory management is done by the vector and tools components. The memory management covers optimised
       vector management (creating, resizing, freeing, comparing, ...) and dynamic storage management  (improved
       string management).

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       <b><a href="../man3/libstatgrab.3.html">libstatgrab</a></b>(3) <b><a href="../man3/sg_intro.3.html">sg_intro</a></b>(3) <b><a href="../man3/sg_set_error.3.html">sg_set_error</a></b>(3) <b><a href="../man3/sg_comp_init.3.html">sg_comp_init</a></b>(3) <b><a href="../man3/sg_vector_create.3.html">sg_vector_create</a></b>(3) <b><a href="../man3/sg_update_string.3.html">sg_update_string</a></b>(3)

</pre><h4><b>WEBSITE</b></h4><pre>
       ⟨https://libstatgrab.org/⟩

libstatgrab                                        2019-03-08                               <u><a href="../man3/sg_internal-intro.3.html">sg_internal-intro</a></u>(3)
</pre>
 </div>
</div></section>
</div>
</body>
</html>