<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BackCmd, FrontCmd, GroupCmd, UngroupCmd - commands for modifying components structurally</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/ivtools-dev">ivtools-dev_2.0.11d.a1-3build7_amd64</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       BackCmd, FrontCmd, GroupCmd, UngroupCmd - commands for modifying components structurally

</pre><h4><b>SYNOPSIS</b></h4><pre>
       <b>#include</b> <b>&lt;Unidraw/Commands/struct.h&gt;</b>

</pre><h4><b>DESCRIPTION</b></h4><pre>
       BackCmd,  FrontCmd,  GroupCmd, and UngroupCmd are purely interpretive commands for altering the structure
       of their editor's component.  All redefine their Execute and Unexecute operations  to  let  the  editor's
       component interpret them as it wishes.

</pre><h4><b>BACKCMD</b> <b>PUBLIC</b> <b>OPERATIONS</b></h4><pre>
       <b>BackCmd(ControlInfo*)</b>
       <b>BackCmd(Editor*</b> <b>=</b> <b>nil)</b>
              Construct a new BackCmd.

</pre><h4><b>FRONTCMD</b> <b>PUBLIC</b> <b>OPERATIONS</b></h4><pre>
       <b>FrontCmd(ControlInfo*)</b>
       <b>FrontCmd(Editor*</b> <b>=</b> <b>nil)</b>
              Construct a new FrontCmd.

</pre><h4><b>GROUPCMD</b> <b>PUBLIC</b> <b>OPERATIONS</b></h4><pre>
       <b>GroupCmd(ControlInfo*,</b> <b>GraphicComp*</b> <b>=</b> <b>nil)</b>
       <b>GroupCmd(Editor*</b> <b>=</b> <b>nil,</b> <b>GraphicComp*</b> <b>=</b> <b>nil)</b>
              Create a new GroupCmd, optionally specifying the component into which components will be grouped.

       <b>virtual</b> <b>void</b> <b>Execute()</b>
       <b>virtual</b> <b>void</b> <b>Unexecute()</b>
              Execute  will set the value of the <b>_</b><u>executed</u> protected member variable to <u>true</u> as a side effect if
              anything was grouped.  Similarly, Unexecute will set reset the value to <u>false</u> as a side effect the
              operation was undone.

       <b>GraphicComp*</b> <b>GetGroup()</b>
       <b>void</b> <b>SetGroup(GraphicComp*)</b>
              Get or set the component into which components will be grouped.  SetGroup will <u>not</u> delete the  old
              value.

</pre><h4><b>UNGROUPCMD</b> <b>PUBLIC</b> <b>OPERATIONS</b></h4><pre>
       <b>UngroupCmd(ControlInfo*)</b>
       <b>UngroupCmd(Editor*</b> <b>=</b> <b>nil)</b>
              Construct a new UngroupCmd.

       <b>virtual</b> <b>void</b> <b>Execute()</b>
       <b>virtual</b> <b>void</b> <b>Unexecute()</b>
              Execute  will set the value of the <b>_</b><u>executed</u> protected member variable to <u>true</u> as a side effect if
              anything was ungrouped.  Similarly, Unexecute will set reset the value to <u>false</u> as a  side  effect
              the operation was undone.

       <b>Clipboard*</b> <b>GetKids()</b>
       <b>void</b> <b>SetKids(Clipboard*)</b>
              Explicitly  set  and get a clipboard containing the child components that were ungrouped, which is
              stored in the <b>_</b><u>kids</u> protected member.  UngroupCmd does  not  initialize  this  member;  it  merely
              provides the storage as a convenience to components that interpret the command and need a place to
              store  the  ungrouped  children  to  support  reverse  execution.  However, UngroupCmd deletes the
              clipboard (if it exists) in ~UngroupCmd. SetKids will <u>not</u> delete the old value.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       <a href="../man3U/Command.3U.html">Command</a>(3U), <a href="../man3U/GraphicComp.3U.html">GraphicComp</a>(3U)

Unidraw                                          24 January 1991                                      <u><a href="../man3U/struct.3U.html">struct</a></u>(3U)
</pre>
 </div>
</div></section>
</div>
</body>
</html>