<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>usual - access default option-handling commands</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/tk-itk4-doc">tk-itk4-doc_4.2.5~20240521-1_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       usual - access default option-handling commands
            for a mega-widget component

</pre><h4><b>SYNOPSIS</b></h4><pre>
       <b>usual</b> <b>?</b><u>tag</u>? ?<u>commands</u>?
_________________________________________________________________

</pre><h4><b>DESCRIPTION</b></h4><pre>
       The  <b>usual</b>  command  is used outside of an <b>[incr</b> <b>Tcl]</b> class definition to define the usual set of option-
       handling commands for a component  widget.   Option-handling  commands  are  used  when  a  component  is
       registered  with  the  <b>Archetype</b>  base  class  via  the "<b>itk_component</b> <b>add</b>" method.  They specify how the
       component's configuration options should be integrated into the  composite  option  list  for  the  mega-
       widget.  Options can be kept, renamed, or ignored, as described in the <b>Archetype</b> man page.

       It  is tedious to include the same declarations again and again whenever components are added.  The <b>usual</b>
       command allows a standard code fragment to be registered for each widget class, which is used by  default
       to  handle  the options.  All of the standard Tk widgets have <b>usual</b> declarations defined in the <b>[incr</b> <b>Tk]</b>
       library.  Similar <b>usual</b> declarations should be created whenever a new  mega-widget  class  is  conceived.
       Only the most-generic options should be included in the <b>usual</b> declaration.

       The  <u>tag</u>  name  is  usually  the name of a widget class, which starts with a capital letter; however, any
       string registered here can be used later with the <b>usual</b> command described on the <b>Archetype</b> man page.

       If the <u>commands</u> argument is specified, it is associated with the <u>tag</u> string, and can  be  accessed  later
       via <b>itk_component</b> <b>add</b>.

       If  only  the  <u>tag</u>  argument  is  specified,  this command looks for an existing <u>tag</u> name and returns the
       commands associated with it.  If there are no commands associated with <u>tag</u>, this command returns the null
       string.

       If no arguments are specified, this command returns a list of all <u>tag</u> names previously registered.

</pre><h4><b>EXAMPLE</b></h4><pre>
       Following is the <b>usual</b> declaration for the standard Tk button widget:
              itk::usual Button {
                  keep -background -cursor -foreground -font
                  keep -activebackground -activeforeground -disabledforeground
                  keep -highlightcolor -highlightthickness
                  rename -highlightbackground -background background Background
              }
       Only the options that would be common to all buttons  in  a  single  mega-widget  are  kept  or  renamed.
       Options like "-text" that would be unique to a particular button are ignored.

</pre><h4><b>KEYWORDS</b></h4><pre>
       itk, Archetype, component, mega-widget

itk                                                    3.0                                           <u><a href="../man3itk/usual.3itk.html">usual</a></u>(3itk)
</pre>
 </div>
</div></section>
</div>
</body>
</html>