<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalyst::View::Component::SubInclude::SSI - Server Side Includes (SSI) plugin for</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libcatalyst-view-component-subinclude-perl">libcatalyst-view-component-subinclude-perl_0.10-4_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Catalyst::View::Component::SubInclude::SSI - Server Side Includes (SSI) plugin for
       C::V::Component::SubInclude

</pre><h4><b>VERSION</b></h4><pre>
       Version 0.10

</pre><h4><b>SYNOPSIS</b></h4><pre>
       In your view class:

         package MyApp::View::TT;
         use Moose;

         extends 'Catalyst::View::TT';
         with 'Catalyst::View::Component::SubInclude';

         __PACKAGE__-&gt;config( subinclude_plugin =&gt; 'SSI' );

       Then, somewhere in your templates:

         [% subinclude('/my/widget') %]

</pre><h4><b>DESCRIPTION</b></h4><pre>
       "Catalyst::View::Component::SubInclude::SSI" renders "subinclude" calls as Server Side Includes (SSI)
       include directives. This is a feature implemented by Apache (&lt;<a href="http://httpd.apache.org/">http://httpd.apache.org/</a>&gt;), nginx
       (&lt;<a href="http://wiki.nginx.org/Main">http://wiki.nginx.org/Main</a>&gt;) and many other web servers which allows cache-efficient uses of includes.

</pre><h4><b>METHODS</b></h4><pre>
   <b>"generate_subinclude(</b> <b>$c,</b> <b>$path,</b> <b>@args</b> <b>)"</b>
       Note that $path should be the private action path - translation to the public path is handled internally.
       After translation, this will roughly translate to the following code:

         my $url = $c-&gt;uri_for( $translated_path, @args )-&gt;path_query;
         return '&lt;!--#include virtual="$url" --&gt;';

       Notice that the stash will always be empty. This behavior could be configurable in the future through an
       additional switch - for now, this behavior guarantees a common interface for plugins.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       Catalyst::View::Component::SubInclude,

</pre><h4><b>AUTHOR</b></h4><pre>
       Vladimir Timofeev, "&lt;vovkasm at gmail.com&gt;"

</pre><h4><b>COPYRIGHT</b> <b>&amp;</b> <b>LICENSE</b></h4><pre>
       This program is free software; you can redistribute it and/or modify it under the same terms as Perl
       itself.

perl v5.34.0                                       2022-06-09             <u>Catalyst::View:...SubInclude::<a href="../man3pm/SSI.3pm.html">SSI</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>