<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalyst::View::Component::SubInclude::Visit - visit() plugin for C::V::Component::SubInclude</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libcatalyst-view-component-subinclude-perl">libcatalyst-view-component-subinclude-perl_0.10-4_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Catalyst::View::Component::SubInclude::Visit - visit() plugin for C::V::Component::SubInclude

</pre><h4><b>VERSION</b></h4><pre>
       Version 0.07_03

</pre><h4><b>SYNOPSIS</b></h4><pre>
       In your view class:

         package MyApp::View::TT;
         use Moose;

         extends 'Catalyst::View::TT';
         with 'Catalyst::View::Component::SubInclude';

         __PACKAGE__-&gt;config( subinclude_plugin =&gt; 'Visit' );

       Then, somewhere in your templates:

         [% subinclude('/my/widget') %]

</pre><h4><b>DESCRIPTION</b></h4><pre>
       "Catalyst::View::Component::SubInclude::Visit" uses "$c-&gt;visit()" to render subinclude contents.

       This method is only supported when using Catalyst version 5.71000 or newer.

       <b>WARNING:</b> <b>As</b> <b>of</b> <b>Catalyst</b> <b>version</b> <b>5.71000,</b> <b>this</b> <b>plugin</b> <b>doesn't</b> <b>work</b> <b>for</b> <b>chained</b> <b>actions</b> <b>with</b> <b>captured</b>
       <b>arguments</b>. Apparently, "visit" doesn't handle this type of actions yet.

</pre><h4><b>METHODS</b></h4><pre>
   <b>"generate_subinclude(</b> <b>$c,</b> <b>$path,</b> <b>@args</b> <b>)"</b>
       This is (roughly) equivalent to the following call:

         $c-&gt;visit( $path, @args );

       But it will handle all the nasty details such as localizing the stash, parameters and response body. This
       is necessary to keep behavior consistent with the other plugins.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       Catalyst::View::Component::SubInclude, Catalyst

</pre><h4><b>AUTHOR</b></h4><pre>
       Nilson Santos Figueiredo Junior, "&lt;nilsonsfj at cpan.org&gt;"

</pre><h4><b>SPONSORSHIP</b></h4><pre>
       Development sponsored by Ionzero LLC &lt;<a href="http://www.ionzero.com/">http://www.ionzero.com/</a>&gt;.

</pre><h4><b>COPYRIGHT</b> <b>&amp;</b> <b>LICENSE</b></h4><pre>
       Copyright (C) 2009 Nilson Santos Figueiredo Junior.

       Copyright (C) 2009 Ionzero LLC.

       This program is free software; you can redistribute it and/or modify it under the same terms as Perl
       itself.

perl v5.34.0                                       2022-06-09             <u>Catalyst::View:...bInclude::<a href="../man3pm/Visit.3pm.html">Visit</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>