<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalyst::View::Component::SubInclude::ESI - Edge Side Includes (ESI) plugin for</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libcatalyst-view-component-subinclude-perl">libcatalyst-view-component-subinclude-perl_0.10-4_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Catalyst::View::Component::SubInclude::ESI - Edge Side Includes (ESI) plugin for
       C::V::Component::SubInclude

</pre><h4><b>VERSION</b></h4><pre>
       Version 0.07_03

</pre><h4><b>SYNOPSIS</b></h4><pre>
       In your view class:

         package MyApp::View::TT;
         use Moose;

         extends 'Catalyst::View::TT';
         with 'Catalyst::View::Component::SubInclude';

         __PACKAGE__-&gt;config( subinclude_plugin =&gt; 'ESI' );

       Then, somewhere in your templates:

         [% subinclude('/my/widget') %]

</pre><h4><b>DESCRIPTION</b></h4><pre>
       "Catalyst::View::Component::SubInclude::ESI" renders "subinclude" calls as Edge Side Includes (ESI)
       include directives. This is a feature implemented by Varnish (&lt;<a href="http://varnish.projects.linpro.no/">http://varnish.projects.linpro.no/</a>&gt;) which
       allows cache-efficient uses of includes.

</pre><h4><b>METHODS</b></h4><pre>
   <b>"generate_subinclude(</b> <b>$c,</b> <b>$path,</b> <b>@args</b> <b>)"</b>
       Note that $path should be the private action path - translation to the public path is handled internally.
       After translation, this will roughly translate to the following code:

         my $url = $c-&gt;uri_for( $translated_path, @args )-&gt;path_query;
         return '&lt;!--esi &lt;esi:include src="$url" /&gt; --&gt;';

       Notice that the stash will always be empty. This behavior could be configurable in the future through an
       additional switch - for now, this behavior guarantees a common interface for plugins.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       Catalyst::View::Component::SubInclude, &lt;<a href="http://www.catalystframework.org/calendar/2008/17">http://www.catalystframework.org/calendar/2008/17</a>&gt;,
       &lt;<a href="http://varnish.projects.linpro.no/">http://varnish.projects.linpro.no/</a>&gt;

</pre><h4><b>AUTHOR</b></h4><pre>
       Nilson Santos Figueiredo Junior, "&lt;nilsonsfj at cpan.org&gt;"

</pre><h4><b>SPONSORSHIP</b></h4><pre>
       Development sponsored by Ionzero LLC &lt;<a href="http://www.ionzero.com/">http://www.ionzero.com/</a>&gt;.

</pre><h4><b>COPYRIGHT</b> <b>&amp;</b> <b>LICENSE</b></h4><pre>
       Copyright (C) 2009 Nilson Santos Figueiredo Junior.

       Copyright (C) 2009 Ionzero LLC.

       This program is free software; you can redistribute it and/or modify it under the same terms as Perl
       itself.

perl v5.34.0                                       2022-06-09             <u>Catalyst::View:...SubInclude::<a href="../man3pm/ESI.3pm.html">ESI</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>