<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CiderWebmail::View::RFC822 - Catalyst View for sending e-Mail</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/ciderwebmail">ciderwebmail_1.05+20240702-1_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       CiderWebmail::View::RFC822 - Catalyst View for sending e-Mail

</pre><h4><b>DESCRIPTION</b></h4><pre>
       This Catalyst View sends out a Message as specified on the stash in the email key.

</pre><h4><b>AUTHOR</b></h4><pre>
       Mathias Reitinger &lt;<a href="mailto:mathias.reitinger@loop0.org">mathias.reitinger@loop0.org</a>&gt;

</pre><h4><b>LICENSE</b></h4><pre>
       This library is free software. You can redistribute it and/or modify it under the same terms as Perl
       itself.

perl v5.40.1                                       2025-03-02                    <u>CiderWebmail::View::<a href="../man3pm/RFC822.3pm.html">RFC822</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>