<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ComponentView - base class for views of objects that model domain-specific elements</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/ivtools-dev">ivtools-dev_2.0.11d.a1-3build7_amd64</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       ComponentView - base class for views of objects that model domain-specific elements

</pre><h4><b>SYNOPSIS</b></h4><pre>
       <b>#include</b> <b>&lt;Unidraw/Components/compview.h&gt;</b>

</pre><h4><b>DESCRIPTION</b></h4><pre>
       ComponentView  is  an  abstract  base  class  for views of component subjects.  Component views provide a
       specialized presentation of the information in the component subject to which they are attached.  Usually
       there is at least one view subclass defined for each subclass of component subject.

</pre><h4><b>PUBLIC</b> <b>OPERATIONS</b></h4><pre>
       <b>virtual</b> <b>void</b> <b>Interpret(Command*)</b>
       <b>virtual</b> <b>void</b> <b>Uninterpret(Command*)</b>
              These operations call the corresponding subject operations by default.  They are included  in  the
              component  view  protocol  for  convenience,  since  other objects often deal with component views
              rather than their subjects.

       <b>virtual</b> <b>void</b> <b>Update()</b>
              Notify the view of a change in some state that it depends on, normally state in the subject.  This
              operation does nothing by default.

       <b>virtual</b> <b>Component*</b> <b>GetParent()</b>
              Return the view's parent, if any.  Like component subjects,  component  views  may  be  structured
              hierarchically, and their structure may or may not reflect that of their subject.

       <b>Component*</b> <b>GetSubject()</b>
              Return the component view's subject.

       <b>virtual</b> <b>void</b> <b>First(Iterator&amp;)</b>
       <b>virtual</b> <b>void</b> <b>Last(Iterator&amp;)</b>
       <b>virtual</b> <b>void</b> <b>Next(Iterator&amp;)</b>
       <b>virtual</b> <b>void</b> <b>Prev(Iterator&amp;)</b>
       <b>virtual</b> <b>boolean</b> <b>Done(Iterator)</b>
              Operations for iterating over the component view's children, if any.  First and Last initialize an
              iterator to point to the beginning and end of the list of children, respectively.  Next increments
              the  iterator  to point to the following child, while Prev decrements the iterator to point to the
              preceding child.  Done returns whether or not the iterator points beyond the first or  last  child
              in the list.

       <b>virtual</b> <b>ClassId</b> <b>GetClassId()</b>
       <b>virtual</b> <b>boolean</b> <b>IsA(ClassId)</b>
              GetClassId  returns  the unique class identifier for the ComponentView subclass, while IsA returns
              whether the instance is of a class  or  subclass  corresponding  to  the  given  identifier.   IsA
              typically  checks  the  given  identifier against the instance's own (as defined by its GetClassId
              operation) and, failing that, calls its  parent  classes'  IsA  operation.   All  subclasses  must
              redefine  GetClassId  and  IsA  to ensure that their identifiers are unique and that view category
              information is defined properly.  See <a href="../man3U/classes.3U.html">classes</a>(3U) for more information on  class  identifiers  and
              view categories.

</pre><h4><b>PROTECTED</b> <b>OPERATIONS</b></h4><pre>
       <b>ComponentView(Component*</b> <b>subject</b> <b>=</b> <b>nil)</b>
              The  constructor  initializes  the  component view's subject pointer to the given value.  The view
              will also attach itself to the subject if the argument is non-nil.

       <b>virtual</b> <b>void</b> <b>SetSubject(Component*)</b>
              Set the component's subject pointer to the given value.  By default, this operation does not  call
              Attach or Detach on the subject(s).

       <b>virtual</b> <b>void</b> <b>SetParent(Component*</b> <b>child,</b> <b>Component*</b> <b>parent)</b>
              Notify  a  child  component that it has a new or different parent.  This operation does nothing by
              default.  Composite components should call this function in their structure-modifying  operations,
              and  components  that  keep  information  about  their  parents  should redefine it to update this
              information.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       <a href="../man3U/Command.3U.html">Command</a>(3U), <a href="../man3U/Component.3U.html">Component</a>(3U), <a href="../man3U/Iterator.3U.html">Iterator</a>(3U), <a href="../man3U/classes.3U.html">classes</a>(3U)

Unidraw                                          20 August 1990                                <u><a href="../man3U/ComponentView.3U.html">ComponentView</a></u>(3U)
</pre>
 </div>
</div></section>
</div>
</body>
</html>