<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SQL::Translator::Schema::View - SQL::Translator view object</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libsql-translator-perl">libsql-translator-perl_1.66-1_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       SQL::Translator::Schema::View - SQL::Translator view object

</pre><h4><b>SYNOPSIS</b></h4><pre>
         use SQL::Translator::Schema::View;
         my $view   = SQL::Translator::Schema::View-&gt;new(
             name   =&gt; 'foo',                      # name, required
             sql    =&gt; 'select id, name from foo', # SQL for view
             fields =&gt; 'id, name',                 # field names in view
         );

</pre><h4><b>DESCRIPTION</b></h4><pre>
       "SQL::Translator::Schema::View" is the view object.

</pre><h4><b>METHODS</b></h4><pre>
   <b>new</b>
       Object constructor.

         my $view = SQL::Translator::Schema::View-&gt;new;

   <b>fields</b>
       Gets and set the fields the constraint is on.  Accepts a string, list or arrayref; returns an array or
       array reference.  Will unique the field names and keep them in order by the first occurrence of a field
       name.

         $view-&gt;fields('id');
         $view-&gt;fields('id', 'name');
         $view-&gt;fields( 'id, name' );
         $view-&gt;fields( [ 'id', 'name' ] );
         $view-&gt;fields( qw[ id name ] );

         my @fields = $view-&gt;fields;

   <b>tables</b>
       Gets and set the tables the SELECT mentions.  Accepts a string, list or arrayref; returns an array or
       array reference.  Will unique the table names and keep them in order by the first occurrence of a field
       name.

         $view-&gt;tables('foo');
         $view-&gt;tables('foo', 'bar');
         $view-&gt;tables( 'foo, bar' );
         $view-&gt;tables( [ 'foo', 'bar' ] );
         $view-&gt;tables( qw[ foo bar ] );

         my @tables = $view-&gt;tables;

   <b>options</b>
       Gets or appends a list of options on the view.

         $view-&gt;options('ALGORITHM=UNDEFINED');

         my @options = $view-&gt;options;

   <b>is_valid</b>
       Determine whether the view is valid or not.

         my $ok = $view-&gt;is_valid;

   <b>name</b>
       Get or set the view's name.

         my $name = $view-&gt;name('foo');

   <b>order</b>
       Get or set the view's order.

         my $order = $view-&gt;<a href="../man3/order.3.html">order</a>(3);

   <b>sql</b>
       Get or set the view's SQL.

         my $sql = $view-&gt;sql('select * from foo');

   <b>schema</b>
       Get or set the view's schema object.

         $view-&gt;schema( $schema );
         my $schema = $view-&gt;schema;

   <b>equals</b>
       Determines if this view is the same as another

         my $isIdentical = $view1-&gt;equals( $view2 );

</pre><h4><b>AUTHOR</b></h4><pre>
       Ken Youens-Clark &lt;<a href="mailto:kclark@cpan.org">kclark@cpan.org</a>&gt;.

perl v5.40.0                                       2024-11-23                 <u>SQL::Translator::Schema::<a href="../man3pm/View.3pm.html">View</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>