<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template::Plugin::View - Plugin to create views (Template::View)</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libtemplate-perl">libtemplate-perl_2.27-1build11_amd64</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Template::Plugin::View - Plugin to create views (Template::View)

</pre><h4><b>SYNOPSIS</b></h4><pre>
           [% USE view(
                   prefix = 'splash/'          # template prefix/suffix
                   suffix = '.tt2'
                   bgcol  = '#ffffff'          # and any other variables you
                   style  = 'Fancy HTML'       # care to define as view metadata,
                   items  = [ foo, bar.baz ]   # including complex data and
                   foo    = bar ? baz : x.y.z  # expressions
           %]

           [% view.title %]                    # access view metadata

           [% view.header(title = 'Foo!') %]   # view "methods" process blocks or
           [% view.footer %]                   # templates with prefix/suffix added

</pre><h4><b>DESCRIPTION</b></h4><pre>
       This plugin module creates Template::View objects.  Views are an experimental feature and are subject to
       change in the near future.  In the mean time, please consult Template::View for further info.

</pre><h4><b>AUTHOR</b></h4><pre>
       Andy Wardley &lt;<a href="mailto:abw@wardley.org">abw@wardley.org</a>&gt; &lt;<a href="http://wardley.org/">http://wardley.org/</a>&gt;

</pre><h4><b>COPYRIGHT</b></h4><pre>
       Copyright (C) 1996-2007 Andy Wardley.  All Rights Reserved.

       This module is free software; you can redistribute it and/or modify it under the same terms as Perl
       itself.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       Template::Plugin, Template::View, Template::Manual::Views

perl v5.40.0                                       2024-10-20                        <u>Template::Plugin::<a href="../man3pm/View.3pm.html">View</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>