<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template::View - customised view of a template processing context</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libtemplate-perl">libtemplate-perl_2.27-1build11_amd64</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       Template::View - customised view of a template processing context

</pre><h4><b>SYNOPSIS</b></h4><pre>
           # define a view
           [% VIEW view
                   # some standard args
                   prefix        =&gt; 'my_',
                   suffix        =&gt; '.tt2',
                   notfound      =&gt; 'no_such_file'
                   ...

                   # any other data
                   title         =&gt; 'My View title'
                   other_item    =&gt; 'Joe Random Data'
                   ...
           %]
              # add new data definitions, via 'my' self reference
              [% my.author = "$abw.name &lt;$abw.email&gt;" %]
              [% my.copy   = "&amp;copy; Copyright 2000 $my.author" %]

              # define a local block
              [% BLOCK header %]
              This is the header block, title: [% title or my.title %]
              [% END %]

           [% END %]

           # access data items for view
           [% view.title %]
           [% view.other_item %]

           # access blocks directly ('include_naked' option, set by default)
           [% view.header %]
           [% view.header(title =&gt; 'New Title') %]

           # non-local templates have prefix/suffix attached
           [% view.footer %]           # =&gt; [% INCLUDE my_footer.tt2 %]

           # more verbose form of block access
           [% view.include( 'header', title =&gt; 'The Header Title' ) %]
           [% view.include_header( title =&gt; 'The Header Title' ) %]

           # very short form of above ('include_naked' option, set by default)
           [% view.header( title =&gt; 'The Header Title' ) %]

           # non-local templates have prefix/suffix attached
           [% view.footer %]           # =&gt; [% INCLUDE my_footer.tt2 %]

           # fallback on the 'notfound' template ('my_no_such_file.tt2')
           # if template not found
           [% view.include('missing') %]
           [% view.include_missing %]
           [% view.missing %]

           # print() includes a template relevant to argument type
           [% view.print("some text") %]     # type=TEXT, template='text'

           [% BLOCK my_text.tt2 %]           # 'text' with prefix/suffix
              Text: [% item %]
           [% END %]

           # now print() a hash ref, mapped to 'hash' template
           [% view.print(some_hash_ref) %]   # type=HASH, template='hash'

           [% BLOCK my_hash.tt2 %]           # 'hash' with prefix/suffix
              hash keys: [% item.keys.sort.join(', ')
           [% END %]

           # now print() a list ref, mapped to 'list' template
           [% <a href="../manmy_list_ref/view.print.my_list_ref.html">view.print</a>(my_list_ref) %]     # type=ARRAY, template='list'

           [% BLOCK my_list.tt2 %]           # 'list' with prefix/suffix
              list: [% item.join(', ') %]
           [% END %]

           # print() maps 'My::Object' to 'My_Object'
           [% <a href="../manmyobj/view.print.myobj.html">view.print</a>(myobj) %]

           [% BLOCK my_My_Object.tt2 %]
              [% item.this %], [% item.that %]
           [% END %]

           # update mapping table
           [% view.map.ARRAY = 'my_list_template' %]
           [% view.map.TEXT  = 'my_text_block'    %]

           # change prefix, suffix, item name, etc.
           [% view.prefix = 'your_' %]
           [% view.default = 'anyobj' %]
           ...

</pre><h4><b>DESCRIPTION</b></h4><pre>
       TODO

</pre><h4><b>METHODS</b></h4><pre>
   <b>new($context,</b> <b>\%config)</b>
       Creates a new Template::View presenting a custom view of the specified $context object.

       A reference to a hash array of configuration options may be passed as the second argument.

       prefix
           Prefix added to all template names.

               [% USE view(prefix =&gt; 'my_') %]
               [% view.view('foo', a =&gt; 20) %]     # =&gt; my_foo

       suffix
           Suffix added to all template names.

               [% USE view(suffix =&gt; '.tt2') %]
               [% view.view('foo', a =&gt; 20) %]     # =&gt; foo.tt2

       map Hash  array  mapping  reference  types  to template names.  The <b>print()</b> method uses this to determine
           which template to use to present any particular item.  The TEXT, HASH  and  ARRAY  items  default  to
           'test', 'hash' and 'list' appropriately.

               [% USE view(map =&gt; { ARRAY   =&gt; 'my_list',
                                    HASH    =&gt; 'your_hash',
                                    My::Foo =&gt; 'my_foo', } ) %]

               [% view.print(some_text) %]         # =&gt; text
               [% view.print(a_list) %]            # =&gt; my_list
               [% view.print(a_hash) %]            # =&gt; your_hash
               [% view.print(a_foo) %]             # =&gt; my_foo

               [% BLOCK text %]
                  Text: [% item %]
               [% END %]

               [% BLOCK my_list %]
                  list: [% item.join(', ') %]
               [% END %]

               [% BLOCK your_hash %]
                  hash keys: [% item.keys.sort.join(', ')
               [% END %]

               [% BLOCK my_foo %]
                  Foo: [% item.this %], [% item.that %]
               [% END %]

       method
           Name  of  a method which objects passed to <b>print()</b> may provide for presenting themselves to the view.
           If a specific map entry can't be found for an object reference and it supports the  method  (default:
           'present') then the method will be called, passing the view as an argument.  The object can then make
           callbacks against the view to present itself.

               package Foo;

               sub present {
                   my ($self, $view) = @_;
                   return "a regular view of a Foo\n";
               }

               sub debug {
                   my ($self, $view) = @_;
                   return "a debug view of a Foo\n";
               }

           In a template:

               [% USE view %]
               [% <a href="../manmy_foo_object/view.print.my_foo_object.html">view.print</a>(my_foo_object) %]     # a regular view of a Foo

               [% USE view(method =&gt; 'debug') %]
               [% <a href="../manmy_foo_object/view.print.my_foo_object.html">view.print</a>(my_foo_object) %]     # a debug view of a Foo

       default
           Default template to use if no specific map entry is found for an item.

               [% USE view(default =&gt; 'my_object') %]

               [% view.print(objref) %]            # =&gt; my_object

           If  no  map entry or default is provided then the view will attempt to construct a template name from
           the object class, substituting any sequence of non-word characters to single underscores, e.g.

               # 'fubar' is an object of class Foo::Bar
               [% view.print(fubar) %]             # =&gt; Foo_Bar

           Any current prefix and suffix will  be  added  to  both  the  default  template  name  and  any  name
           constructed from the object class.

       notfound
           Fallback template to use if any other isn't found.

       item
           Name  of  the  template  variable  to which the <b>print()</b> method assigns the current item.  Defaults to
           'item'.

               [% USE view %]
               [% BLOCK list %]
                  [% item.join(', ') %]
               [% END %]
               [% view.print(a_list) %]

               [% USE view(item =&gt; 'thing') %]
               [% BLOCK list %]
                  [% thing.join(', ') %]
               [% END %]
               [% view.print(a_list) %]

       view_prefix
           Prefix of methods which should be mapped to <b>view()</b> by AUTOLOAD.  Defaults to 'view_'.

               [% USE view %]
               [% view.view_header() %]                    # =&gt; view('header')

               [% USE view(view_prefix =&gt; 'show_me_the_' %]
               [% view.show_me_the_header() %]             # =&gt; view('header')

       view_naked
           Flag to indicate if any attempt should be made to map method names to template names where they don't
           match the view_prefix.  Defaults to 0.

               [% USE view(view_naked =&gt; 1) %]

               [% view.header() %]                 # =&gt; view('header')

   <b>print(</b> <b>$obj1,</b> <b>$obj2,</b> <b>...</b> <b>\%config)</b>
       TODO

   <b>view(</b> <b>$template,</b> <b>\%vars,</b> <b>\%config</b> <b>);</b>
       TODO

</pre><h4><b>AUTHOR</b></h4><pre>
       Andy Wardley &lt;<a href="mailto:abw@wardley.org">abw@wardley.org</a>&gt; &lt;<a href="http://wardley.org/">http://wardley.org/</a>&gt;

</pre><h4><b>COPYRIGHT</b></h4><pre>
       Copyright (C) 2000-2007 Andy Wardley.  All Rights Reserved.

       This module is free software; you can redistribute it and/or modify it  under  the  same  terms  as  Perl
       itself.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       Template::Plugin

perl v5.40.0                                       2024-10-20                                <u>Template::<a href="../man3pm/View.3pm.html">View</a></u>(3pm)
</pre>
 </div>
</div></section>
</div>
</body>
</html>