body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: var(--vscode-editor-background);
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}

/* Loader Styles */
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--vscode-editor-background);
    z-index: 1000;
    transition: opacity 0.3s ease-out;
}

.ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.ripple div {
    position: absolute;
    border: 4px solid var(--vscode-textLink-activeForeground);
    opacity: 1;
    border-radius: 50%;
    animation: ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

.loading-text {
    margin-top: 16px;
    font-family: var(--vscode-font-family);
    color: var(--vscode-foreground);
    font-size: 14px;
    opacity: 0.8;
    letter-spacing: 0.5px;
}