package common

templ CreditsButton(href string) {
	<a
		href={ templ.SafeURL(href) }
		class="inline-flex items-center px-4 py-2 text-sm font-medium dark:text-slate-600 text-slate-300 dark:bg-slate-50 bg-slate-800 rounded-lg dark:hover:bg-slate-100 hover:bg-slate-700 transition-colors"
	>
		🙏 &nbsp;Credits &amp; Acknowledgments
	</a>
}
