package common

templ PaginationScript() {
	<script>
		// Scroll to pagination info only if hash is present in URL
		if (window.location.hash === '#pagination-info') {
			const paginationInfo = document.getElementById('pagination-info');
			if (paginationInfo) {
				paginationInfo.scrollIntoView({ behavior: 'smooth', block: 'start' });
			}
		}
	</script>
}
