package common

templ PaginationScript() {
	<script>
		// Scroll to pagination info only if hash is present in URL (instant scroll to avoid CLS)
		if (window.location.hash === '#pagination-info') {
			const paginationInfo = document.getElementById('pagination-info');
			if (paginationInfo) {
				requestAnimationFrame(function() {
					paginationInfo.scrollIntoView({ behavior: 'auto', block: 'start' });
				});
			}
		}
	</script>
}
