<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>poundctl.tmpl - templates for poundctl.</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/pound">pound_4.16-3_amd64</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       poundctl.tmpl - templates for poundctl.

</pre><h4><b>DESCRIPTION</b></h4><pre>
       The  syntax  of  <b>poundctl</b>  templates is modelled after and mostly conforming to the specifications of the
       golang template module (https://pkg.go.dev/text/template).

       Templates are executed by applying them to a JSON object.  Annotations in a template refer to  attributes
       of  the  object  to control execution and derive values to be displayed.  Execution of the template walks
       the structure and sets the cursor, represented by a period (called <u>dot</u>), to  the  value  at  the  current
       location in the object as execution proceeds.

       The  input  text  for  a  template  is as ASCII text is arbitrary format.  <u>Actions</u> -- data evaluations or
       control structures -- are delimited by <b>{{</b> and <b>}}</b>; all text  outside  actions  is  copied  to  the  output
       verbatim.

       To aid in formatting template source code, if <b>{{</b> is followed immediately by a minus sign and white space,
       all trailing white space is trimmed from the immediately preceding text.  Similarly, if <b>}}</b> is preceded by
       white  space  and  a  minus sign, all leading white space is trimmed from the immediately following text.
       Notice that the presence of the whitespace in these trim  markers  is  mandatory:  "{{-  3}}"  trims  the
       immediately preceding text and outputs "3", while "{{-3}}" parses as an action containing the number -3.

   <b>Actions</b>
       Here  is  the list of actions.  <u>Arguments</u> and <u>pipelines</u> are evaluations of data, defined in detail in the
       corresponding sections that follow.

       <b>{{</b> <b>}}</b>  Empty action is discarded.  It may be useful to trim the preceding or following whitespace, as  in
              <b>{{-</b> <b>-}}</b> <b>.</b>

       <b>{{/*</b> <b>a</b> <b>comment</b> <b>*/}}</b>
              Comments  are  discarded.   They  may  span multiple lines of text.  Comments do not nest and must
              start immediately after the opening delimiter (with optional dash and whitespace in  between).   A
              comment may be followed by any action described below.

              Comments may be used to control trailing and leading whitespace as well:

              <b>{{-</b> <b>a</b> <b>comment</b> <b>trimming</b> <b>the</b> <b>surrounding</b> <b>whitespace</b> <b>-}}</b>

       <b>{{</b><u>pipeline</u><b>}}</b>
              <u>Pipeline</u>  is  evaluated,  and  the  default  textual  representation of its value is copied to the
              output.

       <b>{{if</b> <u>pipeline</u><b>}}</b> <u>T1</u> <b>{{end}}</b>
              If the value of the <u>pipeline</u> is empty, no output is generated; otherwise,  <u>T1</u>  is  executed.   The
              empty  values are <b>null</b>, <b>false</b>, numeric <b>0</b>, empty string (<b>""</b>), array (<b>[]</b>), or object (<b>{}</b>).    Dot is
              unaffected.

       <b>{{if</b> <u>pipeline</u><b>}}</b> <u>T1</u> <b>{{else}}</b> <u>T0</u> <b>{{end}}</b>
              If the value of the pipeline is  empty,  <u>T0</u>  is  executed;  otherwise,  <u>T1</u>  is  executed.  Dot  is
              unaffected.

       <b>{{if</b> <u>pipeline</u><b>}}</b> <u>T1</u> <b>{{else</b> <b>if</b> <u>pipeline</u><b>}}</b> <u>T2</u> <b>{{else}}</b> <u>T0</u> <b>{{end}}</b>
              A   shortcut  to  simplify  writing  the  if-else  chains.   Equivalent  to  (newlines  added  for
              readability):

              {{if pipeline }}
                T1
              {{else -}}
               {{if pipeline }}
                 T2
               {{else}}
                 T0
               {{end}}
              {{end}}

       <b>{{range</b> <u>pipeline</u><b>}}</b> <u>T1</u> <b>{{end}}</b>
              The value of <u>pipeline</u> must be an object or array.  If it is of length  zero,  nothing  is  output.
              Otherwise,  dot  is set to the successive elements of the array or object and <u>T1</u> is executed.  For
              objects, the elements will be  visited in sorted key order.

       <b>{{range</b> <u>pipeline</u><b>}}</b> <u>T1</u> <b>{{else}}</b> <u>T0</u> <b>{{end}}</b>
              Same as above, except that if the value of the <u>pipeline</u> is of length zero, <u>T0</u> is executed with dot
              unaffected.

              Within the <b>{{range}}</b> action, the following two keywords may appear:

       <b>{{break}}</b>
              The innermost <b>{{range</b> <u>pipeline</u><b>}}</b> loop is ended early, stopping the current iteration and bypassing
              all remaining iterations.

       <b>{{continue}}</b>
              The current iteration of the innermost <b>{{range</b> <u>pipeline</u><b>}}</b> loop is stopped, and the loop starts the
              next iteration.

       <b>{{define</b> <b>"</b><u>name</u><b>"}}</b> <u>text</u> <b>{{end}}</b>
              The <u>text</u> is collected and stored for the further use as template with the given <u>name</u>.  It  can  be
              invoked using the <b>{{template}}</b> action (see below).

       <b>{{template</b> <b>"</b><u>name</u><b>"}}</b>
              The template with the specified <u>name</u> (see the <b>{{define}}</b> <b>above)</b> <b>is</b> <b>executed</b> <b>with</b> <b>dot</b> <b>set</b> <b>to</b> <b>null</b>.

       <b>{{template</b> <b>"</b><u>name</u><b>"</b> <u>value</u><b>}}</b>
              The template with the specified <u>name</u> (see the <b>{{define}}</b> <b>above)</b> <b>is</b> <b>executed</b> <b>with</b> <b>dot</b> <b>set</b> <b>to</b> <u>value</u>.

       <b>{{block</b> <b>"</b><u>name</u><b>"</b> <u>pipeline</u><b>}}</b> <u>T1</u> <b>{{end}}</b>
              A block is shorthand for defining a template

              {{define "name"}} T1 {{end}}

              and then executing it in place

              {{template "name" pipeline}}

       <b>{{with</b> <u>pipeline</u><b>}}</b> <u>T1</u> <b>{{end}}</b>
              If  the value of the <u>pipeline</u> is empty, no output is generated; otherwise, dot is set to the value
              of the <u>pipeline</u> and <u>T1</u> is executed.

       <b>{{with</b> <u>pipeline</u><b>}}</b> <u>T1</u> <b>{{else}}</b> <u>T0</u> <b>{{end}}</b>
              Same as above, but if the value of the <u>pipeline</u> is empty, <u>T0</u> is executed with dot unchanged.

   <b>Arguments</b>
       An <u>argument</u> is a simple value, i.e. any of the following:

       Numeric value (integer or floating point)

       Boolean value: <b>true</b> or <b>false</b>.

       Quoted string.

       A dot (<b>.</b>)
              This represents the cursor value.

       Attribute: <b>.</b><u>Attr</u>
              This is the value of the attribute <u>Attr</u> in the current value (dot).

              Attribute references can be nested, as in <b>.</b><u>Attr</u><b>.</b><u>Xattr</u><b>.</b><u>Yattr</u>.

       A variable reference: <b>$</b><u>var</u>.
              Here, <u>var</u> is the name of the variable defined in the <b>range</b> action.  See the subsection  <b>Variables</b>,
              below.

       Function call in parentheses, for grouping.

   <b>Pipelines</b>
       A  <u>pipeline</u>  is  a  series of one or more <u>commands</u> delimited by pipe sign (<b>|</b>).  Each <u>command</u> is either an
       argument or a <u>function</u> <u>call</u>, in form:

       func arg1 arg2...

       where <u>func</u> is the name of one of the built-in functions discussed below.

       Pipelines are executed from left to right, with the result of the previous command  implicitly  added  to
       the list of arguments of each subsequent command.  For example, the pipeline

       .attr | eq $x

       is equivalent to

       eq $x .attr

       i.e. it calls the built-in function <b>eq</b> with two arguments: the value of the variable <b>x</b> and attribute <b>attr</b>
       of the cursor value.

       The following built-in functions are defined:

       <b>and</b> <u>A1</u> <u>A2</u>
              Evaluates  to <u>true</u> if pipelines <u>A1</u> and <u>A2</u> both evaluate to <u>true</u>.  Notice, that there is no boolean
              shortcut evaluation: both pipelines are evaluated prior to calling <b>and</b>.

       <b>or</b> <u>A1</u> <u>A2</u>
              Evaluates to <u>true</u> if at least one of the pipelines <u>A1</u> and <u>A2</u>  evaluates  to  <u>true</u>.   Notice,  that
              there is no boolean shortcut evaluation: both pipelines are evaluated prior to calling <b>or</b>.

       <b>index</b> <u>A1</u> <u>A2...</u>
              Returns  the  result  of indexing its first argument by the following arguments.  Thus, if <b>.</b> is an
              array, then:

              index . 5

              evaluates to its fifth element (<b>.[5]</b>).

       <b>len</b> <u>A1</u> Returns the integer length of its argument.

       <b>not</b> <u>A1</u> Returns <u>true</u> if its argument evaluates to <u>false</u>.

       <b>eq</b> <u>A1</u> <u>A2</u>
              Returns <u>true</u> if both its arguments are equal.  This applies only if both <u>A1</u> and <u>A2</u> are numeric  or
              if they both are strings.

       <b>ne</b> <u>A1</u> <u>A2</u>
              Returns <u>true</u> if its arguments (both must be numeric or strings) are not equal.

       <b>lt</b> <u>A1</u> <u>A2</u>
              Returns <u>true</u> if <u>A1</u> is numerically less than <u>A2</u>.

       <b>le</b> <u>A1</u> <u>A2</u>
              Returns <u>true</u> if <u>A1</u> is numerically less than or equal to <u>A2</u>.

       <b>gt</b> <u>A1</u> <u>A2</u>
              Returns <u>true</u> if <u>A1</u> is numerically greater than <u>A2</u>.

       <b>ge</b> <u>A1</u> <u>A2</u>
              Returns <u>true</u> if <u>A1</u> is numerically greater than or equal to <u>A2</u>.

       <b>even</b> <u>A1</u>
              Returns <u>true</u> if <b>A1</b>, which must evaluate to an integer value, is divisible by 2.

       <b>printf</b> <u>FMT</u> <u>A1</u>...
              Implements  the  <b><a href="../man3/printf.3.html">printf</a></b>(3)  function.   <u>FMT</u>  must  evaluate  to  a  string.   Rest of arguments is
              interpreted according to the conversion specifications in <u>FMT</u>.  The result is a formatted string.

              In addition to the standard conversion specifications described in <b><a href="../man3/printf.3.html">printf</a></b>(3), the  "%v"  specifier
              is implemented: it formats its argument in the best way, depending on its actual type.

       <b>typeof</b> <u>A1</u>
              Evaluates to the type of its argument, one of: <b>null</b>, <b>bool</b>, <b>number</b>, <b>integer</b>, <b>string</b>, <b>array</b>, <b>object</b>.

       <b>exists</b> <u>A1</u> <u>A2</u>
              <b>A1</b>  must  evaluate to an object and <b>A2</b> to string.  The function evaluates to <b>true</b> if the attribute
              <u>A2</u> is present in <u>A1</u>.

       <b>add</b> <u>A1</u> <u>A2</u>...
              Returns the sum of its arguments.

       <b>sub</b> <u>A1</u> <u>A2</u>
              Returns the difference <u>A1</u> - <u>A2</u>.

       <b>mul</b> <u>A1</u> <u>A2</u>
              Multiplies <u>A1</u> by <u>A2</u>.

       <b>div</b> <u>A1</u> <u>A2</u>
              Divides <u>A1</u> by <u>A2</u>.

   <b>Variables</b>
       Variables (referred to as <b>$</b><u>name</u>) can be defined in <b>range</b> and <b>with</b> actions.  For <b>range</b>, the syntax is:

       <b>{{range</b> <u>$index</u><b>,</b> <u>$element</u> <b>=</b> <u>pipeline</u><b>}}</b> <u>T1</u> <b>{{end}}</b>

       where <u>index</u> and <u>element</u> are arbitrary variable names.  When executing this action, during each  iteration
       <u>$index</u>  and  <u>$element</u>  are  set  to the index (attribute name) and value of each successive element.  Dot
       remains unaffected.

       For <b>with</b>, the syntax is:

       <b>{{with</b> <u>$var</u> <b>=</b> <u>pipeline</u><b>}}</b> <u>T1</u> <b>{{end}}</b>

       <u>Pipeline</u> is evaluated, its result is assigned to <u>$var</u> and the <u>T1</u> block is executed with dot unchanged.

       A variable's scope extends to the <b>end</b> action of the control structure (<b>with</b> or  <b>range</b>)  in  which  it  is
       declared.  This includes any nested statements that may appear in between.

</pre><h4><b>INPUT</b> <b>OBJECT</b></h4><pre>
       Depending  on  the  request issued by <b>poundctl</b>, the invoked template can receive as its argument (<u>dot</u>) an
       object of the following types: full listing, listener, service, or backend.

       Since there is no explicit indication of the object type being passed, templates normally use  heuristics
       based  on  the  presence  or  absence  of  certain  attribute to deduce the object type in question.  The
       recommended approach is described in the following pseudo-code fragment:

       {{if exists . "listeners" }}
         {{/* This is a full listing, as requested by <b>poundctl</b> <b>list</b>. */}}
         ...
       {{else if exists . "services"}}
         {{/* Single listener, as requested by <b>poundctl</b> <b>list</b> <b>/</b><u>L</u>.
              Notice that this attribute is present in the full listing as
              well, so presence of "listeners" should be checked first. */}}
         ...
       {{else if exists . "backends"}}
         {{/* Single service, as requested by <b>poundctl</b> <b>list</b> <b>/</b><u>L</u><b>/</b><u>S</u>. */}}
         ...
       {{else}}
         {{/* Backend listing (<b>poundctl</b> <b>list</b> <b>/</b><u>L</u><b>/</b><u>S</u><b>/</b><u>B</u>) */}}
         ...
       {{end}}

       Structures of each object are discussed in subsections that follow.

   <b>Full</b> <b>listing</b>
       A full listing contains the following attributes:

       <b>listeners</b>
              An array of <u>listener</u> objects.  See below for a description.

       <b>services</b>
              An array of <u>service</u> objects, representing services defined  in  the  global  scope  of  the  <b>pound</b>
              configuration file.

       <b>pid</b>    PID of the running <b>pound</b> daemon.

       <b>version</b>
              <b>Pound</b> version number (string).

       <b>workers</b>
              Workers statistics.  This is a JSON object with the following attributes:

              <b>active</b> Number of active threads.

              <b>count</b>  Number of threads currently running.

              <b>max</b>    Maximum number of threads.

              <b>min</b>    Minimum number of threads.

              <b>timeout</b>
                     Thread idle timeout.

       <b>queue_len</b>
              Number of incoming HTTP requests in the queue (integer).

       <b>timestamp</b>
              Current  time  on  the  server,  formatted as ISO 8601 date-time with microsecond precision, e.g.:
              "2023-01-05T22:43:18.071559".

   <b>Listener</b>
       A <u>listener</u> object represents a single HTTP  or  HTTPS  listener  in  <b>pound</b>  configuration.   It  has  the
       following attributes:

       <b>address</b>
              <b>String</b>.  Address of this listener.  A string formatted as "<u>IP</u><b>:</b><u>PORT</u>" for IPv4 and IPv6 addresses or
              containing socket file name, for UNIX sockets.

       <b>protocol</b>
              <b>String</b>.  Protocol used: either <b>http</b> or <b>https</b>.

       <b>services</b>
              Array  of  <u>service</u>  objects  representing  services  defined  in this listener.  See below for the
              definition of a <u>service</u> object.

       <b>enabled</b>
              <b>Boolean</b>.  Whether this listener is enabled or not.

       <b>nohttps11</b>
              <b>Integer</b>.  Value of the <b>NoHTTPS11</b> configuration statement for this listener.  One of: 0, 1, 2.

   <b>Service</b>
       A <u>service</u> object describes a single service.

       <b>name</b>   <b>String</b>.  Symbolic name of this service.

       <b>enabled</b>
              <b>Boolean</b>.  Whether this service is enabled or not.

       <b>session_type</b>
              <b>String</b>.  Name of the session handling algorithm for this service.  One of: <b>IP</b>, <b>BASIC</b>,  <b>URL</b>,  <b>PARM</b>,
              <b>COOKIE</b>, <b>HEADER</b>.

       <b>sessions</b>
              List of active sessions in this service.  Each session is represented as object with the following
              attributes:

              <b>key</b>    <b>String</b>.  Session key.

              <b>backend</b>
                     <b>Integer</b>.  Number of the backend assigned to handle requests with this session.

              <b>expire</b> <b>Timestamp</b>.  Expiration time of this session, with microsecond precision.

       <b>backends</b>
              List of <u>backend</u>s defined for this service.

       <b>emergency</b>
              Emergency <u>backend</u> object, or <b>null</b> if no such backend is defined.

   <b>Backend</b>
       The following attributes are always present in each <u>backend</u> object:

       <b>alive</b>  <b>Boolean</b>.  Whether or not this backend is alive.

       <b>conn_to</b>
              <b>Integer</b>.  Connection timeout for this backend (seconds).

       <b>enabled</b>
              <b>Boolean</b>.  Whether or not this backend is enabled.

       <b>io_to</b>  <b>Integer</b>.  I/O timeout for this backend (seconds).

       <b>priority</b>
              <b>Integer</b> in range 0-9.  Priority value assigned to this backend.

       <b>protocol</b>
              <b>String</b>.  Protocol used by this backend: either <b>http</b> or <b>https</b>.

       <b>type</b>   <b>String</b>.  Backend type.  One of: <b>acme</b>, <b>backend</b>, <b>control</b>, <b>redirect</b>.

       <b>ws_to</b>  <b>Integer</b> Websocket timeout (seconds).

       Depending on the backend type, the following attributes may be present:

       <b>acme</b>

              <b>path</b>   <b>String</b>.  Directory where ACME challenges are stored.

       <b>backend</b>

              <b>address</b>
                     <b>String</b>.  Backend address.

       <b>redirect</b>

              <b>url</b>    <b>String</b>.  URL to redirect to.

              <b>code</b>   <b>Integer</b>.  HTTP code for redirection responses.  One of: 301, 302, 307.

              <b>redir_req</b>
                     <b>Boolean</b>.  Whether to append the original request path to the resulting location.

       If  backend  statistics is enabled (see <b>BackendStats</b> in <b><a href="../man8/pound.8.html">pound</a></b>(8)), the <b>stats</b> object will be present, with
       the following attributes:

       <b>request_count</b>
              Total number of requests processed by this backend.

       <b>request_time_avg</b>
              Average time per request, in nanoseconds.

       <b>request_time_stddev</b>
              Standard deviation of the above.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       <b><a href="../man8/pound.8.html">pound</a></b>(8), <b><a href="../man8/poundctl.8.html">poundctl</a></b>(8).

</pre><h4><b>REPORTING</b> <b>BUGS</b></h4><pre>
       Report    bugs    to    &lt;<a href="mailto:gray@gnu.org">gray@gnu.org</a>&gt;.     You    may    also    use    github    issue    tracker    at
       https://github.com/graygnuorg/pound/issues.

</pre><h4><b>COPYRIGHT</b></h4><pre>
       Copyright © 2023-2025 Sergey Poznyakoff

       License GPLv3+: GNU GPL version 3 or later &lt;<a href="http://gnu.org/licenses/gpl.html">http://gnu.org/licenses/gpl.html</a>&gt;

       This  is  free software: you are free to change and redistribute it.  There is NO WARRANTY, to the extent
       permitted by law.

pound                                            January 2, 2025                                <u><a href="../man5/POUNDCTL.TMPL.5.html">POUNDCTL.TMPL</a></u>(5)
</pre>
 </div>
</div></section>
</div>
</body>
</html>