<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add-node-component - add-node-component</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/plucky/+package/dh-nodejs">dh-nodejs_0.15.23_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       add-node-component - add-node-component

</pre><h4><b>SYNOPSIS</b></h4><pre>
       <b>add-node-component</b> <u>&lt;node-modules-to-add-as-component&gt;</u>

</pre><h4><b>DESCRIPTION</b></h4><pre>
       node-modules-to-add-as-component:   list  of  component  to  add.  Version  can  be  specified  (example:
       <a href="mailto:bson@1.0.0">bson@1.0.0</a>)

</pre><h4><b>OPTIONS</b></h4><pre>

       <b>-h</b>, <b>--help</b>: print this

       <b>-c</b>, <b>--checksum</b>: install new component with "checksum" at the  end  of  debian/watch  line  (default,  see
              <a href="../man1/uscan.1.html">uscan</a>(1) for more)

       <b>-g</b>, <b>--group</b>: install new component with "group" at the end of debian/watch line

       <b>--ignore</b> install new component with "ignore" at the end of debian/watch line

       <b>--no-ctype</b>:  don't  add  "ctype=nodejs" in debian/watch (see <a href="../man1/uscan.1.html">uscan</a>(1) for more, enabled automatically for
              now unless <b>--checksum</b>)

       <b>-d</b>, <b>--download</b>: download new sources

       <b>-i</b>, <b>--install</b>: import downloaded sources (implies <b>-d</b>)

       <b>-f</b>, <b>--remove-tag</b>: remove origin tag if exists locally (before import)

       <b>-u</b>, <b>--cme-update</b>: launch a "cme update dpkg-compyright" after import to update debian/copyright

       <b>-r</b>, <b>--remove-component</b>: remove component instead of adding it (default when del-node-component is used)

       <b>-l</b>, <b>--list-components</b>: print components list

       <b>-m</b>, <b>--list-modules</b>: print modules list

       <b>-p</b>, <b>--cmp-prefix</b>: component name prefix (default: empty)

       <b>--force-npm-reg</b>: force the use of npm registry

       <b>--force-github-tags</b>: force the use of GitHub tags

       <b>--uscan-option</b>: option(s) to pass to uscan (multi-valued). Default: "-dd <b>--download-version</b>"

       <b>--cmp-tree</b>: print a digraph of relation between component (give it to graph-easy)

   <b>Environments</b> <b>variables:</b>
              - ANC_CPM_PREFIX: change default <b>--cmp-prefix</b> value

</pre><h4><b>COPYRIGHT</b></h4><pre>
       Copyright © Yadd &lt;<a href="mailto:yadd@debian.org">yadd@debian.org</a>&gt;

       Licensed under GPL-2+ (see <u><a href="file:/usr/share/common-licenses/GPL-2">/usr/share/common-licenses/GPL-2</a></u>)

add-node-component 0.15.23                         August 2024                             <u><a href="../man1/ADD-NODE-COMPONENT.1.html">ADD-NODE-COMPONENT</a></u>(1)
</pre>
 </div>
</div></section>
</div>
</body>
</html>