<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bcomps - biconnected components filter for graphs</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/plucky/+package/graphviz">graphviz_2.42.4-3_amd64</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       bcomps - biconnected components filter for graphs

</pre><h4><b>SYNOPSIS</b></h4><pre>
       <b>bcomps</b> [ <b>-stvx?</b>  ] [ <b>-o</b><u>outfile</u> ] [ <u>files</u> ]

</pre><h4><b>DESCRIPTION</b></h4><pre>
       <b>bcomps</b> decomposes graphs into their biconnected components, printing the components to standard output.

</pre><h4><b>OPTIONS</b></h4><pre>
       The following options are supported:

       <b>-s</b>     No output graph is printed. Implies the <b>-v</b> flag.

       <b>-t</b>     Print the underlying block-cutvertex tree.

       <b>-x</b>     Each biconnected component is printed as a separate root graph.

       <b>-v</b>     Prints number of blocks and cutvertices.

       <b>-o</b> <u>outfile</u>
              If  specified,  each  root  graph  will be written to a different file with the names derived from
              <u>outfile</u>. In particular, if both <b>-o</b> and <b>-x</b> flags  are  used,  then  each  block  is  written  to  a
              different  file.  If  <u>outfile</u> does not have a suffix, the nth block of the ith graph is written to
              <u>outfile_n_i</u>. However, the 0th block of the 0th graph is written to <u>outfile</u>.

              If <u>outfile</u> has a suffix, i.e., has the form <u>base.sfx</u>, then the files will have the  same  name  as
              above, except appended with <u>.sfx</u>.

              The  block-cutvertex  tree  of  ith  graph  is  written to <u>outfile_n_T</u>, with an appended suffix if
              specified.

       By default, each input graph  is  printed,  with  each  block  given  as  a  subgraph  whose  name  is  a
       concatenation of the name of the input graph, the string "_bcc_" and the number of the block.

</pre><h4><b>OPERANDS</b></h4><pre>
       The following operand is supported:

       <u>files</u>   Names  of files containing 1 or more graphs in dot format.  If no <u>files</u> operand is specified, the
               standard input will be used.

</pre><h4><b>RETURN</b> <b>CODES</b></h4><pre>
       <b>bcomps</b> returns <b>0</b> if all the input graphs are biconnected; and non-zero if any graph has multiple  blocks,
       or any error occurred.

</pre><h4><b>BUGS</b></h4><pre>
       It  is  possible,  though  unlikely, that the names used for connected components and their subgraphs may
       conflict with existing subgraph names.

</pre><h4><b>AUTHORS</b></h4><pre>
       Emden R. Gansner &lt;<a href="mailto:erg@research.att.com">erg@research.att.com</a>&gt;

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       <a href="../man1/ccomps.1.html">ccomps</a>(1), <a href="../man1/gc.1.html">gc</a>(1), <a href="../man1/dot.1.html">dot</a>(1), <a href="../man1/gvpr.1.html">gvpr</a>(1), <a href="../man1/gvcolor.1.html">gvcolor</a>(1), <a href="../man1/acyclic.1.html">acyclic</a>(1), <a href="../man1/sccmap.1.html">sccmap</a>(1), <a href="../man1/tred.1.html">tred</a>(1), <a href="../man3/libgraph.3.html">libgraph</a>(3)

                                                18 November 2003                                       <u><a href="../man1/BCOMPS.1.html">BCOMPS</a></u>(1)
</pre>
 </div>
</div></section>
</div>
</body>
</html>