<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bst-shell - Shell into an element's sandbox environment</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/plucky/+package/buildstream">buildstream_1.6.9-1.1_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       bst-shell - Shell into an element's sandbox environment

</pre><h4><b>SYNOPSIS</b></h4><pre>
       <b>bst</b> <b>shell</b> [OPTIONS] ELEMENT [COMMAND]...

</pre><h4><b>DESCRIPTION</b></h4><pre>
       Run a command in the target element's sandbox environment

       This  will  stage  a temporary sysroot for running the target element, assuming it has already been built
       and all required artifacts are in the local cache.

       Use the --build option to create a temporary sysroot for building the element instead.

       Use the --sysroot option with an existing failed build directory or with a checkout of the given  target,
       in order to use a specific sysroot.

       If no COMMAND is specified, the default is to attempt to run an interactive shell.

</pre><h4><b>OPTIONS</b></h4><pre>
       <b>-b,</b> --build
              Stage dependencies and sources to build

       <b>-s,</b> --sysroot DIRECTORY
              An existing sysroot

       <b>--mount</b> HOSTPATH PATH
              Mount a file or directory into the sandbox

       <b>--isolate</b>
              Create an isolated build sandbox

                                                   14-Jul-2019                                      <u>BST</u> <u><a href="../man1/SHELL.1.html">SHELL</a></u>(1)
</pre>
 </div>
</div></section>
</div>
</body>
</html>