<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dcm_add_fragments - Dump element from DICOM file to another</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/plucky/+package/ctn">ctn_3.2.0~dfsg-8build1_amd64</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       dcm_add_fragments - Dump element from DICOM file to another

</pre><h4><b>SYNOPSIS</b></h4><pre>
       <b>dcm_add_fragments</b> <b>[-t]</b> <b>[-x</b> <b>xfer]</b> <b>filein</b> <b>fileout</b> <b>f1</b> <b>[f2...]</b>

</pre><h4><b>DESCRIPTION</b></h4><pre>
       <u>dcm_add_fragments</u> adds elements from one DICOM file into another

</pre><h4><b>OPTIONS</b></h4><pre>
       <u>dcm_add_fragments</u> accepts the following options:

       <b>-t</b>              Read file assuming DICOM Part 10 format

       <b>-x</b>              Specify transfer syntax for output

       <b>filein</b>          Input file

       <b>fileout</b>         Output file

       <b>f1</b>              First fragment to add

       <b>f2</b>              Zero or more fragments to add

                                                                                            <u><a href="../man1/dcm_add_fragments.1.html">dcm_add_fragments</a></u>(1)
</pre>
 </div>
</div></section>
</div>
</body>
</html>