<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dxf2idf - creates an IDF component outline file from a dxf file.</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/plucky/+package/kicad">kicad_8.0.8+dfsg-1_amd64</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       dxf2idf - creates an IDF component outline file from a dxf file.

</pre><h4><b>DESCRIPTION</b></h4><pre>
       <b>dxf2idf</b>  This  program  takes line, arc, and circle segments from a DXF file and creates an IDF component
       outline file. dxf2idf is part of the KiCad suite.

</pre><h4><b>SYNOPSIS</b></h4><pre>
       <b>dxf2idf</b>

</pre><h4><b>AUTHOR</b></h4><pre>
       Carsten Schoenert &lt;<a href="mailto:c.schoenert@t-online.de">c.schoenert@t-online.de</a>&gt;

dxf2idf                                         January 19, 2017                                      <u><a href="../man1/dxf2idf.1.html">dxf2idf</a></u>(1)
</pre>
 </div>
</div></section>
</div>
</body>
</html>