<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>g.filename  - Prints GRASS data base file names.</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/plucky/+package/grass-doc">grass-doc_8.4.1-1_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       <b>g.filename</b>  - Prints GRASS data base file names.

</pre><h4><b>KEYWORDS</b></h4><pre>
       general, map management, scripts

</pre><h4><b>SYNOPSIS</b></h4><pre>
       <b>g.filename</b>
       <b>g.filename</b> <b>--help</b>
       <b>g.filename</b> [-<b>c</b>] <b>element</b>=<u>string</u> <b>file</b>=<u>string</u>  [<b>mapset</b>=<u>string</u>]   [--<b>help</b>]  [--<b>verbose</b>]  [--<b>quiet</b>]  [--<b>ui</b>]

   <b>Flags:</b>
       <b>-c</b>
           Create element directory in the current mapset
           If element directory for database file does not exist, create it

       <b>--help</b>
           Print usage summary

       <b>--verbose</b>
           Verbose module output

       <b>--quiet</b>
           Quiet module output

       <b>--ui</b>
           Force launching GUI dialog

   <b>Parameters:</b>
       <b>element</b>=<u>string</u> <b>[required]</b>
           Name of an element

       <b>file</b>=<u>string</u> <b>[required]</b>
           Name of a database file

       <b>mapset</b>=<u>string</u>
           Name of a mapset (default: current)

</pre><h4><b>DESCRIPTION</b></h4><pre>
       <u>g.filename</u>  is  designed  for  Bourne  shell scripts that need to know the full file name, including it’s
       path, for mapset elements, like raster, vector and site maps, region definitions and imagery groups.

       The list of element names to search for is not fixed; any subdirectory of the mapset directory is a valid
       element name.

       However,  the  user  can  find  the  list  of  standard   GRASS   GIS   element   names   in   the   file
       $GISBASE/etc/element_list.  This  is the file which g.remove/g.rename/g.copy use to determine which files
       need to be deleted/renamed/copied for a given entity type.

</pre><h4><b>OUTPUT</b></h4><pre>
       <u>g.filename</u> writes one line to standard output:
       file=’<u>full_file_pathname’</u> The output is a <u><a href="file:/bin/sh">/bin/sh</a></u> command to set the variable specified by the file  <u>name</u>
       to the full UNIX path name for the data base file.  This variable may be set in the <u><a href="file:/bin/sh">/bin/sh</a></u> as follows:
       eval `g.filename element=name mapset=name file=name`

</pre><h4><b>NOTES</b></h4><pre>
       This  module  generates the filename, but does not care if the file (or mapset or element) exists or not.
       This feature allows shell scripts to create new data base files as well as use existing ones.

       If the mapset is the current mapset, <u>g.filename</u> can automatically create  the  <u>element</u>  specified  if  it
       doesn’t  already exist when <b>-c</b> flag is used. This makes it easy to add new files to the data base without
       having to worry about the existence of the required data base directories. (This program will not  create
       a new mapset, however, if that specified does not currently exist.)

       This  module should not be used to create directories which are at the level of what this module refer to
       as files, i.e., directory which carries a name specified by a  user  (such  as  vector  map  directories)
       should  not be created using this module. Standard library functions coming with any given language are a
       more appropriate tool for that.

       The program exits with a 0 if everything is ok;  it exits with a non-zero value if there is an error,  in
       which case file=<u>’full_file_pathname’</u> is not output.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
        <u>g.findfile,</u> <u>g.gisenv</u>

</pre><h4><b>AUTHOR</b></h4><pre>
       Michael Shapiro, U.S.Army Construction Engineering Research Laboratory

</pre><h4><b>SOURCE</b> <b>CODE</b></h4><pre>
       Available at: g.filename source code (history)

       Accessed: Friday Apr 04 01:18:53 2025

       Main index | General index | Topics index | Keywords index | Graphical index | Full index

       © 2003-2025 GRASS Development Team, GRASS GIS 8.4.1 Reference Manual

GRASS 8.4.1                                                                                   <u><a href="../man1grass/g.filename.1grass.html">g.filename</a></u>(1grass)
</pre>
 </div>
</div></section>
</div>
</body>
</html>