<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>g.rename  - Renames data base element files in the user’s current mapset.</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/plucky/+package/grass-doc">grass-doc_8.4.1-1_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       <b>g.rename</b>  - Renames data base element files in the user’s current mapset.

</pre><h4><b>KEYWORDS</b></h4><pre>
       general, map management, rename

</pre><h4><b>SYNOPSIS</b></h4><pre>
       <b>g.rename</b>
       <b>g.rename</b> <b>--help</b>
       <b>g.rename</b>   [<b>raster</b>=<u>from,to</u>]   [<b>raster_3d</b>=<u>from,to</u>]   [<b>vector</b>=<u>from,to</u>]   [<b>label</b>=<u>from,to</u>]   [<b>region</b>=<u>from,to</u>]
       [<b>group</b>=<u>from,to</u>]   [--<b>overwrite</b>]  [--<b>help</b>]  [--<b>verbose</b>]  [--<b>quiet</b>]  [--<b>ui</b>]

   <b>Flags:</b>
       <b>--overwrite</b>
           Allow output files to overwrite existing files

       <b>--help</b>
           Print usage summary

       <b>--verbose</b>
           Verbose module output

       <b>--quiet</b>
           Quiet module output

       <b>--ui</b>
           Force launching GUI dialog

   <b>Parameters:</b>
       <b>raster</b>=<u>from,to</u>
           raster map(s) to be renamed

       <b>raster_3d</b>=<u>from,to</u>
           3D raster map(s) to be renamed

       <b>vector</b>=<u>from,to</u>
           vector map(s) to be renamed

       <b>label</b>=<u>from,to</u>
           paint label file(s) to be renamed

       <b>region</b>=<u>from,to</u>
           region definition(s) to be renamed

       <b>group</b>=<u>from,to</u>
           imagery group(s) to be renamed

</pre><h4><b>DESCRIPTION</b></h4><pre>
       <u>g.rename</u> allows the user to rename data base element files in the user’s current mapset.   The  user  can
       specify  all necessary information to <u>g.rename</u> on the command line, by specifying:  the type of data base
       element to be renamed (one or more of:  <b>raster</b>, <b>raster_3d</b>, <b>vector</b>, <b>icon</b>, <b>labels</b>, <b>region</b>, and <b>group</b>);  the
       specific  file element in the current mapset to be renamed (<u>old</u>); and the new name to be assigned to this
       file element (<u>new</u>) in the current mapset.  The file element <u>old</u> is then renamed to <u>new</u>.

       Users can also simply type <u>g.rename</u> <u>--help</u> without arguments on the command line, to receive  a  menu  of
       existing data base element types and files from which to choose for possible renaming:
              raster   raster map(s) to be renamed
           raster_3d   3D raster map(s) to be renamed
              vector   vector map(s) to be renamed
              labels   paint label file(s) to be renamed
              region   region definition(s) to be renamed
               group   imagery group(s) to be renamed

</pre><h4><b>NOTES</b></h4><pre>
       If  a data base element has support files (e.g., as is commonly the case with raster maps), these support
       files also are renamed.

       If the user attempts to rename a file to itself by setting the <u>new</u> file name equal to the <u>old</u>  file  name
       (e.g.,  <b>g.rename</b>  <b>raster=soils,soils</b>),  <u>g.rename</u>  will  not execute the rename, but instead state that no
       rename is needed.  However, <u>g.rename</u> will allow the user to overwrite other existing files in the current
       mapset by making the <u>new</u> file name that of an already existing file.

       For portability reasons, <u>g.rename</u> is ignoring case of names. To change the case  of  a  map  name,  first
       rename the map to a name which differs by more than case, then rename it to the intended name.

</pre><h4><b>EXAMPLE</b></h4><pre>
       # rename raster map
       g.rename raster=oldrast,newrast
       # rename vector map
       g.rename vector=oldvect,newvect
       # combined renaming
       g.rename raster=oldrast,newrast vector=oldvect,newvect

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
        <u>g.copy,</u> <u>g.list,</u> <u>g.remove</u>

</pre><h4><b>AUTHOR</b></h4><pre>
       Michael Shapiro, U.S.Army Construction Engineering Research Laboratory

</pre><h4><b>SOURCE</b> <b>CODE</b></h4><pre>
       Available at: g.rename source code (history)

       Accessed: Friday Apr 04 01:18:56 2025

       Main index | General index | Topics index | Keywords index | Graphical index | Full index

       © 2003-2025 GRASS Development Team, GRASS GIS 8.4.1 Reference Manual

GRASS 8.4.1                                                                                     <u><a href="../man1grass/g.rename.1grass.html">g.rename</a></u>(1grass)
</pre>
 </div>
</div></section>
</div>
</body>
</html>