<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hxname2id - move some NAME and ID attributes from an A to its parent</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/plucky/+package/html-xml-utils">html-xml-utils_7.7-1.1build2_amd64</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       hxname2id - move some NAME and ID attributes from an A to its parent

</pre><h4><b>SYNOPSIS</b></h4><pre>
       <b>hxname2id</b> [ <b>-x</b> ] [ <u>file</u> ]

</pre><h4><b>DESCRIPTION</b></h4><pre>
       The <b>hxname2id</b> command reads an HTML file and looks for elements with an A element as first child, with no
       intervening text other than whitespace. If that A element has an ID or NAME attribute, it is moved to the
       parent element and removed from the A.

       Because   Netscape  4  doesn't  understand  ID  attributes,  it  was  common  practice  to  write  &lt;H2&gt;&lt;A
       NAME="sect7"&gt;...&lt;/A&gt;&lt;/H2&gt; instead of &lt;H2 ID="sect7"&gt;. This program can be used to convert such  old  HTML
       files to the new convention.

       Other  programs  in this suite, such as <b><a href="../man1/hxmultitoc.1.html">hxmultitoc</a></b>(1), require IDs on headings instead of A elements with
       NAME attributes. So it is useful to run <b>hxname2id</b>  prior  to  running  <b>hxmultitoc</b>  and  similar  program.
       <b>hxname2id</b> can be used in a pipe.

</pre><h4><b>OPTIONS</b></h4><pre>
       The following options are supported:

       <b>-x</b>        Use XML conventions: empty elements are written with a slash at the end: &lt;IMG /&gt;

</pre><h4><b>OPERANDS</b></h4><pre>
       The following operand is supported:

       <u>file</u>      The name of an HTML file. If absent, standard input is read instead.

</pre><h4><b>DIAGNOSTICS</b></h4><pre>
       The following exit values are returned:

       <b>0</b>         Successful completion.

       <b>&gt;</b> <b>0</b>       An error occurred in the parsing of the HTML file.  <b>hxname2id</b> will try to correct the error and
                 produce output anyway.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       <b><a href="../man1/asc2xml.1.html">asc2xml</a></b>(1), <b><a href="../man1/hxmultitoc.1.html">hxmultitoc</a></b>(1), <b><a href="../man1/hxnormalize.1.html">hxnormalize</a></b>(1), <b><a href="../man1/hxnum.1.html">hxnum</a></b>(1), <b><a href="../man1/hxtoc.1.html">hxtoc</a></b>(1), <b><a href="../man1/xml2asc.1.html">xml2asc</a></b>(1)

</pre><h4><b>BUGS</b></h4><pre>
       The error recovery for incorrect HTML is primitive.

7.x                                                10 Jul 2011                                      <u><a href="../man1/HXNAME2ID.1.html">HXNAME2ID</a></u>(1)
</pre>
 </div>
</div></section>
</div>
</body>
</html>