<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hxprune - remove marked elements from an HTML file</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/plucky/+package/html-xml-utils">html-xml-utils_7.7-1.1build2_amd64</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       hxprune - remove marked elements from an HTML file

</pre><h4><b>SYNOPSIS</b></h4><pre>
       <b>hxprune</b> [ <b>-c</b> <u>class</u> ] [ <b>-x</b> ] [ <u>file</u> ]

</pre><h4><b>DESCRIPTION</b></h4><pre>
       <b>hxprune</b> removes specially marked elements (with their content and children) from an HTML file. By default
       it  removes  elements with a class attribute of "exclude". The class attribute is parsed as a whitespace-
       separated list of words and if one of those words is "exclude", the element is not copied to the output.

</pre><h4><b>OPTIONS</b></h4><pre>
       The following options are supported:

       <b>-c</b> <u>class</u>
              Specify a different <u>class</u> than "exclude".

       <b>-x</b>     Force output to be in XML-style, i.e., without short attributes and with a slash (/) to mark empty
              elements.

7.x                                                10 Jul 2011                                        <u><a href="../man1/HXPRUNE.1.html">HXPRUNE</a></u>(1)
</pre>
 </div>
</div></section>
</div>
</body>
</html>