<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mhparam - print nmh profile and context components</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/plucky/+package/nmh">nmh_1.8-3_amd64</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       mhparam - print nmh profile and context components

</pre><h4><b>SYNOPSIS</b></h4><pre>

       <b>mhparam</b> [<b>-help</b>] [<b>-version</b>] [<u>components</u>] [<b>-all</b>] [<b>-component</b> | <b>-nocomponent</b>] [<b>-debug</b>]

</pre><h4><b>DESCRIPTION</b></h4><pre>
       <b>mhparam</b>  writes  the  value  of  the  specified  profile  component  to the standard output, separated by
       newlines.  Component name matching is case-insensitive.  If the profile component  is  not  present,  the
       default value (or nothing, if there is no default) is printed.

       If the switch <b>-component</b> is given, then the component name is displayed along with the profile components
       value.  This can be disabled with the switch <b>-nocomponent</b>.

       If  more  than  one  component  is  specified in the <u>components</u> list, then the switch <b>-component</b> is on by
       default.  If only one component is specified, then the switch <b>-nocomponent</b> is on by default.

       If <b>-all</b> is specified, then all components in the nmh  profile  are  displayed  and  other  arguments  are
       ignored.

       <b>mhparam</b>  can  provide  other  information,  such  as the <b>nmh</b> version identifier, the locations of the nmh
       <u>bindir</u>, <u>libexecdir</u>, <u>etcdir</u>, and <u>docdir</u> install directories, all <u>proc</u> settings, and the <u>datalocking</u> method
       described in <u><a href="../man5/mh-profile.5.html">mh-profile</a></u>(5).  Information  about  the  configuration  of  the  <b>nmh</b>  installation  is  also
       available,  including  the default mail spool locking method.  To test whether the configuration includes
       support for SASL, TLS, <u><a href="../man3/iconv.3.html">iconv</a></u>(3), and oauth, the following commands, respectively, will output a  non-null
       string to indicate support:

            mhparam sasl
            mhparam tls
            mhparam iconv
            mhparam oauth

       Conversely,  no  output means that the specified support is not included.  The <b>-debug</b> switch displays all
       such other information available from <b>mhparam</b>.

       Examples:

            $ mhparam path
            Mail

            $ mhparam mhlproc
            /usr/lib/mh/mhl

            $ mhparam -component Path
            Path: Mail

            $ mhparam AliasFile rmmproc
            AliasFile: aliases
            rmmproc: rmmproc

            $ mhparam -nocomponent AliasFile rmmproc
            aliases
            rmmproc

            $ mhparam path nonexistent context
            Path: Mail
            context: context

            $ mhparam version
            nmh-1.8

            $ mhparam etcdir
            /etc/nmh

            $ mhparam libexecdir
            /usr/lib/mh

            $ mhparam spoollocking
            fcntl

            $ mhparam datalocking
            fcntl

            $ mhparam sasl
            cyrus_sasl

            $ mhparam tls
            tls

            $ mhparam iconv
            iconv

            $ mhparam oauth
            oauth

       <b>mhparam</b> is also useful in backquoted operations:

            $ fgrep cornell.edu `mhpath +`/`mhparam aliasfile`

</pre><h4><b>EXIT</b> <b>STATUS</b></h4><pre>
       The exit status is zero if all components are found, or one if any are missing.

</pre><h4><b>FILES</b></h4><pre>
       $HOME/.mh_profile    The user profile
       or $MH               Rather than the standard profile
       &lt;mh-dir&gt;/context     The user context
       or $MHCONTEXT        Rather than the standard context

</pre><h4><b>PROFILE</b> <b>COMPONENTS</b></h4><pre>
       context:             To determine the context file

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       <u><a href="../man5/mh-profile.5.html">mh-profile</a></u>(5)

</pre><h4><b>DEFAULTS</b></h4><pre>
       `<b>-nocomponent</b>' if only one component is specified
       `<b>-component</b>' if more than one component is specified
       `<b>components</b>' defaults to none

</pre><h4><b>CONTEXT</b></h4><pre>
       None

nmh-1.8                                            2017-02-18                                       <u><a href="../man1mh/MHPARAM.1mh.html">MHPARAM</a></u>(1mh)
</pre>
 </div>
</div></section>
</div>
</body>
</html>