<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sccmap - extract strongly connected components of directed graphs</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/plucky/+package/graphviz">graphviz_2.42.4-3_amd64</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       sccmap - extract strongly connected components of directed graphs

</pre><h4><b>SYNOPSIS</b></h4><pre>
       <b>sccmap</b> [<b>-dsv</b>] [ <b>-o</b><u>outfile</u> ] [ <u>files</u> ]

</pre><h4><b>DESCRIPTION</b></h4><pre>
       <u>sccmap</u>  decomposes  digraphs  into strongly connected components and an auxiliary map of the relationship
       between components.  In this map, each component is collapsed into a  node.   The  resulting  graphs  are
       printed  to  standard  out.   The number of nodes, edges and strongly connected components are printed to
       standard error.  <b>sccmap</b> is a way of partitioning large graphs into more manageable pieces.

</pre><h4><b>OPTIONS</b></h4><pre>
       The following options are supported:

       <b>-d</b>     Preserve degenerate components of only one node.

       <b>-s</b>     Do not print the resulting graphs. Only the statistics are important.

       <b>-S</b>     Just print the resulting graphs. No statistics are printed.

       <b>-o</b><u>output</u>
              Prints output to the file <u>output</u>. If not given, <b>sccmap</b> uses stdout.

       <b>-v</b>     Generate additional statistics. In particular, <b>sccmap</b> prints the number of nodes, edges, connected
              components, and strongly connected components, followed by the fraction of nodes in a  non-trivial
              strongly  connected components, the maximum degree of the graph, and fraction of non-tree edges in
              the graph.

</pre><h4><b>OPERANDS</b></h4><pre>
       The following operand is supported:

       <u>files</u>   Names of files containing 1 or more graphs in dot format.  If no <u>files</u> operand is specified,  the
               standard input will be used.

</pre><h4><b>DIAGNOSTICS</b></h4><pre>
       <b>sccmap</b> emits a warning if it encounters an undirected graph, and ignores it.

</pre><h4><b>AUTHORS</b></h4><pre>
       Stephen C. North &lt;<a href="mailto:north@research.att.com">north@research.att.com</a>&gt;
       Emden R. Gansner &lt;<a href="mailto:erg@research.att.com">erg@research.att.com</a>&gt;

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       <a href="../man1/gc.1.html">gc</a>(1), <a href="../man1/dot.1.html">dot</a>(1), <a href="../man1/acyclic.1.html">acyclic</a>(1), <a href="../man1/gvpr.1.html">gvpr</a>(1), <a href="../man1/gvcolor.1.html">gvcolor</a>(1), <a href="../man1/ccomps.1.html">ccomps</a>(1), <a href="../man1/tred.1.html">tred</a>(1), <a href="../man3/libgraph.3.html">libgraph</a>(3)

                                                  21 March 2001                                        <u><a href="../man1/SCCMAP.1.html">SCCMAP</a></u>(1)
</pre>
 </div>
</div></section>
</div>
</body>
</html>