<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wslsys - Component of Windows 10 Linux Subsystem Utility</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/wslu">wslu_3.2.3-0ubuntu3_amd64</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       <b>wslsys</b> - Component of Windows 10 Linux Subsystem Utility

</pre><h4><b>SYNOSIS</b></h4><pre>
       <b>wslsys</b> [<b>-VIbBFUWRKPSlt</b>] [<b>-s</b>]

       <b>wslsys</b> [<b>-hv</b>]

</pre><h4><b>DESCRIPTION</b></h4><pre>
       This is a WSL system information printer to print out some basic system information.

</pre><h4><b>OPTIONS</b></h4><pre>
       Executing  command  without options will print out the all system information.  add <b>-s</b> flag to print only
       value:

       <b>-h,</b> <b>--help</b>
              Print a simple help.

       <b>-v,</b> <b>--version</b>
              Print current version.

       <b>-V,</b> <b>--wsl-version</b>
              Print the the WSL version your current distribution is using.  For example, <b>"1"</b> for using WSL  1st
              generation.

       <b>-I,</b> <b>--sys-installdate</b>
              Print  the  time  when the current release is installed. The format is in Hex Unix Timestamp.  For
              example, <b>"0x5df84068"</b>.

       <b>-b,</b> <b>--branch</b>
              Print current release branch of your Windows 10.  For example, <b>"rs_prerelease"</b> means  you  are  on
              rs_prerelease realease branch.

       <b>-B,</b> <b>--build</b>
              Print  current  build version of your Windows 10.  For example, <b>"19536"</b> means you are using Winows
              10 build 19536.

       <b>-F,</b> <b>--full-build</b>
              Print   current   build   version   of   your   Windows   10   in   long   form.    For   example,
              <b>"19536.1000.amd64fre.rs_prerelease.191211-1446"</b>.

       <b>-U,</b> <b>--uptime</b>
              Print current uptime inside WSL.  For example, <b>"0d</b> <b>0h</b> <b>2m"</b>.

       <b>-W,</b> <b>--win-uptime</b>
              Print current uptime in Windows 10.  For example, <b>"0d</b> <b>12h</b> <b>8m"</b>.

       <b>-R,</b> <b>--release</b>
              Print the current release for your WSL distro.  For example, <b>"Ubuntu</b> <b>18.04.3</b> <b>LTS"</b>.

       <b>-K,</b> <b>--kernel</b>
              Print the current version of the WSL kernel.  For example, <b>"Linux</b> <b>4.19.81-microsoft-standard"</b>.

       <b>-P,</b> <b>--package</b>
              Print total number of installed packages.  For example, <b>"1047"</b> for 1047 packages installed.

       <b>-S,</b> <b>--display-scaling</b>
              Print the current disply scaling from your display setting.  For example, <b>"2"</b> for 200% scaling.

       <b>-l,</b> <b>--locale</b>
              Print the Windows locale information.  For example, <b>"en-US"</b> for English (United States).

       <b>-t,</b> <b>--win-theme</b>
              Print the Windows 10 Theme.  For example, <b>"light"</b>.

</pre><h4><b>AUTHOR</b></h4><pre>
       Created by Patrick Wu &lt;<a href="mailto:me@patrickwu.space">me@patrickwu.space</a>&gt;

</pre><h4><b>REPORTING</b> <b>BUGS</b></h4><pre>
       Report bugs to &lt;https://github.com/wslutilities/wslu/issues&gt;; For Ubuntu specific/related bugs, report to
       &lt;https://bugs.launchpad.net/ubuntu/+source/wslu&gt;.

</pre><h4><b>COPYRIGHT</b></h4><pre>
       This  is free software; you can redistribute it and/or modify it under the terms of the GNU GPL version 3
       or (at your option) any later version.  There is NO warranty; not even MERCHANTABILITY or FITNESS  FOR  A
       PARTICULAR PURPOSE.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       <a href="../man7/wslu.7.html">wslu</a>(7)

3.2.3-1                                            2021-10-07                                          <u><a href="../man1/WSLSYS.1.html">WSLSYS</a></u>(1)
</pre>
 </div>
</div></section>
</div>
</body>
</html>