<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>xml_grep - grep XML files looking for specific elements</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/xml-twig-tools">xml-twig-tools_3.52-3_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       xml_grep - grep XML files looking for specific elements

</pre><h4><b>SYNOPSYS</b></h4><pre>
         xml_grep [options] &lt;file list&gt;

       or

         xml_grep &lt;xpath expression&gt; &lt;file list&gt;

       By default you can just give "xml_grep" an XPath expression and a list of files, and get an XML file with
       the result.

       This is equivalent to writing

         xml_grep --group_by_file file --pretty_print indented --cond &lt;file list&gt;

</pre><h4><b>OPTIONS</b></h4><pre>
       <b>--help</b>
           brief help message

       <b>--man</b>
           full documentation

       <b>--Version</b>
           display the tool version

       <b>--root</b> &lt;cond&gt;
           look for and return xml chunks matching &lt;cond&gt;

           if  neither  "--root"  nor  "--file" are used then the element(s) that trigger the "--cond" option is
           (are) used. If "--cond" is not used then all elements matching the &lt;cond&gt; are returned

           several "--root" can be provided

       <b>--cond</b> &lt;cond&gt;
           return the chunks (or file names) only if they contain elements matching &lt;cond&gt;

           several "--cond" can be provided (in which case they are OR'ed)

       <b>--files</b>
           return only file names (do not generate an XML output)

           usage of this option precludes using any of the  options  that  define  the  XML  output:  "--roots",
           "--encoding", "--wrap", "--group_by_file" or "--pretty_print"

       <b>--count</b>
           return only the number of matches in each file

           usage  of  this  option  precludes  using  any  of the options that define the XML output: "--roots",
           "--encoding", "--wrap", "--group_by_file" or "--pretty_print"

       <b>--strict</b>
           without this option parsing errors are reported to STDOUT and the file skipped

       <b>--date</b>
           when on (by default) the wrapping element get a "date" attribute that gives the  date  the  tool  was
           run.

           with "--nodate" this attribute is not added, which can be useful if you need to compare 2 runs.

       <b>--encoding</b> &lt;enc&gt;
           encoding of the xml output (utf-8 by default)

       <b>--nb_results</b> &lt;nb&gt;
           output only &lt;nb&gt; results

       <b>--by_file</b>
           output only &lt;nb&gt; results by file

       <b>--wrap</b> &lt;tag&gt;
           wrap the xml result in the provided tag (defaults to 'xml_grep')

           If wrap is set to an empty string ("--wrap ''") then the xml result is not wrapped at all.

       <b>--nowrap</b>
           same as using "--wrap ''": the xml result is not wrapped.

       <b>--descr</b> &lt;string&gt;
           attributes of the wrap tag (defaults to "version="&lt;VERSION&gt;" date="&lt;date&gt;"")

       <b>--group_by_file</b> &lt;optional_tag&gt;
           wrap  results for each files into a separate element. By default that element is named "file". It has
           an attribute named "filename" that gives the name of the file.

           the short version of this option is <b>-g</b>

       <b>--exclude</b> &lt;condition&gt;
           same as using "-v" in grep: the elements that match the condition are excluded from the  result,  the
           input file(s) is (are) otherwise unchanged

           the short form of this option is <b>-v</b>

       <b>--pretty_print</b> &lt;optional_style&gt;
           pretty print the output using XML::Twig styles ('"indented"', '"record"' or '"record_c"' are probably
           what you are looking for)

           if the option is used but no style is given then '"indented"' is used

           short form for this argument is <b>-s</b>

       <b>--text_only</b>
           Displays the text of the results, one by line.

       <b>--html</b>
           Allow HTML input, files are converted using HTML::TreeBuilder

       <b>--Tidy</b>
           Allow HTML input, files are converted using HTML::Tidy

   <b>Condition</b> <b>Syntax</b>
       &lt;cond&gt; is an XPath-like expression as allowed by XML::Twig to trigger handlers.

       examples:
         'para'
         'para[@compact="compact"]'
         '*[@urgent]'
         '*[@urgent="1"]'
         'para[<b>string()</b>="WARNING"]'

       see XML::Twig for a more complete description of the &lt;cond&gt; syntax

       options  are  processed  by  Getopt::Long so they can start with '-' or '--' and can be abbreviated ("-r"
       instead of "--root" for example)

</pre><h4><b>DESCRIPTION</b></h4><pre>
       <b>xml_grep</b> does a grep on XML files. Instead of using regular expressions it  uses  XPath  expressions  (in
       fact the subset of XPath supported by XML::Twig)

       the results can be the names of the files or XML elements containing matching elements.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       XML::Twig Getopt::Long

</pre><h4><b>LICENSE</b></h4><pre>
       This  library  is  free  software;  you can redistribute it and/or modify it under the same terms as Perl
       itself.

</pre><h4><b>AUTHOR</b></h4><pre>
       Michel Rodriguez &lt;<a href="mailto:mirod@xmltwig.com">mirod@xmltwig.com</a>&gt;

perl v5.38.2                                       2024-03-08                                       <u><a href="../man1p/XML_GREP.1p.html">XML_GREP</a></u>(1p)
</pre>
 </div>
</div></section>
</div>
</body>
</html>