<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ttproclist - Process a template with a nodelist</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/torrus-common">torrus-common_3.00-2_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       ttproclist - Process a template with a nodelist

</pre><h4><b>SYNOPSIS</b></h4><pre>
       <b>torrus</b> <b>ttproclist</b> --tmpl=<u>TFILE</u> --out=<u>OFILE</u> --nodes=<u>NFILE</u> [<u>options...</u>]

</pre><h4><b>DESCRIPTION</b></h4><pre>
       This command takes a Template-Toolkit template and a list of nodes (usually SNMP devices) as input. The
       output file is a result of template substitution, according to the specified options.  Command-line
       options <b>--tmpl</b>, <b>--out</b> and <b>--nodes</b> are mandatory.

       This utility can be used to generate the discovery instructions XML out of a predefined template and a
       dynamically generated list of devices.  Alternatively, it can produce Torrus XML configuration for a
       given list of objects, etc.

       The following variables are predefined when the template is processed:

       •   "nodes"

           Hash  array  of nodes. Hash keys are the node names. Values are symbolic names. If symbolic names are
           not defined, values are the same as keys.

       •   "param"

           Hash array of command-line parameters given in <b>--param</b> option.

       •   "nodesfile", "creator"

           Informative variables. They can be used  to  produce  the  creation  note  in  the  resulting  files.
           "nodesfile" returns the file name of nodes, and "creator" returns a detailed information how the file
           was generated, with timestamp and command line options.

</pre><h4><b>OPTIONS</b></h4><pre>
       <b>--tmpl</b>=<u>TFILE</u>
           The  file  name  of  the  input  template.  Relative names are looked in the current directory and in
           <u>/etc/torrus/templates</u>. The file name may also be an absolute path.

       <b>--out</b>=<u>OFILE</u>
           Output file name. If no absolute path given, the file is written in the current directory.

       <b>--nodes</b>=<u>NFILE</u>
           The name of the nodes list. Nodes  should  be  separated  by  space  or  tab  character  or  newline.
           Additional  information,  referred  to  as  symbolic name, can be supplied after a colon, of the form
           NODENAME:SYMBOLICNAME.

       <b>--param</b>=<u>NAME:VALUE,NAME:VALUE...</u>
           List of optional parameters that may be used in the template.

</pre><h4><b>EXAMPLES</b></h4><pre>
       The following example gerenates "devdiscover" input file from a template.  The template is as follows:

        &lt;?xml version="1.0" encoding="UTF8"?&gt;
        &lt;snmp-discovery&gt;
        &gt;&gt;&gt; usual DDX parameters here, like SNMP community and data-dir
         &lt;param name="snmp-community" value="private"/&gt;
         &lt;param...
        &gt;&gt;&gt; This loop generates per-host entries
         [% FOREACH n = nodes.keys.sort %]
         &lt;host&gt;
           &lt;param name="snmp-host" value="[% n %]"/&gt;
           &lt;param name="symbolic-name" value="[% nodes.$n %]"/&gt;
           &lt;param name="output-file" value="nodes/[% n %].xml"/&gt;
         &lt;/host&gt;
         [% END %]
        &gt;&gt;&gt; Generate the bundle file, so that you need only one
        &gt;&gt;&gt; entry in torrus-site-config.pl
         &lt;param name="output-bundle" value="[% param.BUNDLE %].xml"/&gt;
        &lt;/snmp-discovery&gt;

       The following command would generate <u>MY.ddx</u> from template file <u>MY.ddtmpl</u> as  described  above.  The  file
       <u>MY.nodes</u>  is  a  list of SNMP devices, one per line. Then "devdiscover" is launched with <u>MY.ddx</u> as input.
       Note also the short form of the command line wrapper.

        torrus ttproclist --tmpl=MY.ddtmpl \
          --nodes=MY.nodes \
          --out=/usr/local/etc/torrus/discovery/MY.ddx \
          --param=BUNDLE:MYNODES

        torrus dd --in=MY.ddx --verbose

       In addition, you may put some common parameters in Template BLOCK  statement  in  a  separate  file,  and
       INCLUDE it in your templates. See the Template-Toolkit documentation for more detail.

</pre><h4><b>NOTES</b></h4><pre>
       See more documentation at Torrus home page: <a href="http://torrus.org">http://torrus.org</a>

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       Template-Toolkit documentation: <a href="http://template-toolkit.org/">http://template-toolkit.org/</a>

       <b><a href="../man8/torrus.8.html">torrus</a></b>(8), <b><a href="../man8/torrus_devdiscover.8.html">torrus_devdiscover</a></b>(8)

</pre><h4><b>AUTHOR</b></h4><pre>
       Stanislav Sinyagin &lt;<a href="mailto:ssinyagin@k-open.com">ssinyagin@k-open.com</a>&gt;

torrus 3.00                                        2023-05-02                               <u><a href="../man8/TORRUS_TTPROCLIST.8.html">TORRUS_TTPROCLIST</a></u>(8)
</pre>
 </div>
</div></section>
</div>
</body>
</html>