<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update-exim4.conf.template - Regenerate exim4 configuration file template.</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/exim4-config">exim4-config_4.98.2-1ubuntu1_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       update-exim4.conf.template - Regenerate exim4 configuration file template.

</pre><h4><b>SYNOPSIS</b></h4><pre>
       <b>update-exim4.conf.template</b> <b>[-h|--help]</b> <b>[-n|--nobackup]</b> <b>[-o|--output</b> <b>file]</b> <b>[-r|--run]</b>

</pre><h4><b>OPTIONS</b></h4><pre>
       <u>-h|--help</u>
              Show short help message and exit

       <u>-n|--nobackup</u>
              Overwrite existing file, instead of keeping it as /etc/exim4/exim4.conf.template.bak.random-number

       <u>-o|--output</u> <u>file</u>
              Write output to file instead of /etc/exim4/exim4.conf.template.

       <u>-r|--run</u>
              Actually  do  something.  If  this  option  is  not specified <b>update-exim4.conf.template</b> will exit
              immediately.  This   option   was   introduced   because   <b>update-exim4.conf.template</b>   overwrites
              configuration files.

</pre><h4><b>DESCRIPTION</b></h4><pre>
       The    script    <b>update-exim4.conf.template</b>    regenerates   the   main   configuration   file   template
       <u>/etc/exim4/exim4.conf.template</u> from the configuration snippets in the <u>/etc/exim4/conf.d</u> directory tree.

       This process will overwrite all local changes in <u>/etc/exim4/exim4.conf.template</u> and might  be  useful  if
       there  are  local  changes  in  the  <u>/etc/exim4/conf.d</u>  directory tree, for example by a new mail related
       package dropping its own configuration snippets in there.

       <b>update-exim4.conf.template</b> ignores all files in the conf.d directory that have a filename which does  not
       consist  only  of  letters, numbers, underscores and hyphens ([:alnum:]_-), similar to <b><a href="../man8/run-parts.8.html">run-parts</a>(8).</b>  For
       easy interaction with packages extending Exim additionally /etc/exim4/conf.d/foo/bar.rul is used  instead
       of /etc/exim4/conf.d/foo/bar if it exists!

</pre><h4><b>ENVIRONMENT</b></h4><pre>
       If  <b>CONFDIR</b>  is  set  <b>update-exim4.conf.template</b>  will  search  for the input files below $CONFDIR/conf.d
       instead of /etc/exim4/conf.d/ and will write the output to  $CONFDIR/exim4.conf.template  instead  of  to
       /etc/exim4/exim4.conf.template (unless overridden with -o or --output).

</pre><h4><b>BUGS</b></h4><pre>
       This manual page needs a major re-work. If somebody knows better groff than us and has more experience in
       writing manual pages, any patches would be greatly appreciated.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       <b><a href="../man8/exim4.8.html">exim4</a></b>(8),  /usr/share/doc/exim4-base/  and  for  general notes and details about interaction with debconf
       /usr/share/doc/exim4-base/README.Debian.gz

</pre><h4><b>AUTHOR</b></h4><pre>
       Marc Haber &lt;mh+<a href="mailto:debian-packages@zugschlus.de">debian-packages@zugschlus.de</a>&gt;

EXIM4                                             Feb 27, 2005                     <u><a href="../man8/UPDATE-EXIM4.CONF.TEMPLATE.8.html">UPDATE-EXIM4.CONF.TEMPLATE</a></u>(8)
</pre>
 </div>
</div></section>
</div>
</body>
</html>