<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vztmpl-dl - download/list/update OpenVZ templates</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/jammy/+package/vzctl">vzctl_4.9.4-6_amd64</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       vztmpl-dl - download/list/update OpenVZ templates

</pre><h4><b>SYNOPSIS</b></h4><pre>
       <b>vztmpl-dl</b> [ <u>option</u> ... ] <u>template</u> [<u>template</u> ...]
       <b>vztmpl-dl</b> [ <u>option</u> ... ] <b>--update-all</b>
       <b>vztmpl-dl</b> <b>--list-local</b>|<b>--list-remote</b>|<b>--list-all</b>|<b>--list-orphans</b>
       <b>vztmpl-dl</b> <b>--config</b>|<b>--help</b>

</pre><h4><b>DESCRIPTION</b></h4><pre>
       The main purpose of this utility is to download a precreated container tarballs (also known as templates)
       from the OpenVZ download server. It can be used directly from the command line, and is also used by <b>vzctl</b>
       <b>create</b>.

       Usually  one  or  more  template  names are required, except if one of <b>--update-all</b>, <b>--list</b>*, <b>--config</b> or
       <b>--help</b> is used.

</pre><h4><b>OPTIONS</b></h4><pre>
       <b>--gpg-check</b>
              Check GPG signatures of downloaded files. By default, GPG check is performed if <b>CHECK_TEMPLATE_SIG</b>
              is set to <b>yes</b> in <b>/etc/vz/download.conf</b> file, <b><a href="../man1/gpg.1.html">gpg</a></b>(1) tool is installed, and the OpenVZ  public  key
              is available in the gpg keyring. See <b>EXAMPLES</b> section below on how to install OpenVZ public key.

       <b>--no-gpg-check</b>
              Do not check GPG signatures.

       <b>--ignore-errors</b>
              Keep  processing  templates  from the list and return 0 exit code, even if some template failed to
              download. Without this option, <b>vztmpl-dl</b> aborts upon first download failure.

       <b>--update</b>
              Update (re-download) existing templates.

       <b>--no-update</b>
              Do not try to update existing templates.

       <b>--quiet</b>
              Be less talkative (currently it only adds --quiet flag to <b><a href="../man1/wget.1.html">wget</a></b>(1) ).

       <b>--no-quiet</b>
              Be more talkative (this can be used to negate the effect of <b>QUIET=yes</b> in <b>download.conf.</b>

       <b>--update-all</b>
              Try to update all templates that are available locally. Note that there  is  no  need  to  specify
              individual templates. This options implicitly assumes <b>--update</b> and <b>--ignore-errors</b> options.

       <b>--list-remote</b>
              Output  list  of  templates  available  for  download.  This option is also used by <b><a href="../man8/vzctl.8.html">vzctl</a></b>(8) bash-
              completion script to complete <b>--ostemplate</b> option arguments.

       <b>--list-local</b>
              Output list of templates available locally.

       <b>--list-all</b>
              Output combined list of templates.

       <b>--list-orphans</b>
              Output list of local templates not available remotely. In trivial scenario this will give the list
              of old templates that are no longer officially supported.

       <b>--config</b>
              Output current configuration. The tool has built-in configuration  which  can  be  overwritten  by
              options in <b>/etc/vz/download.conf</b> file.

       <b>--help</b> Output help.

</pre><h4><b>CONFIGURATION</b></h4><pre>
       The  tool  has  a  built-in configuration defaults, which can be changed by editing <b>/etc/vz/download.conf</b>
       file. The following parameters can be set:

       <b>UPDATE_TEMPLATE</b>
              Default is <b>yes</b>.  Setting to <b>no</b> has the same effect as using <b>--no-update</b> option.

       <b>CHECK_TEMPLATE_SIG</b>
              Default is <b>no</b>.  Setting to <b>yes</b> has the same effect as using <b>--gpg-check</b> option.

       <b>QUIET</b>  Default is <b>no</b>.  Setting to <b>yes</b> has the same effect as using <b>--quiet</b> option.

       <b>TMPL_REPO_PREFIX</b>
              URL repo prefix.  Default  is  <b><a href="http://download.openvz.org/template/precreated">http://download.openvz.org/template/precreated</a></b>.   Setting  this  to
              location  of  your  closest  OpenVZ  download mirror can speed up download. Current list of OpenVZ
              mirrors is available at <b><a href="http://openvz.org/Download_mirrors">http://openvz.org/Download_mirrors</a></b>.

       <b>TEMPLATE_REPOS</b>
              List of URLs to get repositories from. Default is ${TMPL_REPO_PREFIX}.  More URLs can be added  to
              get access to beta or unsupported templates.

</pre><h4><b>EXIT</b> <b>STATUS</b></h4><pre>
       Returns 0 upon success, or an appropriate error code in case of an error:

       1      Download error

       2      Local template file already present, not updating

       3      Error in usage (no argument provided)

       4      wget binary not found

       5      GPG signature check failed

</pre><h4><b>EXAMPLES</b></h4><pre>
       To add OpenVZ public key to gpg keyring:
         gpg --search-keys <a href="mailto:security@openvz.org">security@openvz.org</a>

       To list all available templates:
         vztmpl-dl --list

       To download (or update) centos-6 templates:
         vztmpl-dl centos-6-x86 centos-6-x86_64

       To use <b>yandex.ru</b> mirror (in <b>/etc/vz/download.conf</b>):
         TMPL_REPO_PREFIX="<a href="http://mirror.yandex.ru/mirrors/download.openvz.org/template/precreated">http://mirror.yandex.ru/mirrors/download.openvz.org/template/precreated</a>"

       To enable beta templates (in <b>/etc/vz/download.conf</b>):
         TEMPLATE_REPOS="${TEMPLATE_REPOS} ${TMPL_REPO_PREFIX}/beta/"

</pre><h4><b>FILES</b></h4><pre>
       /etc/vz/download.conf
       /vz/template/cache

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       <b><a href="../man8/arpsend.8.html">arpsend</a></b>(8), <b><a href="../man5/download.conf.5.html">download.conf</a></b>(5), <b><a href="http://wiki.openvz.org/Package_signatures">http://wiki.openvz.org/Package_signatures</a>#Importing_the_public_key</b>.

</pre><h4><b>LICENSE</b></h4><pre>
       Copyright (C) 2011-2013, Parallels, Inc. Licensed under GNU GPL.

OpenVZ                                             18 Jun 2013                                      <u><a href="../man8/vztmpl-dl.8.html">vztmpl-dl</a></u>(8)
</pre>
 </div>
</div></section>
</div>
</body>
</html>