<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>usb_template — USB device side templates</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/plucky/+package/freebsd-manpages">freebsd-manpages_12.2-2_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       usb_template — USB device side templates

</pre><h4><b>SYNOPSIS</b></h4><pre>
       To compile this module into the kernel, place the following line in your kernel configuration file:

             <b>device</b> <b>usb_template</b>

       To load the module at boot time, place the following line in <u><a href="../man5/loader.conf.5.html">loader.conf</a></u>(5):

             usb_template_load="YES"

</pre><h4><b>DESCRIPTION</b></h4><pre>
       The  <b>usb_template</b>  module implements various USB templates that are needed when programming an USB device
       side driver.  A USB template consists of  an  USB  device  descriptor,  one  or  more  USB  configuration
       descriptors, one or more USB interface descriptors, one or more USB endpoint descriptors, USB strings and
       additional  USB descriptors.  USB templates are selected using the <u>hw.usb.template</u> sysctl and tunable, or
       by using  the  <u><a href="../man8/usbconfig.8.html">usbconfig</a></u>(8)  <b>set_template</b>  subcommand.   Changing  the  <u>hw.usb.template</u>  sysctl  triggers
       reenumeration  by  the  USB  host;  changes  to  other  sysctls  may  not  be  visible  to the host until
       reenumeration is performed.

       Available templates are:

          <u>Value</u>    <u>Description</u>
          0        USB Mass Storage, see <u><a href="../man4/cfumass.4.html">cfumass</a></u>(4)
          1        CDC Ethernet, see <u><a href="../man4/cdce.4.html">cdce</a></u>(4)
          2        Media Transfer Protocol (MTP)
          3        USB serial port, see <u><a href="../man4/umodem.4.html">umodem</a></u>(4)
          4        USB audio
          5        USB keyboard
          6        USB mouse
          7        USB phone
          8        CDC Ethernet and serial port
          9        USB MIDI
          10       CDC Ethernet, serial port, and storage
          11       CDC Ethernet Emulation Model, see <u><a href="../man4/cdceem.4.html">cdceem</a></u>(4)

</pre><h4><b>SYSCTL</b> <b>VARIABLES</b></h4><pre>
       The following variables are available as both <u><a href="../man8/sysctl.8.html">sysctl</a></u>(8) variables and <u><a href="../man8/loader.8.html">loader</a></u>(8) tunables:

       <u>hw.usb.template</u>
               Currently selected template.  Set to -1 to make the device disappear from the USB host  point  of
               view.

       <u>hw.usb.template_power</u>
               USB bus power consumption in mA at 5V.  Must be between 0 and 500.  Setting to 0 marks the device
               as self-powered.  Defaults to 500mA.

       <u>hw.usb.templates.N</u>
               Configuration for template number <u>N</u>.

       <u>hw.usb.templates.N.vendor_id</u>
               16-bit vendor identifier (VID), usually assigned by USB-IF.

       <u>hw.usb.templates.N.product_id</u>
               16-bit product identifier (PID).

       <u>hw.usb.templates.N.manufacturer</u>
               String containing human-readable manufacturer name.

       <u>hw.usb.templates.N.product</u>
               String containing human-readable product name.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       <u><a href="../man4/cfumass.4.html">cfumass</a></u>(4), <u><a href="../man4/usb.4.html">usb</a></u>(4), <u><a href="../man4/usfs.4.html">usfs</a></u>(4), <u><a href="../man8/usbconfig.8.html">usbconfig</a></u>(8)

</pre><h4><b>STANDARDS</b></h4><pre>
       The <b>usb_template</b> module complies to the USB 1.0, 2.0 and 3.0 standard.

</pre><h4><b>HISTORY</b></h4><pre>
       The <b>usb_template</b> module was written by Hans Petter Selasky &lt;<u><a href="mailto:hselasky@FreeBSD.org">hselasky@FreeBSD.org</a></u>&gt;.

Debian                                           August 7, 2019                                  <u><a href="../man4/USB_TEMPLATE.4.html">USB_TEMPLATE</a></u>(4)
</pre>
 </div>
</div></section>
</div>
</body>
</html>