<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>autoheader2.13 - creates a template file of C #define's for use by configure.</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/plucky/+package/autoconf2.13">autoconf2.13_2.13-69_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       autoheader2.13 - creates a template file of C #define's for use by configure.

</pre><h4><b>SYNOPSIS</b></h4><pre>
       <b>autoheader2.13</b> [ <b>--help</b> | <b>-h</b> ] [ <b>--localdir=dir</b> | <b>-l</b> <b>dir</b> ] [ <b>--macrodir=dir</b> | <b>-m</b> <b>dir</b> ] [ <b>--version</b> ]

</pre><h4><b>DESCRIPTION</b></h4><pre>
       The  <b>autoheader2.13</b>  program can create a template file of C <b>#define</b> statements for <b>configure</b> to use.  If
       <b>configure.in</b> invokes <b>AC_CONFIG_HEADER(FILE)</b>, <b>autoheader2.13</b> creates <b>FILE.in</b>; if multiple  file  arguments
       are given, the first one is used.  Otherwise, <b>autoheader2.13</b> creates <b>config.h.in</b>.

       If  you  give <b>autoheader2.13</b> an argument, it uses that file instead of <b>configure.in</b> and writes the header
       file to the standard output instead of to <b>config.h.in</b>.  If you give <b>autoheader2.13</b> an argument of  <b>-</b>,  it
       reads the standard input instead of <b>configure.in</b> and writes the header file to the standard output.

       <b>autoheader2.13</b>  scans  <b>configure.in</b>  and  figures  out  which C preprocessor symbols it might define.  It
       copies comments and <b>#define</b> and <b>#undef</b> statements from a file called <b>acconfig.h</b>, which comes with and  is
       installed with Autoconf.  It also uses a file called <b>acconfig.h</b> in the current directory, if present.  If
       you  <b>AC_DEFINE</b>  any  additional  symbols,  you  must create that file with entries for them.  For symbols
       defined by <b>AC_CHECK_HEADERS</b>, <b>AC_CHECK_FUNCS</b>, <b>AC_CHECK_SIZEOF</b>, or <b>AC_CHECK_LIB</b>,  <b>autoheader2.13</b>  generates
       comments  and  <b>#undef</b>  statements itself rather than copying them from a file, since the possible symbols
       are effectively limitless.

       The file that <b>autoheader2.13</b> creates contains mainly <b>#define</b> and <b>#undef</b> statements and their accompanying
       comments.  If <b>./acconfig.h</b> contains the string <b>@TOP@</b>, <b>autoheader2.13</b> copies the  lines  before  the  line
       containing  <b>@TOP@</b>  into  the  top of the file that it generates.  Similarly, if <b>./acconfig.h</b> contains the
       string <b>@BOTTOM@</b>, <b>autoheader2.13</b> copies the lines after that line to the end of  the  file  it  generates.
       Either or both of those strings may be omitted.

       An  alternate  way  to  produce  the same effect is to create the files <b>FILE.top</b> (typically <b>config.h.top</b>)
       and/or <b>FILE.bot</b> in the current directory.  If they exist, <b>autoheader2.13</b> copies them to the beginning and
       end, respectively, of its output.  Their use is discouraged because they have file names that contain two
       periods, and so can not be stored on MS-DOS; also, they are two more files to clutter up  the  directory.
       But  if  you use the <b>--localdir=DIR</b> option to use an <b>acconfig.h</b> in another directory, they give you a way
       to put custom boilerplate in each individual <b>config.h.in</b>.

       <b>autoheader2.13</b> accepts the following options:

       <b>--help</b>

       <b>-h</b>     Print a summary of the command line options and exit.

       <b>--localdir=DIR</b>

       <b>-l</b> <b>DIR</b> Look for the package files <b>aclocal.m4</b> and <b>acconfig.h</b> (but not <b>FILE.top</b> and <b>FILE.bot</b>) in  directory
              DIR instead of in the current directory.

       <b>--macrodir=DIR</b>

       <b>-m</b> <b>DIR</b> Look  for  the  installed  macro  files  and  <b>acconfig.h</b>  in  directory DIR.  You can also set the
              <b>AC_MACRODIR</b> environment variable to a directory; this option overrides the environment variable.

       <b>--version</b>
              Print the version number of Autoconf and exit.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       <b><a href="../man1/autoconf2.13.1.html">autoconf2.13</a></b>(1), <b><a href="../man1/autoreconf2.13.1.html">autoreconf2.13</a></b>(1), <b><a href="../man1/autoscan2.13.1.html">autoscan2.13</a></b>(1), <b><a href="../man1/autoupdate2.13.1.html">autoupdate2.13</a></b>(1), <b><a href="../man1/ifnames2.13.1.html">ifnames2.13</a></b>(1)

</pre><h4><b>AUTHORS</b></h4><pre>
       David MacKenzie, with help from Franc,ois Pinard, Karl Berry, Richard Pixley, Ian  Lance  Taylor,  Roland
       McGrath,   Noah  Friedman,  David  D.  Zuhn,  and  many  others.   This  manpage  written  by  Ben  Pfaff
       &lt;<a href="mailto:pfaffben@debian.org">pfaffben@debian.org</a>&gt; for the Debian GNU/Linux <b>autoconf2.13</b> package.

                                                    Autoconf                                       <u><a href="../man1/AUTOHEADER.1.html">AUTOHEADER</a></u>(1)
</pre>
 </div>
</div></section>
</div>
</body>
</html>