<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>auto-multiple-choice-meptex - gets the layout information from the working document to the layout</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/plucky/+package/auto-multiple-choice-common">auto-multiple-choice-common_1.6.0-4build1_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       auto-multiple-choice-meptex - gets the layout information from the working document to the layout
       database

</pre><h4><b>SYNOPSIS</b></h4><pre>

       <b>auto-multiple-choice</b> meptex --src <u>calage.xy</u> --data <u>directory</u>

</pre><h4><b>DESCRIPTION</b></h4><pre>
       The <b>auto-multiple-choice</b> <b>meptex</b> command extracts the layout information (exact positions of the boxes,
       the marks, the name field on all the pages) from a working document <u>calage.xy</u> and fills the layout
       database (a SQLite file) in the data directory <u>directory</u>.

</pre><h4><b>AUTHORS</b></h4><pre>
       <b>Alexis</b> <b>Bienvenüe</b> &lt;<a href="mailto:paamc@passoire.fr">paamc@passoire.fr</a>&gt;
           Main author

       <b>Anirvan</b> <b>Sarkar</b>
           Author and Editor

       <b>Hiroto</b> <b>Kagotani</b>
           Editor

       <b>Frédéric</b> <b>Bréal</b>
           Author and Editor

       <b>Jean</b> <b>Bérard</b>
           Translation from French

       <b>Georges</b> <b>Khaznadar</b>
           Translation from French

</pre><h4><b>COPYRIGHT</b></h4><pre>
       Copyright © 2008-2022 Alexis Bienvenüe

       This document can be used according to the terms of the GNU General Public License, version 2 or later.

Auto Multiple Choice                               2023-02-06                              <u><a href="../man1/AUTO-MULTIPLE-CHOI.1.html">AUTO-MULTIPLE-CHOI</a></u>(1)
</pre>
 </div>
</div></section>
</div>
</body>
</html>