<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cronolog - write log messages to log files named according to a template</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/plucky/+package/cronolog">cronolog_1.6.2+rpk-5_amd64</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       cronolog - write log messages to log files named according to a template

</pre><h4><b>SYNOPSIS</b></h4><pre>
       cronolog [<u>OPTION</u>]... <u>template</u>

</pre><h4><b>DESCRIPTION</b></h4><pre>
       <b>cronolog</b>  is  a  simple program that reads log messages from its input and writes them to a set of output
       files, the names of which are constructed using <b>template</b> and the current date  and  time.   The  template
       uses  the  same  format  specifiers  as  the  Unix  <b><a href="../man1/date.1.html">date</a></b>(1) command (which are the same as the standard C
       strftime library function).

       Before writing a message <b>cronolog</b> checks the time to see whether the current log file is still valid  and
       if not it closes the current file, expands the template using the current date and time to generate a new
       file  name,  opens  the  new file (creating missing directories on the path of the new log file as needed
       unless the program is compiled with -DDONT_CREATE_SUBDIRS) and calculates the time at which the new  file
       will become invalid.

       <b>cronolog</b>  is intended to be used in conjunction with a Web server, such as Apache to split the access log
       into daily or monthly logs.  For example the Apache configuration directives:

               TransferLog "|/usr/bin/cronolog /www/logs/%Y/%m/%d/access.log"
               ErrorLog    "|/usr/bin/cronolog /www/logs/%Y/%m/%d/errors.log"

       would instruct Apache to pipe its access and error log messages into separate copies of  cronolog,  which
       would create new log files each day in a directory hierarchy structured by date, i.e. on 31 December 1996
       messages would be written to

               /www/logs/1996/12/31/access.log
               /www/logs/1996/12/31/errors.log

       after midnight the files

               /www/logs/1997/01/01/access.log
               /www/logs/1997/01/01/errors.log

       would  be  used,  with the directories 1997, 1997/01 and 1997/01/01 being created if they did not already
       exist.  (Note that prior to version 1.2 Apache did not allow a program to be specified as the argument of
       the ErrorLog directive.)

</pre><h4><b>Options</b></h4><pre>
       <b>cronolog</b> accepts the following options and arguments:

       -H <u>NAME</u>

       --hardlink=<u>NAME</u>
              maintain a hard link from <u>NAME</u> to the current log file.

       -S <u>NAME</u>

       --symlink=<u>NAME</u>

       -l <u>NAME</u>

       --link=<u>NAME</u>
              maintain a symbolic link from <u>NAME</u> to the current log file.

       -P <u>NAME</u>

       --prev-simlink=<u>NAME</u>
              maintain a symbolic link from <u>NAME</u> to the previous log file.  Requires that the  <b>--symlink</b>  option
              is specified, as cronolog renames the current link to the name specified for the previous link.

       -h

       --help print a help message and then exit.

       -p <u>PERIOD</u>

       --period=<u>PERIOD</u>
              specifies  the  period  explicitly  as an optional digit string followed by one of units: <b>seconds</b>,
              <b>minutes</b>, <b>hours</b>, <b>days</b>, <b>weeks</b> or <b>months</b>.  The count cannot be greater than the number  of  units  in
              the  next  larger  unit, i.e. you cannot specify "120 minutes", and for seconds, minutes and hours
              the count must be a factor of the next higher unit, i.e you can specify 1, 2, 3, 4, 5, 6, 10,  15,
              20 or 30 minutes but not say 7 minutes.

       -d <u>PERIOD</u>

       --delay=<u>PERIOD</u>
              specifies  the delay from the start of the period before the log file is rolled over.  For example
              specifying (explicitly or implicitly) a period of 15 minutes and a delay of 5 minutes  results  in
              the  log  files being rotated at five past, twenty past, twentyfive to and ten to each hour.   The
              delay cannot be longer than the period.

       -o

       --once-only
              create single output log from template, which is not rotated.

       -x FILE

       --debug=<u>FILE</u>
              write debug messages to <u>FILE</u> or to the standard error stream if <u>FILE</u> is "-".  (See the README file
              for more details.)

       -s TIME

       --start-time=<u>TIME</u>
              pretend that the starting time is <u>TIME</u> (for debugging purposes).  <u>TIME</u> <u>should</u> <u>be</u> <u>something</u> <u>like</u> <u>DD</u>
              <u>MONTH</u> <u>YYYY</u> <u>HH:MM:SS</u> <u>(the</u> <u>day</u> <u>and</u> month are reversed if the american option is specified).  If  the
              seconds  are omitted then they are taken as zero and if the hours and minutes are omitted then the
              time of day is taken as 00:00:00 (i.e. midnight).  The day, month and year  can  be  separated  by
              spaces, hyphens (-) or solidi (/).

       -a

       --american
              Interprete the date part of the starting time the American way (month then day).

       -e

       --european
              Interprete  the  date  part  of  the starting time the European way (day then month).  This is the
              default.

       -v

       --version
              print version information and exit.

</pre><h4><b>Template</b> <b>format</b></h4><pre>
       Each character in the template represents a character in the expanded filename, except for date and  time
       format specifiers, which are replaced by their expansion.  Format specifiers consist of a `%' followed by
       one of the following characters:

       %      a literal % character

       n      a new-line character

       t      a horizontal tab character

       Time fields:

       H      hour (00..23)

       I      hour (01..12)

       p      the locale's AM or PM indicator

       M      minute (00..59)

       S      second (00..61, which allows for leap seconds)

       X      the locale's time representation (e.g.: "15:12:47")

       Z      time zone (e.g. GMT), or nothing if the time zone cannot be determined

       Date fields:

       a      the locale's abbreviated weekday name (e.g.: Sun..Sat)

       A      the locale's full weekday name (e.g.: Sunday .. Saturday)

       b      the locale's abbreviated month name (e.g.: Jan .. Dec)

       B      the locale's full month name, (e.g.: January .. December)

       c      the locale's date and time (e.g.: "Sun Dec 15 14:12:47 GMT 1996")

       d      day of month (01 .. 31)

       j      day of year (001 .. 366)

       m      month (01 .. 12)

       U      week of the year with Sunday as first day of week (00..53, where week 1 is the week containing the
              first Sunday of the year)

       W      week of the year with Monday as first day of week (00..53, where week 1 is the week containing the
              first Monday of the year)

       w      day of week (0 .. 6, where 0 corresponds to Sunday)

       x      locale's date representation (e.g. today in April in Britain: "13/04/97")

       y      year without the century (00 .. 99)

       Y      year with the century (1970 .. 2038)

       Other specifiers may be available depending on the C library's implementation of the <b>strftime</b> function.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       <b><a href="../man1m/apache.1m.html">apache</a></b>(1m) <b><a href="../man1/date.1.html">date</a></b>(1) <b><a href="../man3/strftime.3.html">strftime</a></b>(3) <b><a href="../man5/environ.5.html">environ</a></b>(5)

       More information and the latest version of <b>cronolog</b> can be obtained from

               <a href="http://www.ford-mason.co.uk/resources/cronolog/">http://www.ford-mason.co.uk/resources/cronolog/</a>

       If you have any suggestions, bug reports, fixes, or enhancements, please mail them to the author.

   <b>More</b> <b>about</b> <b>Apache</b>
       Documentation for the Apache http server is available from

               <a href="http://www.apache.org">http://www.apache.org</a>

</pre><h4><b>FUTURE</b> <b>DIRECTIONS</b></h4><pre>
       The  functionality  of  <b>cronolog</b> could be built into Apache, thus saving the overhead of having a process
       per log stream and that of transferring data from the server process to the cronolog process.   The  main
       complication is handling the case where multiple log streams are written to the same file (template), for
       example where different virtual servers write to the same set of log files.

</pre><h4><b>AUTHOR</b></h4><pre>
       Andrew Ford &lt;<a href="mailto:A.Ford@ford-mason.co.uk">A.Ford@ford-mason.co.uk</a>&gt;

       <b>cronolog</b>  is  based  on  a program called <b>rotatelogs</b> by Ben Laurie, which is packaged with the Apache web
       server.

       The symbolic link option was suggested by Juergen Lesny.

                                                   March 1998                                       <u><a href="../man1m/cronolog.1m.html">cronolog</a></u>(1m)
</pre>
 </div>
</div></section>
</div>
</body>
</html>