<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cstest - render a clearsilver template combined with a dataset</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/plucky/+package/clearsilver-dev">clearsilver-dev_0.10.5-6build1_amd64</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       cstest - render a clearsilver template combined with a dataset

</pre><h4><b>SYNOPSIS</b></h4><pre>
       <b>cstest</b> <b>[-v]</b> <u>dataset.hdf</u> <u>template.cs</u>

</pre><h4><b>DESCRIPTION</b></h4><pre>
       Use cstest to check the validity and the output of a clearsilver template combined with a hdf dataset.

       This  little program may help you in developing clearsilver templates. But it is usually not suitable for
       complex templates (e.g. using macros or functions).

</pre><h4><b>REPORTING</b> <b>BUGS</b></h4><pre>
       Report    potential    bugs    of    this    program     to     the     clearsilver     mailing     list:
       <a href="http://www.clearsilver.net/discussion.hdf">http://www.clearsilver.net/discussion.hdf</a>

       Sent hints regarding this manpage to &lt;<a href="mailto:devel@sumpfralle.de">devel@sumpfralle.de</a>&gt;.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       <a href="http://www.clearsilver.net/docs/">http://www.clearsilver.net/docs/</a>

clearsilver.net                                     May 02006                                          <u><a href="../man1/cstest.1.html">cstest</a></u>(1)
</pre>
 </div>
</div></section>
</div>
</body>
</html>