<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ctpl - CTPL command-line template parsing tool</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/plucky/+package/ctpl">ctpl_0.3.5+dfsg-2_amd64</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       <b>ctpl</b> - CTPL command-line template parsing tool

</pre><h4><b>SYNOPSIS</b></h4><pre>
       <b>ctpl</b> [<u>OPTION</u>]... <u>INPUTFILE</u>...

</pre><h4><b>DESCRIPTION</b></h4><pre>
       <b>ctpl</b> parses one or more <u>INPUTFILE</u> template against the provided environment and outputs the result.

</pre><h4><b>OPTIONS</b></h4><pre>
       <b>-h</b>, <b>--help</b>
              Prints the command line options.

       <b>-o</b>, <b>--output</b>=<u>FILE</u>
              Write output to <u>FILE</u>. If not provided, defaults to stdout.

       <b>-e</b>, <b>--env-file</b>=<u>ENVFILE</u>
              Add environment from <u>ENVFILE</u>. This option may appear more than once.

       <b>-c</b>, <b>--env-chunk</b>=<u>CHUNK</u>
              Add environment chunk <u>CHUNK</u>. This option may appear more than once.

       <b>-v</b>, <b>--verbose</b>
              Be verbose.

       <b>--version</b>
              Print the version information and exit.

       <b>--encoding</b>=<u>ENCODING</u>
              Specify the encoding of the input and output files. The default encoding is the system's one.

</pre><h4><b>TEMPLATE</b> <b>AND</b> <b>ENVIRONMENT</b> <b>DESCRIPTION</b> <b>SYNTAX</b></h4><pre>
       For  the documentation about the syntax of templates and environment descriptions, see the CTPL library's
       documentation.

</pre><h4><b>REPORTING</b> <b>BUGS</b></h4><pre>
       Report CTPL bugs to <a href="mailto:ban@herbesfolles.org">ban@herbesfolles.org</a>
       CTPL home page: &lt;<a href="http://ctpl.tuxfamily.org">http://ctpl.tuxfamily.org</a>&gt;

</pre><h4><b>AUTHOR</b></h4><pre>
       Colomban Wendling (<a href="mailto:ban@herbesfolles.org">ban@herbesfolles.org</a>)

</pre><h4><b>COPYRIGHT</b></h4><pre>
       Copyright   ©   2010   Colomban   Wendling.    License   GPLv3+:   GNU   GPL   version   3    or    later
       &lt;<a href="http://gnu.org/licenses/gpl.html">http://gnu.org/licenses/gpl.html</a>&gt;.
       This  is  free software: you are free to change and redistribute it.  There is NO WARRANTY, to the extent
       permitted by law.

                                                   15 Apr 2010                                           <u><a href="../man1/CTPL.1.html">CTPL</a></u>(1)
</pre>
 </div>
</div></section>
</div>
</body>
</html>