<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This article applies to: ✔️ .NET Core 3.1 SDK and later versions</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/plucky/+package/dotnet-host-9.0">dotnet-host-9.0_9.0.8-0ubuntu1~25.04.1_amd64</a> <br><br><pre>
</pre><h4><b>dotnet</b> <b>new</b> <b>uninstall</b></h4><pre>
       <b>This</b> <b>article</b> <b>applies</b> <b>to:</b> ✔️ .NET Core 3.1 SDK and later versions

</pre><h4><b>NAME</b></h4><pre>
       dotnet-new-uninstall - uninstalls a template package.

</pre><h4><b>SYNOPSIS</b></h4><pre>
              dotnet new uninstall &lt;PATH|NUGET_ID&gt;
                  [-d|--diagnostics] [--verbosity &lt;LEVEL&gt;] [-h|--help]

</pre><h4><b>DESCRIPTION</b></h4><pre>
       The  <b>dotnet</b>  <b>new</b>  <b>uninstall</b> command uninstalls a template package at the <b>PATH</b> or <b>NUGET_ID</b> provided.  When
       the <b>&lt;PATH|NUGET_ID&gt;</b> value isn’t specified, all currently installed template packages and their associated
       templates are displayed.  When specifying <b>NUGET_ID</b>, don’t include the version number.

       Starting with the .NET 7 SDK, the <b>dotnet</b> <b>new</b> syntax has changed:

       • The <b>--list</b>, <b>--search</b>, <b>--install</b>, and <b>--uninstall</b> options became <b>list</b>, <b>search</b>,  <b>install</b>,  and  <b>uninstall</b>
         subcommands.

       • The <b>--update-apply</b> option became the <b>update</b> subcommand.

       • To use <b>--update-check</b>, use the <b>update</b> subcommand with the <b>--check-only</b> option.

       Other  options  that  were available before are still available to use with their respective subcommands.
       Separate help for each subcommand is available via the <b>-h</b>  or  <b>--help</b>  option:  <b>dotnet</b>  <b>new</b>  <b>&lt;subcommand&gt;</b>
       <b>--help</b> lists all supported options for the subcommand.

       Additionally,  tab completion is now available for <b>dotnet</b> <b>new</b>.  It supports completion for installed tem‐
       plate names and for the options a selected template provides.  To activate tab completion  for  the  .NET
       SDK,  see  Enable tab completion.  &gt; &gt; Examples of the old syntax: &gt; &gt; - List the installed templates and
       details about them, including how to uninstall them: &gt; &gt; <b>dotnetcli</b> <b>&gt;</b>   <b>dotnet</b> <b>new</b> <b>--uninstall</b>  <b>&gt;</b>  &gt;  &gt;  -
       Uninstall  the  Azure  web  jobs  project  template package: &gt; &gt; <b>dotnetcli</b> <b>&gt;</b>   <b>dotnet</b> <b>new</b> <b>--uninstall</b> <b>Mi‐</b>
       <b>crosoft.Azure.WebJobs.ProjectTemplates</b> <b>&gt;</b>

</pre><h4><b>ARGUMENTS</b></h4><pre>
       • <b>&lt;PATH|NUGET_ID&gt;</b>

         The folder on the file system or the NuGet package identifier the package  was  installed  from.   Note
         that the version for the NuGet package should not be specified.

</pre><h4><b>OPTIONS</b></h4><pre>
       • <b>-d|--diagnostics</b>

         Enables diagnostic output.  Available since .NET SDK 7.0.100.

       • <b>-h|--help</b>

         Prints out help for the uninstall command.  Available since .NET SDK 7.0.100.

       • <b>-v|--verbosity</b> <b>&lt;LEVEL&gt;</b>

         Sets  the  verbosity  level  of  the command.  Allowed values are <b>q[uiet]</b>, <b>m[inimal]</b>, <b>n[ormal]</b>, and <b>di‐</b>
         <b>ag[nostic]</b>.  Available since .NET SDK 7.0.100.

</pre><h4><b>EXAMPLES</b></h4><pre>
       • List the installed templates and details about them, including how to uninstall them:

                dotnet new uninstall

       • Uninstall the SPA templates for ASP.NET Core:

                dotnet new uninstall Microsoft.DotNet.Web.Spa.ProjectTemplates

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       • dotnet new command

       • dotnet new list command

       • dotnet new search command

       • Custom templates for dotnet new

                                                   2024-10-02                            <u><a href="../man1/dotnet-new-uninstall.1.html">dotnet-new-uninstall</a></u>(1)
</pre>
 </div>
</div></section>
</div>
</body>
</html>