<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>findatp - find atoms template files</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/horae">horae_071~svn537+ds1-2_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       findatp - find atoms template files

</pre><h4><b>SYNOPSIS</b></h4><pre>
       <b>findatp</b>  file<u>...</u>

</pre><h4><b>DESCRIPTION</b></h4><pre>
       This  manpage  documents briefly the <b>findatp</b> program, a program which searchers for atoms template files.
       This program is mostly called internally by components of artemis.
       This manual page was written for the Debian distribution because the original program  does  not  have  a
       manual page.

</pre><h4><b>OPTIONS</b></h4><pre>
       This program requires no options.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       This program is part of the horae XAS analysis suite which can be obtained at
       <a href="http://cars9.uchicago.edu/~ravel/software/">http://cars9.uchicago.edu/~ravel/software/</a>

</pre><h4><b>AUTHOR</b></h4><pre>
       This  manual page was written by Carlo Segre &lt;<a href="mailto:segre@iit.edu">segre@iit.edu</a>&gt;, for the Debian GNU/Linux system (but may be
       used by others).

                                                  June 26, 2006                                       <u><a href="../man1/FINDATP.1.html">FINDATP</a></u>(1)
</pre>
 </div>
</div></section>
</div>
</body>
</html>