<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>html_formfu_deploy.pl - deploy local copy of HTML::FormFu template files</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/plucky/+package/libhtml-formfu-perl">libhtml-formfu-perl_2.07000-2_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       html_formfu_deploy.pl - deploy local copy of HTML::FormFu template files

</pre><h4><b>VERSION</b></h4><pre>
       version 2.07

</pre><h4><b>SYNOPSIS</b></h4><pre>
       html_formfu_deploy.pl <u>target-directory</u>

</pre><h4><b>DESCRIPTION</b></h4><pre>
       The "html_formfu_deploy.pl" script creates a local copy of the HTML::FormFu template files for
       customization in the directory <u>target-directory</u>.

       If no customization is needed, HTML::FormFu should use the system-wide installation of the template
       files.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       HTML::FormFu::Deploy

</pre><h4><b>AUTHOR</b></h4><pre>
       Carl Franks &lt;<a href="mailto:cpan@fireartist.com">cpan@fireartist.com</a>&gt;

</pre><h4><b>COPYRIGHT</b> <b>AND</b> <b>LICENSE</b></h4><pre>
       This software is copyright (c) 2018 by Carl Franks.

       This is free software; you can redistribute it and/or modify it under the same terms as the Perl 5
       programming language system itself.

perl v5.38.2                                       2024-04-10                             <u><a href="../man1p/HTML_FORMFU_DEPLOY.1p.html">HTML_FORMFU_DEPLOY</a></u>(1p)
</pre>
 </div>
</div></section>
</div>
</body>
</html>