<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jose-jwk-gen - Creates a random JWK for each input JWK template</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/plucky/+package/jose">jose_14-1_amd64</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       jose-jwk-gen - Creates a random JWK for each input JWK template

</pre><h4><b>SYNOPSIS</b></h4><pre>
       <b>jose</b> <b>jwk</b> <b>gen</b> -i JWK [-o JWK]

</pre><h4><b>OVERVIEW</b></h4><pre>
       The <b>jose</b> <b>jwk</b> <b>gen</b> command generates a key from one or more JWK(Set) templates. If a single template is
       given as input, a single JWK will be output. However, if multiple templates are given as input, a single
       JWKSet will be output containing all the keys.

       The best way to generate a key is to specify the algorithm it will be used with in the "alg" property of
       the JWK template. This method should be preferred since, when generating from an algorithm, an
       appropriate "key_ops" parameter will be emitted automatically. Further, having a JWK with the algorithm
       already specified will assist algorithm inference when encrypting or signing.

       Alternatively, you can generate a key by specifying its key type ("kty") JWK property, along with the
       required type-specific generation parameter. See the examples below for how to do this for each key type.
       If the type-specific generation parameter is non-standard (for example: "bytes" and "bits"), it will be
       removed excluded from the output.

</pre><h4><b>OPTIONS</b></h4><pre>
       •   <b>-i</b> <u>JSON</u>, <b>--input</b>=<u>JSON</u> : Parse JWK(Set) template from JSON

       •   <b>-i</b> <u>FILE</u>, <b>--input</b>=<u>FILE</u> : Read JWK(Set) template from FILE

       •   <b>-i</b> -, <b>--input</b>=- : Read JWK(Set) template from standard input

       •   <b>-o</b> <u>FILE</u>, <b>--output</b>=<u>FILE</u> : Write JWK(Set) to FILE

       •   <b>-o</b> -, <b>--output</b>=- : Write JWK(Set) to standard input

       •   <b>-s</b>, <b>--set</b> : Always output a JWKSet

</pre><h4><b>EXAMPLES</b></h4><pre>
       Generate three keys, each targeting a different algorithm:

           $ jose jwk gen -i '{"alg":"HS256"}' -o oct.jwk
           $ jose jwk gen -i '{"alg":"RS256"}' -o rsa.jwk
           $ jose jwk gen -i '{"alg":"ES256"}' -o ec.jwk

       Generate three keys using key parameters rather than algorithms:

           $ jose jwk gen -i '{"kty":"oct","bytes":32}' -o oct.jwk
           $ jose jwk gen -i '{"kty":"RSA","bits":4096}' -o rsa.jwk
           $ jose jwk gen -i '{"kty":"EC","crv":"P-256"}' -o ec.jwk

       Create multiple keys at once using a JWKSet template:

           $ jose jwk gen \
             -i '{"keys":[{"alg":"HS256"},{"alg":"ES256"}]}' \
             -o keys.jwkset

       Create multiple keys at once using multiple JWK templates:

           $ jose jwk gen \
             -i '{"alg":"HS256"}' \
             -i '{"alg":"ES256"}' \
             -o keys.jwkset

</pre><h4><b>AUTHOR</b></h4><pre>
       Nathaniel McCallum <a href="mailto:npmccallum@redhat.com">npmccallum@redhat.com</a>

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       <b><a href="../man1/jose-alg.1.html">jose-alg</a></b>(1) &lt;jose-alg.1.adoc&gt;, <b><a href="../man1/jose-jwe-dec.1.html">jose-jwe-dec</a></b>(1) &lt;jose-jwe-dec.1.adoc&gt;, <b><a href="../man1/jose-jwe-enc.1.html">jose-jwe-enc</a></b>(1)
       &lt;jose-jwe-enc.1.adoc&gt;, <b><a href="../man1/jose-jwk-exc.1.html">jose-jwk-exc</a></b>(1) &lt;jose-jwk-exc.1.adoc&gt;, <b><a href="../man1/jose-jwk-pub.1.html">jose-jwk-pub</a></b>(1) &lt;jose-jwk-pub.1.adoc&gt;,
       <b><a href="../man1/jose-jwk-thp.1.html">jose-jwk-thp</a></b>(1) &lt;jose-jwk-thp.1.adoc&gt;, <b><a href="../man1/jose-jwk-use.1.html">jose-jwk-use</a></b>(1) &lt;jose-jwk-use.1.adoc&gt;, <b><a href="../man1/jose-jws-sig.1.html">jose-jws-sig</a></b>(1)
       &lt;jose-jws-sig.1.adoc&gt;, <b><a href="../man1/jose-jws-ver.1.html">jose-jws-ver</a></b>(1) &lt;jose-jws-ver.1.adoc&gt;,

                                                                                                 <u><a href="../man1/JOSE-JWK-GEN.1.html">JOSE-JWK-GEN</a></u>(1)
</pre>
 </div>
</div></section>
</div>
</body>
</html>