<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kma - maps and/or aligns raw reads to a template database</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/plucky/+package/kma">kma_1.4.15-1_amd64</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       kma - maps and/or aligns raw reads to a template database

</pre><h4><b>DESCRIPTION</b></h4><pre>
              KMA-1.3.23 maps and/or aligns raw reads to a template database.

       Options:
              Desc:                                   Default:

              Input:

       <b>-i</b>     Single end input(s)                     stdin

       <b>-ipe</b>   Paired end input(s)

       <b>-int</b>   Interleaved input(s)

              Output:

       <b>-o</b>     Output prefix

       <b>-ef</b>    Output additional features              False

       <b>-vcf</b>   Output vcf file, 2 to apply FT          False

       <b>-sam</b>   Output sam, 4/2096 for mapped/aligned   False

       <b>-nc</b>    No consensus file                       False

       <b>-nc</b>    No aln file                             False

       <b>-nf</b>    No frag file                            False

       <b>-matrix</b>
              Output assembly matrix                  False

       <b>-a</b>     Output all template mappings            False

       <b>-and</b>   Use both mrs and p-value on consensus   or

       <b>-oa</b>    Use neither mrs or p-value on consensus False

              Consensus:

       <b>-bc</b>    Minimum support to call bases           0

       <b>-bcNano</b>
              Altered indel calling for ONT data      False

       <b>-bcd</b>   Minimum depth to cal bases              1

       <b>-bcg</b>   Maintain insignificant gaps             False

       <b>-ID</b>    Minimum consensus ID                    1.0%

       <b>-dense</b> Skip insertion in consensus             False

       <b>-ref_fsa</b>
              Use n's on indels                       False

              General:

       <b>-t_db</b>  Template DB

       <b>-p</b>     P-value                                 0.05

       <b>-shm</b>   Use DB in shared memory                 0

       <b>-mmap</b>  Memory map *.comp.b                     False

       <b>-tmp</b>   Set directory for temporary files

       <b>-t</b>     Number of threads                       1

       <b>-status</b>
              Extra status                            False

       <b>-verbose</b>
              Extra verbose                           False

       <b>-c</b>     Citation

       <b>-v</b>     Version

       <b>-h</b>     Shows this help message

              Template mapping:

       <b>-ConClave</b>
              ConClave version                        1

       <b>-mem_mode</b>
              Base ConClave on template mappings      False

       <b>-proxi</b> Proximity scoring (negative for soft)   False/1.0

       <b>-ex_mode</b>
              Searh kmers exhaustively                False

       <b>-deCon</b> Remove contamination                    False

       <b>-Sparse</b>
              Only count kmers                        False

       <b>-ss</b>    Sparse sorting (q,c,d)                  q

       <b>-Mt1</b>   Map everything to one template          False/0

       <b>-pm</b>    Pairing method (p,u,f)                  u

       <b>-1t1</b>   One query to one template               False

       <b>-hmm</b>   Use a HMM to assign template(s)         True

       <b>-ck</b>    Count k-mers over pseudo alignment      False

              Chaining:

       <b>-k</b>     K-mersize                               DB defined

       <b>-ts</b>    Trim front of seeds                     0

       <b>-ssa</b>   Seeds soround alignments                False

       <b>-ex_mode</b>
              Searh kmers exhaustively                False

       <b>-fpm</b>   Pairing method (p,u,f)                  u

       <b>-mq</b>    Minimum mapping quality                 0

              Alignment:

       <b>-ca</b>    Circular alignments                     False

       <b>-mrs</b>   Minimum relative alignment score        0.5

       <b>-mrc</b>   Minimum query coverage                  0.0

       <b>-ml</b>    Minimum alignment length                16

       <b>-reward</b>
              Score for match                         1

       <b>-penalty</b>
              Penalty for mismatch                    2

       <b>-gapopen</b>
              Penalty for gap opening                 3

       <b>-gapextend</b>
              Penalty for gap extension               1

       <b>-per</b>   Reward for pairing reads                7

       <b>-Npenalty</b>
              Penalty matching N                      0

       <b>-transition</b>
              Penalty for transition                  2

       <b>-transversion</b>
              Penalty for transversion                2

       <b>-sasm</b>  Skip alignment                          False

              Trimming:

       <b>-mp</b>    Minimum phred score                     20

       <b>-eq</b>    Minimum avg. quality score              0

       <b>-5p</b>    Trim 5 prime                            0

       <b>-3p</b>    Trim 3 prime                            0

       <b>-ml</b>    Minimum length                          16

       <b>-xl</b>    Maximum length on se                    2147483647

       <b>-boot</b>  Bootstrap sub-sequence                  False

              Presets:

       <b>-apm</b>   Sets both pm and fpm                    u

       <b>-cge</b>   Set CGE penalties and rewards           False

       <b>-mint2</b> Set 2ng gen Mintyper preset             False

       <b>-mint3</b> Set 3rd gen Mintyper preset             False

</pre><h4><b>AUTHOR</b></h4><pre>
       This  manpage was written by Nilesh Patra for the Debian distribution and can be used for any other usage
       of the program.

kma 1.3.23                                          July 2021                                             <u><a href="../man1/KMA.1.html">KMA</a></u>(1)
</pre>
 </div>
</div></section>
</div>
</body>
</html>