<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>openqa-load-templates - load openqa job templates</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/plucky/+package/openqa-client">openqa-client_4.6.1732034221.ae34b08ff-1_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       openqa-load-templates - load openqa job templates

</pre><h4><b>SYNOPSIS</b></h4><pre>
       openqa-load-templates [OPTIONS] FILE

</pre><h4><b>OPTIONS</b></h4><pre>
       <b>--host</b> HOST
           connect to specified host, defaults to localhost

       <b>--apibase</b>
           Set API base URL component, default: '/api/v1'

       <b>--apikey</b> KEY, <b>--apisecret</b> SECRET
           Specify api key and secret to use, overrides use of config file <a href="file:~/.config/openqa/client.conf">~/.config/openqa/client.conf</a>

           override values from config file

       <b>--clean</b>
           delete all job templates before loading new ones. be careful!

       <b>--update</b>
           update existing entries (by default, existing entries are not changed)

       <b>--help,</b> <b>-h</b>
           print help

</pre><h4><b>DESCRIPTION</b></h4><pre>
       lorem ipsum ...

openQA 4.6.1732034221.ae34b08ff                    2025-01-23                           <u><a href="../man1/openqa-load-templates.1.html">openqa-load-templates</a></u>(1)
</pre>
 </div>
</div></section>
</div>
</body>
</html>