<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>paster3 - pluggable command-line frontend, including commands to setup package file layouts</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/plucky/+package/python3-pastescript">python3-pastescript_3.7.0-1_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       paster3 - pluggable command-line frontend, including commands to setup package file layouts

</pre><h4><b>SYNOPSIS</b></h4><pre>
       <b>paster3</b> paster3 [OPTION] COMMAND [command_options]

</pre><h4><b>DESCRIPTION</b></h4><pre>
       This manual page documents briefly the <b>paster3</b> command.

       <b>paster3</b>  is  a  program  that can create file layouts for Python3 packages and serve up web applications,
       with configuration based on paste.deploy.  It can for instance create a setuptools-ready file layout.

</pre><h4><b>OPTIONS</b></h4><pre>
       These programs follow the usual GNU command line syntax, with  long  options  starting  with  two  dashes
       (`-').  A summary of options is included below.

       <b>-h,</b> <b>--help</b>
              Show summary of options.

       <b>--version</b>
              Show version of program.

       <b>--plugin=PLUGINS</b>
              Add a plugin to the list of commands (plugins are Egg specs; will also require() the Egg)

</pre><h4><b>COMMANDS</b></h4><pre>
       <b>create</b> Create the file layout for a Python distribution

       <b>grep</b>   Search project for symbol

       <b>help</b>   Display help

       <b>make-config</b>
              Install a package and create a fresh config file/directory

       <b>points</b> Show information about entry points

       <b>serve</b>  Serve the described application

       <b>setup-app</b>
              Setup an application, given a config file

</pre><h4><b>AUTHOR</b></h4><pre>
       paster3 was written by Ian Bicking &lt;<a href="mailto:ianb@colorstudy.com">ianb@colorstudy.com</a>&gt;.

       This  manual  page  was written by Piotr Ozarowski &lt;<a href="mailto:ozarow@gmail.com">ozarow@gmail.com</a>&gt;, for the Debian project (but may be
       used by others).

                                                   may 6, 2006                                         <u><a href="../man1/PASTER.1.html">PASTER</a></u>(1)
</pre>
 </div>
</div></section>
</div>
</body>
</html>