<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>templatespp - preprocessor based on templates parser</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/plucky/+package/libtemplates-parser-dev">libtemplates-parser-dev_25.0.0-2_amd64</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       templatespp - preprocessor based on templates parser

</pre><h4><b>SYNOPSIS</b></h4><pre>
       <b>templatespp</b> [-o <u>file</u>] <u>file</u>

</pre><h4><b>DESCRIPTION</b></h4><pre>
       <b>templatespp</b> is a pre-processor based on the template parser. It is generally used from scripts to process
       files  and  generate  other  files.   One  of  the  possible  uses,  for  instance,  is  to write the CSS
       (style-sheet) of a web site as a template file (for  instance  `mycss.tcss'),  and  use  template  parser
       structures  in  there. This is a good way to share colors for instance, or to name constants, as is often
       done in Ada code.

       Here is a small example of such a CSS:

            @@SET@@ COLOR1=blue
            @@SET@@ COLOR2=red
            @@SET@@ LENGTH1=10

            body {background:@_COLOR1_@}
            div  {background:@_COLOR2_@}
            ul.class {background:@_COLOR1_@}  /* same color as body */

            ul   {width:@<a href="../man3/_ADD.3.html">_ADD</a>(3):LENGTH1_@px} /* ul 3 pixels wider than li */
            li   {width:@_LENGTH1_@px}

       Such a file would be processed with the following command line:

            templatespp -o mycss.css mycss.tcss

</pre><h4><b>OPTIONS</b></h4><pre>
       <b>-h</b>     Display a summary of options.

       <b>-o</b> <u>file</u>
              Write the output to <u>file</u>.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       <b><a href="../man1/templates2ada.1.html">templates2ada</a></b>(1)

       The Template Parsers User's Guide in package libtemplates-parser-dev.

</pre><h4><b>AUTHOR</b></h4><pre>
       <b>templatespp</b> was written by Pascal Obry &lt;<a href="mailto:p.obry@wanadoo.fr">p.obry@wanadoo.fr</a>&gt; as part of the Ada Web Server.

       This manual page was written by Ludovic Brenta &lt;<a href="mailto:lbrenta@debian.org">lbrenta@debian.org</a>&gt; for Debian GNU/Linux.

GNU Ada Tools                                      2008-05-04                                    <u><a href="../man1/TEMPLATESPP1.1.html">TEMPLATESPP1</a></u>(1)
</pre>
 </div>
</div></section>
</div>
</body>
</html>