<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tilt - Generic interface to multiple Ruby template engines</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/plucky/+package/ruby-tilt">ruby-tilt_2.4.0-3_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       tilt - Generic interface to multiple Ruby template engines

</pre><h4><b>SYNOPSIS</b></h4><pre>
       <b>tilt</b> <u>&lt;options&gt;</u> <u>&lt;file&gt;</u>

</pre><h4><b>DESCRIPTION</b></h4><pre>
       Process  template  &lt;file&gt; and write output to stdout. With no &lt;file&gt; or when &lt;file&gt; is '-', read template
       from stdin and use the <b>--type</b> option to determine the template's type.

       Options

       <b>-l</b>, <b>--list</b>
              List template engines + file patterns and exit

       <b>-t</b>, <b>--type=</b>&lt;pattern&gt; Use this template engine; required if no &lt;file&gt;

       <b>-y</b>, <b>--layout=</b>&lt;file&gt;
              Use &lt;file&gt; as a layout template

       <b>-D</b>&lt;name&gt;=&lt;value&gt;
              Define variable &lt;name&gt; as &lt;value&gt;

       <b>-o</b>, <b>--vars=</b>&lt;ruby&gt;
              Evaluate &lt;ruby&gt; to Hash and use for variables

       <b>-h</b>, <b>--help</b>
              Show this help message

   <b>Convert</b> <b>markdown</b> <b>to</b> <b>HTML:</b>
              $ tilt foo.markdown &gt; foo.html

   <b>Process</b> <b>ERB</b> <b>template:</b>
              $ echo "Answer: &lt;%= 2 + 2 %&gt;" | tilt <b>-t</b> erb Answer: 4

   <b>Define</b> <b>variables:</b>
              $ echo "Answer: &lt;%= 2 + n %&gt;" | tilt <b>--locals=</b>"{:n=&gt;40, :x=&gt;0}" Answer: 42 $ echo "Answer: &lt;%= 2 +
              n %&gt;" | tilt <b>-Dn</b>=<u>40</u> <b>-Dx</b>=<u>0</u> Answer: 42

tilt 1.3.2                                          July 2011                                            <u><a href="../man1/TILT.1.html">TILT</a></u>(1)
</pre>
 </div>
</div></section>
</div>
</body>
</html>