<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>xml2pot - Creates a PO template file from a DocBook XML file.</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/plucky/+package/poxml">poxml_24.12.3-0ubuntu1_amd64</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       xml2pot - Creates a PO template file from a DocBook XML file.

</pre><h4><b>SYNOPSIS</b></h4><pre>

       <b>xml2pot</b> [<u>original-XML</u>]

</pre><h4><b>DESCRIPTION</b></h4><pre>
       <b>xml2pot</b> is a command-line tool that produces a gettext message template file from the DocBook XML file
       original-XML. The template file is sent to standard output.

       The resulting template file can be used to create gettext message files (PO-files) for a variety of
       languages. These can then be used in conjunction with <b><a href="../man1/po2xml.1.html">po2xml</a></b>(1) to translate the original XML file into
       these other languages.

       This utility is part of the KDE Software Development Kit.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       <a href="../man1/po2xml.1.html">po2xml</a>(1), <a href="../man1/split2po.1.html">split2po</a>(1), <a href="../man1/swappo.1.html">swappo</a>(1)

</pre><h4><b>AUTHORS</b></h4><pre>
       The PO XML tools were written by Stephan Kulow &lt;<a href="mailto:coolo@kde.org">coolo@kde.org</a>&gt;

       This manual page was prepared by Ben Burton&lt;<a href="mailto:bab@debian.org">bab@debian.org</a>&gt;

</pre><h4><b>AUTHOR</b></h4><pre>
       <b>Ben</b> <b>Burton</b> &lt;<a href="mailto:bab@debian.org">bab@debian.org</a>&gt;
           Author.

[FIXME: source]                                    2003-04-07                                         <u><a href="../man1/XML2POT.1.html">XML2POT</a></u>(1)
</pre>
 </div>
</div></section>
</div>
</body>
</html>