<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gd_fragment_index — retrieve the fragment containing a Dirfile field</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libgetdata-doc">libgetdata-doc_0.11.0-15_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       gd_fragment_index — retrieve the fragment containing a Dirfile field

</pre><h4><b>SYNOPSIS</b></h4><pre>
       <b>#include</b> <b>&lt;getdata.h&gt;</b>

       <b>int</b> <b>gd_fragment_index(const</b> <b>DIRFILE</b> <b>*</b><u>dirfile</u><b>,</b> <b>const</b> <b>char</b> <b>*</b><u>entry_name</u><b>);</b>

</pre><h4><b>DESCRIPTION</b></h4><pre>
       The <b>gd_fragment_index</b>() function queries a <a href="../man5/dirfile.5.html">dirfile</a>(5) database specified by <u>dirfile</u> and returns the index
       number of the fragment defining the field or alias named <u>entry_name</u>.

       This  is  one of the few GetData functions which does not resolve aliases: supplying the name of an alias
       as <u>entry_name</u> will return the index of the fragment containing the alias itself and not that of its  tar‐
       get.

</pre><h4><b>RETURN</b> <b>VALUE</b></h4><pre>
       Upon successful completion, <b>gd_fragment_index</b>() returns the requested fragment index, which is never neg‐
       ative.  On error, <b>gd_fragment_index</b>() returns a negative-valued error code.  Possible error codes are:

       <b>GD_E_BAD_CODE</b>
               The entry specified by <u>entry_name</u> was not found in the database.

       <b>GD_E_BAD_DIRFILE</b>
               The supplied dirfile was invalid.

       The  error  code is also stored in the <b>DIRFILE</b> object and may be retrieved after this function returns by
       calling  <b><a href="../man3/gd_error.3.html">gd_error</a></b>(3).   A  descriptive  error  string  for  the  error  may  be   obtained   by   calling
       <b><a href="../man3/gd_error_string.3.html">gd_error_string</a></b>(3).

</pre><h4><b>HISTORY</b></h4><pre>
       The <b>get_fragment_index</b>() function appeared in GetData-0.5.0.

       In GetData-0.7.0, this function was renamed to <b>gd_fragment_index</b>().

       In GetData-0.10.0, the error return from this function changed from -1 to a negative-valued error code.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       <b><a href="../man3/gd_open.3.html">gd_open</a></b>(3),  <b><a href="../man3/gd_entry.3.html">gd_entry</a></b>(3),  <b><a href="../man3/gd_error.3.html">gd_error</a></b>(3),  <b><a href="../man3/gd_error_string.3.html">gd_error_string</a></b>(3),  <b><a href="../man3/gd_fragmentname.3.html">gd_fragmentname</a></b>(3),  <b><a href="../man3/gd_parent_fragment.3.html">gd_parent_fragment</a></b>(3),
       <a href="../man5/dirfile.5.html">dirfile</a>(5)

Version 0.10.0                                  25 December 2016                            <u><a href="../man3/gd_fragment_index.3.html">gd_fragment_index</a></u>(3)
</pre>
 </div>
</div></section>
</div>
</body>
</html>