<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gd_move — move a Dirfile entry between format specification fragments</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libgetdata-doc">libgetdata-doc_0.11.0-15_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       gd_move — move a Dirfile entry between format specification fragments

</pre><h4><b>SYNOPSIS</b></h4><pre>
       <b>#include</b> <b>&lt;getdata.h&gt;</b>

       <b>int</b> <b>gd_move(DIRFILE</b> <b>*</b><u>dirfile</u><b>,</b> <b>const</b> <b>char</b> <b>*</b><u>field_code</u><b>,</b> <b>int</b> <u>new_fragment</u><b>,</b> <b>unsigned</b> <b>int</b> <u>flags</u><b>);</b>

</pre><h4><b>DESCRIPTION</b></h4><pre>
       The <b>gd_move</b>() function transfers the field or alias specified by <u>field_code</u>, which should not have a rep‐
       resentation  suffix,  defined  in the dirfile specified by <u>dirfile</u> from it's current format specification
       fragment to the fragment indexed by <u>new_fragment</u>.  If the field is already defined in the fragment  index
       by <u>new_fragment</u>, this function does nothing and returns no error.

       If  the  new  fragment  has  different  affixes,  the  field  will  be  renamed as part of the move.  See
       <b><a href="../man3/gd_rename.3.html">gd_rename</a></b>(3) for details on field renaming.  The field is closed before moving,  resulting  in  it's  I/O
       pointer being reset to the beginning-of-field.

       The <u>flags</u> parameter should be zero or more of the following flags, bitwise or'd together:

       <b>GD_REN_DANGLE</b>
               By  default,  if the move results in a change of name for the field due to differing fragment af‐
               fixes, <b>ALIAS</b> entries pointing to this field will be updated with the field's new name.   Specify‐
               ing  this  flag prohibits this behaviour, turning these aliases into dangling aliases.  If moving
               the field doesn't rename it, this flag is ignored.

       <b>GD_REN_DATA</b>
               If <u>field_code</u> specifies a <b>RAW</b> field, the binary file associated with the field will be translated
               to account for the possibly different encoding, endianness, and frame offset of  the  new  format
               specification fragment.  It will also be moved to a new directory, if necessary.

               If  this flag is not specified, no changes will be made to the binary file.  If <u>field_code</u> speci‐
               fies a field of type other than <b>RAW</b>, this flag is ignored.

               If the binary file is translated, and the frame offset of the destination fragment is larger than
               that of the source fragment, this will result in permanent deletion of data  from  the  database.
               If  the  new frame offset is smaller than the old frame offset, the binary file will be padded at
               the front with zeroes.

       <b>GD_REN_FORCE</b>
               Skip updating entries which would be invalid (see <b><a href="../man3/gd_rename.3.html">gd_rename</a></b>(3) for details).  By default, an  in‐
               valid  field  causes  the  move to fail.  If moving the field doesn't rename it, this flag is ig‐
               nored.

       <b>GD_REN_UPDB</b>
               If moving the field renames it, update entries which use this field as an input  to  account  for
               the new name (see <b><a href="../man3/gd_rename.3.html">gd_rename</a></b>(3)).  If moving the field doesn't rename it, this flag is ignored.

</pre><h4><b>RETURN</b> <b>VALUE</b></h4><pre>
       On success, <b>gd_move</b>() returns zero.   On error, a negative-valued error code is returned.  Possible error
       codes are:

       <b>GD_E_ACCMODE</b>
               The specified dirfile was opened read-only.

       <b>GD_E_ALLOC</b>
               The library was unable to allocate memory.

       <b>GD_E_BAD_CODE</b>
               The field specified by <u>field_code</u> was not found, or else the move resulted in the field being re‐
               named and the resultant metadata update tried to change a field code into something prohibited by
               a fragment's affixes.

       <b>GD_E_BAD_DIRFILE</b>
               The supplied dirfile was invalid.

       <b>GD_E_BAD_FIELD_TYPE</b>
               An attempt was made to move the immutable <u>INDEX</u> field.

       <b>GD_E_BAD_INDEX</b>
               The <u>new_fragment</u> argument did not index a valid format specification fragment.

       <b>GD_E_IO</b> An I/O error occurred while attempting to translate a binary file.

       <b>GD_E_PROTECTED</b>
               The  metadata  of  the  source  or  destination format specification fragments was protected from
               change, or the binary data of the source or destination fragments was protected from  change  and
               binary file translation was requested.

       <b>GD_E_UNKNOWN_ENCODING</b>
               The encoding scheme of the source or destination fragment is unknown.

       <b>GD_E_UNSUPPORTED</b>
               The  encoding  scheme of the source or destination fragment does not support binary file transla‐
               tion.

       The error code is also stored in the <b>DIRFILE</b> object and may be retrieved after this function  returns  by
       calling   <b><a href="../man3/gd_error.3.html">gd_error</a></b>(3).    A   descriptive  error  string  for  the  error  may  be  obtained  by  calling
       <b><a href="../man3/gd_error_string.3.html">gd_error_string</a></b>(3).

</pre><h4><b>NOTES</b></h4><pre>
       A binary file translation occurs out-of-place.  As a result, sufficient space  must  be  present  on  the
       filesystem for both the binary file before translation and the binary file after translation.

</pre><h4><b>HISTORY</b></h4><pre>
       The <b>dirfile_move</b>() function appeared in GetData-0.5.0.  It had no <u>flags</u> parameter.  In place of <u>flags</u> was
       <b>int</b>  <u>move_data</u>.   Passing a non-zero value for this parameter had the same effect as the <b>GD_REN_DATA</b> flag
       does now.

       In GetData-0.7.0, this function was renamed to <b>gd_move</b>().

       In all GetData-0.8.x releases, passing an alias name to this function would move the target of the alias.
       To move an alias itself, a separate function, <b>gd_move_alias</b>() was available.

       In GetData-0.9.0, <b>gd_move_alias</b>() was removed.  Also in this release, the <u>move_data</u> parameter was repaced
       with the <u>flags</u> parameter.

       In GetData-0.10.0, the error return from this function changed from -1 to a negative-valued error code.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       <b><a href="../man3/gd_metaflush.3.html">gd_metaflush</a></b>(3), <b><a href="../man3/gd_open.3.html">gd_open</a></b>(3), <b><a href="../man3/gd_error.3.html">gd_error</a></b>(3), <b><a href="../man3/gd_error_string.3.html">gd_error_string</a></b>(3), <a href="../man5/dirfile.5.html">dirfile</a>(5), <a href="../man5/dirfile-format.5.html">dirfile-format</a>(5)

Version 0.10.0                                  25 December 2016                                      <u><a href="../man3/gd_move.3.html">gd_move</a></u>(3)
</pre>
 </div>
</div></section>
</div>
</body>
</html>