<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gd_uninclude — remove a format specification fragment from a Dirfile</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/libgetdata-doc">libgetdata-doc_0.11.0-15_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       gd_uninclude — remove a format specification fragment from a Dirfile

</pre><h4><b>SYNOPSIS</b></h4><pre>
       <b>#include</b> <b>&lt;getdata.h&gt;</b>

       <b>int</b> <b>gd_uninclude(DIRFILE</b> <b>*</b><u>dirfile</u><b>,</b> <b>int</b> <u>fragment_index</u><b>,</b> <b>int</b> <u>del</u><b>);</b>

</pre><h4><b>DESCRIPTION</b></h4><pre>
       The <b>gd_uninclude</b>() removes the format specification fragment indexed by <u>fragment_index</u> from the specified
       dirfile,  as  well as any fragments the indicated fragment INCLUDEs.  Fields defined in the removed frag‐
       ments will be removed from the dirfile.

       Before removing the specified fragment, all pending writes are flushed to <b>RAW</b> fields defined the the  re‐
       moved fragments.  If <u>del</u> is zero, metadata changes will also be written to the removed fragments.  If <u>del</u>
       is  non-zero,  the  format specification fragments will be deleted from disk, if possible.  Regardless of
       the value of <u>del</u>, binary data files associated with <b>RAW</b> fields defined in the removed fragments will  not
       be deleted.  To delete these binary files, use <b><a href="../man3/gd_delete.3.html">gd_delete</a></b>(3) before calling this function.

       The primary format specification (the fragment indexed by zero) cannot be removed from the dirfile.

</pre><h4><b>RETURN</b> <b>VALUE</b></h4><pre>
       On  success,  <b>gd_uninclude</b>() returns zero.  On error, a negative-valued error code is returned.  Possible
       error codes are:

       <b>GD_E_ACCMODE</b>
               The supplied dirfile was opened in read-only mode.

       <b>GD_E_ALLOC</b>
               The library was unable to allocate memory.

       <b>GD_E_BAD_DIRFILE</b>
               The supplied dirfile was invalid.

       <b>GD_E_BAD_INDEX</b>
               The supplied fragment index was out of range, or an attempt was made to remove the primary format
               specification.

       <b>GD_E_IO</b> An I/O error occurred while trying to write modified data or metadata to disk.

       <b>GD_E_PROTECTED</b>
               The metadata of the fragment which included the removed fragment was protected from change.

       The error code is also stored in the <b>DIRFILE</b> object and may be retrieved after this function  returns  by
       calling   <b><a href="../man3/gd_error.3.html">gd_error</a></b>(3).    A   descriptive  error  string  for  the  error  may  be  obtained  by  calling
       <b><a href="../man3/gd_error_string.3.html">gd_error_string</a></b>(3).

</pre><h4><b>NOTES</b></h4><pre>
       This function re-arranges the remaining format specification fragments in some  unspecified  way,  except
       for the primary fragment, which is guaranteed to remain at index zero.  Callers which cache format speci‐
       fication fragment indices must re-initialise their cache after calling this function.

</pre><h4><b>HISTORY</b></h4><pre>
       The <b>dirfile_uninclude</b>() function appeared in GetData-0.5.0.

       In GetData-0.7.0, this function was renamed to <b>gd_uninclude</b>().

       In GetData-0.10.0, the error return from this function changed from -1 to a negative-valued error code.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       <b><a href="../man3/gd_delete.3.html">gd_delete</a></b>(3),    <b><a href="../man3/gd_include.3.html">gd_include</a></b>(3),    <b><a href="../man3/gd_open.3.html">gd_open</a></b>(3),   <b><a href="../man3/gd_error.3.html">gd_error</a></b>(3),   <b><a href="../man3/gd_error_string.3.html">gd_error_string</a></b>(3),   <b><a href="../man3/gd_fragmentname.3.html">gd_fragmentname</a></b>(3),
       <b><a href="../man3/gd_nfragments.3.html">gd_nfragments</a></b>(3), <b><a href="../man3/gd_reference.3.html">gd_reference</a></b>(3), <a href="../man5/dirfile.5.html">dirfile</a>(5), <a href="../man5/dirfile-encoding.5.html">dirfile-encoding</a>(5), <a href="../man5/dirfile-format.5.html">dirfile-format</a>(5)

Version 0.10.0                                  25 December 2016                                 <u><a href="../man3/gd_uninclude.3.html">gd_uninclude</a></u>(3)
</pre>
 </div>
</div></section>
</div>
</body>
</html>