<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>glTextureBarrier - controls the ordering of reads and writes to rendered fragments across drawing</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/opengl-4-man-doc">opengl-4-man-doc_1.0~svn33624-3_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       glTextureBarrier - controls the ordering of reads and writes to rendered fragments across drawing
       commands

</pre><h4><b>C</b> <b>SPECIFICATION</b></h4><pre>

       <b>void</b> <b>glTextureBarrier(</b><u>void</u><b>);</b>

</pre><h4><b>DESCRIPTION</b></h4><pre>
       The values of rendered fragments are undefined when a shader stage fetches texels and the same texels are
       written via fragment shader outputs, even if the reads and writes are not in the same drawing command. To
       safely read the result of a written texel via a texel fetch in a subsequent drawing command, call
       <b>glTextureBarrier</b> between the two drawing commands to guarantee that writes have completed and caches have
       been invalidated before subsequent drawing commands are executed.

</pre><h4><b>NOTES</b></h4><pre>
       The situation described above is referred to as a <u>rendering</u> <u>feedback</u> <u>loop</u> and is discussed in more detail
       in section 9.3 of the OpenGL 4.5 Specification.

</pre><h4><b>ERRORS</b></h4><pre>
       None.

</pre><h4><b>VERSION</b> <b>SUPPORT</b></h4><pre>
       ┌──────────────────┬───────────────────────────────────────────────────────────────────────┐
       │                  │                <b>OpenGL</b> <b>Version</b>                                         │
       ├──────────────────┼─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┤
       │ <b>Function</b>         │ <b>2.0</b> │ <b>2.1</b> │ <b>3.0</b> │ <b>3.1</b> │ <b>3.2</b> │ <b>3.3</b> │ <b>4.0</b> │ <b>4.1</b> │ <b>4.2</b> │ <b>4.3</b> │ <b>4.4</b> │ <b>4.5</b> │
       │ <b>/</b>                │     │     │     │     │     │     │     │     │     │     │     │     │
       │ <b>Feature</b>          │     │     │     │     │     │     │     │     │     │     │     │     │
       │ <b>Name</b>             │     │     │     │     │     │     │     │     │     │     │     │     │
       ├──────────────────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
       │ <b>glTextureBarrier</b> │  -  │  -  │  -  │  -  │  -  │  -  │  -  │  -  │  -  │  -  │  -  │  ✔  │
       └──────────────────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┘

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       <b>glMemoryBarrier</b>()

</pre><h4><b>COPYRIGHT</b></h4><pre>
       Copyright © 2014 Khronos Group. This material may be distributed subject to the terms and conditions set
       forth in the Open Publication License, v 1.0, 8 June 1999.  <b><a href="http://opencontent.org/openpub/">http://opencontent.org/openpub/</a></b>.

</pre><h4><b>COPYRIGHT</b></h4><pre>
       Copyright © 2014 Khronos Group

[FIXME: source]                                    11/18/2024                               <u><a href="../man3G/GLTEXTUREBARRIER.3G.html">GLTEXTUREBARRIER</a></u>(3G)
</pre>
 </div>
</div></section>
</div>
</body>
</html>