<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>astscript-fits-view - View FITS images in DS9 and tables in TOPCAT</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/plucky/+package/gnuastro">gnuastro_0.23-2build1_amd64</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       astscript-fits-view - View FITS images in DS9 and tables in TOPCAT

</pre><h4><b>SYNOPSIS</b></h4><pre>
       <b>astscript-fits-view</b> [<u>OPTION</u>] <u>FITS-file(s)</u>

</pre><h4><b>DESCRIPTION</b></h4><pre>
       This script is part of GNU Astronomy Utilities 0.23.

       This  script will take any number of FITS inputs and will pass them to TOPCAT or SAO DS9 depending on the
       the first input FITS file: if it contains an image HDU, the files will be passed to SAO  DS9,  otherwise,
       to TOPCAT.

       For  more  information, please run any of the following commands. In particular the first contains a very
       comprehensive explanation  of  this  script's  invocation:  expected  input(s),  output(s),  and  a  full
       description of all the options.

       Inputs/Outputs and options:
              $ info astscript-fits-view

       Full Gnuastro manual/book:
              $ info gnuastro

       If  you  couldn't find your answer in the manual, you can get direct help from experienced Gnuastro users
       and developers. For more information, please run:

              $ info help-gnuastro

   <b>astscript-fits-view</b> <b>options:</b>
              Input:

       <b>-h</b>, <b>--hdu</b>=<u>STR</u>
              Extension name or number of input data.

       <b>-g</b>, <b>--globalhdu</b>=<u>STR</u>
              Use this HDU for all inputs, ignore '--hdu'.

              Output:

       <b>-G</b>, <b>--ds9geometry</b>=<u>INTxINT</u> Size of DS9 window, e.g., for HD (800x1000) and
              for 4K (1800x3000). If not given, the script will attempt to find your screen resolution and  find
              a good match, otherwise, use the default size.

       <b>-e</b>, <b>--ds9extra</b>=<u>STR</u>
              Extra options to pass to DS9 after default ones.

       <b>-s</b>, <b>--ds9scale</b>=<u>STR</u>
              Custom value to '-scale' option in DS9.

       <b>-c</b>, <b>--ds9center</b>=<u>FLT</u>,FLT Coordinates of center in shown DS9 window.

       <b>-r</b>, <b>--ds9region</b>=<u>STR[</u>,...] DS9 region(s) to load.

       <b>-O</b>, <b>--ds9mode</b>=<u>img</u>/wcs
              Coord system to interpret '--ds9center' (img/wcs).

       <b>-m</b>, <b>--ds9colorbarmulti</b>
              Separate color bars for each loaded image.

       <b>-p</b>, <b>--prefix</b>=<u>STR</u>
              Directory containing DS9 or TOPCAT executables.

              Operating mode:

       -?, <b>--help</b>
              Print this help list.

       <b>--cite</b> BibTeX citation for this program.

       <b>-q</b>, <b>--quiet</b>
              Don't print any extra information in stdout.

       <b>-V</b>, <b>--version</b>
              Print program version.

       Mandatory  or  optional  arguments  to  long options are also mandatory or optional for any corresponding
       short options.

       GNU Astronomy Utilities home page: <a href="http://www.gnu.org/software/gnuastro/">http://www.gnu.org/software/gnuastro/</a>

</pre><h4><b>REPORTING</b> <b>BUGS</b></h4><pre>
       Report bugs to <a href="mailto:bug-gnuastro@gnu.org">bug-gnuastro@gnu.org</a>.

</pre><h4><b>COPYRIGHT</b></h4><pre>
       Copyright © 2020-2024 Free Software Foundation, Inc.  License GPLv3+: GNU General public license  version
       3 or later.
       This  is  free software: you are free to change and redistribute it.  There is NO WARRANTY, to the extent
       permitted by law.

       Written/developed by Mohammad Akhlaghi and Sepideh Eskandarlou

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       The full documentation for <b>astscript-fits-view</b> is maintained as  a  Texinfo  manual.   If  the  <b>info</b>  and
       <b>astscript-fits-view</b> programs are properly installed at your site, the command

              <b>info</b> <b>astscript-fits-view</b>

       should give you access to the complete manual.

GNU Astronomy Utilities 0.23                        July 2024                             <u><a href="../man1/ASTSCRIPT-FITS-VIEW.1.html">ASTSCRIPT-FITS-VIEW</a></u>(1)
</pre>
 </div>
</div></section>
</div>
</body>
</html>