<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>git-annex-vpop - switch back to previous view</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/plucky/+package/git-annex">git-annex_10.20241202-2_amd64</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       git-annex-vpop - switch back to previous view

</pre><h4><b>SYNOPSIS</b></h4><pre>
       git annex vpop <b>[N]</b>

</pre><h4><b>DESCRIPTION</b></h4><pre>
       Switches  from  the  currently  active  view  back to the previous view.  Or, from the first view back to
       original branch.

       The optional number tells how many views to pop.

</pre><h4><b>OPTIONS</b></h4><pre>
       The <a href="../man1/git-annex-common-options.1.html">git-annex-common-options</a>(1) can be used.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       <a href="../man1/git-annex.1.html">git-annex</a>(1)

       <a href="../man1/git-annex-metadata.1.html">git-annex-metadata</a>(1)

       <a href="../man1/git-annex-view.1.html">git-annex-view</a>(1)

       <a href="../man1/git-annex-vfilter.1.html">git-annex-vfilter</a>(1)

       <a href="../man1/git-annex-vadd.1.html">git-annex-vadd</a>(1)

       <a href="../man1/git-annex-vcycle.1.html">git-annex-vcycle</a>(1)

</pre><h4><b>AUTHOR</b></h4><pre>
       Joey Hess &lt;<a href="mailto:id@joeyh.name">id@joeyh.name</a>&gt;

                                                                                               <u><a href="../man1/git-annex-vpop.1.html">git-annex-vpop</a></u>(1)
</pre>
 </div>
</div></section>
</div>
</body>
</html>