<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>viewname - set set viewname</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/noble/+package/umview">umview_0.8.2-3.1build2_amd64</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       viewname - set set viewname

</pre><h4><b>SYNOPSIS</b></h4><pre>
       <b>viewname</b> [-p] [-q] [ <u>newname</u> ]

</pre><h4><b>DESCRIPTION</b></h4><pre>
       This  command  is used to either set or display the current view name.  When called without any argument,
       the program displays the current view.  When called with one argument the command sets the view name.

</pre><h4><b>OPTIONS</b></h4><pre>
       <b>-p</b>  create a string for the shell "prompt" message.  The  program  displays  a  string  composed  by  the
           hostname, server id and view id, when a specific name has not been set.

       <b>-q</b>  quiet mode. The program does not display any error.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       <b><a href="../man1/umview.1.html">umview</a>(1),</b>

</pre><h4><b>AUTHORS</b></h4><pre>
       View-OS  is  a  project  of the Computer Science Department, University of Bologna. Project Leader: Renzo
       Davoli.
       &lt;<a href="http://www.sourceforge.net/projects/view-os">http://www.sourceforge.net/projects/view-os</a>&gt;

       Howto's and further information can be found on the project wiki &lt;wiki.virtualsquare.org&gt;.

VIEW-OS: a process with a view                    June 11, 2007                                       <u><a href="../man1/VIEW-OS.1.html">VIEW-OS</a></u>(1)
</pre>
 </div>
</div></section>
</div>
</body>
</html>