<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tart-custom - Template format for LinuxTaRT</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/tart">tart_3.10-2_amd64</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       <b>tart-custom</b> - Template format for LinuxTaRT

</pre><h4><b>DESCRIPTION</b></h4><pre>
       LinuxTaRT  can use a user defined template file to generate the signature.  The name and location of this
       file can be specified in <a href="file:~/.tartrc">~/.tartrc</a>, but defaults to the following location:

       <a href="file:~/.tart-custom">~/.tart-custom</a>

</pre><h4><b>PARAMETERS</b></h4><pre>
       LinuxTaRT recognizes the following directives in the template and replaces them  with  the  corresponding
       values:

       <b>%c1</b> - <u>CustomText1</u> <u>from</u> <u>.tartrc</u>

       <b>%c2</b> - <u>CustomText2</u> <u>from</u> <u>.tartrc</u>

       <b>%tg</b> - <u>tagline</u>
              Randomly selected from the tagline database.

       <b>%hr</b> - <u>horizontal</u> <u>line</u>

       <b>%dt</b> - <u>todays</u> <u>date</u>
              In the format: Monday, February 25, 2002

       <b>%12</b> - <u>current</u> <u>hour</u>
              12-hour format

       <b>%24</b> - <u>current</u> <u>hour</u>
              24-hour format

       <b>%mn</b> - <u>current</u> <u>minutes</u>

       <b>%ap</b> - <u>AM</u> <u>/</u> <u>PM</u>

       <b>%ut</b> - <u>system</u> <u>uptime</u>
              For RiscOS or systems with the sysinfo function.

       <b>%ib</b> - <u>time</u> <u>in</u> <u>ibeats</u>

       <b>%vi</b> - <u>LinuxTaRT</u> <u>version</u> <u>string</u>

       <b>%%</b> - <u>the</u> <u>percent</u> <u>symbol</u> <u>(%)</u>

       Any other characters in the template are copied to the signature as is.

</pre><h4><b>EXAMPLES</b></h4><pre>
       The following template:

       LinuxTaRT - The Automatic Random Tagline
       %hr
       /dev/random says:
       %tg

       <a href="http://mycompany.com">http://mycompany.com</a>
       %hr

       Generates the following signature:

       LinuxTaRT - The Automatic Random Tagline
       -------------------------------------------------------
       /dev/random says:
       Best way to dispose of the Borg: Give them Windows 3.1.

       <a href="http://mycompany.com">http://mycompany.com</a>
       -------------------------------------------------------

</pre><h4><b>FILES</b></h4><pre>
       <a href="file:~/.custom">~/.custom</a>

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       <a href="../man1/tart.1.html">tart</a>(1) <a href="../man5/tartrc.5.html">tartrc</a>(5) <a href="../man5/tartdates.5.html">tartdates</a>(5)

Mark Veinot                                           1.0.0                                       <u><a href="../man5/tart-custom.5.html">tart-custom</a></u>(5)
</pre>
 </div>
</div></section>
</div>
</body>
</html>