<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>upsstats.html - HTML template for web-based Network UPS Tools upsstats</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/nut-cgi">nut-cgi_2.8.3-2_amd64</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       upsstats.html - HTML template for web-based Network UPS Tools upsstats

</pre><h4><b>DESCRIPTION</b></h4><pre>
       This file is used by <b><a href="../man8/upsstats.cgi.8.html">upsstats.cgi</a></b>(8) to generate status pages. Certain commands are recognized, and will
       be replaced with various status elements on the fly.

</pre><h4><b>FORMATTING</b></h4><pre>
       Commands can be placed anywhere on a line, but must start and end with @.

       Any extra characters before or after the commands will be passed through unchanged.

       It is allowed to use more than one command on a single line, as long as each command has its own start
       and end character.

       If you need to use the @ sign, use HTML entity &amp;#64; to prevent it from being treated as a start
       character.

</pre><h4><b>BLOCK</b> <b>CONTROL</b></h4><pre>
       Some commands begin blocks — sections of the template that will be included, excluded, or repeated
       depending on certain parameters.

   <b>BLOCK</b> <b>CONTROL</b> <b>-</b> <b>ITERATION</b>
       <b>@FOREACHUPS@</b>
           Starts a block that will be repeated for each MONITOR directive in the <b><a href="../man5/hosts.conf.5.html">hosts.conf</a></b>(5). This is how you
           can generate pages that monitor all of your systems simultaneously.

       <b>@ENDFOR@</b>
           Ends a FOREACHUPS block.

   <b>BLOCK</b> <b>CONTROL</b> <b>-</b> <b>MATCHING</b> <b>SPECIFIC</b> <b>CASES</b>
       <b>@IFSUPP</b> <u>var</u>@*
           Starts a block that will only be printed if the variable var is supported by the current UPS. This is
           generally used to suppress "not supported" messages by avoiding the label and variable call entirely.

       <b>@IFEQ</b> <u>var</u> <u>value</u><b>@</b>
           Starts a block if the value returned from the variable <u>var</u> matches <u>value</u>.

       <b>@IFBETWEEN</b> <u>varlow</u> <u>varhigh</u> <u>varvalue</u><b>@</b>
           Starts a block if the value returned by the variable <u>varvalue</u> is between the values returned by the
           variables <u>varlow</u> and <u>varhigh</u>.

       <b>@ELSE@</b>
           If the previous IF-command did not match, perform this instead.

       <b>@ENDIF@</b>
           Ends an IF/ELSE-block.

   <b>BLOCK</b> <b>CONTROL</b> <b>-</b> <b>ADVANCED</b> <b>EXPRESSIONS</b>
       Even though the parser is pretty limited, it’s still possible to create rather advanced expressions. The
       key to this is the fact that multiple block control commands are AND:ed. This is illustrated with an
       example (more examples are available in upsstats.html).

           @IFSUPP ambient.humidity@
           @IFSUPP ambient.temperature@
           This UPS knows both ambient temperature and humidity.
           @ELSE@
           @IFSUPP ambient.humidity@
           This UPS only knows ambient humidity.
           @ELSE@
           @IFSUPP ambient.temperature@
           This UPS only knows ambient temperature.
           @ELSE@
           This UPS knows nothing, how annoying.
           @ENDIF@

</pre><h4><b>OTHER</b> <b>COMMANDS</b></h4><pre>
       <b>@AMBTEMP@</b>
           Insert the ambient temperature in the current temperature scale.

       <b>@DATE</b> <u>format</u><b>@</b>
           Insert the current date and time. The format string is passed to strftime, so almost anything is
           possible. See <b><a href="../man3/strftime.3.html">strftime</a></b>(3) for possible values.

       <b>@DEGREES@</b>
           Insert the entity for degrees (°) and either C or F depending on the current temperature scale.

       <b>@HOST@</b>
           Insert the designation of the host being monitored, like myups@localhost.

       <b>@HOSTDESC@</b>
           Insert the host’s description from <b><a href="../man5/hosts.conf.5.html">hosts.conf</a></b>(5).

       <b>@HOSTLINK@</b>
           Insert a link to upsstats.cgi with the "host" variable set to the current UPS. This is only useful
           within a FOREACHUPS block.

       <b>@IMG</b> <u>varname</u> <b>@</b>
           Insert an IMG SRC to <b><a href="../man8/upsimage.cgi.8.html">upsimage.cgi</a></b>(8) for one of these status variables:

           battery.charge
               Battery charge — a percentage

           battery.voltage
               The charge on the battery in volts

           input.frequency
               Incoming utility frequency (Hz)

           input.voltage
               Incoming utility voltage

           input.L1-L2.voltage
               Incoming voltage, L1-L2 (3phase)

           input.L2-L3.voltage
               Incoming voltage, L2-L3 (3phase)

           input.L3-L1.voltage
               Incoming voltage, L3-L1 (3phase)

           output.frequency
               Outgoing utility frequency (Hz)

           output.voltage
               Outgoing voltage (from the UPS)

           output.L1-L2.voltage
               Outgoing voltage, L1-L2 (3phase)

           output.L2-L3.voltage
               Outgoing voltage, L2-L3 (3phase)

           output.L3-L1.voltage
               Outgoing voltage, L3-L1 (3phase)

           output.L1.power.percent
               UPS load, L1 (3phase)

           output.L2.power.percent
               UPS load, L2 (3phase)

           output.L3.power.percent
               UPS load, L3 (3phase)

           ups.load
               UPS load — percentage

           ups.temperature
               UPS temperature

       <u>extra</u> is where you can put additional definitions. Right now the valid definitions are colors for various
       parts of the bars drawn by <b><a href="../man8/upsimage.cgi.8.html">upsimage.cgi</a></b>(8). Possible color names are:

       back_col
           background color

       scale_num_col
           scale number color

       summary_col
           summary color (number at the bottom)

       ok_zone_maj_col
           major scale color for the normal ("ok") zone

       ok_zone_min_col
           minor scale color for the normal ("ok") zone

       neutral_zone_maj_col
           major scale color for the neutral zone

       neutral_zone_min_col
           minor scale color for the neutral zone

       warn_zone_maj_col
           major scale color for the warning zone

       warn_zone_min_col
           minor scale color for the warning zone

       bar_col
           the color of the bar in the middle

       All colors are hex triplets — e.g. 0xff0000 is red, 0x00ff00 is green, and 0x0000ff is blue.

       Examples:

           @IMG battery.charge@
           @IMG battery.charge back_col=0xff00ff bar_col=0xaabbcc@
           @IMG input.voltage ok_zone_maj_col=0x123456@

       <b>@REFRESH@</b>
           Insert the META header magic for refreshing the page if that variable has been set by the browser.
           This needs to be in the HEAD section of the page.

       <b>@STATUS@</b>
           Expand the abbreviations in the ups.status variable — OL becomes "On line", OB becomes "On battery",
           and so on.

       <b>@STATUSCOLOR@</b>
           Insert red, green, or yellow color triplets depending on the severity of the current UPS status.
           Normal operations are green, warnings like voltage trim/boost or "off" are yellow, and other events
           like being on battery or having a low battery are red.

       <b>@VAR</b> <u>varname</u><b>@</b>
           Insert the current value of the status variable varname on the host being monitored, or "Not
           supported".

       <b>@RUNTIME@</b>
           Inserts the current runtime, in hh:mm:ss format.

       <b>@TEMPC@</b>
           Use the Celsius scale for temperature data (default).

       <b>@TEMPF@</b>
           Use the Fahrenheit scale for temperature data.

       <b>@UPSTEMP@</b>
           Insert the UPS temperature in the current scale.

       <b>@BATTTEMP@</b>
           Insert the battery temperature in the current scale.

       <b>@UTILITYCOLOR@</b>
           Obsoleted. Use IFBETWEEN instead (see example in upsstats.html).

       <b>@VERSION@</b>
           Insert the version number of the software.

</pre><h4><b>OTHER</b> <b>TEMPLATES</b></h4><pre>
       <b><a href="../man8/upsstats.cgi.8.html">upsstats.cgi</a></b>(8) will also open a file called upsstats-single.html if you call it with host= set in the
       query URL. That file uses the same rules and techniques as documented here.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       <b><a href="../man8/upsstats.cgi.8.html">upsstats.cgi</a></b>(8), <b><a href="../man8/upsimage.cgi.8.html">upsimage.cgi</a></b>(8)

   <b>Internet</b> <b>resources:</b>
       The NUT (Network UPS Tools) home page: https://www.networkupstools.org/historic/v2.8.3/

Network UPS Tools 2.8.3                            07/08/2025                                   <u><a href="../man5/UPSSTATS.HTML.5.html">UPSSTATS.HTML</a></u>(5)
</pre>
 </div>
</div></section>
</div>
</body>
</html>