<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aerc-templates - template file specification for aerc(1)</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/aerc">aerc_0.20.0-2_amd64</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       aerc-templates - template file specification for <b><a href="../man1/aerc.1.html">aerc</a></b>(1)

</pre><h4><b>SYNOPSIS</b></h4><pre>
       aerc  uses  the  go  text/template  package  for  the  template  parsing.  Refer  to the go text/template
       documentation for the general syntax. The template  syntax  described  below  can  be  used  for  message
       template files and for dynamic formatting of some UI app.

       Template files are composed of headers, followed by a newline, followed by the body text.

       Example:

           X-Clacks-Overhead: GNU Terry Pratchett

           Hello,

           Greetings,
           Chuck

       If  you  have  a template that doesn't add any header, it <b>must</b> be preceded by a newline, to avoid parsing
       parts of the body as header text.

       All headers defined in the template will have precedence over any headers that are  initialized  by  aerc
       (e.g. Subject, To, From, Cc) when composing a new message, forwarding or replying.

</pre><h4><b>MESSAGE</b> <b>DATA</b></h4><pre>
       The following data can be used in templates. Though they are not all available always.

       <b>Addresses</b>
           An array of mail.Address. That can be used to add sender or recipient names to the template.

           •   <u>{{.From}}</u>: List of senders.
           •   <u>{{.Peer}}</u>: List of senders or To recipients if the message is from you.
           •   <u>{{.To}}</u>: List of To recipients. Not always Available.
           •   <u>{{.ReplyTo}}</u>: List of ReplyTo recipients. Not always Available.
           •   <u>{{.Cc}}</u>: List of Cc recipients. Not always Available.
           •   <u>{{.Bcc}}</u>: List of Cc recipients. Not always Available.
           •   <u>{{.OriginalFrom}}</u>:  List  of  senders  of  the  original  message. Available for quoted reply and
               forward.

           Example:

           Get the name of the first sender.
               {{(index .From 0).Name}}
               {{index (.From | names) 0}}

           Get the email address of the first sender.
               {{(index .From 0).Address}}

       <b>Date</b> <b>and</b> <b>Time</b>
           The date and time information is always available and can be easily formatted.

           •   <u>{{.Date}}</u>: Date and time information when the compose window is opened.
           •   <u>{{.OriginalDate}}</u>: Date and time when the original message was  received.  Available  for  quoted
               reply and forward.

           To  format  the  date  fields,  <u>dateFormat</u>  and  <u>.Local</u> are provided. Refer to the <b>TEMPLATE</b> <b>FUNCTIONS</b>
           section for details.

       <b>Subject</b>
           The subject of the email (<u>ThreadPrefix</u> will be empty unless threading is enabled).

               {{.ThreadPrefix}}{{if .ThreadFolded}}{{printf "{%d}" .ThreadCount}}{{end}}{{.Subject}}

           The subject of the email stripped of any <u>Re:</u> and <u>Fwd:</u> prefixes.

               {{.SubjectBase}}
       <b>Threading</b>
           When threading is enabled, these attributes are available in the message list:

           <u>ThreadPrefix</u>
               If the message is part of a thread, this will contain arrows  that  represent  the  message  tree
               based on <u>In-Reply-To</u> and <u>References</u> headers.

           <u>ThreadFolded</u>
               Will be <u>true</u> if the message has thread children which are hidden by <b>:fold</b>.

           <u>ThreadCount</u>
               The number of messages in the thread.

           <u>ThreadUnread</u>
               The number of unread messages in the thread.

       <b>Flags</b>
           List  of  message  flags,  not  available  when composing, replying nor forwarding. This is a list of
           strings that may be converted to a single string with <b>join</b>.

               {{.Flags | join ""}}

       <b>IsReplied</b>, <b>IsForwarded</b>, <b>HasAttachment</b>, <b>IsFlagged</b>, <b>IsRecent</b>, <b>IsUnread</b>, <b>IsMarked</b>, <b>IsDraft</b>
           Individual boolean flags. not available when composing, replying nor forwarding.

               {{if .IsFlagged}}★{{end}}

       <b>Labels</b>
           Message labels (for example notmuch tags). Not available when  composing,  replying  nor  forwarding.
           This is a list of strings that may be converted to a single string with <b>join</b>.

               {{.Labels | join " "}}

       <b>Size</b>
           The  size  of  the message in bytes. Not available when composing, replying nor forwarding. It can be
           formatted with <b>humanReadable</b>.

               {{.Size | humanReadable}}

       <b>Filename</b>
           The full path of the message file. Not available when composing, replying  nor  forwarding.  For  the
           notmuch  backend,  it  returns  a  random  filename  if  there are multiple files associated with the
           message.

       <b>Filenames</b>
           A list of the full paths of the files associated with the message. For maildir this is always a  list
           with a single element.  Not available when composing, replying nor forwarding.

       <b>Any</b> <b>header</b> <b>value</b>
           Any header value of the email.

               {{.Header "x-foo-bar"}}

           Any header values of the original forwarded or replied message:

               {{.OriginalHeader "x-foo-bar"}}
       <b>Message-ID</b>
           The message-ID of the message.

               :term b4 am {{.MessageId}}

       <b>MIME</b> <b>Type</b>
           MIME type is available for quoted reply and forward.

           •   <u>{{.OriginalMIMEType}}</u>: MIME type info of quoted mail part. Usually <u>text/plain</u> or <u>text/html</u>.

       <b>Original</b> <b>Message</b>
           When using quoted reply or forward, the original message is available in a field called <u>OriginalText</u>.

               {{.OriginalText}}

       <b>Signature</b>
           The signature of the currently selected account obtained from <b>signature-file</b> or <b>signature-cmd</b>.

               {{.Signature}}

       <b>Account</b> <b>info</b>
           The current account name:

               {{.Account}}

           The current account's backend:

               {{.AccountBackend}}

           The current account's from address:

               {{.AccountFrom}}
               {{.AccountFrom.Address}}

           Currently selected mailbox folder:

               {{.Folder}}

           Current message counts for all folders:

               {{.Recent}} {{.Unread}} {{.Exists}}
               {{.RUE}}

           IANA role of the mailbox, converted to lowercase:

               {{.Role}}

           <b>aerc</b> implements two additional custom roles: A 'query' role is given to folders from a notmuch query-
           map and 'virtual' indicates a virtual node in the directory tree listing:

               {{if eq .Role "query"}}{{...}}{{else}}{{...}}{{end}}

           Current message counts for specific folders:

               {{.Recent "inbox"}}
               {{.Unread "inbox" "aerc/pending"}}
               {{.Exists "archive" "spam" "foo/baz" "foo/bar"}}
               {{.RUE "inbox"}}

       <b>Status</b> <b>line</b>

           The following data will only be available in the status line templates:

           Connection state.

               {{.Connected}}
               {{.ConnectionInfo}}

           General status information (e.g. filter, search) separated with <b>[statusline].separator</b>.

               {{.ContentInfo}}

           Combination of <b>{{.ConnectionInfo}}</b> and <b>{{.StatusInfo}}</b> separated with <b>[statusline].separator</b>.

               {{.StatusInfo}}

           General  on/off  information  (e.g.  passthrough,  threading,  sorting,  visual mode), separated with
           <b>[statusline].separator</b>.

               {{.TrayInfo}}

           Currently pressed key sequence that does not match any key binding and/or is incomplete.

               {{.PendingKeys}}

</pre><h4><b>TEMPLATE</b> <b>FUNCTIONS</b></h4><pre>
       Besides the standard functions described in go's text/template documentation, aerc provides the following
       additional functions:

       <b>wrap</b>
           Wrap the original text to the specified number of characters per line.

               {{wrap 72 .OriginalText}}

       <b>quote</b>
           Prepends each line with <u>"&gt;</u> <u>"</u>.

               {{quote .OriginalText}}

       <b>trimSignature</b>
           Removes the signature froma passed in mail. Quoted signatures are kept as they are.

               {{trimSignature .OriginalText}}

       <b>join</b>
           Join the provided list of strings with a separator:

               {{.To | names | join ", "}}

       <b>split</b>
           Split a string into a string slice with a separator:

               {{.To | names | join ", " | split ", "}}

       <b>names</b>
           Extracts the names part from a mail.Address list. If there is no  name  available,  the  mbox  (email
           address without @domain) is returned instead.

               {{.To | names | join ", "}}
               {{index (.To | names) 0}}

       <b>firstnames</b>
           Extracts the first names part from a mail.Address list. If there is no name available, the short mbox
           (start of email address without @domain) is returned instead.

               {{.To | firstnames | join ", "}}
               {{index (.To | firstnames) 0}}

       <b>initials</b>
           Extracts  the  initials  from the names part from a mail.Address list. If there is no name available,
           the first letter of the email address is returned instead.

               {{.To | initials | join ", "}}
               {{index (.To | initials) 0}}

       <b>emails</b>
           Extracts the addresses part from a mail.Address list.

               {{.To | emails | join ", "}}
               {{index (.To | emails) 0}}

       <b>mboxes</b>
           Extracts the mbox part from a mail.Address list (i.e. <u>smith</u> from <u><a href="mailto:smith@example.com">smith@example.com</a></u>).

               {{.To | mboxes | join ", "}}
               {{index (.To | mboxes) 0}}

       <b>shortmboxes</b>
           Extracts the short mbox part from a mail.Address list (i.e. <u>smith</u> from <u><a href="mailto:smith.and.wesson@example.com">smith.and.wesson@example.com</a></u>).

               {{.To | shortmboxes | join ", "}}
               {{index (.To | shortmboxes) 0}}

       <b>persons</b>
           Formats a list of mail.Address into a list of strings containing the human readable form  of  RFC5322
           (e.g. <u>Firstname</u> <u>Lastname</u> <u>&lt;<a href="mailto:email@address.tld">email@address.tld</a>&gt;</u>).

               {{.To | persons | join ", "}}
               {{index (.To | persons) 0}}

       <b>.Attach</b>
           Attaches a file to the message being composed.

               {{.Attach '/usr/libexec/aerc/filters/html'}}

       <b>exec</b>
           Execute  external command, provide the second argument to its stdin. The command is executed with the
           same search <b>$PATH</b> than aerc filters (see <b><a href="../man5/aerc-config.5.html">aerc-config</a></b>(5) in the <b>FILTERS</b> section for more details).

               {{exec `html` .OriginalText}}

       <b>.Local</b>
           Convert the date to the local timezone as specified by the locale.

               {{.Date.Local}}

       <b>dateFormat</b>
           Format date and time according to the format passed as  the  second  argument.  The  format  must  be
           specified according to go's time package format.

               {{dateFormat .Date "Mon Jan 2 15:04:05 -0700 MST 2006"}}

           You can also use the <u>.DateAutoFormat</u> method to format the date according to <b>*-time*format</b> settings:

               {{.DateAutoFormat .OriginalDate.Local}}

       <b>now</b>
           Return the current date as a golang time.Time object that can be formatted with <b>dateFormat</b>.

               {{dateFormat now "Mon Jan 2 15:04:05 -0700 MST 2006"}}

       <b>humanReadable</b>
           Return the human readable form of an integer value.

               {{humanReadable 3217653721}}

       <b>cwd</b>
           Return the current working directory with the user home dir replaced by <u>~</u>.

               {{cwd}}

       <b>compactDir</b>
           Reduce  a  directory  path into a compact form. The directory name will be split with <u>/</u> and each part
           will be reduced to the first letter in its name: <u>INBOX/01_WORK/PROJECT</u> will become <u>I/W/PROJECT</u>.

               {{compactDir .Folder}}

       <b>contains</b>
           Checks if a string contains a substring.

               {{contains "&lt;!DOCTYPE html&gt;" .OriginalText}}

       <b>hasPrefix</b>
           Checks if a string has a prefix.

               {{hasPrefix "Business" .Folder}}

       <b>toLower</b>
           Convert a string to lowercase.

               {{toLower "SPECIAL OFFER!"}}

       <b>toUpper</b>
           Convert a string to uppercase.

               {{toUpper "important"}}

       <b>replace</b>
           Perform a regular expression substitution on the passed string.

               {{replace `(.+) - .+ at .+..+` `$1` ((index .OriginalFrom 0).Name)}}

       <b>head</b>
           Return first n characters from string.

               {{"hello" | head 2}}

       <b>tail</b>
           Return last n characters from string.

               {{"hello" | tail 2}}

       <b>.Style</b>
           Apply a user-defined style (see <b><a href="../man7/aerc-stylesets.7.html">aerc-stylesets</a></b>(7)) to a string.

               {{.Style .Account "red"}}
               {{.Style .ThreadPrefix "thread"}}{{.Subject}}

       <b>.StyleSwitch</b>
           Apply a user-defined style (see <b><a href="../man7/aerc-stylesets.7.html">aerc-stylesets</a></b>(7)) to a string if it matches one  of  the  associated
           regular expressions. If the string does not match any of the expressions, leave it unstyled.

               {{.StyleSwitch .Subject (`^([[w-]+]s*)?[(RFC )?PATCH` "cyan")}}
               {{.StyleSwitch (.From | names | join ", ") (case `Tim` "cyan") (case `Robin` "pink-blink") (default "blue")}}

       <b>.StyleMap</b>
           Apply user-defined styles (see <b><a href="../man7/aerc-stylesets.7.html">aerc-stylesets</a></b>(7)) to elements of a string list. The logic is the same
           than  <b>.StyleSwitch</b>  but  works  on  a  list of elements. An additional <b>exclude</b> option is available to
           remove the matching elements from the list.

               {{.StyleMap .Labels (exclude .Folder) (exclude `^spam$`) (case `^inbox$` "red") (case `^Archive/.*` "green") (default "blue") | join " "}}

       <b>version</b>
           Returns the version of aerc, which can be useful for things like X-Mailer.

               X-Mailer: aerc {{version}}

       <b>match</b>
           Check if a string matches a regular expression. This is intended for use in conditional control flow:

               {{if match .Folder `.*/Archive-[0-9]+`}}{{humanReadable .Unread}}{{end}}

       <b>switch</b>
           Do switch/case/default control flows. The switch value is compared with regular expressions. If  none
           of the case/default arms match, an empty string is returned.

               {{switch .Folder (case `^INBOX$` "📥") (case `^Archive/.*` "🗃") (default "📁")}}

       <b>map</b>
           Transform  a  string  list into another one. The logic is the same than <b>switch</b> but works on a list of
           elements. An additional <b>exclude</b> option is available to remove the matching elements from the list.

               {{map .Labels (exclude .Folder) (exclude `^spam$`) (case `^inbox$` "📥") (case `^Archive/.*` "🗃") | join " "}}

       <b>Function</b> <b>chaining</b>
           All of the template functions can be chained together if needed.

           Example: Automatic HTML parsing for text/html mime type messages

               {{if eq .OriginalMIMEType "text/html"}}
               {{exec `/usr/libexec/aerc/filters/html` .OriginalText | wrap 72 | quote}}
               {{else}}
               {{wrap 72 .OriginalText | trimSignature | quote}}
               {{end}}

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       <b><a href="../man1/aerc.1.html">aerc</a></b>(1) <b><a href="../man5/aerc-config.5.html">aerc-config</a></b>(5)

</pre><h4><b>AUTHORS</b></h4><pre>
       Originally created by Drew DeVault and maintained by Robin Jarry who is assisted  by  other  open  source
       contributors. For more information about aerc development, see <u>https://sr.ht/~rjarry/aerc/</u>.

                                                   2025-05-31                                  <u><a href="../man7/AERC-TEMPLATES.7.html">AERC-TEMPLATES</a></u>(7)
</pre>
 </div>
</div></section>
</div>
</body>
</html>