<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cdist-type__consul_template - Manage the consul-template service</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/cdist">cdist_7.0.0-5_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       cdist-type__consul_template - Manage the consul-template service

</pre><h4><b>DESCRIPTION</b></h4><pre>
       Downloads        and        installs        the        consul-template        binary        from        ‐
       <u>https://github.com/hashicorp/consul-template/releases/download/</u>.  Generates  a  global  config  file  and
       creates  directory  for per template config files.  Note that the consul-template binary is downloaded on
       the server (the machine running cdist) and then deployed to the target host using the __file type.

</pre><h4><b>REQUIRED</b> <b>PARAMETERS</b></h4><pre>
       None.

</pre><h4><b>OPTIONAL</b> <b>PARAMETERS</b></h4><pre>
       <b>auth-username</b>
              specify a username for basic authentication.

       <b>auth-password</b>
              specify a password for basic authentication.

       <b>batch-size</b>
              the size of the batch when polling multiple dependencies.

       <b>consul</b> the location of the Consul instance to query (may be an IP address or FQDN) with  port.   Defaults
              to 'localhost:8500'.

       <b>log-level</b>
              The  log level for output. This applies to the stdout/stderr logging as well as syslog logging (if
              enabled). Valid values are "debug", "info", "warn", and "err". The default value is "warn".

       <b>max-stale</b>
              the maximum staleness of a query. If specified, Consul will  distribute  work  among  all  servers
              instead of just the leader.

       <b>retry</b>  the amount of time to wait if Consul returns an error when communicating with the API.

       <b>state</b>  either 'present' or 'absent'. Defaults to 'present'

       <b>ssl-cert</b>
              Path  to  an  SSL  client  certificate to use to authenticate to the consul server.  Useful if the
              consul server "verify_incoming" option is set.

       <b>ssl-ca-cert</b>
              Path to a CA certificate file, containing one or more CA  certificates  to  use  to  validate  the
              certificate   sent  by  the  consul  server  to  us.  This  is  a  handy  alternative  to  setting
              --ssl-no-verify if you are using your own CA.

       <b>syslog-facility</b>
              The facility to use when sending to syslog. This requires the use of --syslog.  The default  value
              is LOCAL0.

       <b>token</b>  the Consul API token.

       <b>vault-address</b>
              the location of the Vault instance to query (may be an IP address or FQDN) with port.

       <b>vault-token</b>
              the Vault API token.

       <b>vault-ssl-cert</b>
              Path to an SSL client certificate to use to authenticate to the vault server.

       <b>vault-ssl-ca-cert</b>
              Path  to  a  CA  certificate  file,  containing one or more CA certificates to use to validate the
              certificate sent by the vault server to us.

       <b>version</b>
              which version of consul-template  to  install.  See  ./files/versions  for  a  list  of  supported
              versions. Defaults to the latest known version.

       <b>wait</b>   the  minimum(:maximum)  to  wait before rendering a new template to disk and triggering a command,
              separated by a colon (:). If the optional maximum value is omitted, it is assumed  to  be  4x  the
              required minimum value.

</pre><h4><b>BOOLEAN</b> <b>PARAMETERS</b></h4><pre>
       <b>ssl</b>    use  HTTPS  while  talking  to Consul. Requires the Consul server to be configured to serve secure
              connections.

       <b>ssl-no-verify</b>
              ignore certificate warnings. Only used if ssl is enabled.

       <b>syslog</b> Send log output to syslog (in addition to stdout and stderr).

       <b>vault-ssl</b>
              use HTTPS while talking to Vault. Requires the Vault server  to  be  configured  to  serve  secure
              connections.

       <b>vault-ssl-no-verify</b>
              ignore certificate warnings. Only used if vault is enabled.

</pre><h4><b>EXAMPLES</b></h4><pre>
          __consul_template \
             --consul consul.service.consul:8500 \
             --retry 30s

          # specific version
          __consul_template \
             --version 0.6.5 \
             --retry 30s

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       consul documentation at: &lt;<u>https://github.com/hashicorp/consul-template</u>&gt;.

</pre><h4><b>AUTHORS</b></h4><pre>
       Steven Armstrong &lt;<u>steven-cdist--@--armstrong.cc</u>&gt;

</pre><h4><b>COPYING</b></h4><pre>
       Copyright  (C) 2015 Steven Armstrong. You can redistribute it and/or modify it under the terms of the GNU
       General Public License as published by the Free Software Foundation, either version 3 of the License,  or
       (at your option) any later version.

</pre><h4><b>COPYRIGHT</b></h4><pre>
       ungleich GmbH 2021

7.0.0                                             Sep 11, 2024                    <u>CDIST-TYPE</u><b>__</b><u><a href="../man7/CONSUL_TEMPLATE.7.html">CONSUL_TEMPLATE</a></u>(7)
</pre>
 </div>
</div></section>
</div>
</body>
</html>