<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREATE_TEXT_SEARCH_TEMPLATE - define a new text search template</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/postgresql-client-17">postgresql-client-17_17.5-1build1_amd64</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       CREATE_TEXT_SEARCH_TEMPLATE - define a new text search template

</pre><h4><b>SYNOPSIS</b></h4><pre>
       CREATE TEXT SEARCH TEMPLATE <u>name</u> (
           [ INIT = <u>init_function</u> , ]
           LEXIZE = <u>lexize_function</u>
       )

</pre><h4><b>DESCRIPTION</b></h4><pre>
       <b>CREATE</b> <b>TEXT</b> <b>SEARCH</b> <b>TEMPLATE</b> creates a new text search template. Text search templates define the
       functions that implement text search dictionaries. A template is not useful by itself, but must be
       instantiated as a dictionary to be used. The dictionary typically specifies parameters to be given to the
       template functions.

       If a schema name is given then the text search template is created in the specified schema. Otherwise it
       is created in the current schema.

       You must be a superuser to use <b>CREATE</b> <b>TEXT</b> <b>SEARCH</b> <b>TEMPLATE</b>. This restriction is made because an erroneous
       text search template definition could confuse or even crash the server. The reason for separating
       templates from dictionaries is that a template encapsulates the “unsafe” aspects of defining a
       dictionary. The parameters that can be set when defining a dictionary are safe for unprivileged users to
       set, and so creating a dictionary need not be a privileged operation.

       Refer to Chapter 12 for further information.

</pre><h4><b>PARAMETERS</b></h4><pre>
       <u>name</u>
           The name of the text search template to be created. The name can be schema-qualified.

       <u>init_function</u>
           The name of the init function for the template.

       <u>lexize_function</u>
           The name of the lexize function for the template.

       The function names can be schema-qualified if necessary. Argument types are not given, since the argument
       list for each type of function is predetermined. The lexize function is required, but the init function
       is optional.

       The arguments can appear in any order, not only the one shown above.

</pre><h4><b>COMPATIBILITY</b></h4><pre>
       There is no <b>CREATE</b> <b>TEXT</b> <b>SEARCH</b> <b>TEMPLATE</b> statement in the SQL standard.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       ALTER TEXT SEARCH TEMPLATE (<b><a href="../man7/ALTER_TEXT_SEARCH_TEMPLATE.7.html">ALTER_TEXT_SEARCH_TEMPLATE</a></b>(7)), DROP TEXT SEARCH TEMPLATE
       (<b><a href="../man7/DROP_TEXT_SEARCH_TEMPLATE.7.html">DROP_TEXT_SEARCH_TEMPLATE</a></b>(7))

PostgreSQL 17.5                                       2025                        <u>CREATE</u> <u>TEXT</u> <u>SEARCH</u> <u><a href="../man7/TEMPLATE.7.html">TEMPLATE</a></u>(7)
</pre>
 </div>
</div></section>
</div>
</body>
</html>