<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lcp2_crtpolelt - create an Intel(R) TXT policy element of specified type.</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/tboot">tboot_1.10.5-5ubuntu1_amd64</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       lcp2_crtpolelt - create an Intel(R) TXT policy element of specified type.

</pre><h4><b>SYNOPSIS</b></h4><pre>
       <b>lcp2_crtpolelt</b> <u>COMMAND</u> [ ELEMENT TYPE OPTIONS ] [<u>OPTION</u>]

</pre><h4><b>DESCRIPTION</b></h4><pre>
       <b>lcp_crtpolelt</b>  is  used to create an Intel(R) TXT policy element of specified type. Supports LCP elements
       both  in  current   and   legacy   formats:   LCP_MLE_ELEMENT2,   LCP_STM_ELEMENT2,   LCP_PCONF_ELEMENT2,
       LCP_PCONF_ELEMENT, LCP_MLE_ELEMENT and LCP_CUSTOM_ELEMENT.

</pre><h4><b>COMMANDS</b></h4><pre>
       <b>--create</b> <b>--type</b> <u>type</u> <b>--out</b> <u>FILE</u> [<b>--ctrl</b> <u>pol_elt_ctr1</u>]
              create a policy element specified by the --type option.

              <b>--type</b> <u>type</u>
                     type of element. Must be first option. See below for type strings and their options

              <b>--out</b> <u>FILE</u>
                     output file name

              [<b>--ctrl</b> <u>value</u>]
                     PolEltControl field (hex or decimal)

       <b>--show</b> <u>file</u> [<u>FILE</u>]
              show a policy element

       <b>--version</b>
              show tool version

       <b>--verbose</b>
              enable verbose output; can be specified with any command

       <b>--help</b> print out the help message

</pre><h4><b>OPTIONS</b></h4><pre>
       The <b>--create</b> command requires additional parameters depending on the element's type

       <b>mle2</b> [<b>--minver</b> <u>ver</u>] [<b>--alg</b> <u>algorithm</u>] <u>file</u> [<u>file</u>...]

              <b>--minver</b> <u>ver</u>                      minimum version of SINIT (hex or decimal)

              <b>--alg</b> <u>&lt;sha1|sha256|sha386|sha512&gt;</u> hash algorithm

              <u>file</u> [<u>file</u>...]                    one  or  more text files, each containing one or more MLE hashes
                                                (as text, one hash per line); Hash files  can  be  created  with
                                                lcp2_mlehash.

       <b>custom</b> <b>--uuid</b> <u>UUID</u> <u>file</u>

              <b>--uuid</b> <u>UUID</u> UUID  in  format:  {0xaabbccdd,  0xeeff, 0xgghh, 0xiijj, {0xkk 0xll, 0xmm, 0xnn, 0xoo,
                          0xpp}} or "--uuid tboot" to use default

              <u>file</u>        file containing element data

       <b>sbios</b> [<b>--alg</b> <u>algorithm</u>] <u>file</u> [<u>file</u>...]

              <b>--alg</b> <u>&lt;sha1|sha256|sha386|sha512&gt;</u> hash algorithm

              <u>file</u> [<u>file</u>...]                    one or more files containing one or more BIOS hashes  (as  text,
                                                one hash per line); the first hash in the first file will be the
                                                fallback hash

       <b>stm</b> [<b>--alg</b> <u>algorithm</u>] <u>file</u> [<u>file</u>...]

              <b>--alg</b> <u>&lt;sha1|sha256|sha386|sha512&gt;</u> hash algorithm

              <u>file</u> [<u>file</u>...]                    one  or  more text files, each containing one or more STM hashes
                                                (as text, one hash per line);

       <b>pconf2</b> <b>--alg</b> <u>algorithm</u> [<b>--pcrN</b> <u>hash_value</u>]

              <b>--alg</b> <u>&lt;sha1|sha256|sha386|sha512&gt;</u> PCR hash algorithm

              <b>--pcrN</b> <u>hash_value</u>                 PCR value for PCR #N, where 0 &lt;= N &lt;= 7.

       <b>mle</b> [<b>--minver</b> <u>ver</u>] <u>file</u> [<u>file</u>...]
              <b>--minver</b> <u>ver</u> <b>minimum</b> <b>version</b> <b>of</b> <b>SINIT</b> <b>(hex</b> <b>or</b> <b>decimal)</b>

              <u>file</u> [<u>file</u>...]
                     one or more text files, each containing one or more MLE SHA1 hashes (as text, one hash  per
                     line); Hash files can be created with lcp2_mlehash.

       <b>pconf</b> <u>file</u> [<u>file</u>...]
              one  or  more  text  files,  each  containing PCR information; Each file should have the following
              structure:  first  line  should  be:  'locality:&lt;value&gt;'  followed  by  up   to   8  lines,   each
              representing  one  PCR  (0  to  7)  and  its contents: e.g.  Locality represents TPM's locality at
              release.  It is a byte, of which bits 0 to 4 represent their respective locality (bit0 - locality0
              and so on). Bits 5-7 are reserved and must be 0. Value must be at least 1  -  locality0  selected,
              and at most 0x1F (all localities selected).

</pre><h4><b>EXAMPLES</b></h4><pre>
       Create MLE element:
       lcp2_crtpolelt --create --type mle --out mle.elt --ctrl 0x00 --alg sha256 --minver 0 mle_hash

       Create PCONF2 element:
       lcp2_crtpolelt --create --type pconf2 --out pconf2.elt --ctrl 0x00 --alg sha256 --pcr0 &lt;PCR[0] hash&gt; --pcr3 &lt;PCR[3] hash&gt;

       Create PCONF element:
       lcp2_crtpolelt --create --type pconf pcrInfo1.txt pcrInfo2.txt --out pconf2.elt --ctrl 0x00

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       <b>Full</b>  <b>documentation</b> <b>of</b> <b>MLE,</b> <b>Intel(R)</b> <b>TXT</b> <b>and</b> <b>LCP</b> <b>is</b> <b>available</b> <b>in</b> <b>Intel(R)</b> <b>TXT</b> <b>Measured</b> Launch Environment
       Deleveloper's Guide, available at:  <a href="http://www.intel.com/content/www/us/en/software-developers/intel-txt">http://www.intel.com/content/www/us/en/software-developers/intel-txt</a>-
       software-development-guide.html

       <b><a href="../man8/lcp2_crtpol.8.html">lcp2_crtpol</a></b>(8), <b><a href="../man8/lcp2_mlehash.8.html">lcp2_mlehash</a></b>(8), <b><a href="../man8/lcp2_crtpollist.8.html">lcp2_crtpollist</a></b>(8), <b><a href="../man1/uuidgen.1.html">uuidgen</a></b>(1), <b><a href="../man8/tb_polgen.8.html">tb_polgen</a></b>(8).

tboot                                              2020-05-10                                  <u><a href="../man8/LCP2_CRTPOLELT.8.html">LCP2_CRTPOLELT</a></u>(8)
</pre>
 </div>
</div></section>
</div>
</body>
</html>