<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>targetclid - daemon component for targetcli</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/targetcli-fb">targetcli-fb_2.1.53-1.3_all</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       <b>targetclid</b> - daemon component for targetcli

</pre><h4><b>DESCRIPTION</b></h4><pre>
       <b>targetclid</b>  is the daemon component of targetcli, which will help retain state of various configfs object
       in memory, hence any new request/command can directly use the in memory objects instead of reconstructing
       them by parsing through the entire configfs files again and again for each and every single command. This
       will greatly improve the overall execution time taken by targetcli commands at scale.

</pre><h4><b>USAGE</b></h4><pre>
       <b>targetclid</b> <b>[cmd]</b>
       <b>--help</b> for additional usage information.
       <b>--version</b> for version information.

</pre><h4><b>QUICKSTART</b> <b>&amp;</b> <b>EXAMPLES</b></h4><pre>
       To start using the daemon, one need to enable targetclid socket,
              $ systemctl enable targetclid.socket

       If you would like to use the daemonized approach as default method then,
              $ targetcli set global auto_use_daemon=true
              $ targetcli ls

       You can use interactive mode,
              $ targetcli &lt;hit-enter&gt;
              targetcli shell version 2.1.51
              Entering targetcli interactive mode for daemonized approach.
              Type 'exit' to quit.
              /&gt; pwd
              /
              /&gt; cd /iscsi
              /&gt; pwd
              /iscsi
              /&gt; exit

       You can also use batch mode for sending multiple commands in one go,
              $ targetcli set global daemon_use_batch_mode=true
              Parameter daemon_use_batch_mode is now 'true'.
              $ targetcli &lt;hit-enter&gt;
              targetcli shell version 2.1.51
              Entering targetcli batch mode for daemonized approach.
              Enter multiple commands separated by newline and type 'exit' to run them all in one go.
              /&gt; ls
              /&gt; pwd
              /&gt; get global loglevel_file
              /&gt; exit

       You can set preference to stop using daemonized mode even when the daemon is not running,
              $ targetcli --disable-daemon

</pre><h4><b>FILES</b></h4><pre>
       <b>/etc/rtslib-fb-target/saveconfig.json</b>
       <b>/etc/rtslib-fb-target/backup/*</b>
       <b>/var/run/targetclid.sock</b>
       <b>/var/run/targetclid.pid</b>

</pre><h4><b>ENVIRONMENT</b></h4><pre>
   <b>TARGETCLI_HOME</b>
       If set, this variable points to a directory that should be used instead of <a href="file:~/.targetcli">~/.targetcli</a>

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       <b><a href="../man8/targetcli.8.html">targetcli</a></b>(8), <b><a href="../man8/targetctl.8.html">targetctl</a></b>(8), <b><a href="../man8/tcmu-runner.8.html">tcmu-runner</a></b>(8)

</pre><h4><b>AUTHOR</b></h4><pre>
       Written by Prasanna Kumar Kalever &lt;<a href="mailto:prasanna.kalever@redhat.com">prasanna.kalever@redhat.com</a>&gt;
       Man page written by Prasanna Kumar Kalever &lt;<a href="mailto:prasanna.kalever@redhat.com">prasanna.kalever@redhat.com</a>&gt;

</pre><h4><b>REPORTING</b> <b>BUGS</b></h4><pre>
       Report bugs via &lt;<a href="mailto:targetcli-fb-devel@lists.fedorahosted.org">targetcli-fb-devel@lists.fedorahosted.org</a>&gt;
       or &lt;https://github.com/open-iscsi/targetcli-fb/issues&gt;

                                                                                                   <u><a href="../man8/targetclid.8.html">targetclid</a></u>(8)
</pre>
 </div>
</div></section>
</div>
</body>
</html>