<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dbounce - alternative debounce component</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/linuxcnc-uspace">linuxcnc-uspace_2.9.4-2ubuntu2_amd64</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       dbounce - alternative debounce component

</pre><h4><b>SYNOPSIS</b></h4><pre>
       This component is similar to the <b>debounce</b> component

       (man <b>debounce</b>) but uses settable delay pins for each instance

       and supports <b>count</b>= or <b>names</b>= parameters

       (groups are not used)

</pre><h4><b>FUNCTIONS</b></h4><pre>
       <b>dbounce.</b><u>N</u>

</pre><h4><b>PINS</b></h4><pre>
       <b>dbounce.</b><u>N</u><b>.in</b> bit in
       <b>dbounce.</b><u>N</u><b>.out</b> bit out
       <b>dbounce.</b><u>N</u><b>.delay</b> u32 in (default: <u>5</u>)

</pre><h4><b>AUTHOR</b></h4><pre>
       Dewey Garrett

</pre><h4><b>LICENSE</b></h4><pre>
       GPL

LinuxCNC Documentation                             2025-08-07                                         <u><a href="../man9/DBOUNCE.9.html">DBOUNCE</a></u>(9)
</pre>
 </div>
</div></section>
</div>
</body>
</html>