<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hal_parport - Realtime HAL component to communicate with one or more pc parallel ports.</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/linuxcnc-uspace">linuxcnc-uspace_2.9.4-2ubuntu1_amd64</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       hal_parport - Realtime HAL component to communicate with one or more pc parallel ports.

</pre><h4><b>SYNOPSIS</b></h4><pre>
       <b>loadrt</b> <b>hal_parport</b> <b>cfg="</b><u>port_addr</u> [<u>type</u>] [[<u>port_addr</u> [<u>type</u>] ...]<b>"</b>

</pre><h4><b>DESCRIPTION</b></h4><pre>
       The  hal_parport  component is a realtime component that provides connections from HAL via halpins to the
       physical pins of one or more parallel ports.  It provides a read and write function to send  and  receive
       data to the attached parallel port(s).

       The hal_parport component supports up to <b>8</b> physical parallel ports.

</pre><h4><b>OPTIONS</b></h4><pre>
       <b>cfg="port_addr</b> <b>[type]</b> <b>[[port_addr</b> <b>[type]</b> <b>...]"</b>

              The  cfg  string tells hal_parport the address(es) of the parallel port(s) and whether the port(s)
              is/are used as an input or output port(s).  Up to  eight  parallel  ports  are  supported  by  the
              component.

              The  <b>port_addr</b>  parameter of the configuration string may be either the physical base address of a
              parallel port or specified as the detected parallel port via Linux parport_pc  driver.   In  which
              case,  a  <b>port_addr</b>  of <u>0</u> is the first parallel port detected on the system, <u>1</u> is the next, and so
              on.

              The <b>type</b> parameter of the configuration string determines how the I/O bits of the port  are  used.
              There are four possible options and if none is specified will default to out.

              <u>in</u>  - Sets the 8 bits of the data port to input.  In this mode the parallel port has a total of 13
              input pins and 4 output pins.

              <u>out</u> - Sets the 8 bits of the data port to output.  In this mode the parallel port has a total of 5
              input pins and 12 output pins.

              <u>epp</u> - This option is the same as setting to  out,  but  can  cause  the  computer  to  change  the
              electrical characteristics of the port, see USAGE below.

              <u>x</u>  -  The  option allows ports with open collectorts on the control group pins to be configured as
              inputs resulting in 8 output pins and 9 input pins, see USAGE below.

</pre><h4><b>PINS</b></h4><pre>
       The pins created by the hal_parport component depends on how it is configured in the <b>cfg=""</b> string passed
       to it, see OPTIONS.

              <b>parport.&lt;p&gt;.pin-&lt;n&gt;-out</b> <b>(bit)</b> Drives a physical output pin.

              <b>parport.&lt;p&gt;.pin-&lt;n&gt;-in</b> <b>(bit)</b> Tracks a physical input pin.

              <b>parport.&lt;p&gt;.pin-&lt;n&gt;-in-not</b> <b>(bit)</b> Tracks a physical input pin, but inverted.

              For each pin created, <b>&lt;p&gt;</b> is the port number, and <b>&lt;n&gt;</b> is the physical pin number  in  the  25  pin
              D-shell connector.

              For   each   physical   output   pin,   the   driver  creates  a  single  HAL  pin,  for  example:
              <b>parport.0.pin-14-out</b>.

              For each physical input pin, the driver creates two HAL pins, for example: <b>parport.0.pin-12-in</b> and
              <b>parport.0.pin-12-in-not</b>.

              The <b>-in</b> HAL pin is TRUE if the physical pin is high, and FALSE if the physical  pin  is  low.  The
              <b>-in-not</b> HAL pin is inverted and is FALSE if the physical pin is high.

              The following lists the input and output pins by the type setting used in the cfg="" string.

              <b>in</b>: Pins 2,3,4,5,6,7,8,9,10,11,12,13,15 are input pins and pins 1,14,16 and 17 are output pins.

              <b>out/epp</b>: Pins 10,11,12,13 and 15 are input pins and pins 1,2,3,4,5,6,7,8,9,14,16 and 17 are output
              pins.

              <b>x</b>:  Pins  1,10,11,12,13,14,15,16  and  17 are input pins and pins 2,3,4,5,6,7,8,9 are output pins.
              (<u>See</u> <u>USAGE</u> <u>section</u>.)

</pre><h4><b>PARAMETERS</b></h4><pre>
       <b>parport.&lt;p&gt;.pin-&lt;n&gt;-out-invert</b> <b>(bit)</b>
              Inverts an output pin.

       <b>parport.&lt;p&gt;.pin-&lt;n&gt;-out-reset</b> <b>(bit)</b>
              (only for out pins) TRUE if this pin should be reset when the .reset function is executed.

       <b>parport.&lt;p&gt;.reset-time'</b> <b>(U32)</b>
              The time (in nanoseconds) between a pin is set by write and reset by the reset function if  it  is
              enabled.

</pre><h4><b>FUNCTIONS</b></h4><pre>
       <b>parport.&lt;p&gt;.read(funct)</b>
              Reads physical input pins of port &lt;portnum&gt; and updates HAL -in and -in-not pins.

       <b>parport.read-all</b> <b>(funct)</b>
              Reads physical input pins of all ports and updates HAL -in and -in-not pins.

       <b>parport.&lt;p&gt;.write</b> <b>(funct)</b>
              Reads HAL -out pins of port &lt;p&gt; and updates that port's physical output pins.

       <b>parport.write-all</b> <b>(funct)</b>
              Reads HAL -out pins of all ports and updates all physical output pins.

       <b>parport.&lt;p&gt;.reset</b> <b>(funct)</b>
              Waits  until  <u>reset-time</u>  has  elapsed  since  the  associated  write,  then resets pins to values
              indicated by <u>-out-reset</u> and <u>-out-invert</u> settings.  Reset must be  later  in  the  same  thread  as
              write.  'If  '<u>-out-reset</u>  is  TRUE,  then  the  reset  function  will  set the pin to the value of
              <u>-out-invert</u>.  This can be used in conjunction with stepgen's doublefreq to produce  one  step  per
              period.  The stepgen stepspace for that pin must be set to 0 to enable doublefreq.

</pre><h4><b>USAGE</b></h4><pre>
       The  hal_parport  component is a driver for the traditional PC parallel port.  The port has a total of 25
       physical pins of which 17 are used for signals.  The original parallel port divided those pins into three
       groups: data, control, and status.  The data group consists of 8 output pins, the control group  consists
       of 4 output pins, and the status group consists of 5 input pins.

       In  the  early  1990's, the bidirectional parallel port was introduced, which allows the data group to be
       used for output or input.  The HAL driver supports the bidirectional port, and allows the user to set the
       data group as either input or output.  If configured as <u>out</u>, a port provides a total of 12 outputs and  5
       inputs.  If configured as <u>in</u>, it provides 4 outputs and 13 inputs.

       In  some  parallel  ports, the control group pins are open collectors, which may also be driven low by an
       external gate.  On a board with open collector control pins, if configured as <u>x</u>, it provides  8  outputs,
       and 9 inputs.

       In some parallel ports, the control group has push-pull drivers and cannot be used as an input.

       <b>Note:</b> <b>HAL</b> <b>and</b> <b>Open</b> <b>Collectors</b>
              HAL  cannot  automatically determine if the x mode bidirectional pins are actually open collectors
              (OC).  If they are not, they cannot be used as inputs, and attempting to drive them  LOW  from  an
              external source can damage the hardware.

              To  determine  whether  your  port  has  open collector pins, load hal_parport in x mode.  With no
              device attached, HAL should read the pin as TRUE.  Next, insert a 470 ohm resistor from one of the
              control pins to GND.  If the resulting voltage on the control pin is close  to  0V,  and  HAL  now
              reads the pin as FALSE, then you have an OC port.  If the resulting voltage is far from 0V, or HAL
              does not read the pin as FALSE, then your port cannot be used in x mode.

              The  external  hardware  that  drives the control pins should also use open collector gates (e.g.,
              74LS05).

              On some computers, BIOS settings may affect whether x mode can be used. SPP mode is most likely to
              work.

       No other combinations are supported, and a port cannot be changed from input to output once the driver is
       installed.

       The parport driver can control up to 8 ports (defined by MAX_PORTS  in  hal_parport.c).   The  ports  are
       numbered starting at zero.

       <b>Loading</b> <b>the</b> <b>hal_parport</b> <b>component</b>

              The  hal_parport  driver  is  a real time component so it must be loaded into the real time thread
              with loadrt.  The configuration string describes the parallel ports to be used,  and  (optionally)
              their types.  If the configuration string does not describe at least one port, it is an error.

              <b>loadrt</b> <b>hal_parport</b> <b>cfg="port</b> <b>[type]</b> <b>[port</b> <b>[type]</b> <b>...]"</b>

       <b>Specifying</b> <b>the</b> <b>Port</b>

              Numbers  below  16  refer  to  parallel ports detected by the system.  This is the simplest way to
              configure the hal_parport driver, and cooperates with the Linux parport_pc driver if it is loaded.
              A port of 0 is the first parallel port detected on the system, 1 is the next, and so on.

       <b>Basic</b> <b>configuration</b>

              This will use the first parallel port Linux detects:

                    <b>loadrt</b> <b>hal_parport</b> <b>cfg="0"</b>

       <b>Using</b> <b>the</b> <b>Port</b> <b>Address</b>

              Instead, the port address may be specified using the hex notation 0x then the address.

                    <b>loadrt</b> <b>hal_parport</b> <b>cfg="0x378"</b>

       <b>Specifying</b> <b>a</b> <b>port</b> <b>Type</b>

              For each parallel port handled by the hal_parport driver, a type can optionally be specified.  The
              type is one of in, out, epp, or x.

              If the type is not specified, the default is out.

              A  type  of  epp is the same as out, but the hal_parport driver requests that the port switch into
              EPP mode.  The hal_parport driver does not use the EPP bus protocol, but on some systems EPP  mode
              changes  the  electrical characteristics of the port in a way that may make some marginal hardware
              work better.  The Gecko G540's charge pump is known to require this on some parallel ports.

              See the Note above about mode x.

       <b>Example</b> <b>with</b> <b>two</b> <b>parallel</b> <b>ports</b>

              This will enable two system-detected parallel ports, the first in output mode and  the  second  in
              input mode:

                    <b>loadrt</b> <b>hal_parport</b> <b>cfg="0</b> <b>out</b> <b>1</b> <b>in"</b>

       <b>Functions</b> <b>single</b> <b>port</b>

              You must also direct LinuxCNC to run the read and write functions.

                    <b>addf</b> <b>parport.read-all</b> <b>base-thread</b>
                    <b>addf</b> <b>parport.write-all</b> <b>base-thread</b>

       <b>Functions</b> <b>multiple</b> <b>ports</b>

              You can direct LinuxCNC to run the read and write functions for all the attached ports.

                    <b>addf</b> <b>parport.0.read</b> <b>base-thread</b>
                    <b>addf</b> <b>parport.0.write</b> <b>base-thread</b>

              The  individual functions are provided for situations where one port needs to be updated in a very
              fast thread, but other ports can be updated in a slower thread to save CPU time.  It  is  probably
              not a good idea to use both an -all function and an individual function at the same time.

</pre><h4><b>SEE</b> <b>ALSO</b></h4><pre>
       Parallel      Port      Driver      (Hardware      Drivers      Section      of      LinuxCNC      Docs),
       <b>PCI</b>Parallel<b>Port</b>Example<b>(Hardware</b>Examples<b>Section</b>of<b>LinuxCNC</b>Docs)

</pre><h4><b>AUTHOR</b></h4><pre>
       This man page written by Joe Hildreth as part of the LinuxCNC project.   Most  of  this  information  was
       taken  from  the parallel-port docs located in the Hardware Drivers section of the documentation.  To the
       best of my knowledge that documentation was written by Sebastian Kuzminsky and Chris Radek.

LinuxCNC Documentation                             12 APR 2017                                    <u><a href="../man9/hal_parport.9.html">hal_parport</a></u>(9)
</pre>
 </div>
</div></section>
</div>
</body>
</html>