<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mesa_uart - An example component demonstrating how to access the Hostmot2 UART</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/linuxcnc-uspace">linuxcnc-uspace_2.9.4-2ubuntu1_amd64</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       mesa_uart - An example component demonstrating how to access the Hostmot2 UART

</pre><h4><b>SYNOPSIS</b></h4><pre>

       <b>loadrt</b> <b>mesa_uart</b> <b>[count=</b><u>N</u><b>|names=</b><u>name1</u><b>[,</b><u>name2...</u><b>]]</b>

</pre><h4><b>DESCRIPTION</b></h4><pre>
       This  component  creates 16 input and 16 output pins. It transmits {name}.N.tx-bytes on the selected UART
       every thread cycle and reads up to 16 bytes each cycle out of the receive FIFO and writes the  values  to
       the  associated  output  pins. {name}.rx-bytes indicates how many pins have been written to.  (pins &gt; rx-
       bytes simply hold their previous value)

       This module uses the names= mode of loadrt declaration to specify which UART instances to enable. A check
       is included to ensure that the count= option is not used instead.

       The component takes parameters in the form of a comma-separated list of UART instance names, for example:

        <b>loadrt</b> <b>mesa_uart</b> <b>names=hm2_5i23.0.uart.0,hm2_5i23.0.uart.7</b>

       Note that no spaces are allowed in the string unless it is delimited by double quotes.

       The UART instance names are printed to the dmesg buffer during the Hostmot2 setup sequence, one for  each
       UART  instance  included in the bitfile loaded to each installed card during the Hostmot2 setup sequence.
       Type "dmesg" at the terminal prompt to view the output.

       The component exports two functions, send and receive, which need to be added to a realtime thread.

       The above example will output data on UART channels 0 and 7 and the pins  will  have  the  names  of  the
       individual UARTS. (they need not be on the same card, or even the same bus).

       Read    the    documents    on    "halcompile"    for    help    with    writing   realtime   components:
       <a href="http://linuxcnc.org/docs/html/hal/comp.html">http://linuxcnc.org/docs/html/hal/comp.html</a>

</pre><h4><b>FUNCTIONS</b></h4><pre>
       <b>mesa-uart.</b><u>N</u><b>.send</b> (requires a floating-point thread)

       <b>mesa-uart.</b><u>N</u><b>.receive</b> (requires a floating-point thread)

</pre><h4><b>PINS</b></h4><pre>
       <b>mesa-uart.</b><u>N</u><b>.tx-data-</b><u>MM</u> u32 in (MM=00..15)
              Data to be transmitted

       <b>mesa-uart.</b><u>N</u><b>.rx-data-</b><u>MM</u> u32 out (MM=00..15)
              Data received

       <b>mesa-uart.</b><u>N</u><b>.tx-bytes</b> s32 in
              Number of bytes to transmit

       <b>mesa-uart.</b><u>N</u><b>.rx-bytes</b> s32 out
              Number of Bytes received

</pre><h4><b>AUTHOR</b></h4><pre>
       Andy Pugh <a href="mailto:andy@bodgesoc.org">andy@bodgesoc.org</a>

</pre><h4><b>LICENSE</b></h4><pre>
       GPL

LinuxCNC Documentation                             2025-06-19                                       <u><a href="../man9/MESA_UART.9.html">MESA_UART</a></u>(9)
</pre>
 </div>
</div></section>
</div>
</body>
</html>