<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sim_axis_hardware - A component to simulate home and limit switches</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/linuxcnc-uspace">linuxcnc-uspace_2.9.4-2ubuntu2_amd64</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       sim_axis_hardware - A component to simulate home and limit switches

</pre><h4><b>SYNOPSIS</b></h4><pre>

       <b>loadrt</b> <b>sim_axis_hardware</b> <b>[count=</b><u>N</u><b>|names=</b><u>name1</u><b>[,</b><u>name2...</u><b>]]</b>

</pre><h4><b>DESCRIPTION</b></h4><pre>
       This component creates simulated home and limit switches based on the current position.
       It currently can supply simulation for X, tandem X, Y, tandem Y, Z, U, V, and A axes.

</pre><h4><b>FUNCTIONS</b></h4><pre>
       <b>sim-axis-hardware.</b><u>N</u><b>.update</b> (requires a floating-point thread)

</pre><h4><b>PINS</b></h4><pre>
       <b>sim-axis-hardware.</b><u>N</u><b>.Xcurrent-pos</b> float in
              The current position on the axis - eg connect to joint.0.motor-pos-fb

       <b>sim-axis-hardware.</b><u>N</u><b>.X2current-pos</b> float in
       <b>sim-axis-hardware.</b><u>N</u><b>.Ycurrent-pos</b> float in
       <b>sim-axis-hardware.</b><u>N</u><b>.Y2current-pos</b> float in
       <b>sim-axis-hardware.</b><u>N</u><b>.Zcurrent-pos</b> float in
       <b>sim-axis-hardware.</b><u>N</u><b>.Acurrent-pos</b> float in
       <b>sim-axis-hardware.</b><u>N</u><b>.Ucurrent-pos</b> float in
       <b>sim-axis-hardware.</b><u>N</u><b>.Vcurrent-pos</b> float in
       <b>sim-axis-hardware.</b><u>N</u><b>.Xhomesw-pos</b> float in (default: <u>1</u>)
              The position of the home switch

       <b>sim-axis-hardware.</b><u>N</u><b>.X2homesw-pos</b> float in (default: <u>1</u>)
       <b>sim-axis-hardware.</b><u>N</u><b>.Yhomesw-pos</b> float in (default: <u>1</u>)
       <b>sim-axis-hardware.</b><u>N</u><b>.Y2homesw-pos</b> float in (default: <u>1</u>)
       <b>sim-axis-hardware.</b><u>N</u><b>.Zhomesw-pos</b> float in (default: <u>1</u>)
       <b>sim-axis-hardware.</b><u>N</u><b>.Ahomesw-pos</b> float in (default: <u>1</u>)
       <b>sim-axis-hardware.</b><u>N</u><b>.Uhomesw-pos</b> float in (default: <u>1</u>)
       <b>sim-axis-hardware.</b><u>N</u><b>.Vhomesw-pos</b> float in (default: <u>1</u>)
       <b>sim-axis-hardware.</b><u>N</u><b>.Xmaxsw-upper</b> float in
              The upper range of the maximum limit switch, above this is false.

       <b>sim-axis-hardware.</b><u>N</u><b>.X2maxsw-upper</b> float in
       <b>sim-axis-hardware.</b><u>N</u><b>.Ymaxsw-upper</b> float in
       <b>sim-axis-hardware.</b><u>N</u><b>.Y2maxsw-upper</b> float in
       <b>sim-axis-hardware.</b><u>N</u><b>.Zmaxsw-upper</b> float in
       <b>sim-axis-hardware.</b><u>N</u><b>.Amaxsw-upper</b> float in
       <b>sim-axis-hardware.</b><u>N</u><b>.Umaxsw-upper</b> float in
       <b>sim-axis-hardware.</b><u>N</u><b>.Vmaxsw-upper</b> float in
       <b>sim-axis-hardware.</b><u>N</u><b>.Xmaxsw-lower</b> float in
              The lower range of the maximum limit switch, below this is false.

       <b>sim-axis-hardware.</b><u>N</u><b>.X2maxsw-lower</b> float in
       <b>sim-axis-hardware.</b><u>N</u><b>.Ymaxsw-lower</b> float in
       <b>sim-axis-hardware.</b><u>N</u><b>.Y2maxsw-lower</b> float in
       <b>sim-axis-hardware.</b><u>N</u><b>.Zmaxsw-lower</b> float in
       <b>sim-axis-hardware.</b><u>N</u><b>.Amaxsw-lower</b> float in
       <b>sim-axis-hardware.</b><u>N</u><b>.Umaxsw-lower</b> float in
       <b>sim-axis-hardware.</b><u>N</u><b>.Vmaxsw-lower</b> float in
       <b>sim-axis-hardware.</b><u>N</u><b>.Xminsw-upper</b> float in
              The upper range of the minimum limit switch, above this is false.

       <b>sim-axis-hardware.</b><u>N</u><b>.X2minsw-upper</b> float in
       <b>sim-axis-hardware.</b><u>N</u><b>.Yminsw-upper</b> float in
       <b>sim-axis-hardware.</b><u>N</u><b>.Y2minsw-upper</b> float in
       <b>sim-axis-hardware.</b><u>N</u><b>.Zminsw-upper</b> float in
       <b>sim-axis-hardware.</b><u>N</u><b>.Aminsw-upper</b> float in
       <b>sim-axis-hardware.</b><u>N</u><b>.Uminsw-upper</b> float in
       <b>sim-axis-hardware.</b><u>N</u><b>.Vminsw-upper</b> float in
       <b>sim-axis-hardware.</b><u>N</u><b>.Xminsw-lower</b> float in
              The lower range of the minimum limit switch, below this is false.

       <b>sim-axis-hardware.</b><u>N</u><b>.X2minsw-lower</b> float in
       <b>sim-axis-hardware.</b><u>N</u><b>.Yminsw-lower</b> float in
       <b>sim-axis-hardware.</b><u>N</u><b>.Y2minsw-lower</b> float in
       <b>sim-axis-hardware.</b><u>N</u><b>.Zminsw-lower</b> float in
       <b>sim-axis-hardware.</b><u>N</u><b>.Aminsw-lower</b> float in
       <b>sim-axis-hardware.</b><u>N</u><b>.Uminsw-lower</b> float in
       <b>sim-axis-hardware.</b><u>N</u><b>.Vminsw-lower</b> float in
       <b>sim-axis-hardware.</b><u>N</u><b>.Xhomesw-hyst</b> float in (default: <u>.025</u>)
              range that home switch will be true +- half this to the home position

       <b>sim-axis-hardware.</b><u>N</u><b>.X2homesw-hyst</b> float in (default: <u>.025</u>)
       <b>sim-axis-hardware.</b><u>N</u><b>.Yhomesw-hyst</b> float in (default: <u>.025</u>)
       <b>sim-axis-hardware.</b><u>N</u><b>.Y2homesw-hyst</b> float in (default: <u>.025</u>)
       <b>sim-axis-hardware.</b><u>N</u><b>.Zhomesw-hyst</b> float in (default: <u>.025</u>)
       <b>sim-axis-hardware.</b><u>N</u><b>.Ahomesw-hyst</b> float in (default: <u>.025</u>)
       <b>sim-axis-hardware.</b><u>N</u><b>.Uhomesw-hyst</b> float in (default: <u>.025</u>)
       <b>sim-axis-hardware.</b><u>N</u><b>.Vhomesw-hyst</b> float in (default: <u>.025</u>)
       <b>sim-axis-hardware.</b><u>N</u><b>.Xhoming</b> bit in
              True is homing in progress

       <b>sim-axis-hardware.</b><u>N</u><b>.X2homing</b> bit in
       <b>sim-axis-hardware.</b><u>N</u><b>.Yhoming</b> bit in
       <b>sim-axis-hardware.</b><u>N</u><b>.Y2homing</b> bit in
       <b>sim-axis-hardware.</b><u>N</u><b>.Zhoming</b> bit in
       <b>sim-axis-hardware.</b><u>N</u><b>.Ahoming</b> bit in
       <b>sim-axis-hardware.</b><u>N</u><b>.Uhoming</b> bit in
       <b>sim-axis-hardware.</b><u>N</u><b>.Vhoming</b> bit in
       <b>sim-axis-hardware.</b><u>N</u><b>.Xhomesw-out</b> bit out
              Home switch for the X axis

       <b>sim-axis-hardware.</b><u>N</u><b>.X2homesw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.Yhomesw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.Y2homesw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.Zhomesw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.Ahomesw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.Uhomesw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.Vhomesw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.homesw-all</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.Xmaxsw-out</b> bit out
              Max limit switch

       <b>sim-axis-hardware.</b><u>N</u><b>.Xminsw-out</b> bit out
              min limit switch

       <b>sim-axis-hardware.</b><u>N</u><b>.Xbothsw-out</b> bit out
              True for both max and min limit switch

       <b>sim-axis-hardware.</b><u>N</u><b>.X2maxsw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.X2minsw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.X2bothsw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.Ymaxsw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.Yminsw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.Ybothsw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.Y2maxsw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.Y2minsw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.Y2bothsw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.Zmaxsw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.Zminsw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.Zbothsw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.Amaxsw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.Aminsw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.Abothsw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.Umaxsw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.Uminsw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.Ubothsw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.Vmaxsw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.Vminsw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.Vbothsw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.limitsw-all</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.limitsw-homesw-all</b> bit out
              True for all limits and all home.

       <b>sim-axis-hardware.</b><u>N</u><b>.Xmaxsw-homesw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.Xminsw-homesw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.Xbothsw-homesw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.X2maxsw-homesw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.X2minsw-homesw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.X2bothsw-homesw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.Ymaxsw-homesw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.Yminsw-homesw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.Ybothsw-homesw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.Y2maxsw-homesw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.Y2minsw-homesw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.Y2bothsw-homesw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.Zmaxsw-homesw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.Zminsw-homesw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.Zbothsw-homesw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.Amaxsw-homesw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.Aminsw-homesw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.Abothsw-homesw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.Umaxsw-homesw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.Uminsw-homesw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.Ubothsw-homesw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.Vmaxsw-homesw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.Vminsw-homesw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.Vbothsw-homesw-out</b> bit out
       <b>sim-axis-hardware.</b><u>N</u><b>.limit-offset</b> float in (default: <u>.01</u>)
              how much the limit switches are offset from inputted position. added to max, subtracted from min

</pre><h4><b>AUTHOR</b></h4><pre>
       Chris S Morley

</pre><h4><b>LICENSE</b></h4><pre>
       GPL

LinuxCNC Documentation                             2025-08-07                               <u><a href="../man9/SIM_AXIS_HARDWARE.9.html">SIM_AXIS_HARDWARE</a></u>(9)
</pre>
 </div>
</div></section>
</div>
</body>
</html>