<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sim_parport - A component to simulate the pins of the hal_parport component</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/linuxcnc-uspace">linuxcnc-uspace_2.9.4-2ubuntu1_amd64</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       sim_parport - A component to simulate the pins of the hal_parport component

</pre><h4><b>SYNOPSIS</b></h4><pre>

       <b>loadrt</b> <b>sim_parport</b> <b>[count=</b><u>N</u><b>|names=</b><u>name1</u><b>[,</b><u>name2...</u><b>]]</b>

</pre><h4><b>DESCRIPTION</b></h4><pre>
       Sim_parport  is  used to replace the pins of a real parport without changing any of the pins names in the
       rest of the config.
       It has pass-through pins (ending in -fake) that allows connecting to other components.

       eg pin-02-in     will follow     pin-02-in-fake 's logic.
       pin_01_out-fake     will follow    pin_01_out (possibly modified by pin_01_out-invert)

       It creates all possible pins of both 'in' and 'out' options of the hal_parport component.
       This allows using other hardware I/O in place of the parport (without having to change the  rest  of  the
       config)
       or simulating hardware such as limit switches.
       it's primary use is in Stepconf for building simulated configs.
       You must use the names= option to have the right pin names.
       eg. names=parport.0,parport.1
       The read and write functions pass the logic from pins to fake pins or vice vera
       The reset function is a no operation.

</pre><h4><b>FUNCTIONS</b></h4><pre>
       <b>sim-parport.</b><u>N</u><b>.read</b>

       <b>sim-parport.</b><u>N</u><b>.write</b>

       <b>sim-parport.</b><u>N</u><b>.reset</b>

</pre><h4><b>PINS</b></h4><pre>
       <b>sim-parport.</b><u>N</u><b>.pin-01-out</b> bit in
       <b>sim-parport.</b><u>N</u><b>.pin-02-out</b> bit in
       <b>sim-parport.</b><u>N</u><b>.pin-03-out</b> bit in
       <b>sim-parport.</b><u>N</u><b>.pin-04-out</b> bit in
       <b>sim-parport.</b><u>N</u><b>.pin-05-out</b> bit in
       <b>sim-parport.</b><u>N</u><b>.pin-06-out</b> bit in
       <b>sim-parport.</b><u>N</u><b>.pin-07-out</b> bit in
       <b>sim-parport.</b><u>N</u><b>.pin-08-out</b> bit in
       <b>sim-parport.</b><u>N</u><b>.pin-09-out</b> bit in
       <b>sim-parport.</b><u>N</u><b>.pin-14-out</b> bit in
       <b>sim-parport.</b><u>N</u><b>.pin-16-out</b> bit in
       <b>sim-parport.</b><u>N</u><b>.pin-17-out</b> bit in
       <b>sim-parport.</b><u>N</u><b>.pin-01-out-fake</b> bit out
       <b>sim-parport.</b><u>N</u><b>.pin-02-out-fake</b> bit out
       <b>sim-parport.</b><u>N</u><b>.pin-03-out-fake</b> bit out
       <b>sim-parport.</b><u>N</u><b>.pin-04-out-fake</b> bit out
       <b>sim-parport.</b><u>N</u><b>.pin-05-out-fake</b> bit out
       <b>sim-parport.</b><u>N</u><b>.pin-06-out-fake</b> bit out
       <b>sim-parport.</b><u>N</u><b>.pin-07-out-fake</b> bit out
       <b>sim-parport.</b><u>N</u><b>.pin-08-out-fake</b> bit out
       <b>sim-parport.</b><u>N</u><b>.pin-09-out-fake</b> bit out
       <b>sim-parport.</b><u>N</u><b>.pin-14-out-fake</b> bit out
       <b>sim-parport.</b><u>N</u><b>.pin-16-out-fake</b> bit out
       <b>sim-parport.</b><u>N</u><b>.pin-17-out-fake</b> bit out
       <b>sim-parport.</b><u>N</u><b>.pin-02-in</b> bit out
       <b>sim-parport.</b><u>N</u><b>.pin-03-in</b> bit out
       <b>sim-parport.</b><u>N</u><b>.pin-04-in</b> bit out
       <b>sim-parport.</b><u>N</u><b>.pin-05-in</b> bit out
       <b>sim-parport.</b><u>N</u><b>.pin-06-in</b> bit out
       <b>sim-parport.</b><u>N</u><b>.pin-07-in</b> bit out
       <b>sim-parport.</b><u>N</u><b>.pin-08-in</b> bit out
       <b>sim-parport.</b><u>N</u><b>.pin-09-in</b> bit out
       <b>sim-parport.</b><u>N</u><b>.pin-10-in</b> bit out
       <b>sim-parport.</b><u>N</u><b>.pin-11-in</b> bit out
       <b>sim-parport.</b><u>N</u><b>.pin-12-in</b> bit out
       <b>sim-parport.</b><u>N</u><b>.pin-13-in</b> bit out
       <b>sim-parport.</b><u>N</u><b>.pin-15-in</b> bit out
       <b>sim-parport.</b><u>N</u><b>.pin-02-in-fake</b> bit in
       <b>sim-parport.</b><u>N</u><b>.pin-03-in-fake</b> bit in
       <b>sim-parport.</b><u>N</u><b>.pin-04-in-fake</b> bit in
       <b>sim-parport.</b><u>N</u><b>.pin-05-in-fake</b> bit in
       <b>sim-parport.</b><u>N</u><b>.pin-06-in-fake</b> bit in
       <b>sim-parport.</b><u>N</u><b>.pin-07-in-fake</b> bit in
       <b>sim-parport.</b><u>N</u><b>.pin-08-in-fake</b> bit in
       <b>sim-parport.</b><u>N</u><b>.pin-09-in-fake</b> bit in
       <b>sim-parport.</b><u>N</u><b>.pin-10-in-fake</b> bit in
       <b>sim-parport.</b><u>N</u><b>.pin-11-in-fake</b> bit in
       <b>sim-parport.</b><u>N</u><b>.pin-12-in-fake</b> bit in
       <b>sim-parport.</b><u>N</u><b>.pin-13-in-fake</b> bit in
       <b>sim-parport.</b><u>N</u><b>.pin-15-in-fake</b> bit in
       <b>sim-parport.</b><u>N</u><b>.pin-02-in-not</b> bit out
       <b>sim-parport.</b><u>N</u><b>.pin-03-in-not</b> bit out
       <b>sim-parport.</b><u>N</u><b>.pin-04-in-not</b> bit out
       <b>sim-parport.</b><u>N</u><b>.pin-05-in-not</b> bit out
       <b>sim-parport.</b><u>N</u><b>.pin-06-in-not</b> bit out
       <b>sim-parport.</b><u>N</u><b>.pin-07-in-not</b> bit out
       <b>sim-parport.</b><u>N</u><b>.pin-08-in-not</b> bit out
       <b>sim-parport.</b><u>N</u><b>.pin-09-in-not</b> bit out
       <b>sim-parport.</b><u>N</u><b>.pin-10-in-not</b> bit out
       <b>sim-parport.</b><u>N</u><b>.pin-11-in-not</b> bit out
       <b>sim-parport.</b><u>N</u><b>.pin-12-in-not</b> bit out
       <b>sim-parport.</b><u>N</u><b>.pin-13-in-not</b> bit out
       <b>sim-parport.</b><u>N</u><b>.pin-15-in-not</b> bit out
       <b>sim-parport.</b><u>N</u><b>.reset-time</b> float in

</pre><h4><b>PARAMETERS</b></h4><pre>
       <b>sim-parport.</b><u>N</u><b>.pin-01-out-invert</b> bit rw
       <b>sim-parport.</b><u>N</u><b>.pin-02-out-invert</b> bit rw
       <b>sim-parport.</b><u>N</u><b>.pin-03-out-invert</b> bit rw
       <b>sim-parport.</b><u>N</u><b>.pin-04-out-invert</b> bit rw
       <b>sim-parport.</b><u>N</u><b>.pin-05-out-invert</b> bit rw
       <b>sim-parport.</b><u>N</u><b>.pin-06-out-invert</b> bit rw
       <b>sim-parport.</b><u>N</u><b>.pin-07-out-invert</b> bit rw
       <b>sim-parport.</b><u>N</u><b>.pin-08-out-invert</b> bit rw
       <b>sim-parport.</b><u>N</u><b>.pin-09-out-invert</b> bit rw
       <b>sim-parport.</b><u>N</u><b>.pin-14-out-invert</b> bit rw
       <b>sim-parport.</b><u>N</u><b>.pin-16-out-invert</b> bit rw
       <b>sim-parport.</b><u>N</u><b>.pin-17-out-invert</b> bit rw
       <b>sim-parport.</b><u>N</u><b>.pin-01-out-reset</b> bit rw
       <b>sim-parport.</b><u>N</u><b>.pin-02-out-reset</b> bit rw
       <b>sim-parport.</b><u>N</u><b>.pin-03-out-reset</b> bit rw
       <b>sim-parport.</b><u>N</u><b>.pin-04-out-reset</b> bit rw
       <b>sim-parport.</b><u>N</u><b>.pin-05-out-reset</b> bit rw
       <b>sim-parport.</b><u>N</u><b>.pin-06-out-reset</b> bit rw
       <b>sim-parport.</b><u>N</u><b>.pin-07-out-reset</b> bit rw
       <b>sim-parport.</b><u>N</u><b>.pin-08-out-reset</b> bit rw
       <b>sim-parport.</b><u>N</u><b>.pin-09-out-reset</b> bit rw
       <b>sim-parport.</b><u>N</u><b>.pin-14-out-reset</b> bit rw
       <b>sim-parport.</b><u>N</u><b>.pin-16-out-reset</b> bit rw
       <b>sim-parport.</b><u>N</u><b>.pin-17-out-reset</b> bit rw

</pre><h4><b>AUTHOR</b></h4><pre>
       Chris S Morley

</pre><h4><b>LICENSE</b></h4><pre>
       GPL

LinuxCNC Documentation                             2025-06-19                                     <u><a href="../man9/SIM_PARPORT.9.html">SIM_PARPORT</a></u>(9)
</pre>
 </div>
</div></section>
</div>
</body>
</html>