<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>threadtest - LinuxCNC HAL component for testing thread behavior</title>
    <style>
        body { font-family: monospace; margin: 20px; line-height: 1.4; }
        a { color: #0066cc; }
        pre { white-space: pre-wrap; }
    </style>
</head>
<body>
    <div id="main-content">
<section class="p-strip is-bordered">
<div class="row">
<div class="col-3 u-hide--small u-hide" id="toc">
</div>
<div id="tableWrapper">
<p id="distroAndSection"></p>

Provided by: <a href="https://launchpad.net/ubuntu/questing/+package/linuxcnc-uspace">linuxcnc-uspace_2.9.4-2ubuntu1_amd64</a> <br><br><pre>
</pre><h4><b>NAME</b></h4><pre>
       threadtest - LinuxCNC HAL component for testing thread behavior

</pre><h4><b>SYNOPSIS</b></h4><pre>

       <b>loadrt</b> <b>threadtest</b> <b>[count=</b><u>N</u><b>|names=</b><u>name1</u><b>[,</b><u>name2...</u><b>]]</b>

</pre><h4><b>FUNCTIONS</b></h4><pre>
       <b>threadtest.</b><u>N</u><b>.increment</b>

       <b>threadtest.</b><u>N</u><b>.reset</b>

</pre><h4><b>PINS</b></h4><pre>
       <b>threadtest.</b><u>N</u><b>.count</b> u32 out

</pre><h4><b>AUTHOR</b></h4><pre>
       Jeff Epler

</pre><h4><b>LICENSE</b></h4><pre>
       GPL

LinuxCNC Documentation                             2025-06-19                                      <u><a href="../man9/THREADTEST.9.html">THREADTEST</a></u>(9)
</pre>
 </div>
</div></section>
</div>
</body>
</html>