package t

import (
	"fdt-templ/components/common"
	"fdt-templ/components/layouts"
	"fdt-templ/internal/db/tools"
)

templ AnthropicTokenCounter() {
	@layouts.BaseLayout(layouts.BaseLayoutProps{
		Title:        tools.ToolsConfig["anthropic-token-counter"].Title,
		Description:  tools.ToolsConfig["anthropic-token-counter"].Description,
		Canonical:    tools.ToolsConfig["anthropic-token-counter"].Canonical,
		Keywords:     tools.ToolsConfig["anthropic-token-counter"].Keywords,
		OgImage:      tools.ToolsConfig["anthropic-token-counter"].OgImage,
		TwitterImage: tools.ToolsConfig["anthropic-token-counter"].TwitterImage,
		ShowHeader:   true,
		
	}) {
		<div id="anthropic-token-counter-root"></div>
		<script type="module">
			import '/freedevtools/static/js/index.js';
			renderTool('anthropic-token-counter', 'anthropic-token-counter-root');
		</script>
		<div class="max-w-6xl mx-auto px-2 md:px-6 mb-10 mt-12">
			@common.SeeAlso()
		</div>
	}
}
