package t

import (
	"fdt-templ/components/common"
	"fdt-templ/components/layouts"
		"fdt-templ/internal/db/tools"
)

templ OpenAiTokenCounter() {
	@layouts.BaseLayout(layouts.BaseLayoutProps{
		Title:        tools.ToolsConfig["openai-token-counter"].Title,
		Description:  tools.ToolsConfig["openai-token-counter"].Description,
		Canonical:    tools.ToolsConfig["openai-token-counter"].Canonical,
		Keywords:     tools.ToolsConfig["openai-token-counter"].Keywords,
		OgImage:      tools.ToolsConfig["openai-token-counter"].OgImage,
		TwitterImage: tools.ToolsConfig["openai-token-counter"].TwitterImage,
		ShowHeader:   true,
		
	}) {
		<div id="openai-token-counter-root"></div>
		<script type="module">
			import '/freedevtools/static/js/index.js';
			renderTool('openai-token-counter', 'openai-token-counter-root');
		</script>
		<div class="max-w-6xl px-2 md:px-6 mb-10 mt-12">
			@common.SeeAlso()
		</div>
	}
}
