package t

import (
	"fdt-templ/components/common"
	"fdt-templ/components/layouts"
		"fdt-templ/internal/db/tools"
)

templ OpenaiCostCalculator() {
	@layouts.BaseLayout(layouts.BaseLayoutProps{
		Title:        tools.ToolsConfig["openai-cost-calculator"].Title,
		Description:  tools.ToolsConfig["openai-cost-calculator"].Description,
		Canonical:    tools.ToolsConfig["openai-cost-calculator"].Canonical,
		Keywords:     tools.ToolsConfig["openai-cost-calculator"].Keywords,
		OgImage:      tools.ToolsConfig["openai-cost-calculator"].OgImage,
		TwitterImage: tools.ToolsConfig["openai-cost-calculator"].TwitterImage,
		ShowHeader:   true,
		
	}) {
		<div id="openai-cost-calculator-root"></div>
		<script type="module">
			import '/freedevtools/static/js/index.js';
			renderTool('openai-cost-calculator', 'openai-cost-calculator-root');
		</script>
		<div class="max-w-6xl mx-auto px-2 md:px-6 mb-10 mt-12">
			@common.SeeAlso()
		</div>
	}
}
