package t

import (
	"fdt-templ/components/common"
	"fdt-templ/components/layouts"
		"fdt-templ/internal/db/tools"
)

templ UserAgentParser() {
	@layouts.BaseLayout(layouts.BaseLayoutProps{
		Title:        tools.ToolsConfig["user-agent-parser"].Title,
		Description:  tools.ToolsConfig["user-agent-parser"].Description,
		Canonical:    tools.ToolsConfig["user-agent-parser"].Canonical,
		Keywords:     tools.ToolsConfig["user-agent-parser"].Keywords,
		OgImage:      tools.ToolsConfig["user-agent-parser"].OgImage,
		TwitterImage: tools.ToolsConfig["user-agent-parser"].TwitterImage,
		ShowHeader:   true,
		
	}) {
		<div id="user-agent-parser-root"></div>
		<script type="module">
			import '/freedevtools/static/js/index.js';
			renderTool('user-agent-parser', 'user-agent-parser-root');
		</script>
		<div class="max-w-6xl mx-auto px-2 md:px-6 mb-10 mt-12">
			@common.SeeAlso()
		</div>
	}
}
