# Editor Config
.vscode/**
.vscode-test/**
.gitignore
.gitattributes

# Build Scripts & Config
esbuild.js
webpack.config.js
rollup.config.js
tsconfig.json
package-lock.json
pnpm-lock.yaml
yarn.lock
Makefile

# Source & Dependencies (Bundled)
src/**
node_modules/**
.env

# Tests
test/**
out/test/**

# Logs & Temp
*.log
npm-debug.log
yarn-debug.log

# Mac
.DS_Store
